.back-to-home {
	inset-block-start: var(--space-small);
	inset-inline-start: var(--space-small);
	line-height: 1;
	margin-block-start: 0;
	position: fixed;
}

.back-to-home a {
	color: inherit;
	text-decoration: none;
}
