.date {
	font-size: var(--font-size-small);
}

.page-header > .date:first-child {
	margin-block-start: var(--space-huge);
}

.date + * {
	margin-block-start: 0;
}

.page-header > .date:first-child + h1 {
	margin-inline-start: -1px;
}
