.showcase {
	align-items: end;
	display: grid;
	gap: var(--space-large) 10%;
	grid-template-columns: repeat(3, 1fr);
	list-style-type: none;
	margin-block-end: var(--space-large);
	margin-block-start: var(--space-large);
	padding-inline-start: 0;
}

.showcase li {
	margin-block-start: 0;
}
