.affiliate figure {
	height: calc(var(--font-size-default) * var(--line-height-default) * 13);
}

.affiliate img {
	--background-color: white;
	--height: 100%;
	--object-fit: contain;
	--width: 100%;

	background-color: var(--background-color);
	height: var(--height);
	object-fit: var(--object-fit);
	padding: var(--width-gap);
	width: var(--width);
}
