[itemprop="articleBody"] > aside:first-child figure {
	height: calc(var(--font-size-default) * var(--line-height-default) * 10);
	background-color: var(--color-surface);
}

[itemprop="articleBody"] > aside:first-child figure img {
	background-color: transparent;
	mix-blend-mode: multiply;
	height: 100%;
	object-fit: contain;
	padding: var(--space-default);
	width: 100%;
}
