.hero {
	margin-left: calc(0px - var(--margin-left-body));
	margin-right: calc(
		0px - 100vw + var(--width-gap) * 3 + var(--margin-left-body) +
			var(--width-column)
	);
	max-width: calc(var(--width-column) * var(--ratio-2) * var(--ratio));
}

.hero img,
.hero video {
	--width: 100%;

	width: var(--width);
}
