.hero {
	margin-left: calc(0px - var(--space-left-body));
	margin-right: min(0px, var(--space-left-body) - var(--width-remains));
	max-width: calc(var(--width-column) * var(--ratio-2) * var(--ratio-1));
}

.hero > a > img,
.hero > a > video {
	--width: 100%;

	width: var(--width);
}
