[itemprop="articleBody"] > figure:first-child {
	--margin-horizontal: calc(0px - var(--width-gap) - var(--space-body-left));

	margin-left: var(--margin-horizontal);
	margin-right: var(--margin-horizontal);
}

[itemprop="articleBody"] > figure:first-child img,
[itemprop="articleBody"] > figure:first-child video {
	width: 100%;
}
