.highlight {
	--color-keyword: hsl(198 96% 36%);
	--color-literal: hsl(318 96% 45%);
	--color-number: hsl(18 96% 42%);
	--color-string: hsl(138 96% 27%);
	--color-comment: hsl(0 0% 48%);
}

.highlight
	:is(.hljs-keyword, .hljs-subst, .hljs-meta-keyword, .hljs-section, .hljs-tag, .hljs-name, .hljs-builtin-name, .hljs-selector-tag, .hljs-template-tag) {
	--font-weight: normal;

	color: var(--color-keyword);
	font-weight: bold;
	font-weight: var(--font-weight);
}

.highlight
	:is(.hljs-literal, .hljs-attr, .hljs-attribute, .hljs-variable, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-template-variable) {
	color: var(--color-literal);
}

.highlight
	:is(.hljs-number, .hljs-symbol, .hljs-regexp, .hljs-selector-id, .hljs-deletion) {
	color: var(--color-number);
}

.highlight
	:is(.hljs-string, .hljs-meta-string, .hljs-selector-class, .hljs-addition) {
	color: green;
	color: var(--color-string);
}

.highlight :is(.hljs-comment, .hljs-doctag) {
	color: gray;
	color: var(--color-comment);
}
