.logo {
	--font-weight: bold;
	--margin-top: clamp(
		var(--width-gap) - (var(--line-height-default) - 1) *
			var(--font-size-default) / 2,
		10vw,
		var(--space-huge)
	);
	--text-transform: uppercase;

	font-weight: var(--font-weight);
	margin-top: var(--margin-top);
	text-transform: var(--text-transform);
}
