.logo {
	font-weight: bold;
	margin-left: calc(0px - var(--width-gap));
	margin-right: auto;
	margin-top: 0;
	text-transform: uppercase;
}

.logo a {
	background-color: var(--color-primary);
	box-sizing: border-box;
	color: var(--color-on-primary);
	display: inline-block;
	padding: var(--space-tiny) var(--width-gap);
	text-align: center;
	text-decoration: none;
	width: var(--width-logo);
}
