.logo {
	--font-weight: bold;
	--text-transform: uppercase;

	font-weight: var(--font-weight);
	text-transform: var(--text-transform);
}

summary.logo {
	--list-style-type: none;

	list-style-type: var(--list-style-type);
}

summary.logo::-webkit-details-marker {
	--display: none;

	display: var(--display);
}

summary.logo > span {
	--display: flex;

	display: var(--display);
}

summary.logo > span a {
	--width: fit-content;

	width: var(--width);
}

summary.logo > span .hamburger {
	--cursor: default;
	--display: block;
	--flex-grow: 1;
	--text-align: right;

	cursor: var(--cursor);
	display: none;
	display: var(--display);
	flex-grow: var(--flex-grow);
	text-align: var(--text-align);
}

[open] summary.logo > span .hamburger {
	--display: none;
}

summary.logo > span .close {
	--cursor: default;
	--display: none;
	--flex-grow: 1;
	--text-align: right;

	cursor: var(--cursor);
	display: none;
	display: var(--display);
	flex-grow: var(--flex-grow);
	text-align: var(--text-align);
}

[open] summary.logo > span .close {
	--display: block;
}
