.menu {
	--position: relative;

	position: var(--position);
}

.menu summary {
	--bottom: 100%;
	--height: calc(var(--font-size-default) * var(--line-height-default));
	--list-style-type: none;
	--overflow: hidden;
	--position: absolute;
	--right: 0;
	--width: 1em;

	bottom: var(--bottom);
	list-style-type: var(--list-style-type);
	height: var(--height);
	overflow: var(--overflow);
	position: var(--position);
	right: var(--right);
	width: var(--width);
}

.menu summary::-webkit-details-marker {
	--display: none;

	display: var(--display);
}

.menu summary::before {
	--content: "≡";

	content: var(--content);
}

.menu[open] summary {
	--bottom: calc(100% + var(--space-default));
}

.menu[open] summary::before {
	--content: "×";
}

.menu ul {
	--list-style-type: none;
	--padding-left: 0;

	list-style-type: var(--list-style-type);
	padding-left: var(--padding-left);
}

.menu .oneline {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	font-size: var(--font-size-small);
	flex-wrap: var(--flex-wrap);
}

.menu .oneline li:not(:last-child) {
	margin-right: var(--width-gap);
}

.menu .oneline .sep::after {
	--content: "/";

	content: var(--content);
	margin-left: var(--width-gap);
}
