.metaline {
	font-size: var(--font-size-small);
}

h2 + .metaline {
	margin-top: 0;
}

article > header:first-child > .metaline:first-child {
	margin-top: var(--space-huge);
}

article > header:first-child > .metaline:first-child + h1 {
	margin-top: 0;
}

.posts > li > .metaline:first-child + p {
	margin-top: 0;
}
