.more {
	--margin-top: var(--space-large);

	margin-top: var(--margin-top);
}

.more.prev::before {
	--content: "前の記事:\0a";
	--font-size: var(--font-size-small);
	--white-space: pre-line;

	content: var(--content);
	font-size: var(--font-size);
	white-space: var(--white-space);
}
