.more {
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin-top: var(--space-large);
}

.more a {
	border: thin solid;
	border-radius: var(--space-default);
	color: inherit;
	display: inline-block;
	padding: var(--space-small) var(--space-default);
	text-decoration: none;
	width: fit-content;
}

.more a:active {
	position: relative;
	inset-block-start: 1px;
}

.more a::before {
	content: "→\0a";
}
