.more {
	margin-top: var(--space-huge);
}

.more.prev {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
}

.more.prev::before {
	content: "前の記事:\0a";
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	white-space: pre-line;
}
