.navigation {
	display: flex;
	flex-wrap: wrap;
	margin-right: calc(0px - var(--space-body-left));
}

.navigation > * {
	margin-top: var(--space-tiny);
}

.navigation > :not(:last-child) {
	margin-right: auto;
}
