.navigation {
	--margin-horizontal: calc(0px - var(--space-body-left));

	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size-small);
	margin-left: var(--margin-horizontal);
	margin-right: var(--margin-horizontal);
}
