.pages {
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size-small);
	list-style-type: none;
	padding-left: 0;
}

footer > .pages:first-child {
	margin-top: var(--space-huge);
}

header .pages li {
	width: 100%;
}

.pages > li:not(:last-child) {
	margin-right: var(--width-gap);
}

.pages a {
	color: inherit;
}
