.pages {
	font-size: var(--font-size-small);
	list-style-type: none;
	padding-left: 0;
}

.pages.oneline {
	display: flex;
	flex-wrap: wrap;
}

.pages.oneline:first-child {
	margin-top: var(--space-huge);
}

.pages.oneline + .pages.oneline {
	margin-top: var(--space-small);
}

.pages.oneline li:not(:last-child) {
	margin-right: var(--width-gap);
}

.pages.oneline .sep::before {
	content: "/";
	margin-right: var(--width-gap);
}
