.page-footer {
	font-size: var(--font-size-small);
	margin-block-start: var(--space-huge);
}

.page-footer::before {
	border-block-start: var(--color-on-background-tint) solid thin;
	content: "";
	display: block;
	width: calc(var(--width-column) / var(--ratio-4) / var(--ratio-4) / var(--ratio-2));
}

.page-footer ul {
	list-style-type: none;
	padding-inline-start: 0;
}
