.pages {
	--display: grid;
	--grid-template-areas: "logo blog statuses" ". documents bookshelf"
		"search links about";
	--grid-template-columns: 1fr max-content max-content;

	column-gap: var(--space-default);
	display: var(--display);
	grid-template-areas: var(--grid-template-areas);
	grid-template-columns: var(--grid-template-columns);
	list-style-type: none;
	margin-top: 0;
	margin-block-start: calc(var(--space-default) - var(--space-tiny));
	padding-left: 0;
}

.pages > li {
	--margin-inline-end: 0;

	display: inline-block;
	grid-area: var(--grid-area);
	margin-right: 0.5rem;
	margin-inline-end: var(--margin-inline-end);
}

.pages > li:nth-child(1) {
	--grid-area: logo;

	font-weight: bold;
	display: block;
	text-transform: uppercase;
}

.pages > li:nth-child(1) > a {
	color: inherit;
	text-decoration: none;
}

.pages > li:nth-child(2) {
	--grid-area: blog;
}

.pages > li:nth-child(3) {
	--grid-area: documents;
}

.pages > li:nth-child(4) {
	--grid-area: links;
}

.pages > li:nth-child(5) {
	--grid-area: statuses;
}

.pages > li:nth-child(6) {
	--grid-area: bookshelf;
}

.pages > li:nth-child(7) {
	--grid-area: about;
}

.pages > li:nth-child(8) {
	--grid-area: search;
}
