.posts {
	list-style-type: none;
	padding-left: 0;
}

.posts > li > time {
	display: block;
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	margin-top: 1.5rem;
	margin-block-start: var(--space-default);
}
