.push {
	background-color: var(--color-on-background-tint);
	border-style: solid;
	border-width: thin;
	color: var(--color-background);
	display: block;
	font-family: inherit;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin-block-end: var(--space-large);
	margin-block-start: var(--space-large);
	padding: var(--space-small) var(--space-default);
	text-decoration: none;
	width: fit-content;
}

.push:active {
	position: relative;
	inset-block-start: 1px;
}

.push:visited {
	color: var(--color-background);
}
