.showcase {
	--align-items: end;
	--display: grid;
	--line-height: 1;
	--list-style-type: none;
	--padding-left: 0;

	align-items: var(--align-items);
	column-gap: var(--width-gap);
	display: var(--display);
	grid-template-columns: repeat(
		auto-fill,
		minmax(calc(var(--width-column) / 5), 1fr)
	);
	line-height: var(--line-height);
	list-style-type: var(--list-style-type);
	padding-left: var(--padding-left);
	row-gap: var(--space-default);
}

.showcase.oneline {
	--grid-template-columns: 1fr 1fr 1fr;

	grid-template-columns: var(--grid-template-columns);
}

.showcase > li > a > img {
	--max-height: none;
	--vertical-align: text-bottom;
	--width: 100%;

	max-height: var(--max-height);
	vertical-align: var(--vertical-align);
	width: var(--width);
}
