.showcase {
	--align-items: end;
	--display: grid;
	--grid-template-columns: 1fr 1fr 1fr;
	--line-height: 1;
	--list-style-type: none;
	--padding-left: 0;

	align-items: var(--align-items);
	column-gap: var(--width-gap);
	display: var(--display);
	grid-template-columns: var(--grid-template-columns);
	line-height: var(--line-height);
	list-style-type: var(--list-style-type);
	padding-left: var(--padding-left);
}

.showcase > li > a > img {
	--max-height: none;
	--vertical-align: text-bottom;
	--width: 100%;

	max-height: var(--max-height);
	vertical-align: var(--vertical-align);
	width: var(--width);
}
