.skip-to-content {
	bottom: 100%;
	display: block;
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	position: absolute;
}

.skip-to-content:focus {
	bottom: calc(100% - var(--font-size-small) * var(--line-height-default));
}
