/* Document */
html {
  font-family: sans-serif;
  line-height: 1.5;
}

/* Sections */
body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  margin: 3rem auto;
  max-width: 60rem;
}

@media print {
  body {
    max-width: none;
  }
}

h1,
h2,
h3 {
  line-height: 1.25;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

/* Grouping Content */
p {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

hr {
  border: solid hsl(0, 0%, 70%);
  margin: 3rem auto 3rem 0;
  max-width: 8rem;
}

pre {
  background-color: hsl(0, 0%, 95%);
  font-family: "_", monospace;
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 1.5rem;
  overflow-wrap: break-word;
  padding: 0.75rem;
  white-space: pre-wrap;
  word-break: break-all;
}

@media print {
  pre {
    background-color: transparent;
  }
}

blockquote {
  border-left: 0.25rem solid hsl(0, 0%, 70%);
  margin: 1.5rem 0 0;
  padding-left: 1rem;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

figure {
  margin: 1.5rem 0 0;
}

figcaption {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

main {
  display: block;
}

/* Text-level Semantics */
a {
  color: hsl(210, 100%, 40%);
}

a:visited {
  color: hsl(0, 0%, 30%);
}

@media print {
  a {
    color: inherit;
  }
}

em {
  font-style: normal;
  font-weight: bold;
}

cite {
  font-style: normal;
}

code {
  font-family: "_", monospace;
  font-size: 1em;
}

/* Edits */
ins {
  text-decoration: none;
}

del {
  display: none;
}

/* Embedded Content */
img,
video {
  border-width: 0;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

figure img,
figure video {
  vertical-align: bottom;
}

svg:not(:root) {
  fill: currentcolor;
  max-height: 100%;
  max-width: 100%;
}

/* Tabular Data */
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  margin-top: 1.5rem;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

@media not screen {
  table {
    display: table;
  }
}

th,
td {
  border: 1px solid hsl(0, 0%, 70%);
  padding: 0.75em;
  vertical-align: top;
  white-space: nowrap;
}

th {
  background-color: hsl(0, 0%, 95%);
  text-align: inherit;
}

@media print {
  th {
    background-color: transparent;
  }
}

/* Forms */
button {
  -webkit-appearance: button;
  background-color: hsl(0, 0%, 0%);
  border-width: 0;
  color: hsl(0, 0%, 100%);
  font-family: inherit;
  font-size: 100%;
  font-weight: bold;
  line-height: 1.25;
  margin: 0;
  padding: 1.25rem;
}

/* Interactive Elements */
details {
  display: block;
}

summary {
  display: list-item;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

summary + * {
  margin-top: 0.5rem;
}

/* Scripting */
template {
  display: none;
}

/* Header */
.header {
  max-width: 36rem;
  padding: 0 0.75rem;
}

@media print {
  .header {
    max-width: none;
  }
}

.header a,
.header a:visited {
  color: inherit;
  text-decoration: none;
}

/* Logo */
.logo {
  color: inherit;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}

/* Pages */
.pages {
  padding-left: 0;
}

.pages li {
  display: inline;
  margin-right: 0.25rem;
}

.pages li mark {
  background-color: transparent;
  border-bottom: 2px solid;
  color: inherit;
}

/* Tagline */
.tagline {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.25;
  margin-top: 8rem;
}

/* Content */
.content {
  max-width: 36rem;
  padding: 0 0.75rem;
}

@media print {
  .content {
    max-width: none;
  }
}

/* Dateline */
.dateline {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

/* Hang */
.hang {
  float: right;
  margin-left: 0.5rem;
  max-width: 30%;
}

.hang figure {
  margin-top: 0;
}

.hang + p {
  margin-top: 0.5rem;
}

/* Headline */
.headline {
  font-size: 2.25rem;
  margin-top: 8rem;
}

.headline + p {
  margin-top: 0.5rem;
}

/* Posts */
.posts {
  list-style-type: none;
  padding-left: 0;
}

.posts li {
  margin-top: 1em;
}

.posts li time {
  display: block;
  font-size: 0.8rem;
}

/* Subheading */
.subheading {
  font-size: 1.75rem;
  margin-top: 5rem;
}

.subheading + p {
  margin-top: 0.5rem;
}

/* Subnavigation */
.subnavigation > :first-child {
  margin-top: 8rem;
}

.subnavigation p a::before {
  content: "» ";
}

/* Thumbs */
.thumbs {
  line-height: 1;
  list-style-type: none;
  padding-left: 0;
}

.thumbs li {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
  max-width: 30%;
}

/* Footer */
.footer {
  font-size: 0.75rem;
  margin-top: 8rem;
  max-width: 36rem;
  padding: 0 0.75rem;
}

@media print {
  .footer {
    max-width: none;
  }
}

.footer a,
.footer a:visited {
  color: inherit;
  text-decoration: none;
}

/* Footlinks */
.footlinks {
  float: right;
  margin-top: 0;
  padding-left: 0;
}

.footlinks li {
  display: inline;
  margin-left: 0.5rem;
}

/* Byline */
.byline p {
  margin-top: 0;
}
