:root {
	--color-background: hsl(48 48% 96%);
	--color-surface: hsl(48 48% 93%);
	--color-on-background: hsl(48 48% 12%);
	--color-primary: hsl(48 24% 27%);
	--color-secondary: hsl(228 84% 60%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: hsl(0 0% 0%);
		--color-surface: hsl(0 0% 9%);
		--color-on-background: hsl(0 0% 88%);
		--color-primary: hsl(0 0% 60%);
		--color-secondary: hsl(228 84% 63%);
	}
}
