.content {
	margin-bottom: var(--space-huge);
	margin-top: var(--space-huge);
}

.content > section,
.content > nav,
.content > article > [itemprop="articleBody"] {
	margin-left: auto;
	max-width: 29.028rem;
	max-width: var(--width-main);
}
