/* The document element */
html {
	--font-size: calc(var(--base-primary) * 100%);

	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-family-default);
	font-size: var(--font-size);
	line-height: var(--line-height-default);
}

@media (min-width: 60em) {
	html {
		--font-size: calc(var(--ratio) * 100%);
	}
}

@media (min-width: 120em) {
	html {
		--font-size: calc(var(--ratio-2) * 100%);
	}
}

/* Sections */
body {
	max-width: var(--width-whole);
	padding-left: var(--width-gap);
	padding-right: var(--width-gap);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: var(--line-height-small);
	margin-top: var(--space-large);
}

/* Grouping Content */
p {
	margin-top: var(--space-default);
}

hr {
	color: var(--color-middleground);
	margin-bottom: var(--space-large);
	margin-top: var(--space-large);
	padding-left: var(--space-default);
}

pre {
	--word-break: normal;

	background-color: var(--color-background-low-contrast);
	color: var(--color-foreground-low-contrast);
	font-family: var(--font-family-code);
	line-height: var(--line-height-small);
	margin-top: var(--space-default);
	padding: var(--space-small);
	word-break: var(--word-break);
}

blockquote {
	border-left-color: var(--color-middleground);
	border-left-width: var(--border-width-large);
	color: var(--color-foreground-low-contrast);
	margin-top: var(--space-default);
	padding-left: calc(var(--space-default) - var(--border-width-large));
}

ul,
ol {
	margin-top: var(--space-default);
	padding-left: var(--space-default);
}

figure {
	margin-top: var(--space-default);
}

/* Text-level Semantics */
a {
	color: var(--color-hyperlink);
}

a:visited {
	color: var(--color-visited-hyperlink);
}

time {
	color: var(--color-foreground-low-contrast);
}

code,
samp,
kbd {
	font-family: var(--font-family-code);
}

/* Embedded Content */
img {
	background-color: var(--color-background-low-contrast);
}

/* Tabular Data */
table {
	margin-top: var(--space-default);
}

th,
td {
	border-color: var(--color-middleground);
	border-width: var(--border-width-default);
	padding: var(--space-small);
}

th {
	background-color: var(--color-background-low-contrast);
}

/* Forms */
form {
	margin-top: var(--space-default);
}

input[type="text"] {
	border-color: var(--color-middleground);
	border-width: var(--border-width-default);
	font-size: var(--font-size-default);
	line-height: var(--line-height-small);
	padding: var(--space-small);
}

input[type="submit"],
button {
	background-color: var(--color-foreground-low-contrast);
	border-color: var(--color-foreground-low-contrast);
	border-radius: var(--border-width-large);
	color: var(--color-background);
	font-size: var(--font-size-default);
	line-height: var(--line-height-small);
	padding: var(--space-small) var(--space-default);
}
