/* The document element */
html {
  --font-size: 16px;

  font-family: var(--font-family-body);
  font-size: var(--font-size);
  line-height: var(--line-height-default);
}

@media (min-width: 612px) {
  html {
    --font-size: 18px;
  }
}

@media (min-width: 1143px) {
  html {
    --font-size: 1.5vw;
  }
}

/* Sections */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  max-width: none;
}

h1,
h2,
h3 {
  line-height: var(--line-height-small);
}

/* Grouping Content */
p {
  margin-top: var(--margin-default);
}

hr {
  border-width: var(--border-width-large) 0 0;
  color: var(--color-primary);
  margin: var(--margin-large) 0;
  width: var(--width-sub-minor);
}

pre {
  background-color: var(--color-background-low-contrast);
  color: var(--color-foreground-low-contrast);
  font-family: var(--font-family-code);
  line-height: var(--line-height-small);
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-default);
  padding: var(--padding-small);
  word-break: normal;
}

blockquote {
  border-left: var(--border-width-large) solid var(--color-primary);
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-default);
  padding-left: var(--padding-small);
}

ul,
ol {
  margin-top: var(--margin-default);
  padding-left: var(--padding-large);
}

figure {
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-default);
}

figcaption {
  font-size: var(--font-size-small);
  margin-top: var(--margin-small);
}

/* Text-level Semantics */
a {
  color: var(--color-secondary);
}

a:visited {
  color: var(--color-foreground-low-contrast);
}

code {
  font-family: var(--font-family-code);
}

/* Tabular Data */
table {
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-default);
  max-width: var(--width-main-and-sub-minor);
}

th,
td {
  border: var(--border-width-small) solid var(--color-primary);
  padding: var(--padding-small);
}

th {
  background-color: var(--color-background-low-contrast);
}

/* Forms */
button {
  background-color: var(--color-foreground);
  color: var(--color-background);
  line-height: var(--line-height-small);
  padding: var(--padding-default);
}

/* Interactive Elements */
summary {
  margin-top: var(--margin-default);
}
