/* The document element */
html {
  font-family: var(--font-stack-system-ui);
  font-size: calc(var(--ratio-text) * 1rem);
  line-height: var(--line-height);
}

@media (min-width: 51em) {
  html {
    font-size: calc(var(--ratio-text-large) * 1rem);
  }
}

@media (min-width: 101em) {
  html {
    font-size: calc(var(--ratio-text-huge) * 1rem);
  }
}

@media (min-width: 121em) and (min-height: 68em) {
  html {
    font-size: 1.25vw;
  }
}

/* Sections */
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  margin: 0 0 var(--margin);
}

@media (min-width: 37em) {
  body {
    margin-bottom: var(--margin-large);
  }
}

@media (min-width: 67em) {
  body {
    margin-bottom: var(--margin-huge);
  }
}

h1 {
  font-weight: inherit;
  line-height: var(--line-height-small);
  margin: 0 0 var(--margin);
}

/* Grouping Content */
p {
  margin: 0 0 var(--margin);
}

hr {
  background-color: transparent;
  border: 0;
  box-sizing: content-box;
  clear: both;
  color: var(--color-fg-light);
  font-size: calc(var(--ratio-text-gargantuan) * 1rem);
  font-weight: bolder;
  height: 1em;
  line-height: 1;
  margin: var(--margin-large) 0;
  text-align: center;
}

hr::before {
  content: "*\a0\a0\a0*\a0\a0\a0*";
}

pre {
  clear: both;
  color: var(--color-fg-semilight);
  font-family: var(--font-stack-monospace);
  font-size: calc(var(--ratio-text-small) * 1rem);
  line-height: calc(var(--ratio-text) * var(--line-height) * 2 / var(--ratio-text-small) / 3);
  margin: 0 0 var(--margin);
  overflow: auto;
}

@media (min-width: 37em) {
  pre {
    overflow: visible;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}

blockquote {
  border-left: var(--width-border) solid var(--color-fg-light);
  clear: both;
  margin: 0;
  padding-left: calc(var(--margin) - var(--width-border));
}

figure blockquote > :last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0 0 var(--margin);
  padding-left: var(--margin);
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

dl {
  margin: 0 0 var(--margin);
}

dl dl {
  margin-bottom: 0;
}

dt {
  margin-bottom: var(--margin-small);
}

dd {
  margin-bottom: var(--margin-small);
  margin-left: var(--margin);
}

figure {
  margin: 0 0 var(--margin);
  position: relative;
}

figcaption {
  border-left: var(--width-border) solid var(--color-fg-light);
  display: inline-block;
  font-size: calc(var(--ratio-text-small) * 1rem);
  margin-top: var(--margin-small);
  padding-left: var(--width-gap-small);
}

@media (min-width: 67em) {
  figcaption {
    bottom: 0;
    display: block;
    margin-right: calc(var(--width-gap) + var(--width-gap));
    margin-top: 0;
    position: absolute;
    right: 100%;
    width: calc(var(--width-supplement) - var(--width-border) - var(--width-gap-small));
    z-index: 1;
  }
}

blockquote + figcaption {
  font-size: inherit;
  margin-top: 0;
  padding-left: calc(var(--margin) - var(--width-border));
  padding-top: var(--margin);
}

@media (min-width: 67em) {
  blockquote + figcaption {
    margin-right: 0;
    position: static;
    width: auto;
  }
}

main {
  display: block;
}

/* Text-level Semantics */
a {
  color: var(--color-fg-a);
}

a:visited {
  color: var(--color-fg-a-visited);
}

em {
  font-style: normal;
  font-weight: bolder;
}

strong {
  font-size: calc(var(--ratio-text-small) * 1rem);
  -webkit-text-emphasis-style: dot;
  text-emphasis-style: dot;
}

cite {
  font-style: normal;
}

abbr {
  cursor: help;
}

code,
var,
samp,
kbd {
  font-family: var(--font-stack-monospace);
  font-size: 1em;
}

var {
  font-style: normal;
}

mark {
  background-color: var(--color-bg-dark);
}

/* Edits */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* Embedded Content */
img,
video {
  border: 0;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

figure img,
figure video {
  vertical-align: bottom;
}

svg:not(:root) {
  fill: currentcolor;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* Tabular Data */
table {
  border-bottom: var(--width-border-small) solid var(--color-fg-light);
  border-collapse: collapse;
  border-spacing: 0;
  clear: both;
  display: inline-block;
  margin: 0 0 var(--margin);
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

@media not screen {
  table {
    display: table;
  }
}

figure > table {
  margin-bottom: 0;
}

th,
td {
  border-top: var(--width-border-small) solid var(--color-fg-light);
  padding: var(--padding);
  vertical-align: top;
  white-space: nowrap;
}

th {
  text-align: inherit;
}

thead th {
  border-bottom: var(--width-border) solid var(--color-fg-light);
}

/* Forms */
form {
  margin: 0 0 var(--margin);
}
