/*!
 * debug.css
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

/* Columns */
.js-debug-columns::before {
  background-image: linear-gradient(
    to right,
    var(--color-split-complementary-positive) 0,
    var(--color-split-complementary-positive) var(--width-gap),
    var(--color-analogous-positive) var(--width-gap),
    var(--color-analogous-positive) calc(100% - var(--width-gap)),
    var(--color-split-complementary-positive) calc(100% - var(--width-gap)),
    var(--color-split-complementary-positive) 100%
  );
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100% 1px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

@media (min-width: 40em) {
  .js-debug-columns::before {
    background-image: linear-gradient(
      to right,
      var(--color-split-complementary-positive) 0,
      var(--color-split-complementary-positive) var(--width-gap),
      var(--color-analogous-positive) var(--width-gap),
      var(--color-analogous-positive)
        calc(var(--width-gap) + var(--width-large)),
      var(--color-split-complementary-positive)
        calc(var(--width-gap) + var(--width-large)),
      var(--color-split-complementary-positive) var(--width-large-outer)
    );
    background-size: var(--width-large-outer) 1px;
  }
}

@media (min-width: 80em) {
  .js-debug-columns::before {
    background-image: linear-gradient(
      to right,
      var(--color-split-complementary-positive) 0,
      var(--color-split-complementary-positive) var(--width-gap),
      var(--color-analogous-positive) var(--width-gap),
      var(--color-analogous-positive)
        calc(var(--width-gap) + var(--width-supplement)),
      var(--color-split-complementary-positive)
        calc(var(--width-gap) + var(--width-supplement)),
      var(--color-split-complementary-positive)
        calc(var(--width-supplement-outer) + var(--width-gap)),
      var(--color-analogous-positive)
        calc(var(--width-supplement-outer) + var(--width-gap)),
      var(--color-analogous-positive) calc(var(--width-gap) + var(--width-huge)),
      var(--color-split-complementary-positive)
        calc(var(--width-gap) + var(--width-huge)),
      var(--color-split-complementary-positive) var(--width-huge-outer)
    );
    background-size: var(--width-huge-outer) 1px;
  }
}

/* Elements */
.js-debug-elements * {
  outline: 1px solid var(--color-complementary);
}

/* Breakpoints */
body::after {
  background-color: var(--color-split-complementary-negative);
  bottom: 0.5rem;
  color: var(--color-bg);
  content: "Small";
  display: block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.25rem;
  position: fixed;
  right: 0.5rem;
}

@media (min-width: 40em) {
  body::after {
    content: "Medium: 40em";
  }
}

@media (min-width: 80em) {
  body::after {
    content: "Large: 80em";
  }
}

@media print {
  body::after {
    display: none;
  }
}

/* Fonts */
.debug-font-family-body {
  font-family: var(--font-stack-sans-serif);
}

.debug-font-family-pre {
  font-family: var(--font-stack-monospace);
}

.debug-italic {
  font-style: italic;
}

.debug-bold {
  font-weight: bolder;
}

/* Colors */
.debug-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  padding-left: 0;
}

.debug-colors li {
  display: block;
  height: calc(var(--ratio-text-gargantuan) * var(--line-height) * 1rem);
  margin-top: var(--margin);
  overflow: hidden;
  width: calc((100% / 4) - var(--width-gap-small));
}

.debug-colors li::before {
  border: 1px solid var(--color-fg);
  box-sizing: border-box;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.debug-colors li:nth-child(1)::before {
  background-color: var(--color-fg);
}

.debug-colors li:nth-child(2)::before {
  background-color: var(--color-fg-near);
}

.debug-colors li:nth-child(3)::before {
  background-color: var(--color-fg-far);
}

.debug-colors li:nth-child(4)::before {
  background-color: var(--color-bg);
}

.debug-colors li:nth-child(5)::before {
  background-color: var(--color-bg-near);
}

.debug-colors li:nth-child(6)::before {
  background-color: var(--color-bg-far);
}

.debug-colors li:nth-child(7)::before {
  background-color: var(--color-accent);
}

.debug-colors li:nth-child(8)::before {
  background-color: var(--color-complementary);
}

.debug-colors li:nth-child(9)::before {
  background-color: var(--color-analogous-negative);
}

.debug-colors li:nth-child(10)::before {
  background-color: var(--color-analogous-positive);
}

.debug-colors li:nth-child(11)::before {
  background-color: var(--color-split-complementary-negative);
}

.debug-colors li:nth-child(12)::before {
  background-color: var(--color-split-complementary-positive);
}

/* Line Length */
.debug-line-length {
  font-family: Verdana, sans-serif;
  word-break: break-all;
}
