/*! debug.css | http://hail2u.mit-license.org/2011 */

/* Variables */
:root {
  --color-fuchsia: #f0f;
  --color-lime: #0f0;
}

/* Columns */
.js-debug-columns::before {
  background-image: linear-gradient(
    to right,
    var(--color-fuchsia) 0,
    var(--color-fuchsia) var(--width-gap),
    var(--color-lime) var(--width-gap),
    var(--color-lime) calc(100% - var(--width-gap)),
    var(--color-fuchsia) calc(100% - var(--width-gap)),
    var(--color-fuchsia) 100%
  );
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100% 1px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

@media (min-width: 564px) {
  .js-debug-columns::before {
    background-size: var(--width-main-outer) 1px;
  }
}

@media (min-width: 685px) {
  .js-debug-columns::before {
    background-image: linear-gradient(
      to right,
      var(--color-fuchsia) 0,
      var(--color-fuchsia) var(--width-gap),
      var(--color-lime) var(--width-gap),
      var(--color-lime) calc(var(--width-gap) + var(--width-main)),
      var(--color-fuchsia) calc(var(--width-gap) + var(--width-main)),
      var(--color-fuchsia) var(--width-main-outer)
    );
  }
}

@media (min-width: 1271px) {
  .js-debug-columns::before {
    background-image: linear-gradient(
      to right,
      var(--color-fuchsia) 0,
      var(--color-fuchsia) var(--width-gap),
      var(--color-lime) var(--width-gap),
      var(--color-lime) calc(var(--width-gap) + var(--width-sub-major)),
      var(--color-fuchsia) calc(var(--width-gap) + var(--width-sub-major)),
      var(--color-fuchsia) calc(var(--width-sub-major-outer) + var(--width-gap)),
      var(--color-lime) calc(var(--width-sub-major-outer) + var(--width-gap)),
      var(--color-lime) calc(var(--width-sub-major-outer) + var(--width-gap) + var(--width-main)),
      var(--color-fuchsia) calc(var(--width-sub-major-outer) + var(--width-gap) + var(--width-main)),
      var(--color-fuchsia) calc(var(--width-sub-major-outer) + var(--width-main-outer) + var(--width-gap)),
      var(--color-lime) calc(var(--width-sub-major-outer) + var(--width-main-outer) + var(--width-gap)),
      var(--color-lime) calc(var(--width-gap) + var(--width-whole)),
      var(--color-fuchsia) calc(var(--width-gap) + var(--width-whole)),
      var(--color-fuchsia) var(--width-whole-outer)
    );
    background-size: var(--width-whole-outer) 1px;
  }
}

/* Elements */
.js-debug-elements * {
  outline: 1px solid var(--color-fuchsia);
}

/* Breakpoints */
body::after {
  background-color: var(--color-lime);
  bottom: var(--margin-small);
  content: "Small";
  display: block;
  font-size: calc(var(--ratio-text-small) * 1rem);
  line-height: 1;
  padding: var(--width-gap-small);
  position: fixed;
  right: var(--margin-small);
}

@media (min-width: 685px) {
  body::after {
    content: "Medium: 685px";
  }
}

@media (min-width: 1271px) {
  body::after {
    content: "Large: 1271px";
  }
}

/* Fonts */
.debug-font-family-body {
  font-family: var(--font-stack-sans-serif);
}

.debug-font-family-pre {
  font-family: var(--font-stack-monospace);
}

.debug-italic {
  font-style: italic;
}

.debug-bold {
  font-weight: bolder;
}

/* Colors */
.debug-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  padding-left: 0;
}

.debug-colors li {
  display: block;
  height: calc(var(--line-height-large) * 1rem);
  margin-top: var(--margin);
  overflow: hidden;
  width: calc((100% - var(--width-gap-large) * 3) / 4);
}

.debug-colors li::before {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.debug-colors li:nth-child(1)::before {
  background-color: var(--color-fg);
}

.debug-colors li:nth-child(2)::before {
  background-color: var(--color-bg);
}

.debug-colors li:nth-child(3)::before {
  background-color: var(--color-accent);
}

.debug-colors li:nth-child(4)::before {
  background-color: var(--color-accent-achromatic);
}

/* Line Length */
.debug-line-length {
  word-break: break-all;
}
