:root {
	/* Palette */
	--palette-beige-400: hsl(48 48% 93%);
	--palette-beige-500: hsl(48 48% 90%);
	--palette-blue-400: hsl(213 48% 51%);
	--palette-charcoal-400: hsl(48 48% 15%);

	/* Ratio */
	--ratio: 1.25;

	/* Width */
	--width-column: 65ch;
	--width-scrollbar: 20px;
}
