:root {
	/* Palette */
	--palette-beige-400: hsl(48 48% 92%);
	--palette-beige-500: hsl(48 48% 88%);
	--palette-blue-400: hsl(228 48% 48%);
	--palette-charcoal-400: hsl(48 48% 24%);

	/* Ratio */
	--ratio: 1.25;

	/* Width */
	--width-column: 65ch;
	--width-scrollbar: 20px;
}
