:root {
	/* Palette */
	--palette-jet: hsl(48 48% 3%);
	--palette-ebony: hsl(48 48% 6%);
	--palette-charcoal: hsl(48 48% 18%);
	--palette-bone: hsl(48 48% 84%);
	--palette-parchment: hsl(48 48% 90%);
	--palette-beige: hsl(48 48% 93%);
	--palette-blue: hsl(216 48% 45%);
	--palette-alice: hsl(216 48% 72%);

	/* Ratio */
	--ratio: 1.25;

	/* Width */
	--width-column: 65ch;
	--width-scrollbar: 20px;
}
