html {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.75
}
body {
  margin: 1.75rem auto;
  max-width: 30rem;
  padding-left: 1rem;
  padding-right: 1rem
}
h1 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 8.5rem
}
h2 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 5rem
}
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 3rem
}
address,
cite {
  font-style: normal
}
p {
  margin-bottom: 0;
  margin-top: 1.75rem
}
hr {
  border-width: 0;
  color: #b2b2b2;
  font-size: 1.75rem;
  letter-spacing: 1rem;
  margin: 3rem 0;
  padding-left: 3rem;
  text-align: left
}
hr::before {
  content: "***"
}
pre {
  background-color: #e5e5e5;
  color: #4c4c4c;
  font-family: "_",monospace;
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 1.75rem;
  overflow-wrap: break-word;
  padding: 1rem;
  white-space: pre-wrap;
  word-break: break-all
}
blockquote {
  border-left: .25rem solid #b2b2b2;
  margin: 1.75rem 0 0;
  padding-left: 1rem
}
ol,
ul {
  margin-bottom: 0;
  margin-top: 1.75rem;
  padding-left: 1.75rem
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0
}
figure {
  margin: 1.75rem 0 0
}
main {
  margin: 8.5rem 0;
  display: block
}
a {
  color: #00f
}
a:visited {
  color: #4c4c4c
}
em {
  font-style: normal;
  font-weight: 700
}
code,
kbd,
samp {
  font-family: "_",monospace;
  font-size: 1em
}
ins {
  text-decoration: none
}
del,
template {
  display: none
}
img,
video {
  border-width: 0;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  max-width: 100%
}
figure img,
figure video {
  vertical-align: bottom
}
svg:not(:root) {
  fill: currentcolor;
  max-height: 100%;
  max-width: 100%
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  margin-top: 1.75rem;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed
}
@media not screen {
  table {
    display: table
  }
}
td,
th {
  border: 1px solid #b2b2b2;
  line-height: 1;
  padding: 1em;
  vertical-align: top;
  white-space: nowrap
}
th {
  background-color: #e5e5e5;
  text-align: inherit
}
button {
  -webkit-appearance: button;
  background-color: #000;
  border-radius: .25rem;
  border-width: 0;
  color: #fff;
  font-family: inherit;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  padding: 1rem
}