html {
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 960px) {
  html {
    font-size: 1.25rem;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 1.25vw;
  }
}

body {
  font-family: system-ui, "Yu Gothic UI", "Segoe UI", sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

pre {
  font-family: "Menlo", "Consolas", monospace;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote {
  margin-right: 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

code {
  font-family: "Menlo", "Consolas", monospace;
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}
