/*! Noto Sans Japanese | http://www.google.com/fonts/earlyaccess */
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 400;
  /* stylelint-disable indentation */
  src: url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf")
      format("opentype");
  /* stylelint-enable */
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 700;
  /* stylelint-disable indentation */
  src: url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf")
      format("opentype");
  /* stylelint-enable */
}
