.footer {
  --display: flex;

  display: var(--display);
  font-size: 0.75rem;
  font-size: var(--font-size-small);
  margin-top: 8rem;
  margin-top: var(--margin-gargantuan);
}

.footer a {
  color: inherit;
}
