.header {
  margin-left: auto;
  margin-right: 6rem;
  margin-right: var(--margin-auto);
  max-width: 36rem;
  max-width: var(--width-main);
  padding: 0 0.75rem;
  padding-left: var(--padding-left-main);
  padding-right: var(--padding-right-main);
}

.header a,
.header a:visited {
  color: inherit;
}
