body > header {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin);
  max-width: var(--width-main);
  padding-left: var(--width-gap);
  padding-right: var(--width-gap);
}

@media (min-width: 40em) {
  body > header {
    margin-top: var(--margin-large);
  }
}

@media (min-width: 80em) {
  body > header {
    margin-top: var(--margin-huge);
    padding-left: calc(var(--width-sub-outer) + var(--width-gap));
  }
}
