/*! huge.css | MIT license */
:root {
  --font-size-root: calc(var(--base-secondary) * 100%);
  --space-left-sub: calc(0px - var(--width-sub) - var(--width-gap) - var(--width-gap))
}
body {
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-left: 14.5rem;
  --margin-vertical: var(--space-large);
  --padding-left: calc(var(--width-gap) + var(--width-sub) + var(--width-gap) + var(--width-gap))
}
.navigation {
  --display: flex;
  display: var(--display)
}
.pages {
  --margin-top: 0
}
.footlinks {
  --order: 1;
  order: var(--order)
}
.footlinks li:first-child {
  --margin-right: auto;
  margin-right: var(--margin-right)
}