/*! index.css | MIT License */

html {
	background-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 0%);
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

body {
	margin: 1.5rem auto;
	max-width: 45rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 6.5rem;
}

h1[data-description] {
	font-size: 1.25rem;
	font-weight: normal;
}

h1[data-description]::after {
	content: "は、" attr(data-description);
}

h2 {
	font-size: 1.25rem;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 6.5rem;
}

h3 {
	font-size: 1rem;
	margin-bottom: 0;
	margin-top: 4rem;
}

p {
	margin-bottom: 0;
	margin-top: 1.5rem;
}

h3 + p {
	margin-top: 0;
}

hr {
	border-width: 0;
	letter-spacing: 2rem;
	margin-bottom: 0;
	margin-top: 4rem;
	padding-left: 2rem;
}

hr::before {
	content: "∗∗∗" / "";
}

pre {
	background-color: hsl(0, 0%, 95%);
	font-family: monospace, monospace;
	font-size: inherit;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 1.5rem;
	overflow-wrap: break-word;
	padding: 1rem 1.25rem;
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: break-all;
}

blockquote {
	margin: 1.5rem 0 0;
	padding-left: 2rem;
}

ul,
ol {
	margin-bottom: 0;
	margin-top: 1.5rem;
	padding-left: 2rem;
}

li ul,
li ol {
	margin-top: 0;
}

figure {
	margin: 1.5rem 0 0;
}

figcaption {
	color: hsl(0, 0%, 40%);
	font-size: 0.75rem;
}

a {
	color: hsl(240, 100%, 60%);
}

body > :not(main) a {
	color: inherit;
}

a:visited {
	color: inherit;
}

em {
	font-style: normal;
	font-weight: bold;
}

code,
samp,
kbd {
	font-family: monospace, monospace;
	font-size: inherit;
}

ins {
	text-decoration: none;
}

img {
	background-color: hsl(0, 0%, 95%);
	border-width: 0;
	box-sizing: border-box;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

figure img {
	vertical-align: bottom;
}

svg {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}

table {
	background-color: hsl(0, 0%, 95%);
	border-spacing: 0;
	display: inline-block;
	margin-top: 1.5rem;
	max-width: 100%;
	overflow-x: auto;
	table-layout: fixed;
}

td {
	border-top: 1px solid;
	padding: 1rem 1.25rem;
	vertical-align: top;
	white-space: pre;
}

th {
	border-bottom: 1px solid;
	padding: 1rem 1.25rem;
	text-align: inherit;
	vertical-align: top;
	white-space: pre;
}

button {
	-webkit-appearance: button;
	appearance: button;
	background-color: hsl(0, 0%, 40%);
	border: none;
	border-radius: 0.5em;
	color: hsl(0, 0%, 100%);
	font-family: inherit;
	font-size: 0.75rem;
	font-weight: bold;
	margin: 0;
	max-width: 100%;
	padding: 1rem 1.25rem;
	vertical-align: top;
	white-space: pre-line;
}

button:hover {
	filter: contrast(1.5);
}

button:active {
	position: relative;
	top: 1px;
}

template {
	display: none;
}

hr + * {
	margin-top: 4rem;
}

:root {
	--ratio-1: 1.272;
	--ratio-2: calc(var(--ratio-1) * var(--ratio-1));
	--ratio-4: calc(var(--ratio-2) * var(--ratio-2));
	--ratio-8: calc(var(--ratio-4) * var(--ratio-4));
	--border-width-default: calc(1 / var(--ratio-8) / var(--ratio-4) * 1rem);
	--font-size-default: 1rem;
	--font-size-small: calc(var(--font-size-default) / var(--ratio-1));
	--font-size-large: calc(var(--font-size-default) * var(--ratio-1));
	--font-size-huge: calc(var(--font-size-large) * var(--ratio-1));
	--line-height-default: var(--ratio-2);
	--line-height-small: calc(var(--line-height-default) / var(--ratio-1));
	--space-default: calc(var(--ratio-2) * 1rem);
	--space-small: calc(var(--space-default) / var(--ratio-2));
	--space-large: calc(var(--space-default) * var(--ratio-4));
	--space-huge: calc(var(--space-large) * var(--ratio-4));
	--width-base: calc(1rem / var(--ratio-1));
	--width-gap: calc(var(--width-base) * var(--ratio-2));
	--width-indent: calc(var(--width-gap) * var(--ratio-2));
	--width-column: calc(var(--width-base) * var(--ratio-8) * var(--ratio-8));
}

:root {
	--color-background: hsl(48 48% 96%);
	--color-surface: hsl(48 48% 93%);
	--color-on-background: hsl(48 48% 12%);
	--color-primary: hsl(48 24% 27%);
	--color-secondary: hsl(228 84% 60%);
}

:root {
	--font-family-default: sans-serif;
	--font-family-code: monospace, monospace;
}

html {
	--font-size: clamp(100%, (100vw - 640px) * 0.003 + 100%, 120%);

	background-color: var(--color-background);
	color: var(--color-on-background);
	font-family: var(--font-family-default);
	font-size: var(--font-size);
	line-height: var(--line-height-default);
}

body {
	--margin-left: clamp(
		0px,
		(100% - (var(--width-gap) + var(--width-column) + var(--width-gap))) / 2,
		var(--width-base) * var(--ratio-8) * var(--ratio-2)
	);
	--margin-top: calc(
		var(--width-gap) - var(--font-size-large) * (var(--line-height-default) - 1) /
			2
	);

	margin-bottom: var(--space-default);
	margin-left: var(--margin-left);
	margin-top: var(--margin-top);
	max-width: var(--width-column);
	padding-left: var(--width-gap);
	padding-right: var(--width-gap);
}

h1 {
	font-size: var(--font-size-huge);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

h1[data-description] {
	font-size: var(--font-size-large);
}

h2 {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

h3 {
	font-size: var(--font-size-default);
	margin-top: var(--space-large);
}

p {
	margin-top: var(--space-default);
}

hr {
	letter-spacing: var(--width-indent);
	margin-top: var(--space-large);
	padding-left: var(--width-indent);
}

pre {
	--word-break: normal;

	background-color: var(--color-surface);
	font-family: var(--font-family-code);
	line-height: var(--line-height-small);
	margin-top: var(--space-default);
	padding: var(--space-small) var(--width-gap);
	word-break: var(--word-break);
}

blockquote {
	margin-top: var(--space-default);
	padding-left: var(--width-indent);
}

ul,
ol {
	margin-top: var(--space-default);
	padding-left: var(--width-indent);
}

figure {
	margin-top: var(--space-default);
}

figcaption {
	color: var(--color-primary);
	font-size: var(--font-size-small);
}

a {
	color: var(--color-secondary);
}

code,
samp,
kbd {
	font-family: var(--font-family-code);
}

img {
	background-color: var(--color-surface);
}

table {
	background-color: var(--color-surface);
	margin-top: var(--space-default);
}

td {
	border-top-width: var(--border-width-default);
	padding: var(--space-small) var(--width-gap);
}

th {
	border-bottom-width: var(--border-width-default);
	padding: var(--space-small) var(--width-gap);
}

button {
	background-color: var(--color-primary);
	color: var(--color-background);
	font-size: var(--font-size-small);
	padding: var(--space-small) var(--width-gap);
}

hr + * {
	margin-top: var(--space-large);
}

.affiliate figure {
	height: calc(var(--font-size-default) * var(--line-height-default) * 13);
}

.affiliate img {
	--background-color: white;
	--height: 100%;
	--object-fit: contain;
	--width: 100%;

	background-color: var(--background-color);
	height: var(--height);
	object-fit: var(--object-fit);
	padding: var(--width-gap);
	width: var(--width);
}

.byline {
	--font-weight: bold;

	font-weight: var(--font-weight);
}

.hero {
	margin-left: var(--margin-horizontal);
	margin-right: var(--margin-horizontal);
}

@media (min-width: 68rem) {
	.hero {
		--margin-horizontal: calc(
			0px - var(--width-base) * var(--ratio-8) * var(--ratio-2)
		);
	}
}

.hero img,
.hero video {
	--width: 100%;

	width: var(--width);
}

.hljs-keyword,
.hljs-subst,
.hljs-meta-keyword,
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag {
	--color: hsl(205 69% 49%);

	color: var(--color);
}

.hljs-literal,
.hljs-tag,
.hljs-attr,
.hljs-attribute,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-variable {
	--color: hsl(237 43% 60%);

	color: var(--color);
}

.hljs-number,
.hljs-symbol,
.hljs-regexp,
.hljs-selector-id,
.hljs-deletion {
	--color: hsl(331 64% 52%);

	color: var(--color);
}

.hljs-string,
.hljs-meta-string,
.hljs-selector-class,
.hljs-addition {
	--color: hsl(175 59% 40%);

	color: var(--color);
}

.hljs-comment,
.hljs-doctag {
	--opacity: 0.7;

	opacity: var(--opacity);
}

.logo {
	--font-weight: bold;
	--text-transform: uppercase;

	font-weight: var(--font-weight);
	text-transform: var(--text-transform);
}

summary.logo {
	--list-style-type: none;

	list-style-type: var(--list-style-type);
}

summary.logo::-webkit-details-marker {
	--display: none;

	display: var(--display);
}

summary.logo div {
	--display: flex;

	display: var(--display);
}

summary.logo div a {
	--width: fit-content;

	width: var(--width);
}

summary.logo div .hamburger {
	--cursor: default;
	--display: block;
	--flex-grow: 1;
	--text-align: right;

	cursor: var(--cursor);
	display: none;
	display: var(--display);
	flex-grow: var(--flex-grow);
	text-align: var(--text-align);
}

[open] summary.logo div .hamburger {
	--display: none;
}

summary.logo div .close {
	--cursor: default;
	--display: none;
	--flex-grow: 1;
	--text-align: right;

	cursor: var(--cursor);
	display: none;
	display: var(--display);
	flex-grow: var(--flex-grow);
	text-align: var(--text-align);
}

[open] summary.logo div .close {
	--display: block;
}

.metaline {
	font-size: var(--font-size-small);
}

header > .metaline,
nav > .metaline {
	margin-top: var(--space-huge);
}

.metaline + * {
	--margin-top: 0;

	margin-top: var(--margin-top);
}

.pages {
	padding-left: var(--width-gap);
}

.pages.oneline {
	--display: flex;
	--flex-wrap: wrap;
	--list-style-type: none;
	--padding-left: 0;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: var(--list-style-type);
	padding-left: var(--padding-left);
}

footer > .pages.oneline:first-child {
	margin-top: var(--space-huge);
}

.pages.oneline + .pages.oneline {
	margin-top: var(--space-small);
}

.pages.oneline li:not(:last-child) {
	margin-right: var(--width-gap);
}

.pages.oneline .sep::before {
	--content: "/" / "";

	content: var(--content);
	margin-right: var(--width-gap);
}

.posts {
	--list-style-type: none;
	--padding-left: 0;

	list-style-type: var(--list-style-type);
	padding-left: var(--padding-left);
}

.showcase {
	--align-items: end;
	--display: grid;
	--line-height: 1;
	--list-style-type: none;
	--padding-left: 0;

	align-items: var(--align-items);
	column-gap: var(--width-gap);
	display: var(--display);
	grid-template-columns: repeat(
		auto-fill,
		minmax(calc(var(--width-column) / 5), 1fr)
	);
	line-height: var(--line-height);
	list-style-type: var(--list-style-type);
	padding-left: var(--padding-left);
	row-gap: var(--space-default);
}

.showcase.oneline {
	--grid-template-columns: 1fr 1fr 1fr;

	grid-template-columns: var(--grid-template-columns);
}

.showcase > li > a > img {
	--max-height: none;
	--vertical-align: text-bottom;
	--width: 100%;

	max-height: var(--max-height);
	vertical-align: var(--vertical-align);
	width: var(--width);
}
