/*! index.css | MIT License */

:root {
	--palette-jet: hsl(48 48% 3%);
	--palette-ebony: hsl(48 48% 6%);
	--palette-charcoal: hsl(48 48% 18%);
	--palette-bone: hsl(48 48% 84%);
	--palette-parchment: hsl(48 48% 90%);
	--palette-beige: hsl(48 48% 93%);
	--palette-blue: hsl(216 48% 45%);
	--palette-alice: hsl(216 48% 72%);
	--ratio: 1.25;
	--width-column: 65ch;
	--width-scrollbar: 20px;
}

html {
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

body {
	margin: 2.25rem auto;
	max-width: 40rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.25;
	margin-bottom: 2.25rem;
	margin-top: 9.25rem;
}

h1[data-description] {
	font-size: 1.25rem;
	font-weight: normal;
	margin-bottom: 9.25rem;
}

h1[data-description]::after {
	content: "は、" attr(data-description);
}

h2 {
	font-size: 1.25rem;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 4.75rem;
}

h3 {
	font-size: 1rem;
	margin-bottom: 0;
	margin-top: 2.25rem;
}

p {
	margin-bottom: 0;
	margin-top: 1.5rem;
}

hr {
	border: none;
	font-size: 1.5rem;
	letter-spacing: 2.25rem;
	line-height: 1;
	margin-bottom: 4.75rem;
	margin-top: 4.75rem;
	padding-left: 2.25rem;
}

hr::before {
	content: "∗∗∗";
}

pre {
	background-color: whitesmoke;
	font-family: monospace, monospace;
	font-size: inherit;
	line-height: 1.25;
	margin-bottom: 2.25rem;
	margin-top: 2.25rem;
	overflow-wrap: break-word;
	padding: 1rem 1.25rem;
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: break-all;
}

blockquote {
	margin: 1.5rem 0 0;
	padding-left: 2.25rem;
}

ul,
ol {
	margin-bottom: 0;
	margin-top: 1.5rem;
	padding-left: 2.25rem;
}

li > ul,
li > ol {
	margin-top: 0;
}

li {
	margin-top: 0.5rem;
}

figure {
	margin: 2.25rem 0;
}

figcaption {
	font-size: 0.8rem;
	opacity: 0.8;
}

a {
	color: mediumblue;
}

a:visited {
	color: inherit;
}

em {
	font-style: normal;
	font-weight: bold;
}

code,
samp,
kbd {
	font-family: monospace, monospace;
	font-size: inherit;
}

ins {
	text-decoration: none;
}

img {
	background-color: whitesmoke;
	border: none;
	box-sizing: border-box;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

figure img {
	vertical-align: bottom;
}

svg {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}

table {
	border-spacing: 0;
	display: block;
	margin-bottom: 2.25rem;
	margin-top: 2.25rem;
	max-width: 100%;
	overflow-x: auto;
	table-layout: fixed;
}

td {
	background-color: whitesmoke;
	border-top-style: solid;
	border-top-width: 1px;
	padding: 1rem 1.25rem;
	vertical-align: top;
	white-space: pre;
}

th {
	background-color: whitesmoke;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 1rem 1.25rem;
	text-align: inherit;
	vertical-align: top;
	white-space: pre;
}

button {
	-webkit-appearance: button;
	appearance: button;
	background-color: mediumblue;
	border: none;
	border-radius: 0.2em;
	color: white;
	font-family: inherit;
	font-size: 0.8rem;
	font-weight: bold;
	line-height: inherit;
	margin: 0;
	max-width: 100%;
	padding: 1rem 1.25rem;
	vertical-align: top;
	white-space: pre-line;
}

button:hover {
	filter: contrast(1.5);
}

button:active {
	position: relative;
	top: 1px;
}

template {
	display: none;
}

[id] {
	scroll-margin-top: 4.75rem;
}

:root {
	--border-width-default: calc(1 / var(--ratio-8) / var(--ratio-4) * 1rem);
	--color-background: var(--palette-beige);
	--color-surface: var(--palette-parchment);
	--color-on-background: var(--palette-charcoal);
	--color-primary: var(--palette-blue);
	--font-family-default: sans-serif;
	--font-family-code: monospace, monospace;
	--font-size-default: 1rem;
	--font-size-small: calc(var(--font-size-default) / var(--ratio-1));
	--font-size-large: calc(var(--font-size-default) * var(--ratio-1));
	--font-size-huge: calc(var(--font-size-large) * var(--ratio-1));
	--line-height-default: calc(var(--ratio-2));
	--line-height-small: calc(var(--line-height-default) / var(--ratio-1));
	--ratio-1: var(--ratio);
	--ratio-2: calc(var(--ratio-1) * var(--ratio-1));
	--ratio-4: calc(var(--ratio-2) * var(--ratio-2));
	--ratio-8: calc(var(--ratio-4) * var(--ratio-4));
	--space-default: calc(var(--ratio-2) * 1rem);
	--space-small: calc(var(--space-default) / var(--ratio-2));
	--space-large: calc(var(--space-default) * var(--ratio-2));
	--space-tiny: calc(var(--space-small) / var(--ratio-2));
	--space-huge: calc(var(--space-large) * var(--ratio-2) * var(--ratio-1));
	--space-gargantuan: calc(var(--space-huge) * var(--ratio-2) * var(--ratio-1));
	--width-base: calc(var(--ratio-1) * 1rem);
	--width-gap: var(--width-base);
	--width-indent: calc(var(--width-base) * var(--ratio-2) * var(--ratio-1));
	--width-remains: calc(
		100vw - var(--width-gap) - var(--width-column) - var(--width-gap) -
			var(--width-scrollbar)
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--palette-jet);
		--color-surface: var(--palette-ebony);
		--color-on-background: var(--palette-bone);
		--color-primary: var(--palette-alice);
	}
}

html {
	background-color: var(--color-background);
	color: var(--color-on-background);
	font-family: var(--font-family-default);
	font-size: clamp(100%, ((1vw - 4px) + 100%) * 0.8, var(--ratio-2) * 100%);
	line-height: var(--line-height-default);
}

body {
	--space-left-body: clamp(
		0px,
		var(--width-remains) / 2,
		var(--ratio-8) * var(--ratio-2) * 1vw
	);
	--space-vertical-body: max(
		var(--space-large) - var(--space-tiny),
		(var(--space-left-body) + var(--width-gap)) / var(--ratio-2) -
			var(--space-tiny)
	);

	background-color: inherit;
	margin-bottom: var(--space-vertical-body);
	margin-left: var(--space-left-body);
	margin-top: var(--space-vertical-body);
	max-width: var(--width-column);
	padding-left: var(--width-gap);
	padding-right: var(--width-gap);
}

h1 {
	font-size: var(--font-size-huge);
	line-height: var(--line-height-small);
	margin-bottom: var(--space-large);
	margin-top: var(--space-gargantuan);
}

h1[data-description] {
	font-size: var(--font-size-large);
	margin-bottom: var(--space-gargantuan);
}

h2 {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

h3 {
	font-size: var(--font-size-default);
	margin-top: var(--space-large);
}

p {
	margin-top: var(--space-default);
}

hr {
	font-size: var(--font-size-huge);
	letter-spacing: var(--width-indent);
	margin-bottom: var(--space-huge);
	margin-top: var(--space-huge);
	padding-left: var(--width-indent);
}

pre {
	--word-break: normal;

	background-color: var(--color-surface);
	font-family: var(--font-family-code);
	line-height: var(--line-height-small);
	margin-bottom: var(--space-large);
	margin-top: var(--space-large);
	padding: var(--space-small) var(--width-gap);
	word-break: var(--word-break);
}

blockquote {
	margin-top: var(--space-default);
	padding-left: var(--width-indent);
}

ul,
ol {
	margin-top: var(--space-default);
	padding-left: var(--width-indent);
}

li {
	margin-top: var(--space-tiny);
}

figure {
	margin-bottom: var(--space-large);
	margin-top: var(--space-large);
}

figcaption {
	font-size: var(--font-size-small);
	opacity: calc(1 / var(--ratio-1));
}

a {
	color: var(--color-primary);
}

code,
samp,
kbd {
	font-family: var(--font-family-code);
}

img {
	background-color: var(--color-surface);
}

table {
	margin-bottom: var(--space-large);
	margin-top: var(--space-large);
}

td {
	background-color: var(--color-surface);
	border-top-width: var(--border-width-default);
	padding: var(--space-small) var(--width-gap);
}

th {
	background-color: var(--color-surface);
	border-bottom-width: var(--border-width-default);
	padding: var(--space-small) var(--width-gap);
}

button {
	background-color: var(--color-primary);
	color: var(--color-background);
	font-size: var(--font-size-small);
	padding: var(--space-tiny) var(--width-gap);
}

button:hover {
	filter: contrast(var(--ratio-2));
}

[id] {
	scroll-margin-top: var(--space-huge);
}

.affiliate > figure {
	height: calc(var(--font-size-default) * var(--line-height-default) * 13);
}

.affiliate > figure > a > img {
	--background-color: white;
	--height: 100%;
	--object-fit: contain;
	--width: 100%;

	background-color: var(--background-color);
	height: var(--height);
	object-fit: var(--object-fit);
	padding: var(--width-gap);
	width: var(--width);
}

.hljs {
	--color-keyword: hsl(198 96% 36%);
	--color-literal: hsl(318 96% 45%);
	--color-number: hsl(18 96% 42%);
	--color-string: hsl(138 96% 27%);
	--color-comment: hsl(0 0% 48%);
}

@media (prefers-color-scheme: dark) {
	.hljs {
		--color-keyword: hsl(198 96% 57%);
		--color-literal: hsl(318 96% 75%);
		--color-number: hsl(18 96% 69%);
		--color-string: hsl(138 96% 42%);
		--color-comment: hsl(0 0% 69%);
	}
}

.hljs .hljs-keyword,
.hljs .hljs-subst,
.hljs .hljs-meta-keyword,
.hljs .hljs-section,
.hljs .hljs-tag,
.hljs .hljs-name,
.hljs .hljs-builtin-name,
.hljs .hljs-selector-tag,
.hljs .hljs-template-tag {
	color: var(--color-keyword);
}

.hljs .hljs-literal,
.hljs .hljs-attr,
.hljs .hljs-attribute,
.hljs .hljs-variable,
.hljs .hljs-selector-attr,
.hljs .hljs-selector-pseudo,
.hljs .hljs-template-variable {
	color: var(--color-literal);
}

.hljs .hljs-number,
.hljs .hljs-symbol,
.hljs .hljs-regexp,
.hljs .hljs-selector-id,
.hljs .hljs-deletion {
	color: var(--color-number);
}

.hljs .hljs-string,
.hljs .hljs-meta-string,
.hljs .hljs-selector-class,
.hljs .hljs-addition {
	color: green;
	color: var(--color-string);
}

.hljs .hljs-comment,
.hljs .hljs-doctag {
	color: gray;
	color: var(--color-comment);
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
}

.metaline {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

article > header > .metaline:first-child {
	margin-top: 9.25rem;
	margin-top: var(--space-gargantuan);
}

section > header > .metaline:first-child {
	margin-top: 4.75rem;
	margin-top: var(--space-huge);
}

.metaline + :not(.metaline) {
	margin-top: 0;
}

.pages {
	--display: flex;
	--flex-wrap: wrap;
	--list-style-type: none;

	display: var(--display);
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	flex-wrap: var(--flex-wrap);
	list-style-type: var(--list-style-type);
	padding-left: 0;
}

footer > .pages:first-child {
	margin-top: 8.75rem;
	margin-top: calc(var(--space-gargantuan) - var(--space-tiny));
}

.pages > li {
	--display: list-item;
	--margin-right: 0;

	display: inline-block;
	display: var(--display);
	margin-right: 1rem;
	margin-right: var(--margin-right);
}

.pages > li:not(:last-child) {
	--margin-right: var(--width-gap);
}

.pages > .sep::after {
	--margin-left: var(--width-gap);

	content: "/";
	margin-left: 1rem;
	margin-left: var(--margin-left);
}

.posts {
	list-style-type: none;
	padding-left: 0;
}

.posts > li > time {
	display: block;
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	margin-top: 1.5rem;
	margin-top: var(--space-default);
}

.showcase {
	--align-items: end;
	--display: grid;
	--grid-template-columns: repeat(3, 1fr);

	align-items: var(--align-items);
	column-gap: var(--width-gap);
	display: var(--display);
	grid-template-columns: var(--grid-template-columns);
	line-height: 1;
	list-style-type: none;
	margin-bottom: var(--space-large);
	margin-top: 0;
	margin-top: var(--space-large);
	padding-left: 0;
	row-gap: var(--space-default);
}

.showcase > li {
	--display: list-item;
	--margin-top: 0;
	--margin-right: 0;
	--max-width: none;

	display: inline-block;
	display: var(--display);
	margin-right: 1.25rem;
	margin-right: var(--margin-right);
	margin-top: 1.5rem;
	margin-top: var(--margin-top);
	max-width: 29%;
	max-width: var(--max-width);
}

.showcase > li > a > img {
	--max-height: none;
	--vertical-align: text-bottom;
	--width: 100%;

	max-height: var(--max-height);
	vertical-align: var(--vertical-align);
	width: var(--width);
}

.skip-to-content {
	bottom: 100%;
	display: block;
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	position: absolute;
}

.skip-to-content:focus {
	bottom: calc(100% - var(--font-size-small) * var(--line-height-default));
}
