/*! index.css | MIT License */


:root {

	--color-background: hsl(48, 48%, 93%);
	--color-background-tone: hsl(48, 48%, 90%);
	--color-on-background: hsl(0, 0%, 15%);
	--color-on-background-tint: hsl(0, 0%, 45%);
	--color-link: hsl(213, 96%, 45%);


	--font-size-default: 1rem;
	--font-size-small: calc(var(--font-size-default) / var(--ratio-1));
	--font-size-large: calc(var(--font-size-default) * var(--ratio-1));
	--font-size-huge: calc(var(--font-size-large) * var(--ratio-1));


	--line-height-default: calc(var(--ratio-2));
	--line-height-small: calc(var(--line-height-default) / var(--ratio-1));


	--ratio-1: 1.25;
	--ratio-2: calc(var(--ratio-1) * var(--ratio-1));
	--ratio-4: calc(var(--ratio-2) * var(--ratio-2));


	--space-default: calc(var(--ratio-2) * 1rem);
	--space-small: calc(var(--space-default) / var(--ratio-2));
	--space-large: calc(var(--space-default) * var(--ratio-1));
	--space-tiny: calc(var(--space-small) / var(--ratio-2));
	--space-huge: calc(var(--space-large) * var(--ratio-2) * var(--ratio-1));
	--space-gargantuan: calc(var(--space-huge) * var(--ratio-2) * var(--ratio-1));
	--space-left-body: clamp(
		0px,
		(100vw - var(--space-small) - var(--width-column) - var(--space-small) - 20px) / 2,
		var(--ratio-4) * var(--ratio-4) * var(--ratio-2) * 1vw
	);


	--width-column: 88ch;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: hsl(228, 48%, 6%);
		--color-background-tone: hsl(228, 48%, 15%);
		--color-on-background: hsl(0, 0%, 93%);
		--color-on-background-tint: hsl(0, 0%, 75%);
		--color-link: hsl(213, 96%, 78%);
	}
}




html {
	background-color: white;
	background-color: var(--color-background);
	color: black;
	color: var(--color-on-background);
	font-family: sans-serif;
	font-size: 112.5%;
	line-height: 1.5;
	line-height: var(--line-height-default);
}


body {
	background-color: inherit;
	margin: 1.5rem auto;
	margin-block-end: max(
		var(--space-default),
		(var(--space-left-body) + var(--space-small)) / var(--ratio-2)
	);
	margin-block-start: calc((var(--space-left-body) + var(--space-small)) / var(--ratio-2));
	margin-inline-start: var(--space-left-body);
	max-width: 48rem;
	max-width: var(--width-column);
	padding-left: 1rem;
	padding-inline-start: var(--space-small);
	padding-right: 1rem;
	padding-inline-end: var(--space-small);
}

h1 {
	font-size: 1.5rem;
	font-size: var(--font-size-huge);
	line-height: var(--line-height-small);
	margin-bottom: 3.75rem;
	margin-block-end: var(--space-huge);
	margin-top: 2rem;
	margin-block-start: calc(var(--space-small) + 1rem);
}

h1[data-description] {
	font-size: 1.25rem;
	font-size: var(--font-size-large);
}

h1[data-description]::after {
	content: "は、" attr(data-description);
	font-weight: normal;
}

h2 {
	font-size: 1.25rem;
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-bottom: 0;
	margin-top: 3.75rem;
	margin-block-start: var(--space-huge);
}

h3 {
	font-size: 1rem;
	font-size: var(--font-size-default);
	line-height: var(--line-height-small);
	margin-bottom: 0;
	margin-top: 1.75rem;
	margin-block-start: var(--space-large);
}


p {
	margin-bottom: 0;
	margin-top: 1.5rem;
	margin-block-start: var(--space-default);
}

hr {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: thin solid gray;
	border-block-start-color: var(--color-on-background-tint);
	margin-bottom: 3.75rem;
	margin-block-end: var(--space-huge);
	margin-left: 0;
	margin-top: 3.75rem;
	margin-block-start: var(--space-huge);
	width: 12ch;
}

pre {
	background-color: whitesmoke;
	background-color: var(--color-background-tone);

	font-family: monospace, monospace;
	font-size: inherit;
	margin-bottom: 1.75rem;
	margin-block-end: var(--space-large);
	margin-top: 1.75rem;
	margin-block-start: var(--space-large);
	overflow-x: auto;
	padding: 1rem;
	padding: var(--space-small);
	-moz-tab-size: 4;
	tab-size: 4;
}

blockquote {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	margin: 1.5rem 0 0;
	margin-block-start: var(--space-default);
	margin-left: 1.75rem;
	margin-inline-start: var(--space-large);
}

ul,
ol {
	margin-bottom: 0;
	margin-top: 1.5rem;
	margin-block-start: var(--space-default);
	padding-left: 1.75rem;
	padding-inline-start: var(--space-large);
}

li > ul,
li > ol {
	margin-top: 0;
}

li {
	margin-top: 0.5rem;
	margin-block-start: var(--space-tiny);
}

figure {
	margin: 1.75rem 0;
	margin-block-end: var(--space-large);
	margin-block-start: var(--space-large);
}

figcaption {
	color: gray;
	color: var(--color-on-background-tint);
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}


a {
	color: royalblue;
	color: var(--color-link);
}

a:visited {
	color: inherit;
}

em {
	font-style: normal;
	font-weight: bold;
}

code,
samp,
kbd {

	font-family: monospace, monospace;
	font-size: inherit;
}

time {
	color: gray;
	color: var(--color-on-background-tint);
}


ins {
	text-decoration: none;
}


img {
	background-color: whitesmoke;
	background-color: var(--color-background-tone);
	border: none;
	box-sizing: border-box;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

figure img {
	vertical-align: text-bottom;
}

svg {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}


table {
	border-spacing: 0;
	display: block;
	margin-bottom: 1.75rem;
	margin-block-end: var(--space-large);
	margin-top: 1.75rem;
	margin-block-start: var(--space-large);
	max-width: 100%;
	overflow-x: auto;
}

td {
	background-color: whitesmoke;
	background-color: var(--color-background-tone);
	border-top-color: gray;
	border-block-start-color: var(--color-on-background-tint);
	border-top-style: solid;
	padding: 1rem;
	padding: var(--space-small);
	vertical-align: top;
	white-space: pre;
}

th {
	background-color: whitesmoke;
	background-color: var(--color-background-tone);
	border-bottom-color: gray;
	border-block-end-color: var(--color-on-background-tint);
	border-bottom-style: solid;
	padding: 1rem;
	padding: var(--space-small);
	text-align: inherit;
	vertical-align: top;
	white-space: pre;
}


[id] {
	scroll-margin-top: 1.75rem;
	scroll-margin-block-start: var(--space-large);
}


article > header p,
section > header p {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

article > header > :last-child,
section > header > :last-child {
	margin-top: 0;
}

body > p:first-child {
	left: var(--space-small);
	line-height: 1;
	margin-top: 0;
	position: fixed;
	top: var(--space-small);
}

body > p:first-child a {
	color: inherit;
	text-decoration: none;
}

body > footer {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	margin: 7.25rem auto 3.75rem 0;
	margin-block-end: var(--space-huge);
	margin-block-start: var(--space-gargantuan);
}



.affiliate > figure {
	--aspect-ratio: 16 / 9;
	--height: auto;

	aspect-ratio: var(--aspect-ratio);
	height: var(--height);
}

.affiliate > figure > a > img {
	--background-color: white;
	--height: 100%;
	--object-fit: contain;
	--padding: 8%;
	--width: 100%;

	background-color: var(--background-color);
	height: var(--height);
	object-fit: var(--object-fit);
	padding: var(--padding);
	width: var(--width);
}

.showcase {
	--align-items: end;
	--display: grid;
	--grid-template-columns: repeat(3, 1fr);

	align-items: var(--align-items);
	display: var(--display);
	gap: var(--space-huge) 10%;
	grid-template-columns: var(--grid-template-columns);
	list-style-type: none;
	padding-left: 0;
}

.showcase > li {
	--display: list-item;
	--margin-block-start: 0;
	--margin-inline-end: 0;
	--max-width: none;

	display: inline-block;
	display: var(--display);
	margin-right: 1rem;
	margin-inline-end: var(--margin-inline-end);
	margin-top: 1.5rem;
	margin-block-start: var(--margin-block-start);
	max-width: 29%;
	max-width: var(--max-width);
}

.showcase > li > a > img {
	--max-height: none;
	--vertical-align: text-bottom;
	--width: 100%;

	max-height: var(--max-height);
	vertical-align: var(--vertical-align);
	width: var(--width);
}

