/*! large.css | MIT License */
:root {
  --font-size-root: calc((var(--base-primary) + var(--base-secondary)) / 2 * 100%)
}
body {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  --margin-vertical: var(--space-default)
}
.thumbs {
  --repeat-count: 4
}