/*! main.css | MIT License */
html {
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.618;
}

@media (min-width: 60em) {
	html {
		font-size: 112.5%;
	}
}

@media (min-width: 120em) {
	html {
		font-size: 125%;
	}
}

body {
	margin: 1rem auto;
	max-width: 36.924rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

h1 {
	line-height: 1.272;
	margin-bottom: 0;
	margin-top: 8.717rem;
}

h2 {
	font-size: 1.272rem;
	line-height: 1.272;
	margin-bottom: 0;
	margin-top: 8.717rem;
}

h3 {
	font-size: 1rem;
	line-height: 1.272;
	margin-bottom: 0;
	margin-top: 4.24rem;
}

h4,
h5,
h6 {
	line-height: 1.272;
	margin-bottom: 0;
	margin-top: 1.618rem;
}

address {
	font-style: normal;
}

p {
	margin-bottom: 0;
	margin-top: 1.618rem;
}

hr {
	border-width: 0;
	color: silver;
	letter-spacing: 1rem;
	margin: 1.618rem 0;
	padding-left: 4.24rem;
	text-align: left;
}

hr::before {
	content: "***";
}

pre {
	background-color: whitesmoke;
	font-family: monospace, monospace;
	font-size: 1em;
	line-height: 1.272;
	margin-bottom: 0;
	margin-top: 1.618rem;
	overflow-wrap: break-word;
	padding: 1rem;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: break-all;
}

blockquote {
	border-left: 0.236rem solid silver;
	margin: 1.618rem 0 0;
	padding-left: 1.382rem;
}

ul,
ol {
	margin-bottom: 0;
	margin-top: 1.618rem;
	padding-left: 1.618rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-top: 0;
}

figure {
	margin: 1.618rem 0 0;
}

main {
	margin: 8.717rem 0;
	display: block;
}

a {
	color: slateblue;
}

a:visited {
	color: dimgray;
}

em {
	font-style: normal;
	font-weight: bold;
}

cite {
	font-style: normal;
}

code,
samp,
kbd {
	font-family: monospace, monospace;
	font-size: 1em;
}

ins {
	text-decoration: none;
}

del {
	color: silver;
}

img,
video {
	background-color: whitesmoke;
	border-width: 0;
	box-sizing: border-box;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

figure img,
figure video {
	vertical-align: bottom;
}

svg:not(:root) {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	display: inline-block;
	margin-top: 1.618rem;
	max-width: 100%;
	overflow-x: auto;
	table-layout: fixed;
}

th,
td {
	border: 0.056rem solid silver;
	line-height: 1;
	padding: 1em;
	vertical-align: top;
	white-space: nowrap;
}

th {
	background-color: whitesmoke;
	text-align: inherit;
}

form {
	margin-top: 1.618rem;
}

input[type="search"] {
	-webkit-appearance: textfield;
	background-color: white;
	border: 0.056rem solid silver;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.272;
	margin: 0;
	outline-offset: -2px;
	padding: 0.618rem;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="submit"],
button {
	-webkit-appearance: button;
	background-color: black;
	border: none;
	border-radius: 0;
	color: white;
	font-family: inherit;
	font-size: 78.6%;
	font-weight: bold;
	line-height: 1.272;
	margin: 0;
	padding: 1rem 1.618rem;
	white-space: pre-line;
}

template {
	display: none;
}

:root {
	--ratio: 1.272;
	--ratio-2: calc(var(--ratio) * var(--ratio));
	--ratio-3: calc(var(--ratio-2) * var(--ratio));
	--ratio-4: calc(var(--ratio-3) * var(--ratio));
	--ratio-5: calc(var(--ratio-4) * var(--ratio));
	--border-width-default: calc(1 / var(--ratio-4) / var(--ratio-4) / var(--ratio-4) * 1rem);
	--border-width-large: calc(var(--border-width-default) * var(--ratio-3) * var(--ratio-3));
	--font-size-default: 1rem;
	--font-size-small: calc(var(--font-size-default) / var(--ratio));
	--font-size-large: calc(var(--font-size-default) * var(--ratio));
	--line-height-default: var(--ratio-2);
	--line-height-small: calc(var(--line-height-default) / var(--ratio));
	--space-default: calc(var(--ratio-2) * 1rem);
	--space-small: calc(var(--space-default) / var(--ratio-2));
	--space-large: calc(var(--space-default) * var(--ratio-4));
	--space-tiny: calc(var(--space-small) / var(--ratio-2));
	--space-huge: calc(var(--space-large) * var(--ratio-3));
	--space-outermost-vertical: calc(var(--ratio-3) * var(--ratio-4) * 1vw);
	--space-outermost-horizontal: calc(var(--space-outermost-vertical) * var(--ratio));
	--space-interline: calc((var(--line-height-default) - 1) * var(--font-size-default));
	--width-gap: var(--space-small);
	--width-main: calc(var(--ratio-5) * var(--ratio-5) * var(--ratio-5) * 1rem);
	--width-sub: calc(var(--width-main) / var(--ratio-5));
	--width-whole: calc(var(--width-sub) + var(--width-gap) + var(--width-gap) + var(--width-main));
}

:root {
	--color-foreground: hsl(45 20% 10%);
	--color-foreground-low-contrast: hsl(45 10% 25%);
	--color-middleground: hsl(45 10% 70%);
	--color-background: hsl(45 50% 95%);
	--color-background-low-contrast: hsl(45 30% 90%);
	--color-hyperlink: hsl(205 80% 37%);
	--color-visited-hyperlink: hsl(205 10% 41%);
}

:root {
	--font-family-default: sans-serif;
	--font-family-code: monospace, monospace;
}

html {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-family-default);
	line-height: var(--line-height-default);
}

body {
	margin-bottom: var(--space-outermost-vertical);
	margin-top: var(--space-outermost-vertical);
	max-width: var(--width-main);
	padding-left: var(--width-gap);
	padding-right: var(--width-gap);
}

@media (min-width: 54em) {
	body {
		max-width: var(--width-whole);
	}
}

@media (min-width: 70em) {
	body {
		margin-left: var(--space-outermost-horizontal);
	}
}

h2 {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

h3 {
	font-size: var(--font-size-default);
	line-height: var(--line-height-small);
	margin-top: var(--space-large);
}

p {
	margin-top: var(--space-default);
}

hr {
	color: var(--color-middleground);
	margin-bottom: var(--space-large);
	margin-top: var(--space-large);
	padding-left: var(--space-large);
}

pre {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);
	--word-break: normal;

	background-color: var(--color-background-low-contrast);
	color: var(--color-foreground-low-contrast);
	font-family: var(--font-family-code);
	line-height: var(--line-height-small);
	margin-top: var(--margin-top);
	padding: var(--space-small);
	word-break: var(--word-break);
}

pre + p {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-top: var(--margin-top);
}

blockquote {
	--padding-left: calc(var(--space-default) - var(--border-width-large));

	border-left-color: var(--color-middleground);
	border-left-width: var(--border-width-large);
	color: var(--color-foreground-low-contrast);
	margin-top: var(--space-default);
	padding-left: var(--padding-left);
}

ul,
ol {
	margin-top: var(--space-default);
	padding-left: var(--space-default);
}

figure,
figure + p {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-top: var(--margin-top);
}

a {
	color: var(--color-hyperlink);
}

a:visited {
	color: var(--color-visited-hyperlink);
}

time {
	color: var(--color-foreground-low-contrast);
}

code,
samp,
kbd {
	font-family: var(--font-family-code);
}

del {
	color: var(--color-middleground);
}

img {
	background-color: var(--color-background-low-contrast);
}

table,
table + p {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-top: var(--margin-top);
}

th,
td {
	border-color: var(--color-middleground);
	border-width: var(--border-width-default);
	padding: var(--space-small);
}

th {
	background-color: var(--color-background-low-contrast);
}

form,
form + p {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-top: var(--margin-top);
}

input[type="search"] {
	border-color: var(--color-middleground);
	border-width: var(--border-width-default);
	line-height: var(--line-height-small);
	padding: var(--space-tiny);
}

input[type="submit"],
button {
	background-color: var(--color-foreground-low-contrast);
	color: var(--color-background);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	padding: var(--space-small) var(--space-default);
}

.header a {
	color: inherit;
}

.navigation {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	font-size: 0.786rem;
	font-size: var(--font-size-small);
}

.logo {
	font-weight: bold;
	margin-top: 0;
	text-transform: uppercase;
}

.pages {
	--display: flex;
	--flex-wrap: wrap;
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2
	);

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	margin-bottom: 0.132rem;
	margin-bottom: var(--margin-bottom);
	margin-right: auto;
	margin-top: 0;
	padding-left: 0;
}

.pages li {
	--display: block;

	display: inline-block;
	display: var(--display);
	margin-right: 0.618rem;
	margin-right: var(--space-tiny);
}

.pages li mark {
	background-color: transparent;
	color: inherit;
	font-weight: bold;
}

.tagline {
	--margin-bottom: 0;

	font-size: 1.272rem;
	font-size: var(--font-size-large);
	line-height: 1.272;
	line-height: var(--line-height-small);
	margin-top: 8.717rem;
	margin-top: var(--space-huge);
	max-width: 36.924rem;
	max-width: var(--width-main);
}

.metaline + .tagline {
	--margin-top: calc(
		var(--space-interline) -
		(var(--line-height-small) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2
	);

	margin-top: 0.338rem;
	margin-top: var(--margin-top);
}

.tagline[title]::after {
	content: "—" attr(title);
	font-weight: normal;
}

.content {
	margin-bottom: var(--space-huge);
	margin-left: auto;
	margin-top: var(--space-huge);
	max-width: 36.924rem;
	max-width: var(--width-main);
}

.affiliate {
	--margin-top: calc(var(--space-interline) / 2);
	--max-width: calc(1 / var(--ratio-4) * 100%);

	float: right;
	margin-left: 0.618rem;
	margin-left: var(--space-tiny);
	margin-top: 0.309rem;
	margin-top: var(--margin-top);
	max-width: 38%;
	max-width: var(--max-width);
}

.affiliate figure {
	margin-top: 0;
}

.affiliate figure img {
	background-color: white;
	padding: 0.618rem;
	padding: var(--space-tiny);
	width: 100%;
}

.flatlinks {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	padding-left: 0;
}

.flatlinks li {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.flatlinks li::after {
	content: "\a0/\a0";
}

.flatlinks li:last-child::after {
	content: "";
}

.form,
.form + p {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-top: var(--margin-top);
}

.hero {
	--margin-left: calc(0px - var(--width-gap));
	--margin-right: calc(0px - var(--width-gap));
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-left: var(--margin-left);
	margin-right: var(--margin-right);
	margin-top: var(--margin-top);
}

@media (min-width: 54em) {
	.hero {
		--margin-left: calc(0px - (var(--width-gap) + var(--width-sub) + var(--width-gap) + var(--width-gap)));
	}
}

@media (min-width: 70em) {
	.hero {
		--margin-left: calc(0px - (var(--space-outermost-horizontal) + var(--width-gap) + var(--width-sub) + var(--width-gap) + var(--width-gap)));
		--margin-right: calc(0px - (var(--width-gap) + var(--space-outermost-horizontal)));
	}
}

[itemprop="articleBody"] .hero {
	--top: calc(
		var(--space-interline) +
		(var(--line-height-small) - 1) * var(--font-size-large) / 2 -
		var(--space-huge)
	);

	position: relative;
	top: -7.963rem;
	top: var(--top);
}

.hero img,
.hero video {
	max-width: 3840px;
	width: 100%;
}

.hero + p {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-top: var(--margin-top);
}

.hljs-keyword,
.hljs-subst,
.hljs-meta-keyword,
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag {
	color: lightslategray;
	color: hsl(205 69% 49%);
}

.hljs-literal,
.hljs-tag,
.hljs-attr,
.hljs-attribute,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-variable {
	color: mediumslateblue;
	color: hsl(237 43% 60%);
}

.hljs-number,
.hljs-symbol,
.hljs-regexp,
.hljs-selector-id,
.hljs-deletion {
	color: crimson;
	color: hsl(331 64% 52%);
}

.hljs-string,
.hljs-meta-string,
.hljs-selector-class,
.hljs-addition {
	color: cadetblue;
	color: hsl(175 59% 40%);
}

.hljs-comment,
.hljs-doctag {
	opacity: 0.7;
}

.metaline {
	font-size: 0.786rem;
	font-size: var(--font-size-small);
	line-height: 1.272;
	line-height: var(--line-height-small);
}

.header .metaline {
	margin-top: 8.717rem;
	margin-top: var(--space-huge);
}

h2 + .metaline {
	--margin-top: calc(
		var(--space-interline) -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2 -
		(var(--line-height-small) - 1) * var(--font-size-small) / 2
	);

	margin-top: 0.338rem;
	margin-top: var(--margin-top);
}

.posts .metaline {
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-default) - 1) * var(--font-size-default) / 2
	);

	margin-bottom: 0.066rem;
	margin-bottom: var(--margin-bottom);
}

.posts {
	list-style-type: none;
	padding-left: 0;
}

.posts li {
	margin-top: 1.618em;
	margin-top: var(--space-default);
}

.posts li time {
	display: block;
}

.posts li img {
	--margin-top: calc(var(--space-interline) / 2);
	--max-height: calc(var(--line-height-default) * var(--font-size-default) * 8);

	margin-top: 0.309rem;
	margin-top: var(--margin-top);
	max-height: 12.944rem;
	max-height: var(--max-height);
	vertical-align: text-bottom;
	width: auto;
}

.searchbox {
	--display: flex;

	display: var(--display);
}

.searchbox input[type="search"] {
	--flex-grow: 1;
	--min-width: 0;

	flex-grow: var(--flex-grow);
	margin-right: var(--space-small);
	min-width: var(--min-width);
}

.searchbox input[type="submit"] {
	white-space: nowrap;
}

.subnavigation > :first-child {
	font-size: 1.272rem;
	font-size: var(--font-size-large);
	margin-top: 8.717rem;
	margin-top: var(--space-huge);
}

[itemprop="articleBody"] > .subnavigation p {
	line-height: 1.272;
	line-height: var(--line-height-small);
}

[itemprop="articleBody"] > .subnavigation p::before {
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-small) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2
	);

	content: "前の記事:";
	display: block;
	font-size: 0.786rem;
	font-size: var(--font-size-small);
	font-weight: bold;
	margin-bottom: 0.338rem;
	margin-bottom: var(--margin-bottom);
}

.thumbs {
	--align-items: end;
	--display: grid;
	--grid-gap: calc(var(--space-default) + var(--space-interline));
	--grid-template-columns: repeat(auto-fill, minmax(calc(var(--width-main) / 5), 1fr));
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	align-items: var(--align-items);
	display: var(--display);
	grid-gap: var(--grid-gap);
	grid-template-columns: var(--grid-template-columns);
	line-height: 1;
	list-style-type: none;
	margin-top: var(--margin-top);
	padding-left: 0;
}

.thumbs li {
	--display: list-item;
	--margin: 0;
	--max-width: none;

	display: inline-block;
	display: var(--display);
	margin-bottom: 1.618rem;
	margin-bottom: var(--margin);
	margin-right: 1.118rem;
	margin-right: var(--margin);
	max-width: 20%;
	max-width: var(--max-width);
}

.thumbs li img {
	--max-height: none;

	max-height: var(--max-height);
	vertical-align: text-bottom;
	width: 100%;
}

.thumbs + p {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-top: var(--margin-top);
}

.footer {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	font-size: 0.786rem;
	font-size: var(--font-size-small);
}

.footer a {
	color: inherit;
}

.footlinks {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}

.footlinks li {
	--display: block;

	display: inline-block;
	display: var(--display);
	margin-right: 0.618rem;
	margin-right: var(--space-tiny);
}

.footlinks li:last-child {
	margin-left: auto;
	margin-right: 0;
}

.byline {
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2
	);

	font-weight: bold;
	margin-bottom: 0.132rem;
	margin-bottom: var(--margin-bottom);
	margin-right: auto;
}

@media print {
	* {
		border-color: currentcolor !important;
		background-color: hsl(0 0% 100%) !important;
		color: hsl(0 0% 0%) !important;
		opacity: 1 !important;
	}

	nav,
	input[type="search"],
	input[type="submit"],
	button,
	.navigation,
	.footlinks {
		display: none;
	}

	body,
	.tagline,
	.content {
		max-width: none;
	}

	@page {
		margin-bottom: 1.618rem;
		margin-top: 1.618rem;
	}

	body {
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	pre {
		padding: 0 0 0 1.618rem;
		padding-left: var(--space-default);
	}

	a {
		overflow-wrap: anywhere;
		text-decoration: none;
		word-break: break-all;
	}

	a::after {
		content: "（" attr(href) "）";
	}

	a[href^="#"]::after {
		content: "";
	}

	table {
		display: table;
		break-inside: avoid-page;
	}

	th,
	td {
		white-space: normal;
	}

	.tagline {
		font-size: 1.272rem;
		margin-top: 0;
	}

	.tagline[title]::after {
		content: "\0a\0a—" attr(title);
		font-size: 1rem;
		white-space: pre-line;
	}

	.hero img {
		max-width: 100%;
	}
}
