/*! main.css | MIT License */
html {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.75
}
body {
  margin: 1.75rem auto;
  max-width: 30rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: var(--body-margin) auto;
  max-width: var(--width-main);
  padding-left: var(--body-padding-left);
  padding-right: var(--width-gap)
}
h1 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 8.5rem
}
h2 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 5rem
}
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 3rem
}
address,
cite {
  font-style: normal
}
p {
  margin-bottom: 0;
  margin-top: 1.75rem;
  margin-top: var(--space-default)
}
hr {
  border-width: 0;
  color: #b2b2b2;
  font-size: 1.75rem;
  letter-spacing: 1rem;
  margin: 3rem 0;
  padding-left: 3rem;
  text-align: left
}
hr::before {
  content: "***"
}
pre {
  background-color: #e5e5e5;
  color: #4c4c4c;
  font-family: "_",monospace;
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 1.75rem;
  overflow-wrap: break-word;
  padding: 1rem;
  white-space: pre-wrap;
  word-break: break-all
}
blockquote {
  border-left: .25rem solid #b2b2b2;
  margin: 1.75rem 0 0;
  padding-left: 1rem
}
ol,
ul {
  margin-bottom: 0;
  margin-top: 1.75rem;
  padding-left: 1.75rem;
  margin-top: var(--space-default);
  padding-left: var(--space-default)
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0
}
figure {
  margin: 1.75rem 0 0;
  margin-top: var(--space-default)
}
main {
  margin: 8.5rem 0;
  display: block
}
a {
  color: #00f;
  color: var(--color-secondary)
}
a:visited {
  color: #4c4c4c;
  color: var(--color-foreground-low-contrast)
}
em {
  font-style: normal;
  font-weight: 700
}
code,
kbd,
samp {
  font-family: "_",monospace;
  font-size: 1em
}
ins {
  text-decoration: none
}
del,
template {
  display: none
}
img,
video {
  border-width: 0;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  max-width: 100%
}
figure img,
figure video {
  vertical-align: bottom
}
svg:not(:root) {
  fill: currentcolor;
  max-height: 100%;
  max-width: 100%
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  margin-top: 1.75rem;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;
  margin-top: var(--space-default)
}
@media not screen {
  table {
    display: table
  }
}
td,
th {
  border: 1px solid #b2b2b2;
  line-height: 1;
  padding: 1em;
  vertical-align: top;
  white-space: nowrap
}
th {
  background-color: #e5e5e5;
  text-align: inherit;
  background-color: var(--color-background-low-contrast)
}
button {
  -webkit-appearance: button;
  background-color: #000;
  border-radius: .25rem;
  border-width: 0;
  color: #fff;
  font-family: inherit;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  padding: 1rem
}
:root {
  --base-primary: 1;
  --base-secondary: 1.33;
  --palette-black: hsl(45, 20%, 15%);
  --palette-jet: hsl(45, 15%, 20%);
  --palette-charcoal: hsl(45, 10%, 30%);
  --palette-gray: hsl(45, 10%, 70%);
  --palette-pearl: hsl(45, 30%, 90%);
  --palette-white: hsl(45, 50%, 95%);
  --palette-blue: hsl(225, 100%, 45%);
  --palette-sky: hsl(225, 100%, 85%);
  --ratio: 1.7;
  --border-width-default: calc(var(--base-primary) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) * 1rem);
  --border-width-large: calc(var(--border-width-default) * var(--ratio) * var(--ratio));
  --color-foreground: var(--palette-black);
  --color-foreground-low-contrast: var(--palette-charcoal);
  --color-background: var(--palette-white);
  --color-background-low-contrast: var(--palette-pearl);
  --color-primary: var(--palette-gray);
  --color-secondary: var(--palette-blue);
  --font-family-default: sans-serif;
  --font-family-code: "_",monospace;
  --font-size-default: calc(var(--base-primary) * 1rem);
  --font-size-large: calc(var(--base-secondary) * 1rem);
  --font-size-huge: calc(var(--font-size-default) * var(--ratio));
  --font-size-small: calc(var(--font-size-large) / var(--ratio));
  --line-height-default: calc(var(--base-primary) * var(--ratio));
  --line-height-small: var(--base-secondary);
  --space-default: calc(var(--base-primary) * var(--ratio) * 1rem);
  --space-small: calc(var(--space-default) / var(--ratio));
  --space-large: calc(var(--space-default) * var(--ratio));
  --space-tiny: calc(var(--space-small) / var(--ratio));
  --space-huge: calc(var(--space-large) * var(--ratio));
  --space-gargantuan: calc(var(--space-huge) * var(--ratio));
  --width-gap: var(--space-small);
  --width-whole: calc(var(--base-primary) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * 1rem);
  --width-sub: calc((var(--width-whole) - var(--width-gap) - var(--width-gap)) / 4);
  --width-main: calc(var(--width-sub) * 3);
  --html-font-size: calc(var(--base-primary) * 100%);
  --body-margin: var(--space-default);
  --body-padding-left: var(--width-gap);
  --thumbs-repeat-count: 3
}
@media (prefers-color-scheme:dark) {
  :root {
    --color-foreground: var(--palette-white);
    --color-foreground-low-contrast: var(--palette-gray);
    --color-background: var(--palette-black);
    --color-background-low-contrast: var(--palette-jet);
    --color-primary: var(--palette-charcoal);
    --color-secondary: var(--palette-sky)
  }
}
@media (min-width:39em) {
  :root {
    --html-font-size: calc((var(--base-primary) + var(--base-secondary)) / 2 * 100%);
    --body-margin: var(--space-large)
  }
}
@media (min-width:60em) {
  :root {
    --html-font-size: calc(var(--base-secondary) * 100%);
    --body-padding-left: calc(var(--width-gap) + var(--width-sub) + var(--width-gap) + var(--width-gap));
    --thumbs-repeat-count: 4
  }
}
html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-default);
  font-size: var(--html-font-size);
  line-height: var(--line-height-default)
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-small);
  margin-top: var(--space-large)
}
hr {
  color: var(--color-primary);
  font-size: var(--font-size-huge);
  line-height: var(--line-height-small);
  margin-bottom: var(--space-large);
  margin-top: var(--space-large);
  padding-left: var(--space-large)
}
pre {
  --word-break: normal;
  background-color: var(--color-background-low-contrast);
  color: var(--color-foreground-low-contrast);
  font-family: var(--font-family-code);
  line-height: var(--line-height-small);
  margin-top: var(--space-default);
  padding: var(--space-small);
  word-break: var(--word-break)
}
blockquote {
  border-left-color: var(--color-primary);
  border-left-width: var(--border-width-large);
  margin-top: var(--space-default);
  padding-left: var(--space-small)
}
code,
kbd,
samp {
  font-family: var(--font-family-code)
}
td,
th {
  border-color: var(--color-primary);
  border-width: var(--border-width-default);
  padding: var(--space-small)
}
button {
  background-color: var(--color-foreground);
  border-radius: var(--border-width-large);
  color: var(--color-background);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  padding: var(--space-small)
}
.header a {
  color: inherit
}
.header mark {
  background-color: transparent;
  color: inherit;
  font-weight: 700
}
.navigation {
  --display: flex;
  display: var(--display);
  font-size: .75rem;
  font-size: var(--font-size-small)
}
.logo {
  font-weight: 700;
  text-transform: uppercase
}
.pages {
  --display: flex;
  display: var(--display);
  list-style-type: none;
  margin-left: auto;
  margin-top: 0;
  padding-left: 0
}
.pages li {
  --display: block;
  display: inline-block;
  display: var(--display);
  margin-right: .5rem;
  margin-right: var(--space-tiny)
}
.pages li:last-child {
  margin-right: 0
}
.pages li:last-child a {
  text-decoration: none
}
.tagline {
  font-size: 1rem;
  font-size: var(--font-size-default);
  font-weight: 400;
  margin-top: 8.5rem;
  margin-top: var(--space-gargantuan);
  text-align: justify
}
.content {
  margin-bottom: var(--space-gargantuan);
  margin-top: var(--space-gargantuan)
}
.dateline {
  color: var(--color-foreground-low-contrast);
  font-size: .75rem;
  font-size: var(--font-size-small);
  line-height: 1.25;
  line-height: var(--line-height-small)
}
article .dateline {
  margin-top: 8.5rem;
  margin-top: var(--space-gargantuan)
}
.hang {
  --margin-top: calc((var(--line-height-default) - 1) / 2 * var(--font-size-default));
  float: right;
  margin-left: .5rem;
  margin-left: var(--space-tiny);
  margin-top: .25rem;
  margin-top: var(--margin-top);
  max-width: 30%
}
.hang figure {
  margin-top: 0;
}
.hang figure img {
  background-color: #fff;
  padding: var(--space-tiny);
  width: 100%
}
.headline {
  font-size: 1.75rem;
  font-size: var(--font-size-huge);
  margin-top: 8.5rem;
  margin-top: var(--space-gargantuan)
}
article .headline {
  margin-bottom: 8.5rem;
  margin-bottom: var(--space-gargantuan);
  margin-top: 0
}
.posts {
  list-style-type: none;
  padding-left: 0
}
.posts li {
  margin-top: 1.5em;
  margin-top: var(--space-default)
}
.posts li time {
  display: block
}
.posts li img {
  --max-height: calc(var(--line-height-default) * var(--font-size-default) * 8);
  --margin-top: calc((var(--line-height-default) - 1) / 2 * var(--font-size-default));
  margin-top: .25rem;
  margin-top: var(--margin-top);
  max-height: 13.75rem;
  max-height: var(--max-height);
  vertical-align: text-bottom;
  width: auto
}
.subheading {
  font-size: 1.5rem;
  font-size: var(--font-size-large);
  margin-top: 3rem;
  margin-top: var(--space-large)
}
.subheading + p {
  margin-top: .5rem;
  margin-top: var(--space-tiny)
}
.subnavigation > :first-child {
  margin-top: 5rem;
  margin-top: var(--space-huge)
}
.subnavigation p a::before {
  content: "» "
}
.thumbs {
  --align-items: end;
  --display: grid;
  align-items: var(--align-items);
  display: var(--display);
  grid-gap: var(--space-small);
  grid-template-columns: repeat(var(--thumbs-repeat-count),1fr);
  list-style-type: none;
  padding-left: 0
}
.thumbs li {
  --display: list-item;
  --margin: 0;
  --max-width: none;
  display: inline-block;
  display: var(--display);
  margin-bottom: 1rem;
  margin-bottom: var(--margin);
  margin-right: .5rem;
  margin-right: var(--margin);
  max-width: 22%;
  max-width: var(--max-width)
}
.thumbs li img {
  --max-height: none;
  max-height: var(--max-height);
  vertical-align: text-bottom
}
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst,
.hljs-template-tag {
  color: #268bd3
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: #6d71c4
}
.hljs-deletion,
.hljs-number,
.hljs-regexp,
.hljs-selector-id,
.hljs-symbol {
  color: #d23681
}
.hljs-addition,
.hljs-meta-string,
.hljs-selector-class,
.hljs-string {
  color: #29a298
}
.hljs-comment,
.hljs-doctag {
  opacity: .5
}
.footer {
  --display: flex;
  display: var(--display);
  font-size: .75rem;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small)
}
.footer a {
  color: inherit
}
.footlinks {
  --display: flex;
  display: var(--display);
  list-style-type: none;
  margin-right: auto;
  margin-top: 0;
  padding-left: 0
}
.footlinks li {
  --display: block;
  display: inline-block;
  display: var(--display);
  margin-right: .5rem;
  margin-right: var(--space-tiny)
}
.footlinks li:last-child {
  margin-right: 0
}
.byline p {
  --margin-top: 0;
  font-weight: 700;
  margin-top: var(--margin-top)
}
