/* For print media type | MIT License */

:root {
  color-scheme: light;
}

/* Sections */
:is(h1, h2, h3) {
  page-break-after: avoid;
}

/* Grouping Content */
pre {
  page-break-inside: avoid;
  white-space: pre-wrap;
}

blockquote {
  page-break-inside: avoid;
}

/* Text-level Semantics */
a[href]::after {
  content: " (" attr(href) ")";
}

a:is([href^="#"], [href^="javascript:"])::after {
  content: "";
}

/* Embedded Content */
img {
  height: auto;
  max-block-size: 100%;
  max-inline-size: 100%;
  page-break-inside: avoid;
}

/* Tabular Data */
tr {
  page-break-inside: avoid;
}

/* Universal */
:is(*, *::before, *::after) {
  background: white;
  box-shadow: none;
  color: black;
  text-shadow: none;
}
