/* Print | MIT License */

/* Sections */
h1,
h2,
h3 {
  page-break-after: avoid;
}

/* Grouping Content */
pre {
  page-break-inside: avoid;
  white-space: pre-wrap;
}

blockquote {
  page-break-inside: avoid;
}

/* Text-level Semantics */
a[href]::after {
  content: " (" attr(href) ")";
}

a[href^="#"]::after,
a[href^="javascript:"]::after {
  content: "";
}

/* Embedded Content */
img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  page-break-inside: avoid;
}

/* Tabular Data */
tr {
  page-break-inside: avoid;
}

/* Universal */
*,
*::before,
*::after {
  background: white;
  box-shadow: none;
  color: black;
  text-shadow: none;
}

/* Logo */
.logo svg {
  max-width: 3em;
}
