/* stylelint-disable declaration-no-important */
@media print {
	/* Reset */
	* {
		border-color: currentcolor !important;
		background-color: hsl(0 0% 100%) !important;
		color: hsl(0 0% 0%) !important;
		opacity: 1 !important;
	}

	/* Hide */
	nav,
	input[type="search"],
	input[type="submit"],
	button,
	.footlinks {
		display: none !important;
	}

	/* Expand */
	body,
	.tagline,
	.content {
		max-width: none;
	}

	/* Optimize */
	@page {
		margin-bottom: 1.618rem;
		margin-top: 1.618rem;
	}

	body {
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	pre {
		padding: 0 0 0 1.618rem;
		padding-left: var(--space-default);
	}

	a {
		overflow-wrap: anywhere;
		text-decoration: none;
		word-break: break-all;
	}

	a::after {
		content: "（" attr(href) "）";
	}

	a[href^="#"]::after {
		content: "";
	}

	table {
		display: table;
		break-inside: avoid-page;
	}

	th,
	td {
		white-space: normal;
	}

	.tagline {
		font-size: 1.272rem;
		margin-top: 0;
	}

	.tagline[title]::after {
		content: "\0a\0a—" attr(title);
		font-size: 1rem;
		white-space: pre-line;
	}

	.hero img {
		max-width: 100%;
	}
}
/* stylelint-enable declaration-no-important */
