:root {
  /* Ratio */
  --ratio: 1.272;
  --ratio-2: calc(var(--ratio) * var(--ratio));
  --ratio-3: calc(var(--ratio-2) * var(--ratio));
  --ratio-5: calc(var(--ratio-2) * var(--ratio-3));

  /* Border Width */
  --border-width-default: calc(1 / var(--ratio) / var(--ratio-5) / var(--ratio-5) * 1rem);
  --border-width-large: calc(var(--border-width-default) * var(--ratio-5));

  /* Font Size */
  --font-size-default: 1rem;
  --font-size-small: calc(var(--font-size-default) / var(--ratio));
  --font-size-large: calc(var(--font-size-default) * var(--ratio));
  --font-size-huge: calc(var(--font-size-large) * var(--ratio));

  /* Line Height */
  --line-height-default: var(--ratio-2);
  --line-height-small: calc(var(--line-height-default) / var(--ratio));

  /* Space */
  --space-default: calc(var(--ratio-2) * 1rem);
  --space-small: calc(var(--space-default) / var(--ratio-2));
  --space-large: calc(var(--space-default) * var(--ratio-3));
  --space-tiny: calc(var(--space-small) / var(--ratio-2));
  --space-huge: calc(var(--space-large) * var(--ratio) * var(--ratio-3));

  /* Width */
  --width-gap: var(--space-small);
  --width-main: calc(var(--ratio) * var(--ratio-3) * var(--ratio-5) * var(--ratio-5) * 1rem);
  --width-sub: calc(var(--width-main) / var(--ratio) / var(--ratio-3));
  --width-whole: calc(var(--width-sub) + var(--width-gap) + var(--width-gap) + var(--width-main));
}
