/* Custom property */
:root {
  /* Font: System UI */
  --font-stack-system-ui: system-ui, "Segoe UI", "Yu Gothic UI", sans-serif;

  /* Font: Monospace */
  --font-stack-monospace: "Menlo", "Consolas", monospace;

  /* Color: Foreground */
  --color-fg: hsl(0, 0%, 12%);

  /* Color: Background */
  --color-bg: hsl(0, 0%, 100%);

  /* Color: Variation */
  --color-fg-semilight: hsl(0, 0%, 32%);
  --color-fg-light: hsl(0, 0%, 76%);
  --color-bg-dark: hsl(0, 0%, 88%);

  /* Color: Special */
  --color-fg-a: hsl(216, 100%, 44%);
  --color-fg-a-visited: hsl(288, 88%, 44%);

  /* Ratio: Basic */
  --ratio: 1.7;

  /* Ratio: Text */
  --ratio-text: 1;
  --ratio-text-gargantuan: calc(var(--ratio-text) * var(--ratio));
  --ratio-text-huge: calc(
     (var(--ratio-text) + var(--ratio-text-gargantuan)) / 2
  );
  --ratio-text-large: calc((var(--ratio-text) + var(--ratio-text-huge)) / 2);
  --ratio-text-small: calc(var(--ratio-text-huge) / var(--ratio));

  /* Ratio: Line Height */
  --line-height: var(--ratio);
  --line-height-large: calc(var(--line-height) * 1.25);
  --line-height-small: calc(var(--line-height) * 0.8);

  /* Size: Margin */
  --margin: calc(var(--ratio) * 1rem);
  --margin-small: calc(var(--margin) / var(--ratio) / var(--ratio));
  --margin-large: calc(var(--margin) * var(--ratio));
  --margin-huge: calc(var(--margin-large) * var(--ratio));
  --margin-gargantuan: calc(var(--margin-huge) * var(--ratio));

  /* Size: Border */
  --width-border: calc(
    var(--margin-small) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --width-border-small: calc(var(--width-border) / var(--ratio));

  /* Size: Padding */
  --padding: var(--margin-small);
  --padding-large: calc(var(--padding) * var(--ratio));

  /* Size: Main Component */
  --width-large: 32rem;
  --width-gap: calc(
    var(--width-large) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio) / var(--ratio) / var(--ratio)
  );
  --width-gap-small: calc(var(--width-gap) / var(--ratio));
  --width-large-outer: calc(
    var(--width-gap) + var(--width-large) + var(--width-gap)
  );
  --width-supplement-outer: calc(var(--width-large-outer) / var(--ratio));
  --width-supplement: calc(
    var(--width-supplement-outer) - var(--width-gap) - var(--width-gap)
  );
  --width-huge-outer: calc(
    var(--width-supplement-outer) + var(--width-large-outer)
  );
  --width-huge: calc(
    var(--width-huge-outer) - var(--width-gap) - var(--width-gap)
  );
}

/* Media Query */
@media (min-width: 40em) {
  /* Large screen */
}

@media (min-width: 80em) {
  /* Huge screen */
}
