:root {
  /* Base */
  --base-primary: 1;
  --base-secondary: 1.33;

  /* Palette */
  --palette-black: hsl(45, 20%, 10%);
  --palette-jet: hsl(45, 15%, 15%);
  --palette-charcoal: hsl(45, 10%, 30%);
  --palette-gray: hsl(45, 10%, 70%);
  --palette-pearl: hsl(45, 30%, 90%);
  --palette-white: hsl(45, 50%, 95%);
  --palette-blue: hsl(225, 100%, 40%);
  --palette-sky: hsl(225, 100%, 80%);

  /* Ratio */
  --ratio: 1.7;

  /* Border Width */
  --border-width-default: calc(var(--base-secondary) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) * 1rem);
  --border-width-large: calc(var(--border-width-default) * var(--ratio));

  /* Color */
  --color-foreground: var(--palette-black);
  --color-foreground-low-contrast: var(--palette-charcoal);
  --color-background: var(--palette-white);
  --color-background-low-contrast: var(--palette-pearl);
  --color-primary: var(--palette-gray);
  --color-secondary: var(--palette-blue);

  /* Font Family */
  --font-family-root: sans-serif;
  --font-family-code: "_", monospace;

  /* Font Size */
  --font-size-default: calc(var(--base-primary) * 1rem);
  --font-size-large: calc(var(--base-secondary) * 1rem);
  --font-size-huge: calc(var(--font-size-default) * var(--ratio));
  --font-size-small: calc(var(--font-size-large) / var(--ratio));

  /* Line Height */
  --line-height-default: calc(var(--base-primary) * var(--ratio));
  --line-height-small: var(--base-secondary);

  /* Space */
  --space-default: calc(var(--base-primary) * var(--ratio) * 1rem);
  --space-small: calc(var(--space-default) / var(--ratio));
  --space-large: calc(var(--space-default) * var(--ratio));
  --space-tiny: calc(var(--space-small) / var(--ratio));
  --space-huge: calc(var(--space-large) * var(--ratio));
  --space-gargantuan: calc(var(--space-huge) * var(--ratio));

  /* Width */
  --width-main: calc(var(--base-secondary) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * 1rem);
  --width-sub: calc(var(--width-main) / var(--ratio) / var(--ratio));
  --width-gap: var(--space-small);

  /* Responsive */
  --font-size-root: calc(var(--base-primary) * 100%);
  --space-left-sub: 0;

  /* Calcuratable */
  --height-1-line: calc(var(--line-height-default) * var(--font-size-default));
  --height-8-lines: calc(var(--height-1-line) * 8);
  --space-half-sentence: calc((var(--line-height-default) - 1) / 2 * var(--font-size-default));
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--palette-white);
    --color-foreground-low-contrast: var(--palette-gray);
    --color-background: var(--palette-black);
    --color-background-low-contrast: var(--palette-jet);
    --color-primary: var(--palette-charcoal);
    --color-secondary: var(--palette-sky);
  }
}
