:root {
  /* Base */
  --base-primary: 1;
  --base-secondary: 1.33;

  /* Palette */
  --palette-black: hsl(45, 20%, 10%);
  --palette-jet: hsl(45, 10%, 15%);
  --palette-charcoal: hsl(0, 0%, 30%);
  --palette-gray: hsl(0, 0%, 70%);
  --palette-pearl: hsl(45, 10%, 90%);
  --palette-white: hsl(45, 20%, 95%);
  --palette-blue: hsl(225, 100%, 40%);
  --palette-sky: hsl(225, 100%, 80%);

  /* Ratio */
  --ratio: 1.7;

  /* Color */
  --color-foreground: var(--palette-black);
  --color-foreground-low: var(--palette-charcoal);
  --color-background: var(--palette-white);
  --color-background-low: var(--palette-pearl);
  --color-primary: var(--palette-gray);
  --color-secondary: var(--palette-blue);

  /* Font Family */
  --font-family-sans-serif: sans-serif;
  --font-family-monospace: monospace;

  /* Font Size */
  --font-size-default: calc(var(--base-primary) * 1rem);
  --font-size-large: calc(var(--base-secondary) * 1rem);
  --font-size-small: calc(var(--base-secondary) / var(--ratio) * 1rem);
  --font-size-huge: calc(var(--base-primary) * var(--ratio) * 1rem);
  --font-size-gargantuan: calc(var(--base-secondary) * var(--ratio) * 1rem);

  /* Line Height */
  --line-height-default: calc(var(--base-primary) * var(--ratio));
  --line-height-small: var(--base-secondary);
  --line-height-large: calc(var(--line-height-small) * var(--ratio));

  /* Margin */
  --margin-default: calc(var(--base-primary) * var(--ratio) * 1rem);
  --margin-small: calc(var(--margin-default) / var(--ratio) / var(--ratio));
  --margin-large: calc(var(--margin-default) * var(--ratio));
  --margin-huge: calc(var(--margin-large) * var(--ratio));
  --margin-gargantuan: calc(var(--margin-huge) * var(--ratio));
  --margin-left-main: 0;
  --margin-outermost: var(--margin-default);
  --margin-right-main: 0;

  /* Border Width */
  --border-width-default: calc(var(--base-primary) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) * 1rem);
  --border-width-small: calc(var(--border-width-default) / var(--ratio));
  --border-width-large: calc(var(--border-width-default) * var(--ratio));

  /* Padding */
  --padding-default: var(--width-gap);
  --padding-small: calc(var(--padding-default) / var(--ratio));
  --padding-left-main: var(--padding-default);
  --padding-right-main: var(--padding-default);

  /* Width */
  --width-gap: calc(var(--base-secondary) * 1rem);
  --width-gap-small: calc(var(--width-gap) / var(--ratio));
  --width-gap-large: calc(var(--width-gap) * var(--ratio));
  --width-gutter: calc(var(--width-gap) + var(--width-gap));
  --width-sub-minor: calc(var(--width-gap) * var(--ratio) * var(--ratio) * var(--ratio));
  --width-sub-major: calc(var(--width-sub-minor) * var(--ratio));
  --width-main: calc(var(--width-sub-major) * var(--ratio) * var(--ratio));
  --width-sub-minor-outer: calc(var(--width-gap) + var(--width-sub-minor) + var(--width-gap));
  --width-sub-major-outer: calc(var(--width-gap) + var(--width-sub-major) + var(--width-gap));
  --width-main-outer: calc(var(--width-gap) + var(--width-main) + var(--width-gap));
  --width-whole-outer: calc(var(--width-sub-major-outer) + var(--width-main-outer) + var(--width-sub-minor-outer));
  --width-whole: calc(var(--width-whole-outer) - var(--width-gap) - var(--width-gap));
  --width-main-and-sub-minor: 100%;
  --width-horizontal-list-gutter: var(--width-gap-small);

  /* Height */
  --height-half-leading: calc((var(--line-height-default) - 1) / 2 * 1rem);
}

/*
  Large screen:
    1.33 + 1.33 * 1.7^3 * 1.7 * 1.7^2 + 1.33 = 34.763
    (34.763 * 16 - 320) / 200 + 16 = 17.181
    34.763 * 17.181 * 1.1 = 656.989
*/
@media (min-width: 657px) {
  :root {
    --margin-outermost: var(--margin-large);
    --width-horizontal-list-gutter: var(--width-gap);
  }
}

/*
  Huge screen:
    1.33 + 1.33 * 1.7^3 * 1.7 + 1.33 = 13.768
    1.33 + 1.33 * 1.7^3 * 1.7 * 1.7^2 + 1.33 = 34.763
    1.33 + 1.33 * 1.7^3 + 1.33 = 9.194
    13.768 + 34.763 + 9.194 = 57.725
    (57.725 * 16 - 320) / 200 + 16 = 19.018
    57.725 * 19.018 * 1.1 = 1207.595
*/
@media (min-width: 1208px) {
  :root {
    --margin-left-main: calc(0px - (var(--width-sub-major) + var(--width-gutter)));
    --margin-outermost: var(--margin-huge);
    --margin-right-main: calc(0px - (var(--width-gutter) + var(--width-sub-minor)));
    --padding-left-main: calc(var(--width-sub-major-outer) + var(--width-gap));
    --padding-right-main: calc(var(--width-sub-minor-outer) + var(--width-gap));
    --width-main-and-sub-minor: calc(var(--width-main) + var(--width-gutter) + var(--width-sub-minor));
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--palette-black);
    --color-foreground: var(--palette-white);
    --color-background-low: var(--palette-jet);
    --color-primary: var(--palette-charcoal);
    --color-secondary: var(--palette-sky);
    --color-foreground-low: var(--palette-gray);
  }
}
