// Displace
.displace {
  clear: both;

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gap));
    width: $width-content;
  }
}

.displace figcaption {
  @media (min-width: $breakpoint-full) {
    left: 100%;
    margin-left: $width-gap;
    margin-right: 0;
    right: auto;
  }
}
