// Displace
.displace {
  @media (min-width: $breakpoint-huge) {
    clear: both;
    margin-left: (- ($width-supplement + $width-gap));
    width: $width-large;
  }
}

.displace figcaption {
  @media (min-width: $breakpoint-huge) {
    left: 100%;
    margin-left: $width-gap;
    margin-right: 0;
    right: auto;
  }
}
