// Drop
.drop {
  img {
    min-width: $width-supplement;
  }

  @media (min-width: $breakpoint-full) {
    float: left;
    margin-bottom: $margin-minimal;
    margin-left: (- ($width-supplement + $width-gap));
    margin-right: $width-gap-small;
    max-width: ($width-supplement + $width-gap + $width-content / 2);
  }
}
