// Fat Links
.fat-links {
  @extend %link-underline-removal;

  margin-top: $margin-gargantuan;

  h1 {
    margin-bottom: $margin-minimal;
    margin-top: $margin-large;
    text-decoration: underline;
  }

  p {
    color: $color-dark;
  }

  @media (min-width: $breakpoint-content) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    section {
      width: calc((100% - #{$width-gap} * 2) / 3);
    }

    h1 {
      margin-top: 0;
    }
  }
}
