// Fill
.fill {
  img,
  video,
  canvas {
    width: 100%;
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gap));

    figcaption {
      bottom: auto;
      left: 0;
      margin-top: $margin;
    }
  }
}
