.fill {
  clear: both;

  @media (min-width: 91.226em) {
    margin-left: calc(0px - (var(--width-supplement) + var(--width-gap)));
  }
}

.fill figcaption {
  @media (min-width: 91.226em) {
    bottom: auto;
    left: 0;
    margin-top: var(--margin);
  }
}

.fill img,
.fill video,
.fill canvas {
  width: 100%;
}
