// Fill
.fill {
  $m: (- $width-gap-small);

  margin-left: $m;
  margin-right: $m;

  img,
  video,
  canvas {
    border: 0;
    width: 100%;
  }

  figcaption {
    margin-left: (- $m);
  }

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-gap-small + $width-supplement + $width-gap));

    figcaption {
      bottom: auto;
      left: (- $width-gap-small);
      margin-top: $margin;
      text-align: left;
    }
  }
}
