@media (min-width: 57em) {
  .flat {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }

  .flat li {
    display: block;
    width: calc((100% - var(--width-gap) * 2) / 3);
  }

  .flat li:nth-child(3n + 2):last-child {
    width: calc((100% - var(--width-gap) * 2) / 3 * 2 + var(--width-gap));
  }
}
