// Flat
.flat {
  clear: both;
  padding-left: 0;

  @media (min-width: $breakpoint-content) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.flat li {
  @media (min-width: $breakpoint-content) {
    display: block;
    width: calc((100% - #{$width-gap} * 2) / 3);
  }
}

.flat li:nth-child(3n + 2):last-child {
  @media (min-width: $breakpoint-content) {
    width: calc((100% - #{$width-gap} * 2) / 3 * 2 + #{$width-gap});
  }
}
