// Float
.float {
  float: right;
  margin-bottom: $margin-minimal;
  margin-left: $width-gap-small;

  img {
    display: block;
    max-height: rem($line-height-root * 12);
    max-width: ($width-content / pow($ratio, 2));
    width: auto;
  }
}
