.hang {
  @media (min-width: 91.226em) {
    margin-right: var(--width-gap);
    position: absolute;
    right: 100%;
    width: var(--width-supplement);
    z-index: 1;
  }
}

.hang img {
  @media (min-width: 91.226em) {
    width: 100%;
  }
}

h1.hang {
  @media (min-width: 91.226em) {
    margin-top: 0;
  }
}

section > h1.hang:first-child + * {
  @media (min-width: 91.226em) {
    margin-top: var(--margin-gargantuan);
  }
}

aside.hang {
  color: var(--color-fg-semilight);
  font-size: calc(var(--ratio-text-small) * 1rem);
  line-height: var(--line-height-small);
}
