// Hang
.hang {
  @media (min-width: $breakpoint-full) {
    margin-right: $width-gap;
    margin-top: (($line-height-root - 1) / 2 * 1rem);
    position: absolute;
    right: 100%;
    width: $width-supplement;
    z-index: 1;
  }
}

.hang img {
  @media (min-width: $breakpoint-full) {
    width: 100%;
  }
}

h1.hang {
  @media (min-width: $breakpoint-full) {
    margin-top: (($line-height-root - $line-height-h1) / 2 * 1rem);
  }
}

section > h1.hang:first-child + * {
  @media (min-width: $breakpoint-full) {
    margin-top: $margin-top-content-section-heading;
  }
}

aside.hang {
  $l: $line-height-small;

  clear: both;
  color: $color-fg-light;
  font-size: ($ratio-text-small * 1rem);
  line-height: $l;
  margin-top: (($line-height-root - $l) / 2 * 1rem);
}
