// Hanged
.hanged {
  @media (min-width: $breakpoint-full) {
    margin-right: $width-gap;
    margin-top: 0;
    position: absolute;
    right: 100%;
    top: 0;
    width: $width-supplement;

    + * {
      margin-top: $margin-top-h1;
    }
  }
}
