.hang {
  @media (min-width: $breakpoint-huge) {
    margin-right: $width-gap;
    position: absolute;
    right: 100%;
    width: $width-supplement;
    z-index: 1;
  }
}

.hang img {
  @media (min-width: $breakpoint-huge) {
    width: 100%;
  }
}

h1.hang {
  @media (min-width: $breakpoint-huge) {
    margin-top: 0;
  }
}

section > h1.hang:first-child + * {
  @media (min-width: $breakpoint-huge) {
    margin-top: $margin-gargantuan;
  }
}

aside.hang {
  clear: both;
  color: $color-fg-semilight;
  font-size: ($ratio-text-small * 1rem);
  line-height: $line-height-small;
}
