// Move
.move {
  float: right;
  margin-bottom: 0;
  margin-left: $margin-left-move;
  margin-top: $margin-top-move;
}

.move img {
  display: block;
  height: auto;
  max-height: (($line-height-root * 8 - $margin-top-move / 1rem * 2) * 1rem);
  max-width: ($width-content / 3);
  width: auto;
}
