// Move
.move {
  $m: $width-gap-small;
  $g: (($line-height-root - 1) / 2);

  margin-bottom: 0;
  margin-top: ($g * 1rem);

  img {
    display: block;
    height: auto;
    max-height: (($line-height-root * 8 - $g * 2) * 1rem);
    max-width: ($width-content / 3);
    width: auto;
  }

  &.left {
    float: left;
    margin-right: $m;
  }

  &.right {
    float: right;
    margin-left: $m;
  }
}
