// Move
.move {
  $m: $width-gap-small;

  margin-bottom: $margin-minimal;

  img {
    display: block;
    height: auto;
    max-height: rem($line-height-root * 12);
    max-width: ($width-content / 3);
    width: auto;
  }

  &.left {
    float: left;
    margin-right: $m;
  }

  &.right {
    float: right;
    margin-left: $m;
  }
}
