// Note
.note {
  clear: both;
  color: $color-fg-light;
  font-size: ($ratio-text-small * 1rem);
  line-height: $line-height-small;

  @media (min-width: $breakpoint-full) {
    margin-right: $width-gap;
    position: absolute;
    right: 100%;
    width: $width-supplement;
    z-index: 1;
  }
}
