// Note
.note {
  color: $color-dark-light;
  font-size: rem($ratio-text-small);
  line-height: $line-height-small;

  @media (min-width: $breakpoint-full) {
    &.hang {
      text-align: left;
    }
  }
}
