// Pick
.pick {
  $r: $ratio-text-enormous;
  $h: rem($line-height-h1 * $r / $ratio-text-h1);
  $m: ($h * 2);

  background-color: $color-primary-light;
  margin: $margin-top-h1 0 $margin;
  padding: $padding-small;
  position: relative;
  text-align: center;

  a {
    border: $width-border-small solid;
    color: $color-bg;
    display: block;
    text-decoration: none;
  }

  h1 {
    color: inherit;
    font-size: rem($r);
    margin: $m 10%;
  }

  footer {
    position: absolute;
    top: ($m - rem($line-height-root));
    width: 100%;
  }

  @media (min-width: $breakpoint-full) {
    $m: ($h * 3);

    h1 {
      margin-bottom: $m;
      margin-top: $m;
    }

    footer {
      top: ($m - rem($line-height-root));
    }
  }
}
