// Pick
.pick {
  background-color: $color-accent-light;
  margin-bottom: $margin;
  margin-top: $margin-top-h1;
  padding: $padding-small;
  position: relative;
  text-align: center;

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gap));
  }
}

.pick a {
  border: $width-border-small solid;
  color: $color-bg;
  display: block;
  text-decoration: none;
}

.pick h1 {
  color: inherit;
  font-size: ($ratio-text-pick * 1rem);
  margin: $margin-vertical-pick 10%;

  @media (min-width: $breakpoint-full) {
    margin-bottom: $margin-vertical-pick-full;
    margin-top: $margin-vertical-pick-full;
  }
}

.pick footer {
  position: absolute;
  top: ($margin-vertical-pick - ($line-height-root * 1rem));
  width: 100%;

  @media (min-width: $breakpoint-full) {
    top: ($margin-vertical-pick-full - ($line-height-root * 1rem));
  }
}
