.posts {
  padding-left: 0;
}

.posts li {
  list-style-type: none;
  margin-bottom: $margin;

  @media (min-width: $breakpoint-content) {
    display: flex;
    margin-bottom: $margin-small;
    white-space: nowrap;
  }
}

.posts time {
  color: $color-fg-light;
  display: block;

  @media (min-width: $breakpoint-content) {
    margin-left: $width-gap-small;
    order: 1;
  }
}

.posts a {
  text-decoration: none;

  @media (min-width: $breakpoint-content) {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
