.posts {
  padding-left: 0;
}

.posts li {
  display: flex;
  list-style-type: none;
  margin-bottom: $margin-small;
  white-space: nowrap;
}

.posts time {
  display: block;
  margin-left: $width-gap-small;
  order: 1;
}

.posts a {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
