// Posts
.posts {
  padding-left: 0;
}

.posts li {
  font-size: ($ratio-text-posts * 1rem);
  line-height: $line-height-posts;
  list-style-type: none;
  margin-bottom: $margin;

  @media (min-width: $breakpoint-content) {
    display: flex;
    margin-bottom: $margin-small;
    white-space: nowrap;
  }
}

.posts time {
  color: $color-fg-light;
  font-size: ($ratio-text-posts-info * 1rem);

  @media (min-width: $breakpoint-content) {
    display: block;
    line-height: ($line-height-posts * $ratio-text-posts / $ratio-text-posts-info);
    margin-left: $width-gap-small;
    order: 1;
  }
}

.posts a {
  text-decoration: none;

  @media (min-width: $breakpoint-content) {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
