// Posts
.posts {
  @extend %indistinguishable-link;

  $lh: $line-height-tiny;
  $r: $ratio-text-large;
  $r-info: $ratio-text-small;

  padding-left: 0;

  li {
    font-size: rem($r);
    line-height: $lh;
    list-style-type: none;
    margin-bottom: $margin;
  }

  .info {
    color: $color-fg-light;
    font-size: rem($r-info);
  }

  @media (min-width: $breakpoint-content) {
    li {
      display: flex;
      margin-bottom: $margin-small;
      white-space: nowrap;
    }

    .title {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info {
      line-height: ($lh * $r / $r-info);
      margin-left: $width-gap-small;
      order: 1;
    }
  }
}
