// Read Older
.read-older {
  @extend %positioning-root;
  @extend %link-underline-removal;

  $lh: $line-height-tiny;
  $r: $ratio-text-huge;

  a::before {
    color: $color-dark-light;
    content: "Read older:";
    display: block;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: $margin-tiny;
    margin-top: $margin-huge;
    text-transform: uppercase;
  }

  p {
    font-size: rem($r);
    line-height: $lh;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: $margin-gargantuan;
  }
}
