// Read Older
.read-older {
  @extend %positioning-root;
  @extend %link-underline-removal;

  a::before {
    color: $color-dark-light;
    content: "Read older:";
    display: block;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: $margin-tiny;
    margin-top: $margin-gargantuan;
    text-transform: uppercase;
  }

  p {
    font-size: rem($ratio-text-huge);
    line-height: $line-height-tiny;
  }
}
