// Read Older
.read-older {
  @extend %positioning-root;
  @extend %link-underline-removal;

  $lh: $line-height-tiny;
  $r: $ratio-text-huge;

  a::before {
    $m: $margin-huge;

    color: $color-dark-light;
    content: "Read older:";
    display: block;
    font-family: $font-stack-sans-serif;
    line-height: 1;
    margin-bottom: $margin-tiny;
    margin-top: $m;
    text-transform: uppercase;

    $margin-top-read-older-label: $m !global;
  }

  p {
    font-size: rem($r);
    line-height: $lh;
  }
}
