// Seealso
.seealso {
  color: $color-dark-light;
  font-family: $font-stack-sans-serif;
  text-transform: uppercase;

  a {
    font-family: $font-stack-serif;
    font-size: rem($ratio-text-large);
    text-transform: none;
  }
}
