// Share Buttons
.share-buttons {
  @extend %link-underline-removal;
  @extend %protrusion;

  $icon-color: $color-dark-light;
  $icon-size: rem($ratio-text-large);

  ul {
    line-height: 1;
    padding-left: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    height: $icon-size;
    margin-right: $icon-size;
    overflow: hidden;
    width: $icon-size;

    &:before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }

  .facebook:before {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22384%22%20height%3D%22384%22%20viewBox%3D%220%200%20384%20384%22%3E%3Cpath%20d%3D%22M286.912%207.615c-10.38-2.221-20.215-4.034-29.507-5.439C248.113.771%20238.006.046%20227.082%200c-31.819.136-54.799%207.479-68.94%2022.028C144%2036.578%20137.065%2057.519%20137.337%2084.85v39.705H97.088v64.181h40.249v195.263h78.323V188.736h57.11l5.439-64.181h-62.55V93.552c-.453-8.793.861-15.682%203.943-20.669%203.082-4.986%2010.651-7.524%2022.708-7.615%204.816.023%2010.413.386%2016.793%201.088%206.379.703%2012.385%201.609%2018.017%202.72z%22%20fill%3D%22#{encode-color($icon-color)}%22%2F%3E%3C%2Fsvg%3E")
  }

  .hatena:before {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20384%20384%22%20height%3D%22384%22%20width%3D%22384%22%3E%3Cpath%20d%3D%22M0%2032v320h90.401c36.314%200%2062.506-1.271%2078.519-3.704%2016-2.515%2029.424-6.748%2040.291-12.55%2013.439-7.093%2023.689-17.186%2030.853-30.154%207.206-13.01%2010.779-28.01%2010.779-45.167%200-23.73-6.391-42.803-19.185-57.016-12.754-14.253-30.482-22.261-53.231-24%2020.233-5.517%2034.93-13.583%2044.224-24.362%209.251-10.636%2013.839-25.075%2013.839-43.246%200-14.384-3.146-27.11-9.238-38.103-6.246-10.925-15.226-19.675-27.021-26.221-10.323-5.668-22.587-9.671-36.885-12.032C148.977%2033.157%20123.826%2032%2087.741%2032H0zm308.267%200v213.332h71V32h-71zM81.023%20102.942H99.75c21.645%200%2036.187%202.446%2043.692%207.307%207.406%204.891%2011.181%2013.325%2011.181%2025.348%200%2011.565-4.017%2019.715-11.967%2024.492-8.05%204.689-22.733%207.062-44.222%207.062H81.022v-64.21zm0%20121.397h31.795c21.159%200%2035.785%202.661%2043.564%207.978%207.906%205.319%2011.795%2014.713%2011.795%2028.196%200%2012.067-4.264%2020.731-12.868%2025.934-8.521%205.234-23.204%207.805-43.807%207.805h-30.48V224.34zm262.451%2046.596c-22.397%200-40.54%2018.13-40.54%2040.526%200%2022.396%2018.143%2040.538%2040.54%2040.538%2022.367%200%2040.526-18.143%2040.526-40.538%200-22.396-18.159-40.526-40.526-40.526z%22%20fill%3D%22#{encode-color($icon-color)}%22%2F%3E%3C%2Fsvg%3E")
  }

  .twitter:before {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22384%22%20height%3D%22384%22%20viewBox%3D%220%200%20384%20384%22%3E%3Cpath%20d%3D%22M384%2072.906c-14.127%206.267-29.313%2010.5-45.247%2012.405%2016.262-9.75%2028.756-25.188%2034.639-43.586a157.685%20157.685%200%200%201-50.029%2019.117c-14.369-15.312-34.844-24.877-57.504-24.877-43.507%200-78.783%2035.272-78.783%2078.78%200%206.175.697%2012.188%202.04%2017.954-65.476-3.285-123.527-34.65-162.383-82.314-6.782%2011.635-10.667%2025.169-10.667%2039.608%200%2027.333%2013.908%2051.446%2035.048%2065.574a78.472%2078.472%200%200%201-35.684-9.853c-.007.328-.007.657-.007.991%200%2038.17%2027.157%2070.01%2063.196%2077.25a78.9%2078.9%200%200%201-35.578%201.35c10.025%2031.298%2039.12%2054.077%2073.594%2054.71-26.962%2021.132-60.931%2033.727-97.843%2033.727A160.17%20160.17%200%200%201-.002%20312.64c34.865%2022.352%2076.276%2035.397%20120.766%2035.397%20144.909%200%20224.153-120.046%20224.153-224.154%200-3.416-.079-6.812-.23-10.191C360.083%20102.58%20373.438%2088.706%20384%2072.906%22%20fill%3D%22#{encode-color($icon-color)}%22%2F%3E%3C%2Fsvg%3E");
  }

  @media (min-width: $breakpoint-full) {
    bottom: 0;

    ul {
      margin-bottom: 0;
    }
  }
}
