// Share
.share ul {
  display: flex;
  margin-top: $margin-large;
  padding-left: 0;
}

.share li {
  display: block;
  margin-right: $margin-small;
}

.share svg {
  height: $height-share-icon;
  vertical-align: middle;
  width: auto;
}

.share path {
  fill: $color-fg;
}

.share [href^="https://plus.google.com"] svg {
  height: ($height-share-icon * 1.24);
}

.share [href^="https://www.facebook.com/"] svg {
  height: ($height-share-icon * 0.88);
}
