// Share Buttons
.share-buttons {
  @extend %link-underline-removal;
  @extend %protrusion;

  ul {
    padding-left: 0;
  }

  li {
    display: inline;

    &::before {
      content: " · ";
    }

    &:first-child::before {
      content: "";
    }
  }

  @media (min-width: $breakpoint-full) {
    bottom: 0;

    ul {
      margin-bottom: 0;
    }
  }
}
