// Share
.share {
  @extend %indistinguishable-link;

  $m: $margin-tiny;

  ul {
    display: flex;
    flex-wrap: wrap;
    font-size: rem($ratio-text-small);
    margin-top: $margin-large;
    padding-left: 0;

    &::before {
      content: "共有する:";
      display: block;
      margin-right: $m;
      width: 100%;
    }
  }

  li {
    display: block;
    margin-right: $m;
  }

  .twitter {
    color: rgb(85, 172, 238);
  }

  .facebook {
    color: rgb(59, 89, 153);
  }

  .hatena {
    color: rgb(0, 164, 222);
  }

  @media (min-width: $breakpoint-content) {
    ul::before {
      width: auto;
    }
  }
}
