// Share
.share ul {
  display: flex;
  margin-top: $margin-large;
  padding-left: 0;
}

.share li {
  display: block;
  margin-right: $margin-tiny;
}

.share svg {
  height: $height-share-icon;
  vertical-align: middle;
  width: auto;
}

.share path {
  fill: $color-fg;
}

.facebook svg {
  height: ($height-share-icon * 0.88);
}

.google svg {
  height: ($height-share-icon * 1.24);
}
