// Sidenote
.sidenote {
  @extend %protrusion;

  $r: $ratio-text-small;

  color: $color-dark-light;
  font-size: rem($r);
  line-height: ($line-height-root * 3 / 4 / $r);

  @media (min-width: $breakpoint-full) {
    text-align: left;
  }
}
