// Topic
.topic {
  @extend %indistinguishable-link;

  a {
    color: inherit;
  }

  .more {
    color: $color-fg-a;
  }

  &::after {
    color: $color-dark-light;
    content: "〰〰〰";
    display: block;
    font-size: em($ratio-text-huge);
    margin: $margin-large 0;
    text-align: center;
  }
}
