// Topic
.topic {
  @extend %link-underline-removal;

  > a {
    color: inherit;
  }

  .more {
    color: $color-fg-a;
  }

  &::after {
    color: $color-light-dark;
    content: "* * *";
    display: block;
    font-size: rem($ratio-text-gargantuan);
    margin-bottom: $margin-huge;
    margin-top: $margin-huge;
    text-align: center;
  }
}
