<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta content="light dark" name="color-scheme">
    <meta content="same-origin" name="view-transition">
    <meta content="width=device-width" name="viewport">

    <title>{{title}}</title>

    <link href="./dist/css/index.css" rel="stylesheet">
  </head>

  <body>
    <header class="page-header">
      <p class="date"><time datetime="2024-10-23T12:17:00+09:00">2024年10月23日</time></p>

      <h1><em>{{title}}</em></h1>
    </header>

    {{{body}}}
  </body>
</html>
