<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <main>
      {{#projects}}
        <section>
          <h2><a href="{{link}}">{{title}}</a></h2>

          <p>{{description}}</p>
        </section>
      {{/projects}}
    </main>

    {{> page-footer}}
  </body>
</html>
