<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> page-header}}

		<p>既に更新を放棄した、または時代遅れとなった活動も、まだ<a href="https://github.com/hail2u?tab=repositories&amp;type=archived">GitHubのリポジトリー一覧</a>で公開しています。</p>

		{{#projects}}
			<section>
				<h2><a href="{{link}}">{{title}}</a></h2>

				<p>{{description}}</p>
			</section>
		{{/projects}}

		{{> page-footer}}
	</body>
</html>
