<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    {{#projects}}
      <section>
        <h2><a href="{{link}}">{{title}}</a></h2>

        <p>{{description}}</p>
      </section>
    {{/projects}}

    {{> page-footer}}
  </body>
</html>
