main > article > h1 {
  font-size: var(--font-size-gargantuan);
  margin-left: calc(var(--margin-left-main) - 0.05em);
  margin-top: var(--margin-gargantuan);
}

main > article h2 {
  font-size: var(--font-size-huge);
  margin-left: -0.05em;
  margin-top: var(--margin-huge);
}

main > article h2 + p {
  margin-top: var(--margin-small);
}
