<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">

    <title>{{short_title}} - {{site_title}}</title>

    <style>
      :root {
        background-color: hsl(36, 48%, 98%);
        color: hsl(36, 3%, 24%);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Yu Gothic UI", sans-serif;
        height: 100%;
        line-height: 1;
      }

      body {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin: 0 auto;
        max-width: 36rem;
        padding: 0 1rem;
      }

      a {
        color: hsl(186, 48%, 24%);
      }

      .title {
        font-size: 200%;
        font-weight: 400;
        margin: 0 0 2rem;
      }

      .description {
        line-height: 1.7;
        margin: 0 0 1rem;
      }

      .site-search {
        margin: 0 0 3rem;
        position: relative;
        text-align: left;
      }

      .query {
        background-color: hsl(36, 84%, 98%);
        border: 1px solid hsl(36, 12%, 78%);
        box-sizing: border-box;
        color: inherit;
        font-family: inherit;
        font-size: 100%;
        height: 2rem;
        padding: 0 2rem 0 .25rem;
        width: 74%;
      }

      .button {
        background-color: hsl(186, 48%, 72%);
        border: 0;
        box-sizing: border-box;
        color: hsl(36, 84%, 98%);
        font-family: inherit;
        font-size: 100%;
        height: 2rem;
        padding: 0;
        position: absolute;
        right: 0;
        width: 25%;
      }

      .home {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <header>
      <h1 class="title">{{short_title}}</h1>
    </header>

    <p class="description">あなたがお探しのページは見つかりませんでした。以下のフォームよりこのウェブサイト全体を検索してみてください。</p>

    <form class="site-search" action="https://duckduckgo.com/" role="search">
      <input name="sites" type="hidden" value="hail2u.net">
      <input class="query" name="q" placeholder="例: Blosxom" size="32" type="search">
      <input class="button" type="submit" value="Search">
    </form>

    <footer>
      <p class="home">または<a href="/">ホームページ</a>より最近の記事などから探してみてください。</p>
    </footer>
  </body>
</html>
