<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">

    <title>{{short_title}} - {{site_title}}</title>

    <style>
      :root {
        background-color: hsl(0, 0%, 99%);
        color: hsl(0, 0%, 11%);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Yu Gothic UI", sans-serif;
        height: 100%;
        line-height: 1;
      }

      @media (min-width: 56.739rem) {
        html {
          font-size: 117.5%;
        }
      }

      @media (min-width: 91.226rem) {
        html {
          font-size: 135%;
        }
      }

      @media (min-width: 121rem) and (min-height: 68rem) {
        html {
          font-size: 1.25vw;
        }
      }

      body {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin: 0 auto;
        max-width: 36rem;
        padding: 0 1rem;
      }

      a {
        color: inherit;
        -webkit-text-decoration-color: hsl(0, 0%, 77%);
        -moz-text-decoration-color: hsl(0, 0%, 77%);
        text-decoration-color: hsl(0, 0%, 77%);
        -webkit-text-decoration-skip: ink;
        text-decoration-skip: ink;
      }

      a:visited {
        color: hsl(0, 0%, 33%);
      }

      h1 {
        font-size: 1.7rem;
        font-weight: 400;
        margin: 0 0 1.7rem;
      }

      p {
        line-height: 1.7;
        margin: 0 0 1.7rem;
      }

      form {
        margin: 0 0 1.7rem;
        position: relative;
        text-align: left;
      }

      [name="q"] {
        -webkit-appearance: none;
        background-color: hsl(0, 0%, 88%);
        border: 0;
        border-radius: 0;
        box-sizing: border-box;
        color: inherit;
        font-family: inherit;
        font-size: 100%;
        height: 2rem;
        padding: 0 2rem 0 0.25rem;
        width: 74%;
      }

      [type="submit"] {
        background-color: hsl(0, 0%, 11%);
        border: 0;
        box-sizing: border-box;
        color: hsl(0, 0%, 99%);
        font-family: inherit;
        font-size: 100%;
        height: 2rem;
        padding: 0;
        position: absolute;
        right: 0;
        width: 25%;
      }

      footer p {
        margin-bottom: 0;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>{{short_title}}</h1>
    </header>

    <p>{{description}}</p>

    <form action="https://www.google.com/search" role="search">
      <input name="as_sitesearch" type="hidden" value="{{domain}}">
      <input name="q" placeholder="例: Blosxom" required size="32" type="search" aria-label="キーワード">
      <input type="submit" value="Search">
    </form>

    <footer>
      <p>または<a href="/">ホームページ</a>より最近の記事などから探してみてください。お問い合わせは<a href="mailto:hail2u@gmail.com">メール</a>でお願いします。</p>
    </footer>
  </body>
</html>
