<!DOCTYPE html>
<html lang="ja">
  {{> head}}

  <body>
    {{> global-header}}

    <main class="content" role="main">
      {{#articles}}
        <section id="latest-article" class="topic">
          {{#first}}
            <a href="{{link}}" rel="prerender">
              <h1 class="first-heading">{{title}}</h1>

              <footer class="section-footer">
                <p><time class="date" datetime="{{html5PubDate}}">{{strPubDate}}</time>
                  · <span class="tag">{{category}}</span></p>
              </footer>

              {{#hasImage}}<figure>{{{image}}}</figure>{{/hasImage}}

              <p>{{description}} <span class="more">→</span></p>
            </a>
          {{/first}}
        </section>
      {{/articles}}

      <section class="fat-links">
        <section>
          <a href="./documents/">
            <h1>Documents</h1>

            <p>短文やチュートリアル、翻訳、表、単なるリストなど</p>
          </a>
        </section>

        <section>
          <a href="./blog/">
            <h1>Weblog</h1>

            <p>特にトピックが決まっていない10年以上に渡る記録</p>
          </a>
        </section>

        <section>
          <a href="./about/">
            <h1>About</h1>

            <p>このウェブサイトについて都合の良いことだけ</p>
          </a>
        </section>
      </section>
    </main>

    {{> site-search}}
    {{> global-footer}}
  </body>
</html>
