<!DOCTYPE html>
<html lang="ja" itemscope itemtype="http://schema.org/WebSite">
  <head>
    {{> meta}}

    <title itemprop="name">{{site_title}}</title>

    {{> link}}

    {{> descriptive-metadata}}

    {{> style}}

    {{> script}}
  </head>

  <body>
    {{> global-header}}

    <main class="content" role="main">
      {{#articles}}
        <section id="latest-article" class="topic">
          {{#first}}
            <a href="{{link}}">
              <h1 class="first-heading">{{{title}}}</h1>

              <footer class="section-footer">
                <p>on <time datetime="{{html5PubDate}}">{{strPubDate}}</time>
                  under <span class="tag">{{category}}</span></p>
              </footer>

              {{#hasImage}}<figure>{{{image}}}</figure>{{/hasImage}}

              <p>{{{description}}}</p>
            </a>
          {{/first}}
        </section>

        {{> google-adsense__ad-main}}

        <section id="recent-articles" class="post-list">
          <ol>
            {{#item}}
              <li><time datetime="{{html5PubDate}}">{{strPubDate}}</time>
                <a href="{{link}}">{{{title}}}</a></li>
            {{/item}}
          </ol>

          <nav class="seemore">
            <p><a href="/blog/">More articles</a></p>
          </nav>
        </section>
      {{/articles}}

      <section id="recent-updates" class="post-list">
        <h1>お知らせ</h1>

        {{#updates}}
          <ol>
            {{#item}}
              <li><time datetime="{{html5PubDate}}">{{strPubDate}}</time>
                <a href="{{link}}">{{{title}}}</a></li>
            {{/item}}
          </ol>
        {{/updates}}
      </section>

      <section id="subscribe-links">
        <h1>購読</h1>

        <ul class="icon-list">
          <li><a href="https://twitter.com/hail2unet"><img alt="Twitter" src="../../images/icon/twitter.min.svg"></a></li>
          <li><a href="https://www.facebook.com/hail2u.net"><img alt="Facebook" src="../../images/icon/facebook.min.svg"></a></li>
          <li><a href="http://u2liah.tumblr.com/"><img alt="Tumblr" src="../../images/icon/tumblr.min.svg"></a></li>
          <li><a href="/feed" rel="alternate" type="application/rss+xml"><img alt="Feed" src="../../images/icon/feed.min.svg"></a></li>
        </ul>

        <p>このウェブサイトの更新情報は、以上のソーシャル・ネットワークやRSSフィードで購読することが出来ます。お好きな方法でぜひ購読してみてください。</p>
      </section>
    </main>

    {{> site-search}}

    {{> global-footer}}
  </body>
</html>
