<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> global-header}}

    <main class="content" role="main">
      {{#articles}}
        <section id="latest-article" class="topic">
          {{#first}}
            <a href="{{link}}" rel="prerender">
              <footer class="section-footer at-home">
                <p><time class="date" datetime="{{html5PubDate}}">{{strPubDate}}</time>
                  · <span class="tag">{{category}}</span></p>
              </footer>

              <h1 class="first-heading at-home">{{title}}</h1>

              {{#hasImage}}<figure>{{{image}}}</figure>{{/hasImage}}

              <p>{{description}} <span class="more">→</span></p>
            </a>
          {{/first}}
        </section>

        <section id="recent-articles">
          <h1 class="hanged">最近の記事</h1>

          <ol class="posts">
            {{#item}}
              <li>
                <div class="info"><time class="date" datetime="{{html5PubDate}}">{{strPubDate}}</time>
                  · <span class="tag"><a href="./blog/{{cat}}/">{{category}}</a></span></div>
                <a href="{{link}}">{{{title}}}</a>
              </li>
            {{/item}}
          </ol>

          <nav>
            <p><a href="./blog/">→ 過去ログの閲覧</a></p>
          </nav>
        </section>
      {{/articles}}
    </main>

    {{> site-search}}
    {{> global-footer}}
  </body>
</html>
