{{> header}}

<main>
  <section>
    <h2>最新36枚</h2>

    <ul>
      {{#photos}}
        <li><a href="{{url}}"><img alt="{{filename}}" src="{{url}}"></a></li>
      {{/photos}}
    </ul>

    <template class="js-append-others-button">
      <p><button>残り{{numOtherPhotos}}枚の写真を表示</button></p>
    </template>
  </section>

  <nav class="js-append-others-nav">
    <p><a href="{{canonical}}log.html">すべての写真を表示</a></p>
  </nav>

  <template class="js-append-others-others">
    {{#otherPhotos}}
      {{#isFirstInMonth}}
        <section id="on-{{strYear}}-{{strMonth}}">
          <h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

          <ul>
      {{/isFirstInMonth}}

      <li><a href="{{url}}"><img alt="{{filename}}" src="{{url}}"></a></li>

      {{#isLastInMonth}}
          </ul>
        </section>
      {{/isLastInMonth}}
    {{/otherPhotos}}
  </template>

  <script async defer src="/js/append-others.js"></script>
</main>

{{> footer}}
