<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <h1>最新60枚</h1>

        <ul>
          {{#photos}}
            <li><a href="{{url}}"><img alt="{{filename}}" src="{{url}}"></a></li>
          {{/photos}}
        </ul>

        <p><button>すべての写真を表示</button></p>

        <script async defer src="/js/append-others.js"></script>
      </section>

      <template>
        {{#otherPhotos}}
          {{#isFirstInMonth}}
            <section id="on-{{strYear}}-{{strMonth}}">
              <h1><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h1>

              <ul>
          {{/isFirstInMonth}}

          <li><a href="{{url}}"><img alt="{{filename}}" src="{{url}}"></a></li>

          {{#isLastInMonth}}
              </ul>
            </section>
          {{/isLastInMonth}}
        {{/otherPhotos}}
      </template>
    </main>

    {{> footer}}
  </body>
</html>
