<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <ol>
          {{#photos}}
            <li><a href="{{url}}"><img alt="{{filename}}" src="{{url}}"></a></li>
          {{/photos}}
        </ol>
      </section>

      <nav>
        <p><a href="{{canonical}}log.html">{{shortTitle}}の全記録</a></p>
      </nav>
    </main>

    {{> footer}}
  </body>
</html>
