<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <h1>全写真</h1>

        <ul>
          {{#photos}}
            <li><a href="{{url}}"><img alt="{{filename}}" src="{{url}}"></a></li>
          {{/photos}}
        </ul>
      </section>
    </main>

    {{> footer}}
  </body>
</html>
