{{> header}}

{{#photos}}
	{{#isFirstInMonth}}
		<section id="on-{{strYear}}-{{strMonth}}">
			<h2 class="headline"><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

			<figure class="gallery">
	{{/isFirstInMonth}}

	<a href="{{url}}"><img alt="{{filename}}" height="{{height}}" src="{{url}}" width="{{width}}"></a>

	{{#isLastInMonth}}
			</figure>
		</section>
	{{/isLastInMonth}}
{{/photos}}

{{> footer}}
