{{> header}}

{{#photos}}
  {{#isFirstInMonth}}
    <section id="on-{{strYear}}-{{strMonth}}">
      <h2 class="headline"><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

      <ol class="thumbs">
  {{/isFirstInMonth}}

  <li><a href="{{url}}"><img alt="{{filename}}" height="{{height}}" src="{{url}}" width="{{width}}"></a></li>

  {{#isLastInMonth}}
      </ol>
    </section>
  {{/isLastInMonth}}
{{/photos}}

{{> footer}}
