<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> page-header}}

		<ol class="showcase">
			{{#latestBooks}}
				<li>{{{body}}}</li>
			{{/latestBooks}}
		</ol>

		<nav>
			<h2>年別</h2>

			<p>{{#books}}{{#isFirstInYear}}<a href="#{{strYear}}">{{year}}&#x2060;年</a>&#x2003;{{/isFirstInYear}}{{/books}}</p>
		</nav>

		{{#books}}
			{{#isFirstInMonth}}
				<section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
					<h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

					<ul>
			{{/isFirstInMonth}}

			<li><a href="{{link}}">{{title}}</a></li>

			{{#isLastInMonth}}
					</ul>
				</section>
			{{/isLastInMonth}}
		{{/books}}

		{{> page-footer}}
	</body>
</html>
