<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> site-menu}}
		{{> page-header}}

		<p>ページ内検索を使って、標題や著者名で検索できます。ただし、翻訳者名や一部の著者名は省略されている可能性があります。</p>

		{{#books}}
			{{#isFirstInMonth}}
				<section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
					<h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

					<ul>
			{{/isFirstInMonth}}

			<li><a href="{{link}}">{{title}}</a></li>

			{{#isLastInMonth}}
					</ul>
				</section>
			{{/isLastInMonth}}
		{{/books}}

		{{> page-footer}}
	</body>
</html>
