<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <main>
      <nav>
        <h2>年別</h2>

        <ol class="archives">
          {{#books}}{{#isFirstInYear}}<li><a href="#{{strYear}}">{{year}}年</a></li>{{/isFirstInYear}}{{/books}}
        </ol>
      </nav>

      {{#books}}
        {{#isFirstInMonth}}
          <section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
            <h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

            <ul>
        {{/isFirstInMonth}}

        <li><a href="{{link}}">{{title}}</a> <span role="img" aria-label="著">·</span> {{description}}</li>

        {{#isLastInMonth}}
            </ul>
          </section>
        {{/isLastInMonth}}
      {{/books}}
    </main>

    {{> page-footer}}
  </body>
</html>
