<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> page-header}}

		<h1>{{title}}</h1>

		{{#books}}
			{{#isFirstInMonth}}
				<section>
					<h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

					<ol class="posts">
			{{/isFirstInMonth}}

			<li><a href="{{link}}">{{title}}</a></li>

			{{#isLastInMonth}}
					</ol>
				</section>
			{{/isLastInMonth}}
		{{/books}}

		{{> page-footer}}
	</body>
</html>
