{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "root": true,
  "rules": {
    "array-bracket-spacing": "error",
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "block-spacing": "error",
    "brace-style": "error",
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": "error",
    "curly": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "indent": ["error", 2],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": "error",
    "new-cap": "error",
    "newline-after-var": "error",
    "newline-before-return": "error",
    "no-else-return": "error",
    "no-multiple-empty-lines": "error",
    "no-plusplus": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-undef-init": "error",
    "no-underscore-dangle": "error",
    "no-use-before-define": "error",
    "object-curly-spacing": "error",
    "one-var": ["error", "never"],
    "quotes": ["error", "double", "avoid-escape"],
    "radix": "error",
    "semi": "error",
    "semi-spacing": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "space-infix-ops": "error",
    "strict": "error",
    "vars-on-top": "error"
  }
}
