{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "no-console": [
      "error",
      {
        "allow": ["error", "trace", "warn"]
      }
    ],
    "no-template-curly-in-string": "error",
    "array-callback-return": "error",
    "curly": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "no-else-return": "error",
    "no-extend-native": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": "error",
    "no-multi-str": "error",
    "no-param-reassign": [
      "error",
      {
        "props": true
      }
    ],
    "no-return-await": "error",
    "no-throw-literal": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "prefer-promise-reject-errors": "error",
    "radix": "error",
    "require-await": "error",
    "no-shadow": "error",
    "no-use-before-define": "error",
    "callback-return": "error",
    "global-require": "error",
    "no-path-concat": "error",
    "arrow-body-style": "error",
    "arrow-parens": ["error", "as-needed"],
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error"
  }
}
