[submodule "documents"]
	path = documents
	url = https://github.com/hail2u/hail2u.net-documents.git
	branch = master
[submodule "src/css"]
	path = src/css
	url = https://github.com/hail2u/hail2u.net-styles.git
	branch = master
[submodule "src/weblog"]
	path = src/weblog
	url = https://github.com/hail2u/hail2u.net-weblog.git
	branch = master
