[submodule "documents"]
	path = documents
	url = https://github.com/hail2u/hail2u.net-documents.git
	branch = master
[submodule ".grunt/css"]
	path = .grunt/css
	url = https://github.com/hail2u/hail2u.net-styles.git
	branch = master
[submodule ".grunt/weblog"]
	path = .grunt/weblog
	url = https://github.com/hail2u/hail2u.net-weblog.git
	branch = master
