<head>
  <meta charset="{{encoding}}">

  <title>{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{title}}{{/isHome}}</title>

  <link title="ウェブサイト全体のRSS" href="{{feed}}" rel="alternate" type="application/rss+xml">
  {{#isStatuses}}<link title="近ごろの様子だけのRSS" href="/statuses{{feed}}" rel="alternate" type="application/rss+xml">{{/isStatuses}}
  {{#isBlog}}<link title="雑多な記録だけのRSS" href="/blog{{feed}}" rel="alternate" type="application/rss+xml">{{/isBlog}}
  {{#isLinks}}<link title="気になったウェブページだけのRSS" href="/links{{feed}}" rel="alternate" type="application/rss+xml">{{/isLinks}}
  {{#isBookshelf}}<link title="読み終えた書籍だけのRSS" href="/bookshelf{{feed}}" rel="alternate" type="application/rss+xml">{{/isBookshelf}}
  <link href="{{touchIcon}}" rel="apple-touch-icon">
  <link href="mailto:{{email}}" rel="author me">
  <link href="{{scheme}}://{{domain}}{{canonical}}" rel="canonical">
  <meta content="light dark" name="color-scheme">
  <meta content="{{description}}" name="description">
  <link href="/" rel="home">
  <link href="{{favicon}}" rel="icon" type="image/svg+xml">
  {{#isBlog}}<link href="/blog/" rel="index">{{/isBlog}}
  <link href="{{licenseURL}}" rel="license">
  <link href="https://github.com/{{github}}" rel="me">
  <link href="https://x.com/{{twitter}}" rel="me">
  <link href="https://duckduckgo.com/?q=site%3A{{domain}}" rel="search">
  <meta content="width=device-width" name="viewport">

  <link href="/css/print.css?v={{version}}" media="only print" rel="stylesheet">
  <link href="/css/index.css?v={{version}}" media="only screen" rel="stylesheet">
</head>
