<head>
  <meta charset="{{encoding}}">
  <meta content="light dark" name="color-scheme">
  <meta content="width=device-width" name="viewport">

  <title>{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{title}}{{/isHome}}</title>

  <link title="ウェブサイト全体のRSS" href="{{feed}}" rel="alternate" type="application/rss+xml">
  {{#isBlog}}<link title="記事だけのRSS" href="/blog{{feed}}" rel="alternate" type="application/rss+xml">{{/isBlog}}
  {{#isBookshelf}}<link title="本だけのRSS" href="/bookshelf{{feed}}" rel="alternate" type="application/rss+xml">{{/isBookshelf}}
  {{#isLinks}}<link title="リンクだけのRSS" href="/links{{feed}}" rel="alternate" type="application/rss+xml">{{/isLinks}}
  {{#isStatuses}}<link title="近況だけのRSS" href="/statuses{{feed}}" rel="alternate" type="application/rss+xml">{{/isStatuses}}
  <link href="{{touchIcon}}" rel="apple-touch-icon">
  <link href="mailto:{{email}}" rel="author">
  <link href="{{scheme}}://{{domain}}{{canonical}}" rel="canonical">
  <meta content="{{description}}" name="description">
  <link href="{{favicon}}" rel="icon" type="image/svg+xml">
  <link href="{{licenseURL}}" rel="license">
  <link href="https://m.media-amazon.com/" rel="preconnect">
  <link href="https://duckduckgo.com/?q=site%3A{{domain}}" rel="search">

  <link href="/css/print.css?v={{version}}" media="only print" rel="stylesheet">
  <link href="/css/index.css?v={{version}}" media="only screen" rel="stylesheet">
</head>
