<header>
	{{#isHome}}
		<p><img alt="" height="32" src="/img/icon.svg" width="32"></p>
	{{/isHome}}

	{{#isArticle}}
		<p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>
	{{/isArticle}}

	<h1{{^isArticle}} data-description="{{description}}"{{/isArticle}}>{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{title}}{{/isHome}}</h1>

	{{^isHome}}
		<nav>
			<p class="back-to-home"><a href="/" aria-label="ホームへ戻る"><img alt="" height="16" src="/img/icon.svg" width="16"></a></p>
		</nav>
	{{/isHome}}
</header>
