<header class="page-header">
	{{#isArticle}}
		<p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>
	{{/isArticle}}

	<h1>{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{title}}{{/isHome}}{{^isArticle}}<span class="description">は、{{description}}</span>{{/isArticle}}</h1>
</header>
