</main>

<hr>

<footer id="all-menu" class="page-footer">
  <p><a href="/">ホーム</a>&#x2003;·&#x2003;<a href="https://duckduckgo.com/?q=site%3A{{domain}}">DuckDuckGoで検索</a></p>

  <ul>
    <li><a href="/about/">このウェブサイトについて</a></li>
    <li><a href="/blog/">雑多な記録</a></li>
    <li><a href="/links/">気になったウェブページ</a></li>
    <li><a href="/bookshelf/">読み終えた書籍</a></li>
    <li><a href="/statuses/">近ごろの様子</a></li>
    <li><a href="/projects/">行ってきた活動</a></li>
  </ul>

  <p><a href="mailto:{{email}}">メール</a>&#x2003;<a href="https://twitter.com/{{twitter}}">Twitter</a>&#x2003;·&#x2003;<a href="{{licenseURL}}" title="{{licenseName}}">CC-BY</a>&#x2003;·&#x2003;<a href="{{feed}}" type="application/rss+xml">RSS</a></p>

  <p><a href="#top"><span aria-hidden="true">↑</span> トップに戻る</a></p>
</footer>
