<footer class="page-footer">
	<p>{{siteTitle}}は<em>{{shimei}}</em>が<a href="{{licenseURL}}">{{licenseName}}</a>の下で公開しています。更新情報は<a href="{{feed}}" type="application/rss+xml">RSS</a>{{#isBlog}}{{#isStatuses}}（<a href="/statuses{{feed}}" type="application/rss+xml">近ごろの様子だけのRSS</a>）{{/isStatuses}}（<a href="/blog{{feed}}" type="application/rss+xml">雑多な記録だけのRSS</a>）{{/isBlog}}{{#isLinks}}（<a href="/links{{feed}}" type="application/rss+xml">気になったウェブページだけのRSS</a>）{{/isLinks}}{{#isBookshelf}}（<a href="/bookshelf{{feed}}" type="application/rss+xml">読み終えた書籍だけのRSS</a>）{{/isBookshelf}}や<a href="https://twitter.com/{{twitter}}">Twitter</a>で購読できます。また、このウェブサイトの後援を<a href="https://github.com/sponsors/{{github}}">GitHub Sponsors</a>で募集しています。お問い合わせは<a href="mailto:{{email}}">メール</a>や、<a href="https://twitter.com/{{twitter}}">Twitter</a>、<a href="https://github.com/{{github}}/{{domain}}/issues">GitHubのイシュー</a>で、お気軽にどうぞ。</p>

	<ul>
		<li><a href="/">ホーム</a></li>
		<li><a href="/statuses/">近ごろの様子</a></li>
		<li><a href="/blog/">雑多な記録</a></li>
		<li><a href="/projects/">行ってきた活動</a></li>
		<li><a href="/links/">気になったウェブページ</a></li>
		<li><a href="/bookshelf/">読み終えた書籍</a></li>
	</ul>

	<ul>
		<li><a href="/about/">このウェブサイトについて</a></li>
		<li><a href="https://www.google.com/search?q=site%3A{{domain}}">ウェブサイト内の検索</a></li>
	</ul>
</footer>

<nav class="back-to-top">
	<p><a href="#top">🔝 トップに戻る</a></p>
</nav>
