<header>
	{{#isArticle}}
		<p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>
	{{/isArticle}}

	<h1><b>{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{title}}{{/isHome}}</b>{{^isArticle}}は、{{description}}{{/isArticle}}{{#isHome}}最近は「{{#homeStatuses}}{{title}}{{/homeStatuses}}」などと考えています。{{/isHome}}</h1>

	{{^isHome}}<nav>{{/isHome}}
		<p class="back-to-home">{{^isHome}}<a href="/" aria-label="ホームへ戻る">{{/isHome}}<img alt="" height="16" src="/img/icon.svg" width="16">{{^isHome}}</a>{{/isHome}}</p>
	{{^isHome}}</nav>{{/isHome}}
</header>
