</main>

<hr>

<footer class="page-footer">
  {{#isHome}}<p><em>{{siteTitle}}</em>は、{{description}}</p>{{/isHome}}

  <p><a title="{{licenseName}}" href="{{licenseURL}}">CC-BY</a> · <a href="{{feed}}" type="application/rss+xml">RSS</a></p>

  {{^isHome}}<p><a href="#top"><span aria-hidden="true">↑</span> トップに戻る</a></p>{{/isHome}}
</footer>
