<footer class="page-footer">
  <hr>

  {{^isHome}}{{^isAbout}}
    <p>このウェブサイトは<a href="mailto:{{email}}">ながしまきょう</a>が<a title="{{licenseName}}" href="{{licenseURL}}">CC-BY</a>の下で作成、公開、そして更新しています。更新情報は<a href="{{feed}}" type="application/rss+xml">RSS</a>{{#isBlog}} (<a href="/blog{{feed}}" type="application/rss+xml">記事だけのRSS</a>){{/isBlog}}{{#isBookshelf}} (<a href="/bookshelf{{feed}}" type="application/rss+xml">本だけのRSS</a>){{/isBookshelf}}{{#isLinks}} (<a href="/links{{feed}}" type="application/rss+xml">リンクだけのRSS</a>){{/isLinks}}{{#isStatuses}} (<a href="/statuses{{feed}}" type="application/rss+xml">近況だけのRSS</a>){{/isStatuses}}または<a href="https://x.com/{{twitter}}">X</a>で購読できます。その他、わからないことは<a href="https://hail2u.net/about/">もう少し詳しい情報</a>を参照してください。</p>
  {{/isAbout}}{{/isHome}}

  <p><a href="#top"><span aria-hidden="true">↑ </span>一番上</a></p>
</footer>
