<nav class="site-menu">
  <p>{{^isHome}}<a href="/">{{/isHome}}<img alt="{{^isHome}}ホームへ戻る{{/isHome}}" height="16" src="/img/logo.svg?v={{version}}" width="16">{{^isHome}}</a>{{/isHome}}</p>

  <p><a href="/statuses/">近ごろの様子</a>&#x2003;<a href="/blog/">雑多な記録</a>&#x2003;<a href="/projects/">行ってきた活動</a>&#x2003;<a href="#all-menu" aria-label="すべてのメニューへ飛ぶ">…</a></p>
</nav>
