<nav class="site-menu">
  <p>{{^isHome}}<a href="/">{{/isHome}}<img alt="{{^isHome}}ホームへ戻る{{/isHome}}" height="16" src="/img/logo.svg" width="16">{{^isHome}}</a>{{/isHome}}</p>

  <div>
    <ul>
      <li><a href="/statuses/">近ごろの様子</a></li>
      <li><a href="/blog/">雑多な記録</a></li>
      <li><a href="/projects/">行ってきた活動</a></li>
      <li><a href="/links/">気になったウェブページ</a></li>
      <li><a href="/bookshelf/">読み終えた書籍</a></li>
    </ul>

    <ul>
      <li><a href="/about/">案内</a></li>
      <li><a href="https://www.google.com/search?q=site%3A{{domain}}">検索</a></li>
    </ul>
  </div>
</nav>
