<nav class="site-menu">
  <p>{{^isHome}}<a href="/">{{/isHome}}<svg viewBox="0 0 16 16" role="img" aria-labelledby="logo-title"><title id="logo-title">ホームへ戻る</title><path d="m 2,7 3,7 h 7 L 14,9 13,4 9,2 Z"/></svg>{{^isHome}}</a>{{/isHome}}&#x2003;<a href="/blog/">雑多な記録</a>&#x2003;<a href="/projects/">行ってきた活動</a>&#x2003;<a href="#all-menu"><svg viewBox="0 0 16 16" role="img" aria-labelledby="more-title"><title id="more-title">すべてのメニューへ飛ぶ</title><path d="M 4 7 A 1 1 0 0 0 3 8 A 1 1 0 0 0 4 9 A 1 1 0 0 0 5 8 A 1 1 0 0 0 4 7 z M 8 7 A 1 1 0 0 0 7 8 A 1 1 0 0 0 8 9 A 1 1 0 0 0 9 8 A 1 1 0 0 0 8 7 z M 12 7 A 1 1 0 0 0 11 8 A 1 1 0 0 0 12 9 A 1 1 0 0 0 13 8 A 1 1 0 0 0 12 7 z"/></svg></a></p>
</nav>
