.navigation {
	--display: flex;
	--flex-wrap: wrap;
	--margin-left: calc(0px - var(--space-body-left));

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	margin-left: var(--margin-left);
}

.navigation a {
	color: inherit;
}
