.navigation {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

.navigation a {
	color: inherit;
}
