.pages {
	--display: flex;
	--flex-wrap: wrap;
	--margin-top: 0;

	display: inline-block;
	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	margin-top: 0.5rem;
	margin-top: var(--margin-top);
	padding-left: 0;
}

.pages li {
	display: inline-block;
	margin-right: 1rem;
	margin-right: var(--space-small);
}

.pages li:last-child {
	margin-right: 0;
}
