body > header h1,
body > footer address {
  flex-grow: var(--grow-cancel-on-huge);
  margin-left: var(--margin-main-left);
  margin-right: var(--margin-common-sub-major-right);
  width: var(--width-common-sub-major);
}
