main > section > h1 + ul,
main > section > ol:only-child {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-right: var(--margin-main-right);
  padding-left: 0;
}

main > section > h1 + ul li,
main > section > ol:only-child li {
  list-style-type: none;
  width: var(--width-horizontal-list-item);
}

main > section > h1 + ul li img,
main > section > ol:only-child li img {
  vertical-align: text-bottom;
}
