main > section > h1 + ul,
main > section > ol:only-child {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-right: var(--modifier-main-right);
  padding-left: 0;
}

main > section > h1 + ul li,
main > section > ol:only-child li {
  list-style-type: none;
  margin-top: auto;
  width: calc((100% - (var(--width-horizontal-list-gutter) * (var(--num-thumbs-columns) - 1))) / var(--num-thumbs-columns));
}

main > section > h1 + ul li img,
main > section > ol:only-child li img {
  vertical-align: text-bottom;
}
