/* Navigation */
body > header nav {
  height: calc(var(--ratio-text-small) * var(--line-height-large) * 1rem);
}

@media (min-width: 67em) {
  body > header nav {
    flex-grow: 1;
    width: 100%;
  }
}

body > header nav ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

body > header nav ul li {
  display: block;
  margin-left: var(--padding);
}

@media (min-width: 37em) {
  body > header nav ul li {
    margin-left: var(--padding-large);
  }
}

@media (min-width: 67em) {
  body > header nav ul li {
    margin-left: 0;
    margin-right: var(--padding-large);
  }
}

body > header nav ul li:last-child {
  margin-right: 0;
}

body > header nav mark {
  background-color: transparent;
  border-bottom: var(--width-border-small) solid var(--color-fg-light);
}
