@function encode-color($c) {
  $r: "" + $c;

  @if (str-index($r, "#") == 1) {
    $r: "%23" + str-slice($r, 2);
  }

  @if (str-index($r, "rgba") == 1) {
    $r: "rgba(" + red($c) + "%2C" + green($c) + "%2C" + blue($c) + "%2C" + alpha($c) + ")";
  }

  @return $r;
}
