<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <meta content="今、そして過去に興味を持ったURLをまとめたページです。" name="description">

    <title>Links - Hail2u.net</title>

    <link href="https://feeds.pinboard.in/rss/u:hail2u/" rel="alternate" type="application/rdf+xml">
    <link href="/links/{{#year}}{{.}}/{{/year}}" rel="canonical">
    <link color="#534b47" href="/images/pinicon.svg" rel="mask-icon" type="image/svg">
    <link rel="stylesheet" href="/styles/style.min.css">
    <script async src="/scripts/main.min.js"></script>
  </head>
  <body>
    <header class="global-header" role="banner">
      <h1 class="logo"><a href="/">Hail2u.net</a></h1>

      <nav class="site-navigation">
        <ul>
          <li><a href="/documents/">Documents</a></li>
          <li><a href="/blog/">Weblog</a></li>
          <li><a href="/links/">Links</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </nav>

      <p class="tagline">What I interested in now and then.</p>
    </header>

    <main class="content" role="main">
      <section>
        <h1 class="first-heading">Sources</h1>

        <ul class="flat-list">
          <li><a href="https://github.com/hail2u">GitHub</a></li>
          <li><a href="https://instagram.com/hail2u_">Instagram</a></li>
          <li><a href="https://instapaper.com/p/hail2u">Instapaper</a></li>
          <li><a href="https://pinboard.in/u:hail2u/">Pinboard</a></li>
          <li><a href="https://www.pinterest.com/hail2u/">Pinterest</a></li>
          <li><a href="https://soundcloud.com/hail2u_">SoundCloud</a></li>
          <li><a href="https://vimeo.com/hail2u">Vimeo</a></li>
        </ul>
      </section>

      {{#item}}
        {{#isFirstInYear}}
          <section id="on-{{year}}">
            <h1><time>{{year}}</time></h1>

            <ol class="post-list">
        {{/isFirstInYear}}

        <li>
          <div class="info"><time class="date" datetime="{{time}}">{{date}}</time>
            · <span class="tag">{{category}}</span></div>
          <a href="{{href}}" title="{{description}}&#x0a;{{extended}}">{{description}}</a>
        </li>

        {{#isLastInYear}}
            </ol>
          </section>
        {{/isLastInYear}}
      {{/item}}
    </main>

    <footer class="global-footer" role="contentinfo">
      <ul class="footlinks">
        <li><a href="https://creativecommons.org/licenses/by-nc/4.0/" rel="license">CC BY-NC</a></li>
        <li><a href="https://feeds.pinboard.in/rss/u:hail2u/" rel="alternate" type="application/rss+xml">RSS</a></li>
        <li><a href="https://twitter.com/hail2unet">Twitter</a></li>
      </ul>

      <p class="byline">Made by <a href="https://kyonagashima.com/" rel="author">Kyo Nagashima</a>.</p>
    </footer>
  </body>
</html>
