<!DOCTYPE html>
<html lang="ja">
  <head>
    {{> meta}}

    <title>{{short_title}} - {{site_title}}</title>

    {{> link}}
    {{> script}}
  </head>

  <body>
    {{> global-header}}

    <main class="content" role="main">
      <section>
        <h1 class="first-heading">Sources</h1>

        <ul class="flat-list">
          <li><a href="https://github.com/hail2u">GitHub</a></li>
          <li><a href="https://instagram.com/hail2u_">Instagram</a></li>
          <li><a href="https://instapaper.com/p/hail2u">Instapaper</a></li>
          <li><a href="https://pinboard.in/u:hail2u/">Pinboard</a></li>
          <li><a href="https://www.pinterest.com/hail2u/">Pinterest</a></li>
          <li><a href="https://soundcloud.com/hail2u_">SoundCloud</a></li>
          <li><a href="https://vimeo.com/hail2u">Vimeo</a></li>
        </ul>
      </section>

      {{#links}}
        {{#isFirstInYear}}
          <section id="on-{{year}}">
            <h1><time>{{year}}</time></h1>

            <ol class="post-list">
        {{/isFirstInYear}}

        <li>
          <div class="info"><time class="date" datetime="{{time}}">{{date}}</time>
            · <span class="tag">{{category}}</span></div>
          <a href="{{href}}" title="{{description}}&#x0a;{{extended}}">{{description}}</a>
        </li>

        {{#isLastInYear}}
            </ol>
          </section>
        {{/isLastInYear}}
      {{/links}}
    </main>

    {{> site-search}}
    {{> global-footer}}
  </body>
</html>
