.byline {
  --flex-grow: 1;
  --order: -1;

  flex-grow: var(--flex-grow);
  margin-left: var(--margin-left-main);
  margin-right: var(--width-gutter);
  order: var(--order);
  width: var(--width);
}

.byline p {
  margin-top: 0;
}

@media (min-width: 83em) {
  .byline {
    --flex-grow: 0;
    --width: var(--width-sub-major);
  }
}
