body > footer address {
  flex-grow: 1;
  font-style: normal;
  order: -1;
}

@media (min-width: 1271px) {
  body > footer address {
    flex-grow: 0;
    margin-left: var(--modifier-main-left);
    margin-right: var(--width-gutter);
    width: var(--width-sub-major);
  }
}
