body > footer address {
  --grow: 1;

  flex-grow: var(--grow);
  font-style: normal;
  margin-left: var(--margin-left-main);
  margin-right: var(--width-gutter);
  order: -1;
  width: var(--width);
}

@media (min-width: 1208px) {
  body > footer address {
    --grow: 0;
    --width: var(--width-sub-major);
  }
}
