.footlinks {
  --display: flex;

  display: var(--display);
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.footlinks li {
  --display: block;

  display: inline-block;
  display: var(--display);
  margin-right: 0.618rem;
  margin-right: var(--space-tiny);
}

.footlinks li:last-child {
  margin-right: 0;
}

.footlinks li:last-child a {
  text-decoration: none;
}
