.footlinks {
  --display: flex;

  display: var(--display);
  flex-grow: var(--flex-grow);
  float: right;
  float: var(--revert-float);
  margin-right: var(--margin-right-main);
  margin-top: 0;
  padding-left: 0;
}

@media (min-width: 83em) {
  .footlinks {
    --flex-grow: 1;
  }
}

.footlinks li {
  --display: block;

  display: inline;
  display: var(--display);
  margin-left: 0.5rem;
  margin-left: var(--width-horizontal-list-gutter);
}

.footlinks li:first-child {
  --margin-left: 0;

  flex-grow: var(--flex-grow);
  margin-left: var(--margin-left);
}
