.footlinks {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}

.footlinks li {
	--display: block;

	display: inline-block;
	display: var(--display);
	margin-right: 0.618rem;
	margin-right: var(--space-tiny);
}

.footlinks li:last-child {
	margin-left: auto;
	margin-right: 0;
}
