body > footer ul {
  display: flex;
  margin-top: 0;
  padding-left: 0;
}

body > footer ul li {
  display: block;
  margin-left: var(--padding);
}

@media (min-width: 40em) {
  body > footer ul li {
    margin-left: var(--padding-large);
  }
}

@media (min-width: 80em) {
  body > footer ul li {
    margin-left: 0;
    margin-right: var(--padding-large);
  }
}
