body > footer ul {
  display: flex;
  margin-top: 0;
  padding-left: 0;
}

body > footer ul li {
  display: block;
  margin-left: var(--width-gap-small);
}

@media (min-width: 685px) {
  body > footer ul li {
    margin-left: var(--width-gap);
  }
}

@media (min-width: 1271px) {
  body > footer ul {
    flex-grow: 1;
    margin-right: calc(0px - (var(--width-gap) + var(--width-gap) + var(--width-sub-minor)));
  }

  body > footer ul li {
    margin-left: 0;
    margin-right: var(--width-gap);
  }

  body > footer ul li:last-child {
    flex-grow: 1;
    margin-right: 0;
    text-align: right;
  }
}
