{{> header}}

<section>
	<h1>{{title}}</h1>

	<p>以下のウェブサイトたちをRSSリーダーで購読しています。僕は<a href="https://feedly.com/">Feedly</a>を使っています。</p>

	<ul>
		{{#subscriptions}}
			<li><a href="{{url}}">{{title}}</a>（<a href="{{feed}}">RSS</a>）</li>
		{{/subscriptions}}
	</ul>

	<p>対応しているRSSリーダーにインポートできるように、<a href="/mysubscriptions.opml">その名前や、URL、RSSのURLをまとめたOPMLファイル</a>も公開しています。インポート方法については、使っているRSSリーダーのヘルプなどを参照してください。</p>
</section>

{{> footer}}
