<meta content="{{protocol}}{{image}}" itemprop="image">
<link href="{{canonical}}" itemprop="url">
<meta content="{{description}}" itemprop="description">

{{#home}}<meta content="{{site_title}}" property="og:title">{{/home}}
{{^home}}<meta content="{{short_title}} - {{site_title}}" property="og:title">{{/home}}
<meta content="{{type}}" property="og:type">
<meta content="{{protocol}}{{image}}" property="og:image">
<meta content="{{protocol}}//hail2u.net{{canonical}}" property="og:url">
<meta content="{{description}}" property="og:description">
<meta content="ja_JP" property="og:locale">
<meta content="{{site_title}}" property="og:site_name">
{{#article}}<meta content="https://www.facebook.com/hail2u" prefix="article: http://ogp.me/ns/article#" property="article:author">{{/article}}
<meta content="100000022521341" prefix="fb: http://ogp.me/ns/fb#" property="fb:admins">

<meta content="summary_large_image" name="twitter:card">
<meta content="@hail2unet" name="twitter:site">
<meta content="@hail2u_" name="twitter:creator">
