<header class="global-header">
  <h1 class="logo"><a href="https://hail2u.net/"><svg height="272" viewBox="0 0 137 272" width="137" role="img" aria-labelledby="logo-title"><title id="logo-title">{{site_title}}</title><path d="M101 216v-64H37v64H1V56h36v64h64V56h36v160z"/></svg></a></h1>

  <nav class="site-navigation">
    <ul>
      {{#documents}}<li><mark>特集</mark></li>{{/documents}}
      {{^documents}}<li><a href="/documents/">特集</a></li>{{/documents}}
      {{#weblog}}<li><mark>{{#weblog_child}}<a href="/blog/">{{/weblog_child}}ウェブログ{{#weblog_child}}</a>{{/weblog_child}}</mark></li>{{/weblog}}
      {{^weblog}}<li><a href="/blog/">ウェブログ</a></li>{{/weblog}}
      {{#about}}<li><mark>いろいろ</mark></li>{{/about}}
      {{^about}}<li><a href="/about/">いろいろ</a></li>{{/about}}
    </ul>
  </nav>
</header>
