<footer class="global-footer">
  <p class="byline">作った人: <a href="https://kyonagashima.com/" rel="author">ながしまきょう</a></p>

  <p class="footlinks"><a href="{{license_url}}" rel="license">CC BY-NC</a> • <a href="{{feed_url}}" rel="alternate">RSS</a></p>
</footer>
