<aside role="search">
  <!-- Google Custom Search Engine -->
  <form class="searchbox searchboxbygoogle" action="https://www.google.com/cse"{{#home}} itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction"{{/home}}>
    {{#home}}<meta content="https://www.google.com/cse?cx=partner-pub-8712792805045949:3747342316&amp;ie=UTF-8&amp;q={q}&amp;sa=Search" itemprop="target">{{/home}}
    <input type="hidden" name="cx" value="partner-pub-8712792805045949:3747342316">
    <input type="hidden" name="ie" value="UTF-8">
    {{#home}}<input type="search" name="q" size="32" itemprop="query-input">{{/home}}
    {{^home}}<input type="search" name="q" size="32">{{/home}}
    <input type="submit" name="sa" value="Search">
  </form>
</aside>
