<aside class="ads">
  <!-- Hail2u.net (Main) -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8712792805045949"
       data-ad-format="rectangle, horizontal"
       data-ad-slot="1723739447"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</aside>
