<head>
  <meta charset="UTF-8">
  <meta content="width=device-width" name="viewport">
  <meta content="{{description}}" name="description">
  {{#weblog_child}}<meta content="Blosxom v$version" name="generator">{{/weblog_child}}

  <title>{{^home}}{{short_title}} - {{/home}}{{site_title}}</title>

  <link href="{{canonical}}" rel="canonical">
  {{#articles}}{{#isLatest}}<link href="{{link}}" rel="preload">{{/isLatest}}{{/articles}}
  <link href="/styles/main.min.css" rel="stylesheet">

  <script async src="/scripts/main.min.js"></script>

  <meta content="{{card_type}}" name="twitter:card">
  <meta content="{{twitter_username}}" name="twitter:site">
  <meta content="{{scheme}}//{{domain}}{{canonical}}" property="og:url">
  <meta content="{{short_title}}" property="og:title">
  <meta content="{{description}}" property="og:description">
  <meta content="{{site_title}}" property="og:site_name">
  <meta content="{{scheme}}//{{domain}}{{cover}}" property="og:image">
  <meta content="{{type}}" property="og:type">
  <meta content="{{lang}}_{{region}}" property="og:locale">
</head>
