<head>
  {{> meta}}

  {{#home}}<title>{{site_title}}</title>{{/home}}
  {{^home}}<title>{{short_title}} - {{site_title}}</title>{{/home}}

  {{> link}}
  {{> script}}

  {{#links}}
    <style>
      .flat-list a {
        text-decoration: none;
      }

      .flat-list li a:before,
      .post-list li a:before {
        letter-spacing: .5em;
      }

      .dribbble a:before {
        content: "🏀";
      }

      .github a:before {
        content: "★";
      }

      .instagram a:before {
        content: "📷";
      }

      .instapaper a:before {
        content: "📰";
      }

      .other a:before {
        content: "📑";
      }

      .pinboard a:before {
        content: "🔗";
      }

      .pinterest a:before {
        content: "📍";
      }

      .soundcloud a:before {
        content: "📢";
      }

      .vimeo a:before {
        content: "🎥";
      }
    </style>
  {{/links}}
</head>
