<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">

  <title>{{^home}}{{short_title}} - {{/home}}{{site_title}}</title>

  <link as="font" crossorigin="anonymous" href="https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2" rel="preload" type="font/woff2">
  <link as="font" crossorigin="anonymous" href="https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2" rel="preload" type="font/woff2">
  <link as="font" crossorigin="anonymous" href="https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2" rel="preload" type="font/woff2">
  {{#articles}}{{#isLatest}}<link href="{{link}}" rel="prerender">{{/isLatest}}{{/articles}}
  <link href="{{canonical}}" rel="canonical">
  <link href="https://www.google.com/search?q=site:hail2u.net" rel="search">
  <meta content="{{description}}" name="description">
  <meta content="{{card_type}}" name="twitter:card">
  <meta content="{{twitter_username}}" name="twitter:site">
  <meta content="{{scheme}}//{{domain}}{{canonical}}" property="og:url">
  <meta content="{{short_title}}" property="og:title">
  <meta content="{{description}}" property="og:description">
  <meta content="{{site_title}}" property="og:site_name">
  <meta content="{{scheme}}//{{domain}}{{cover}}" property="og:image">
  <meta content="{{type}}" property="og:type">
  <meta content="{{lang}}_{{region}}" property="og:locale">

  <style>{{> css}}</style>

  <script>{{> js-async}}</script>
</head>
