<link href="{{canonical}}" rel="canonical">
<link href="{{feed_url}}" rel="alternate" type="application/rss+xml">
<link href="{{license_url}}" rel="license">

{{#home}}
  {{#articles}}
    {{#first}}<link href="{{link}}" rel="next prerender">{{/first}}
  {{/articles}}
{{/home}}

<link href="/styles/main.min.css" media="screen" rel="stylesheet">
<link href="/styles/print.min.css" media="print" rel="stylesheet">
