<meta charset="UTF-8">
<meta content="width=device-width" name="viewport">
<meta content="{{description}}" name="description">
{{#weblog_child}}<meta content="blosxom v$version" name="generator">{{/weblog_child}}
