<aside class="subcontent">
  <form class="site-search" action="https://duckduckgo.com/" role="search">
    <input name="sites" type="hidden" value="hail2u.net">
    <input class="query" name="q" placeholder="例: Blosxom" required size="32" type="search">
    <input class="button" type="submit" value="Search">
  </form>
</aside>
