<aside class="subcontent">
  <!-- Google Custom Search Engine -->
  <form class="site-search" action="//www.google.com/cse" role="search">
    <input name="cx" type="hidden" value="partner-pub-8712792805045949:3747342316">
    <input name="ie" type="hidden" value="UTF-8">
    <input class="query" name="q" size="32" type="search">
    <input class="button" name="sa" type="submit" value="Search">
  </form>
</aside>
