<meta content="{{card_type}}" name="twitter:card">
<meta content="{{twitter_username}}" name="twitter:site">
<meta content="{{canonical}}" property="og:url">
<meta content="{{short_title}}" property="og:title">
<meta content="{{description}}" property="og:description">
<meta content="{{site_title}}" property="og:site_name">
<meta content="{{scheme}}//{{domain}}{{cover}}" property="og:image">
<meta content="{{type}}" property="og:type">
<meta content="{{lang}}" property="og:locale">
