<meta content="{{canonical}}" property="og:url">
{{#home}}<meta content="{{site_title}}" property="og:title">{{/home}}
{{^home}}<meta content="{{short_title}}" property="og:title">{{/home}}
<meta content="{{description}}" property="og:description">
<meta content="{{site_title}}" property="og:site_name">
<meta content="{{cover}}" property="og:image">
{{#type}}<meta content="{{.}}" property="og:type">{{/type}}
<meta content="{{lang}}" property="og:locale">

<meta content="{{card_type}}" name="twitter:card">
<meta content="{{twitter_username}}" name="twitter:site">
