<footer role="contentinfo">
  <section class="footlinks">
    <ul>
      <li><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a></li>

      {{#weblog}}
        <li><a type="application/rss+xml" href="/feed">Home RSS</a></li>
        <li><a rel="alternate" type="application/rss+xml" href="/blog/feed">Weblog RSS</a></li>
      {{/weblog}}

      {{^weblog}}
        <li><a rel="alternate" type="application/rss+xml" href="/feed">Home RSS</a></li>
        <li><a type="application/rss+xml" href="/blog/feed">Weblog RSS</a></li>
      {{/weblog}}
    </ul>
  </section>

  {{#about}}
    <p class="byline">Made by <mark>Kyo Nagashima</mark>.</p>
  {{/about}}

  {{^about}}
    <p id="author" class="byline" itemprop="author" itemscope itemtype="http://schema.org/Person">Made by <span itemprop="name"><a rel="author" href="/about/" itemprop="url">Kyo Nagashima</a></span>.</p>
  {{/about}}
</footer>
