<header role="banner">
  {{#home}}<h1><mark><img src="{{site_logo}}" alt="{{site_title}}"></mark></h1>{{/home}}
  {{^home}}<h1><a href="/"><img src="{{site_logo}}" alt="{{site_title}}"></a></h1>{{/home}}

  {{#weblog_child}}<?$permalink::is_permalink ne="1"><p class="tagline">{{description}}</p></?>{{/weblog_child}}
  {{^weblog_child}}<p class="tagline">{{description}}</p>{{/weblog_child}}

  <nav>
    <ul>
      {{#weblog}}
        {{#weblog_child}}<li><a href="/blog/"><mark>Weblog</mark></a></li>{{/weblog_child}}
        {{^weblog_child}}<li><mark>Weblog</mark></li>{{/weblog_child}}
      {{/weblog}}

      {{^weblog}}<li><a href="/blog/">Weblog</a></li>{{/weblog}}
      {{#documents}}<li><mark>Documents</mark></li>{{/documents}}
      {{^documents}}<li><a href="/documents/">Documents</a></li>{{/documents}}
      {{#projects}}<li><mark>Projects</mark></li>{{/projects}}
      {{^projects}}<li><a href="/projects/">Projects</a></li>{{/projects}}
      {{#about}}<li><mark>About</mark></li>{{/about}}
      {{^about}}<li><a href="/about/">About</a></li>{{/about}}
    </ul>
  </nav>
</header>
