<footer role="contentinfo">
  <address class="byline">
    {{#about}}<p>Made by <mark>Kyo Nagashima</mark>.</p>{{/about}}
    {{^about}}<p itemprop="author" itemscope itemtype="http://schema.org/Person">Made by <a rel="author" href="/about/" itemprop="url"><span itemprop="name">Kyo Nagashima</span></a>.</p>{{/about}}
  </address>

  <section class="elsewhere">
    <ul>
      <li><a href="https://twitter.com/hail2u_">Twitter</a></li>
      <li><a href="https://github.com/hail2u">GitHub</a></li>
      <li><a href="https://pinboard.in/u:hail2u">Pinboard</a></li>
    </ul>
  </section>

  <section class="footlinks">
    <ul>
      <li><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a></li>

      {{#weblog}}
        <li><a href="/feed">Home RSS</a></li>
        <li><a rel="alternate" href="/blog/feed">Weblog RSS</a></li>
      {{/weblog}}

      {{^weblog}}
        <li><a rel="alternate" href="/feed">Home RSS</a></li>
        <li><a href="/blog/feed">Weblog RSS</a></li>
      {{/weblog}}
    </ul>
  </section>
</footer>
