{{> header}}

<main>
  <article>
    <footer>
      <p><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00" itemprop="datePublished">{{year}}年{{month}}月{{date}}日</time></p>
    </footer>

    <h1>{{title}}</h1>

    <div itemprop="articleBody">{{{body}}}</div>
  </article>
</main>

{{> footer}}
