<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> page-header}}

		<main>
			<article>
				<header>
					<p class="post-date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>

					<h1>{{title}}</h1>
				</header>

				{{{body}}}
			</article>
		</main>

		{{> page-footer}}
	</body>
</html>
