{{> header}}

<article>
  <h1 class="headline">{{title}}</h1>

  <footer class="dateline">
    <p><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00" itemprop="datePublished">{{year}}年{{month}}月{{date}}日</time></p>
  </footer>

  <div itemprop="articleBody">{{{body}}}</div>
</article>

{{> footer}}
