<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xml:lang="{{lang}}"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:creativeCommons="http://backend.userland.com/creativeCommonsRssModule">
  <channel>
    <description>{{description}}</description>
    <language>{{lang}}</language>
    <lastBuildDate>{{lastBuildDate}}</lastBuildDate>
    <link>{{scheme}}//{{domain}}/blog/</link>
    <managingEditor>{{email}} ({{fullname}})</managingEditor>
    <title>{{short_title}} - {{site_title}}</title>
    <atom:link href="{{scheme}}//{{domain}}/blog{{feed_url}}" rel="self"/>
    <atom:link href="https://pubsubhubbub.appspot.com/" rel="hub"/>
    <creativeCommons:license>{{license_url}}</creativeCommons:license>

    {{#items}}
      <item>
        <description><![CDATA[{{{description}}}]]></description>
        <guid isPermaLink="true">{{scheme}}//{{domain}}{{link}}</guid>
        <link>{{scheme}}//{{domain}}{{link}}</link>
        <pubDate>{{rfc822PubDate}}</pubDate>
        <title><![CDATA[{{{title}}}]]></title>
        <content:encoded><![CDATA[{{{body}}}]]></content:encoded>
      </item>
    {{/items}}

  </channel>
</rss>
