<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> page-header}}

		<main>
			<section>
				<h1>{{title}}</h1>

				<p>このページにすべての過去記事が並んでいるので、ページ内検索でタイトルを検索できます。記事の内容を含めて検索したい場合は、<a href="https://www.google.com/search?q=site%3A{{domain}}">Google</a>や<a href="https://duckduckgo.com/?q=site%3A{{domain}}">DuckDuckGo</a>で検索してください。</p>

				<nav>
					<ul class="pages">
						{{#articles}}{{#isFirstInYear}}<li><a href="#on-{{strYear}}">{{year}}年</a></li>{{/isFirstInYear}}{{/articles}}
					</ul>
				</nav>

				{{#articles}}
					{{#isFirstInMonth}}<section{{#isFirstInYear}} id="on-{{strYear}}"{{/isFirstInYear}}>
						<h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

						<ol class="posts">{{/isFirstInMonth}}
							<li>
								<time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{month}}月{{date}}日</time>
								<a href="{{link}}">{{title}}</a>
							</li>
						{{#isLastInMonth}}</ol>
					</section>{{/isLastInMonth}}
				{{/articles}}
			</section>
		</main>

		{{> page-footer}}
	</body>
</html>
