{{> header}}

<p>このページにすべての過去記事が並んでいるので、ページ内検索でタイトルからは検索できます。記事の内容を含めて検索したい場合は、<span class="js-site-search-fallback" data-normal="以下のフォーム"><a href="https://duckduckgo.com/?q=site%3A{{domain}}">DuckDuckGo</a>や<a href="https://www.google.com/search?q=site%3A{{domain}}">Google</a></span>を利用してください。<span class="js-random-link-fallback">いろいろな記事が見つかります。</span><template class="js-random-link"><a>ランダムな記事</a>もおすすめです。</template></p>

<template class="js-site-search">
	<form class="searchbox js-site-search-form" action="https://duckduckgo.com/" method="GET">
		<input name="q" type="search" aria-labelledby="site-search-button">
		<button id="site-search-button" type="submit">検索</button>
	</form>
</template>

<script async defer src="/js/site-search.{{version}}.js"></script>

{{#articles}}
	{{#isFirstInMonth}}
		<section id="on-{{strYear}}-{{strMonth}}">
			<h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

			<ol class="posts">
	{{/isFirstInMonth}}

	<li>
		<time class="metaline" datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{month}}月{{date}}日</time>
		<a class="js-random-link-link" href="{{link}}">{{title}}</a>
	</li>

	{{#isLastInMonth}}
			</ol>
		</section>
	{{/isLastInMonth}}
{{/articles}}

<script async defer src="../js/random-link.{{version}}.js"></script>

{{> footer}}
