<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      {{#articles}}
        <section>
          <footer>
            <p><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{strYear}}/{{strMonth}}/{{strDate}}</time></p>
          </footer>

          <h1><a href="{{link}}">{{title}}</a></h1>

          <p>{{description}}</p>
        </section>
      {{/articles}}

      <nav>
        <p><a href="{{canonical}}log.html">{{shortTitle}}の全記録</a></p>
      </nav>
    </main>

    {{> footer}}
  </body>
</html>
