<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">

    <title>プレビュー - Hail2u</title>

    <link href="../dist/css/baseline.css" rel="stylesheet">
    <link href="../dist/css/main.css" rel="stylesheet">

    <style>
      .content {
        margin-bottom: var(--margin-gargantuan);
      }
    </style>
  </head>

  <body>
    <main class="content">
      <article>
        <h1 class="headline">{{title}}</h1>

        <div itemprop="articleBody">{{{body}}}</div>
      </article>
    </main>
  </body>
</html>
