<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width" name="viewport">

		<title>プレビュー - Hail2u</title>

		<link href="../dist/css/main.css" rel="stylesheet">
	</head>

	<body>
		<main class="content">
			<header class="header">
				<p class="metaline"><time datetime="2020-04-21T21:20:37+09:00">2020年4月21日</time></p>

				<h1 class="tagline">{{title}}</h1>
			</header>

			<div itemprop="articleBody">
				{{{body}}}
			</div>
		</main>
	</body>
</html>
