<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width" name="viewport">

		<title>プレビュー - Hail2u</title>

		<link href="../dist/css/main.css" rel="stylesheet">
	</head>

	<body>
		<main class="content">
			<article>
				<header>
					<p class="metaline"><time>1234年5月6日</time></p>

					<h1 class="headline">{{title}}</h1>
				</header>

				<div itemprop="articleBody">{{{body}}}</div>
			</article>
		</main>
	</body>
</html>
