body > header h1,
body > footer address {
  flex-grow: var(--no-grow-on-large);
  margin-left: var(--modifier-main-left);
  margin-right: var(--margin-common-sub-major-right);
  width: var(--width-common-sub-major);
}
