body > header nav > a {
  display: block;
  height: calc(1rem * var(--line-height-large));
  margin-left: var(--margin-left-main);
}

body > header nav > a svg {
  height: 100%;
  vertical-align: text-bottom;
  width: auto;
}
