body > header h1 {
  font-size: inherit;
  height: var(--height-header-navigation);
  line-height: inherit;
  margin-top: 0;
}

body > header h1 svg {
  color: var(--color-fg);
  height: 100%;
  vertical-align: text-bottom;
  width: auto;
}
