body > header h1 {
  flex-grow: var(--grow-cancel-on-huge);
  height: var(--height-header-navigation);
  margin-left: var(--margin-main-left);
  margin-right: var(--margin-sub-major-right-on-huge);
  width: var(--width-sub-major-on-huge);
}

body > header h1 svg {
  color: var(--color-fg);
  height: 100%;
  vertical-align: text-bottom;
  width: auto;
}
