/* Navigation */
body > header nav {
  flex-grow: var(--grow-on-huge);
  font-size: var(--font-size-small);
  height: var(--height-header-navigation);
  line-height: var(--line-height-large);
  margin-top: var(--margin-header-navigation-top);
  width: var(--width-header-navigation);
}

body > header nav ul {
  display: flex;
  margin-right: var(--margin-main-right);
  margin-top: 0;
  padding-left: 0;
}

body > header nav ul li {
  display: block;
  margin-right: var(--width-horizontal-list-gutter);
}

body > header nav ul li:last-child {
  flex-grow: 1;
  margin-right: 0;
  text-align: right;
}

body > header nav ul li mark {
  background-color: transparent;
  border-bottom: var(--width-border) solid;
}
