.navigation {
  --display: flex;
  --flex-wrap: wrap;
  --font-size: var(--font-size-small);

  display: var(--display);
  flex-wrap: var(--flex-wrap);
  font-size: var(--font-size);
  line-height: var(--line-height-large));
}

@media (min-width: 44em) {
  .navigation {
    --font-size: var(--font-size-default);
  }
}
