/* Navigation */
body > header nav {
  font-size: calc(var(--ratio-text-small) * 1rem);
  height: calc(var(--ratio-text-small) * var(--line-height-large) * 1rem);
  line-height: var(--line-height-large);
  position: relative;
}

@media (min-width: 1280px) {
  body > header nav {
    flex-grow: 1;
  }
}

body > header nav ul {
  display: flex;
  margin-top: 0;
  padding-left: 0;
}

body > header nav ul li {
  display: block;
  margin-left: var(--width-gap-small);
}

body > header nav ul li:last-child a {
  text-decoration: none;
}

@media (min-width: 640px) {
  body > header nav ul li {
    margin-left: var(--width-gap);
  }
}

@media (min-width: 1280px) {
  body > header nav ul {
    margin-right: calc(
      0px - (var(--width-gap) + var(--width-gap) + var(--width-sub-minor))
    );
  }

  body > header nav ul li {
    margin-left: 0;
    margin-right: var(--width-gap);
  }

  body > header nav ul li:last-child {
    flex-grow: 1;
    margin-right: 0;
    text-align: right;
  }
}

body > header nav mark {
  background-color: transparent;
}
