.pages {
  --display: flex;
  --margin-top: var(--margin-small);
  --width: 100%;

  display: var(--display);
  margin-left: var(--margin-auto);
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-top);
  padding-left: 0;
  width: var(--width);
}

@media (min-width: 612px) {
  .pages {
    --margin-top: 0;
    --width: auto;
  }
}

@media (min-width: 1143px) {
  .pages {
    --width: var(--width-main-and-sub-minor);
  }
}

.pages li {
  --display: block;

  display: inline;
  display: var(--display);
  margin-right: 0.25rem;
  margin-right: var(--width-horizontal-list-gutter);
}

.pages li:last-child {
  --margin-right: 0;
  --text-align: right;

  margin-left: var(--margin-auto);
  margin-right: var(--margin-right);
  text-align: var(--text-align);
}

.pages li a {
  --display: block;

  display: var(--display);
}

.pages li mark {
  --box-sizing: border-box;
  --display: block;

  background-color: transparent;
  border-bottom: 2px solid;
  border-bottom-width: var(--border-width-default);
  box-sizing: var(--box-sizing);
  color: inherit;
  display: var(--display);
}
