/* Pages */
body > header nav ul {
  display: flex;
  font-size: var(--font-size-header-pages);
  line-height: var(--line-height-header-pages);
  margin-left: auto;
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-top-header-pages);
  padding-left: 0;
  width: var(--width-header-pages);
}

body > header nav ul li {
  display: block;
  margin-right: var(--width-horizontal-list-gutter);
}

body > header nav ul li:last-child {
  flex-grow: 1;
  margin-right: 0;
  text-align: right;
}

body > header nav ul li mark {
  background-color: transparent;
  border-bottom: var(--width-border) solid;
}
