.pages {
	--display: flex;
	--flex-wrap: wrap;
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2
	);

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	margin-bottom: 0.132rem;
	margin-bottom: var(--margin-bottom);
	margin-right: auto;
	margin-top: 0;
	padding-left: 0;
}

.pages li {
	display: inline-block;
	margin-right: 0.618rem;
	margin-right: var(--space-tiny);
}
