body > header nav form {
  line-height: 1;
  margin-top: var(--margin-small);
  position: absolute;
  right: 0;
  top: 100%;
  width: var(--width-sub-minor);
}

body > header nav input {
  box-sizing: border-box;
  height: calc(var(--ratio-text-small) * var(--line-height-large) * 1rem);
}

body > header nav input[type="search"] {
  -webkit-appearance: none;
  background-color: transparent;
  border-color: var(--color-fg-far);
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 0;
  padding-left: calc(
    (var(--ratio-text-small) * var(--line-height-large) - 1) / 2 * 1rem
  );
  padding-right: calc(
    var(--ratio-text-small) * var(--line-height-large) * 1rem
  );
  padding-top: 0;
  width: var(--width-sub-minor);
}

body > header nav input[type="submit"] {
  background-color: transparent;
  border: 0;
  bottom: 0;
  color: inherit;
  padding: 0;
  position: absolute;
  right: 0;
  width: calc(var(--ratio-text-small) * var(--line-height-large) * 1rem);
}

@media (min-width: 1280px) {
  body > header nav form {
    left: 100%;
    margin-left: calc(var(--width-gap) + var(--width-gap));
    margin-top: 0;
    right: auto;
    top: 0;
  }
}
