.tagline {
	--margin-bottom: 0;

	font-size: 1.25rem;
	font-size: var(--font-size-large);
	line-height: 1.25;
	line-height: var(--line-height-small);
	margin-top: 8.5rem;
	margin-top: var(--space-huge);
	max-width: 36.75rem;
	max-width: var(--width-main);
}

.metaline + .tagline {
	--margin-top: calc(
		var(--space-interline) -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2
	);

	margin-top: 0;
	margin-top: var(--margin-top);
}

.tagline[title]::after {
	content: "—" attr(title);
	font-weight: normal;
}
