.tagline {
  font-size: var(--font-size-large);
  font-weight: normal;
  margin-left: -0.05em;
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-gargantuan);
  width: var(--width-main-and-sub-minor);
}
