body > header p {
  font-size: var(--ratio-text-large);
  margin-bottom: calc(var(--margin-gargantuan) - var(--margin-large));
  margin-top: var(--margin-gargantuan);
}

@media (min-width: 40em) {
  body > header p {
    margin-bottom: calc(var(--margin-gargantuan) - var(--margin-huge));
  }
}

@media (min-width: 80em) {
  body > header p {
    margin-bottom: 0;
  }
}
