/*!
 * document.css
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

/*csslint box-sizing: false, font-sizes: false, ids: false,
  qualified-headings: false, unique-headings: false*/

// Web Fonts
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Source+Code+Pro:400,700";

// Variables
$dark: #333;
$light: #fcfcfc;
$link: #01e;
$stress: #c33;
$font-size: 1em;
$sans-serif: "Source Sans Pro", "Helvetica Neue", "Calibri", sans-serif;
$monospace: "Source Code Pro", "Menlo", "Consolas", monospace;
$width: 45em;


// Imports
@import "../bower_components/hail2u-scss-partials/clearfix";
@import "../bower_components/hail2u-scss-partials/natural";


// Styles
html {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "pnum" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "pnum" 1;
  font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "pnum" 1;
}

body {
  max-width: $width;
}

h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
  padding-top: 1em;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

pre {
  -webkit-font-feature-settings: "kern" 0, "liga" 0, "pnum" 0, "tnum" 1, "zero" 1;
  -moz-font-feature-settings: "kern" 0, "liga" 0, "pnum" 0, "tnum" 1, "zero" 1;
  font-feature-settings: "kern" 0, "liga" 0, "pnum" 0, "tnum" 1, "zero" 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-font-feature-settings: "pnum" 0, "tnum" 1, "zero" 1;
  -moz-font-feature-settings: "pnum" 0, "tnum" 1, "zero" 1;
  font-feature-settings: "pnum" 0, "tnum" 1, "zero" 1;
  table-layout: fixed;
}

th,
td {
  white-space: nowrap;
}

.note {
  padding-left: $font-size;
  border-left: 3px double #f00;
}

.image {
  @include clearfix;

  margin: ($font-size * 2) 0 0 0;
  max-width: 100%;
  line-height: 1;

  > div {
    display: inline-block;
    float: left;
  }

  img[src$=".svg"] {
    width: 100%;
  }
}

.seealso {
  font-size: 1.17em;
  font-weight: bold;

  &::before {
    content: "\2192\0020";
  }

  a {
    font-weight: normal;
  }
}


// Media Queries
$breakpoint: ($font-size * 2 + $width + $font-size * 2 + 10em + $font-size * 2);

@media (min-width: $breakpoint) {
  .adsense {
    position: absolute;
    top: ($font-size * 2);
    right: ($font-size * 2);
  }
}

$breakpoint: (10em + $breakpoint);

@media (min-width: $breakpoint) {
  body {
    padding-left: 10em;
  }

  .banner {
    max-width: none;
    margin-left: -12em;
    margin-right: -2em;
  }
}


// Print
@media print {
  body {
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-family: "Georgia", serif;
  }

  p {
    a[href]::after {
      content: " (" attr(href) ")";
    }
  }

  hr,
  .note {
    border-color: rgb(0, 0, 0);
  }

  pre {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: "Courier New", monospace;
  }

  blockquote {
    font-style: italic;
  }

  a {
    color: rgb(0, 0, 0);
  }

  strong,
  ins {
    border-color: rgb(0, 0, 0);
  }

  code,
  var,
  samp,
  kbd {
    font-family: "Courier New", monospace;
  }

  mark {
    background: none;
  }

  .adsense {
    display: none;
  }
}
