html {
	font-family: sans-serif;
	font-size: 112.5%;
	line-height: 1.5;
}

hr {
	border-bottom-width: 0;
}

pre {
	background-color: whitesmoke;
	font-size: 0.889rem;
	line-height: 1.25;
	overflow-x: auto;
	padding: 1em;
}

blockquote {
	border-left: 4px solid gray;
	margin-left: 0;
	padding-left: 1em;
}

figure {
	margin-left: 0;
}

a {
	color: blue;
}

a:visited {
	color: purple;
}

img {
	background-color: whitesmoke;
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
}

svg:not(:root) {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}

table {
	background-color: whitesmoke;
	border-spacing: 0;
	border-top: 1px solid gray;
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
}

th {
	border-bottom: 4px solid gray;
	padding: 0.5em;
	white-space: pre;
}

td {
	border-bottom: 1px solid gray;
	padding: 0.5em;
	white-space: pre;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: whitesmoke;
	}

	pre,
	figure,
	table {
		background-color: darkslategray;
	}

	a {
		color: lightskyblue;
	}

	a:visited {
		color: violet;
	}
}
