<!DOCTYPE html>
<html lang="ja-JP" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{> meta}}

    <title itemprop="name">{{short_title}} - {{site_title}}</title>

    {{> link}}
    {{> structured-data}}
    {{> style}}
    {{> script}}
  </head>

  <body>
    {{> global-header}}

    <main role="main">
      <section>
        <h1><a href="https://github.com/hail2u/grunt-rsync-ac">rsync-ac (Gruntプラグイン)</a></h1>

        <footer>
          <p>$ rsync -aC --exclude-from=.rsyncignore</p>
        </footer>

        <p>rsync-ac (Gruntプラグイン)は<a href="http://rsync.samba.org/">rsync</a>を使って他のディレクトリへファイルをコピーするGruntプラグインです。オプション設定を絞ることであまり考えずに使えるようにしました。</p>
      </section>

      {{> google-adsense__ad-main}}

      <section>
        <h1><a href="https://github.com/hail2u/grunt-pubsubhubbub_publish">pubsubhubbub_publish (Gruntプラグイン)</a></h1>

        <p>pubsubhubbub_publish (Gruntプラグイン)はGoogleが提供している<a href="https://pubsubhubbub.appspot.com/">PubSubHubbubハブ</a>へ指定したURLのフィードを<code>publish</code>するGruntプラグインです。</p>
      </section>

      <section>
        <h1><a href="http://picks.hail2u.net/">Picks</a></h1>

        <figure>
          <a href="http://picks.hail2u.net/"><img src="/images/projects/picks.png" alt="Picks"></a>

          <figcaption>興味の変遷をURLで辿る</figcaption>
        </figure>

        <p>Picksは僕が興味をもった様々なURLをアイコンをヒントにざっと眺めることの出来るウェブサイトです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/unutm">UnUTM</a></h1>

        <p>UnUTMはウェブページのURLからGoogle Analyticsなどで利用されているUrchin Traffic Monitor (UTM)用のパラメーターを自動的に削除し、URLの分散を解消するJavaScriptライブラリです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/node-csswring">CSSWring</a></h1>

        <p>CSSWringはCSSを圧縮(minification)するNode.jsパッケージです。Node.jsパッケージとして組み込むだけでなく、コマンドラインからも実行できます。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/node-css-mqpacker">CSS MQPacker</a></h1>

        <p>CSS MQPackerはCSSファイル内に散在するメディアクエリを、クエリごとにまとめCSSファイルを最適化するNode.jsパッケージです。これを利用した<a href="https://github.com/hail2u/grunt-css-mqpacker">Gruntプラグイン</a>もあります。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/grunt-long-url">Long URL (Gruntプラグイン)</a></h1>

        <p>Long URL (Gruntプラグイン)はCSSファイルに含まれるURLの長さを調べ、2000文字以上のURLが見つかった場合に警告するGruntプラグインです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/node-pit-ro">Pit RO</a></h1>

        <p>Pit ROは<a href="https://github.com/cho45/pit">Pit</a>のデータファイルをNode.jsで手軽に読み込めるようにするNodeパッケージです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/grunt-selector4096">Selector4096 (Gruntプラグイン)</a></h1>

        <p>Selector4096 (Gruntプラグイン)はCSSファイルに含まれるセレクターの数を調べ、4096個以上あった場合に警告するGruntプラグインです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/google-fonts.html">G.F.</a></h1>

        <figure>
          <a href="http://hail2u.github.io/google-fonts.html"><img src="/images/projects/google-fonts.png" alt="Courgete"></a>

          <figcaption>これが<a href="http://www.google.com/fonts/specimen/Courgette">Courgete</a>だ！</figcaption>
        </figure>

        <p>G.F.は<a href="http://www.google.com/fonts">Google Fonts</a>で提供されているすべてのフォントをランダムな順番できれいなカラースキームを使って眺められるページです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/detect-font-loading">Detect Font Loading</a></h1>

        <p>Detect Font Loadingはフォントの読み込みの完了を検知し、<code>html</code>要素にクラス名を追加するJavaScriptライブラリです。主にChromeやSafari等でWebフォントの読み込みが完了するまでコンテンツが表示されない現象への対策に利用することを想定しています。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/roremu-ipusamu">ロレム・イプサム</a></h1>

        <figure>
          <a href="https://github.com/hail2u/roremu-ipusamu"><img src="/images/projects/roremu-ipusamu.png" alt="日本のideographを求めて"></a>

          <figcaption>CC0な英数字交じりのダミー文書が欲しい。</figcaption>
        </figure>

        <p>ロレム・イプサムはそこそこ意味の通った英数字交じりの日本語の文章をCC0で登録・収集するプロジェクトです。主にウェブ・ページやウェブ・アプリケーション等のモックアップに使うことを想定しています。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/sixty-four.html">Sixty-Four</a></h1>

        <figure>
          <a href="http://hail2u.github.io/sixty-four.html"><img src="/images/projects/sixty-four.png" alt="Sixty-Four"></a>

          <figcaption>CSS濃い目、JavaScript薄め、ウェブ・タイポグラフィーが隠し味。</figcaption>
        </figure>

        <p>Sixty-Fourは新しい記事が出た時に必ず読むことにしている64のウェブログのリストです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/drawic/">Drawic</a></h1>

        <figure>
          <a href="http://hail2u.github.io/drawic/"><img src="/images/projects/drawic.png" alt="SVGなのでどのようなサイズでもディテールを壊さずスムーズに拡大・縮小されている"></a>
          <figcaption>Scalable! Vector!! Graphics!!!</figcaption>
        </figure>

        <p>DrawicはSVGで描かれたアイコンの小さなセットです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/q4tjt.html">Quote for the Japanese Typography</a></h1>

        <figure>
          <a href="http://hail2u.github.io/q4tjt.html"><img src="/images/projects/q4tjt.png" alt="Japanese"></a>
          <figcaption>ニポンゴムズカシネ</figcaption>
        </figure>

        <p>Quote for the Japanese Typographyは日本語タイポグラフィー周りのお話を引用し集めたページです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/normalize.scss">Normalize.scss</a></h1>

        <p>Normalize.scssは<a href="http://necolas.github.com/normalize.css/">Normalize.css</a>を<a href="http://sass-lang.com/">Sass</a>で扱いやすいようにルールごとに切り分けてモジュラー化したSCSSライブラリです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/google-code-prettify-language-handlers">Missing Language Handlers for Google Code Prettify</a></h1>

        <p>Missing Language Handlers for Google Code Prettifyは<a href="http://code.google.com/p/google-code-prettify/">Google Code Prettify</a>が対応していない言語のためのハンドラー・ファイルを提供します。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/scss-column-equation">SCSS Column Equation</a></h1>

        <figure>
          <a href="https://github.com/hail2u/scss-column-equation"><img src="/images/projects/scss-column-eqation.png" alt="| | | |"></a>

          <figcaption>Rapid Prototyping with Sass</figcaption>
        </figure>

        <p>SCSS Column EquationはCSSでカラム・レイアウトを行う時に必要な面倒くさい計算をカラム幅とその隙間を定義するだけで代わりに行ってくれるSCSSライブラリです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/hougan.html">Hougan</a></h1>

        <figure>
          <a href="http://hail2u.github.io/hougan.html"><img src="/images/projects/hougan.png" alt="田"></a>

          <figcaption>Sectional Paper Pattern</figcaption>
        </figure>

        <p>Houganは方眼紙に似た実線と点線の組み合わせのグリッドに薄くノイズを乗せて紙らしくしたPNGのパターン画像です。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/scss-partials">SCSS Partials</a></h1>

        <p>SCSS Partialsはよく使うclearfixや画像置換などのミックスインや有名なCSSライブラリをSassから簡単に扱えるようにSCSSライブラリとしてまとめたものです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/vim-css3-syntax">vim-css3-syntax</a></h1>

        <p>vim-css3-syntaxは<a href="http://www.vim.org">Vim</a>のビルトイン・ランタイムに含まれるCSSのシンタックス・ファイルを拡張する形でCSS3の様々なプロパティーや機能に対応させるVimシンタックス・ファイルです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/h2u_colorscheme">H2U Colorscheme</a></h1>

        <figure>
          <a href="https://github.com/hail2u/h2u_colorscheme"><img src="/images/projects/h2u_colorscheme.png" alt="WindowsのgVimで同じコードをこの3種類のカラースキームで表示するとこのようになる"></a>
          <figcaption>Dark, White, &amp; Black.</figcaption>
        </figure>

        <p>H2U ColorschemeはgVim用のカラースキームのセットです。</p>
      </section>

      <section>
        <h1><a href="http://iine.hail2u.net/">Iine!</a></h1>

        <figure>
          <a href="http://iine.hail2u.net/"><img src="/images/projects/iine.png" alt="Iine!"></a>

          <figcaption>My Inspiration Deposit</figcaption>
        </figure>

        <p>Iine!は興味を引いたロゴやテクスチャ、タイポグラフィーなどのWebページのウィジェットをコレクションしているWebサイトです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/minA/">MinA</a></h1>

        <figure>
          <a href="http://hail2u.github.io/minA/"><img src="/images/projects/mina.png" alt="Minimal Amazon Logo"></a>
          <figcaption>Frustration-Free Searching</figcaption>
        </figure>

        <p>MinAはJavaScriptのみで動作する<a href="http://www.amazon.co.jp/?_encoding=UTF8&amp;camp=247&amp;creative=1211&amp;linkCode=ur2&amp;tag=hail2unet-22">Amazon.co.jp</a>の全文検索ツールです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/jquery.harmonize-text/">Harmonize Text (jQueryプラグイン)</a></h1>

        <figure>
          <a href="http://hail2u.github.io/jquery.harmonize-text/"><img src="/images/projects/harmonize-text.png" alt="Harmonize Text"></a>
          <figcaption>Responsive Typography?</figcaption>
        </figure>

        <p>Harmonize Textは各行のフォントの大きさをその親要素の幅にちょうどおさまるように調整し、インパクトのあるヘッドラインを簡単に作れるようにする<a href="http://jquery.com/">jQuery</a>プラグインです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/jquery.highlight-search-terms">Highlight Search Terms (jQueryプラグイン)</a></h1>

        <p>Highlight Search Termsは<a href="http://www.google.com/">Google</a>や<a href="http://www.yahoo.com">Yahoo!</a>、<a href="http://bing.com/">Bing</a>等の検索エンジンからアクセスした訪問者へリファラーに含まれるキーワードをハイライトしてあげるjQueryプラグインです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/google-webfonts-preview.html">Google Web Fonts Preview</a></h1>

        <p>Google Web Fonts Previewは任意の文字列とCSSで<a href="http://www.google.com/fonts">Google Web Fonts</a>で公開されているフォントをプレビューするWebツールです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/140-colors-found.html">140 Colors Found</a></h1>

        <figure>
          <a href="http://hail2u.github.io/140-colors-found.html"><img src="/images/projects/140-colors-found.png" alt="Plumと指定するとこのようにプラム色がプレビューされる"></a>
          <figcaption>Color Keywords Are Well Considered</figcaption>
        </figure>

        <p>140 Colors FoundはCSSで利用できる140種類の色キーワードをランダムに表示するWebページです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/better-smart-keywords.html">Better Smart Keywords</a></h1>

        <p>Better Smart Keywordsはブラウザーについているプリフィックス型のスマートキーワード(ロケーションバーから直接検索する機能)より、サフィックス型の方が検索エンジンを切り替えやすく便利なのではないかという考えの元に作成したWebページ検索のフロントエンドです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/css-color-keywords.html">CSS Color Keywords</a></h1>

        <p>CSS Color KeywordsはCSSで利用できる140種類の色キーワードを全てプレビューするWebページです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/jquery.test-font">Test Font (jQueryプラグイン)</a></h1>

        <p>Test Fontは指定したフォントがインストールされているかどうかを簡単にチェックすることができるjQueryプラグインです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/google-webfonts-ampersands.html">&amp;</a></h1>

        <figure>
          <a href="http://hail2u.github.io/google-webfonts-ampersands.html"><img src="/images/projects/ampersand.png" alt="&amp;"></a>
          <figcaption>I Love &amp;!</figcaption>
        </figure>

        <p>&amp;はGoogle Web Fontsで公開されている全てのフォントのアンパサンドをプレビューするWebページです。</p>
      </section>

      <section>
        <h1><a href="http://hail2u.github.io/asamashi09/">Asamashi09</a></h1>

        <p>Asamashi09はJavaScriptのみで動作する<a href="http://affiliate.amazon.co.jp/?_encoding=UTF8&amp;camp=247&amp;creative=1211&amp;linkCode=ur2&amp;tag=hail2unet-22">Amazonアソシエイト</a>のフロントエンド・ツールです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/jquery.query-yql">Query YQL (jQueryプラグイン)</a></h1>

        <p>Query YQLは<a href="http://developer.yahoo.com/yql/">YQL</a>への複雑なクエリーを<a href="http://api.jquery.com/jQuery.getJSON/"><code>jQuery.getJSON()</code></a>のようにシンプルに記述できるようにするjQueryプラグインです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/jquery.table-filter">Table Filter (jQueryプラグイン)</a></h1>

        <p>Table FilterはHTMLの表にインクリメンタル検索で絞り込める入力フォームを追加するjQueryプラグインです。</p>
      </section>

      <section>
        <h1><a href="https://github.com/hail2u/jquery.xhashchange">xHashchange (jQueryプラグイン)</a></h1>

        <p>xHashchangeは<code>hashchange</code>イベントをサポートしていない古いブラウザーへのみ同じインターフェイスの似たイベントを追加するjQueryプラグインです。</p>
      </section>

      <section>
        <h1>その他</h1>

        <ul>
          <li><a href="http://hail2u.github.io/at-font-face-test.html">@font-face Test</a></li>
          <li><a href="http://hail2u.github.io/404.html">404 Not Found</a></li>
          <li><a href="http://hail2u.github.io/404-signpost.html">404 Signpost</a></li>
          <li><a href="http://hail2u.github.io/aex.html">Aex</a></li>
          <li><a href="http://hail2u.github.io/ccccapture.html">CCCCAPTURE!</a></li>
          <li><a href="http://hail2u.github.io/css21-advent-calendar-2011.html">CSS 2.1 Advent Calendar '11</a></li>
          <li><a href="http://hail2u.github.io/css-hacks.html">CSS Hacks</a></li>
          <li><a href="http://hail2u.github.io/form-elements.html">HTML Form Elements</a></li>
          <li><a href="http://hail2u.github.io/json2xml.html">JSON2XML</a></li>
          <li><a href="http://hail2u.github.io/less-and-sass-advent-calendar-2011.html">LESS &amp; Sass Advent Calendar 2011</a></li>
          <li><a href="http://hail2u.github.io/lookpale.html">Lookpale</a></li>
          <li><a href="http://hail2u.github.io/pokedex.html">pokedex.json の利用サンプル</a></li>
          <li><a href="http://hail2u.github.io/soul-color.html">Soul Color</a></li>
          <li><a href="http://hail2u.github.io/syndications.html">Syndications</a></li>
          <li><a href="http://hail2u.github.io/vim-color-scheme-advent-calendar-2013.html">Vim Color Scheme Advent Calendar 2013</a></li>
        </ul>
      </section>
    </main>

    {{> google-cse}}
    {{> global-footer}}
  </body>
</html>
