<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <h1 class="hang">2016</h1>

        <ol class="posts" role="directory">
          <li><a href="https://github.com/hail2u/abbread">Abbread</a></li>
        </ol>
      </section>

      <section>
        <h1 class="hang">2015</h1>

        <ol class="posts" role="directory">
          <li><a href="https://github.com/hail2u/vim-float-round">Float Round</a></li>
          <li><a href="https://everyday575.tumblr.com/">Everyday575</a></li>
          <li><a href="https://github.com/hail2u/node-inlining">Inlining</a></li>
          <li><a href="https://hail2u.github.io/mn/">MN</a></li>
          <li><a href="https://github.com/hail2u/vim-solarized-g">Solarized for gVim</a></li>
          <li><a href="https://github.com/hail2u/color-blindness-emulation">Color Blindness Emulation</a></li>
        </ol>
      </section>

      <section>
        <h1 class="hang">2014</h1>

        <ol class="posts" role="directory">
          <li><a href="https://github.com/hail2u/html-best-practices">HTML Best Practices</a></li>
          <li><a href="https://github.com/hail2u/node-gfmtoc">gfmtoc</a></li>
          <li><a href="https://github.com/hail2u/node-git-release">git-release</a></li>
          <li><a href="https://picks.hail2u.net/">Picks</a></li>
          <li><a href="https://github.com/hail2u/unutm">UnUTM</a></li>
          <li><a href="https://github.com/hail2u/node-csswring">CSSWring</a></li>
          <li><a href="https://github.com/hail2u/node-css-mqpacker">CSS MQPacker</a></li>
        </ol>
      </section>

      <section>
        <h1 class="hang">2013</h1>

        <ol class="posts" role="directory">
          <li><a href="https://github.com/hail2u/node-pit-ro">Pit RO</a></li>
          <li><a href="https://github.com/hail2u/detect-font-loading">Detect Font Loading</a></li>
        </ol>
      </section>

      <section>
        <h1 class="hang">2012</h1>

        <ol class="posts" role="directory">
          <li><a href="https://hail2u.github.io/drawic/">Drawic</a></li>
          <li><a href="https://github.com/hail2u/normalize.scss">Normalize.scss</a></li>
          <li><a href="https://github.com/hail2u/scss-column-equation">SCSS Column Equation</a></li>
          <li><a href="https://github.com/hail2u/vim-css3-syntax">CSS3 Syntax for Vim</a></li>
        </ol>
      </section>

      <section>
        <h1 class="hang">~2010</h1>

        <ol class="posts" role="directory">
          <li><a href="https://github.com/hail2u/h2u_colorscheme">H2U Colorscheme</a></li>
          <li><a href="https://iine.hail2u.net/">Iine!</a></li>
          <li><a href="https://hail2u.github.io/minA/">MinA</a></li>
          <li><a href="https://hail2u.github.io/jquery.harmonize-text/">Harmonize Text</a></li>
          <li><a href="https://github.com/hail2u/jquery.test-font">Test Font</a></li>
        </ol>
      </section>
    </main>

    {{> subcontent}}
    {{> footer}}
  </body>
</html>
