<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> site-menu}}
    {{> page-header}}

    <p>前後の脈絡に欠けるため、意味がよくわからないが数多くあります。古いものは年ごとにページを分けて公開しています。</p>

    <nav class="yearly-archives">
      <h2>年別</h2>

      <p>{{#statuses}}{{#isFirstInYear}}<a href="#{{strYear}}">{{year}}年</a>&#x2003;{{/isFirstInYear}}{{/statuses}}<a href="/statuses/2022.html">2022年</a>&#x2003;<a href="/statuses/2021.html">2021年</a>&#x2003;<a href="/statuses/2020.html">2020年</a>&#x2003;<a href="/statuses/2019.html">2019年</a>&#x2003;<a href="/statuses/2018.html">2018年</a>&#x2003;<a href="/statuses/2017.html">2017年</a>&#x2003;<a href="/statuses/2016.html">2016年</a>&#x2003;<a href="/statuses/2015.html">2015年</a>&#x2003;<a href="/statuses/2014.html">2014年</a>&#x2003;<a href="/statuses/2013.html">2013年</a>&#x2003;<a href="/statuses/2012.html">2012年</a>&#x2003;<a href="/statuses/2011.html">2011年</a>&#x2003;<a href="/statuses/2010.html">2010年</a>&#x2003;</p>
    </nav>

    {{#statuses}}
      {{#isFirstInDate}}
        <section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
          <h2><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}">{{year}}年{{month}}月{{date}}日</time></h2>
      {{/isFirstInDate}}

      <p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{hour}}時{{minute}}分</time></p>

      <p>{{title}}</p>

      {{#isLastInDate}}
        </section>
      {{/isLastInDate}}
    {{/statuses}}

    {{> page-footer}}
  </body>
</html>
