<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <nav class="yearly-archives">
      <h2>年別</h2>

      <p>{{#statuses}}{{#isFirstInYear}}<a href="#{{strYear}}">{{year}}年</a> {{/isFirstInYear}}{{/statuses}}<a href="#2022">2022年</a> <a href="#2021">2021年</a> <a href="#2020">2020年</a> <a href="#2019">2019年</a> <a href="#2018">2018年</a> <a href="#2017">2017年</a> <a href="#2016">2016年</a> <a href="#2015">2015年</a> <a href="#2014">2014年</a> <a href="#2013">2013年</a> <a href="#2012">2012年</a> <a href="#2011">2011年</a> <a href="#2010">2010年</a> </p>
    </nav>

    {{#statuses}}
      {{#isFirstInMonth}}
        <section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
          <h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>
      {{/isFirstInMonth}}

      <p id="{{published}}">{{title}} (<time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{hour}}時{{minute}}分</time>)</p>

      {{#isLastInMonth}}
        </section>
      {{/isLastInMonth}}
    {{/statuses}}

    {{{log}}}

    {{> page-footer}}
  </body>
</html>
