<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> page-header}}

		<h1>{{title}}</h1>

		<nav>
			<p>Twitterにのみ投稿していた<a href="/statuses/twitter.html">2009年から2018年までの記録</a>も公開しています。</p>
		</nav>

		{{#statuses}}
			{{#isFirstInDate}}
				<section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
					<h2><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}">{{year}}年{{month}}月{{date}}日</time></h2>

					<ul>
			{{/isFirstInDate}}

			<li id="on-{{published}}">{{title}}（<time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{hour}}時{{minute}}分</time>）</li>

			{{#isLastInDate}}
					</ul>
				</section>
			{{/isLastInDate}}
		{{/statuses}}

		{{> page-footer}}
	</body>
</html>
