<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head.html}}

  <body>
    {{> page-header.html}}

    <main>
      <nav>
        <h2>目次</h2>

        <ol>
          <li><a href="#websites">ウェブサイト</a></li>
          <li><a href="#mangas">マンガ</a></li>
          <li><a href="#albums">スタジオ・アルバム</a></li>
        </ol>
      </nav>

      <section id="websites">
        <h2>ウェブサイト</h2>

        <p>以下の人々のウェブサイトを、<a href="https://feedly.com/">Feedly</a>というRSSリーダー(フィード・リーダー)で購読しています。ドメインまたはID順に並んでいます。</p>

        <ul class="archives">
          <li><a href="https://1000ch.net/">EagleLand</a></li>
          <li><a href="https://blog.64p.org/">tokuhirom&apos;s blog</a></li>
          <li><a href="https://accessible-usable.net/">Accessible &amp; Usable</a></li>
          <li><a href="https://adactio.com/">Adactio</a></li>
          <li><a href="https://adamsilver.io/">Adam Silver</a></li>
          <li><a href="https://addyosmani.com/">AddyOsmani.com</a></li>
          <li><a href="https://adrianroselli.com/">Adrian Roselli</a></li>
          <li><a href="https://this.aereal.org/">Sexually Knowing</a></li>
          <li><a href="https://blog.agektmr.com/">Tender Surrender</a></li>
          <li><a href="https://alex.party/">Alex.Party</a></li>
          <li><a href="https://blog.amagi.dev/">マルシテイア</a></li>
          <li><a href="https://andrewwalpole.com/">Andrew Walpole&apos;s Blog</a></li>
          <li><a href="https://anhvn.com/">anhvn</a></li>
          <li><a href="https://annevankesteren.nl/">Anne’s Blog</a></li>
          <li><a href="https://arielsalminen.com/">Ariel Salminen</a></li>
          <li><a href="https://arun.is/">Arun Venkatesan</a></li>
          <li><a href="https://atthis.link/">atthis.link</a></li>
          <li><a href="https://p.atrick.org/">This Modern Web</a></li>
          <li><a href="https://benfrain.com/">Ben Frain</a></li>
          <li><a href="https://www.benjystanton.co.uk/">Benjy Stanton</a></li>
          <li><a href="https://benmyers.dev/">Ben Myers</a></li>
          <li><a href="https://bradfrost.com/">Brad Frost</a></li>
          <li><a href="https://www.bram.us/">Bram.us</a></li>
          <li><a href="https://brucelawson.co.uk/">Bruce Lawson</a></li>
          <li><a href="https://www.bryanbraun.com/">Bryan Braun</a></li>
          <li><a href="https://www.cameronmoll.com/journal">Cameron Moll</a></li>
          <li><a href="https://carmemias.com/">Carme Mias</a></li>
          <li><a href="https://www.charlieharrington.com/">Charlie Harrington</a></li>
          <li><a href="https://chenhuijing.com/">Chen Hui Jing</a></li>
          <li><a href="https://chriscoyier.net/">Chris Coyier</a></li>
          <li><a href="https://christianheilmann.com/">Christian Heilmann</a></li>
          <li><a href="https://clagnut.com/">Clagnut</a></li>
          <li><a href="https://colly.com/">Simon Collison</a></li>
          <li><a href="https://www.coreycleary.me/">coreycleary.me</a></li>
          <li><a href="https://css-irl.info/">CSS { In Real Life }</a></li>
          <li><a href="https://csscade.com/">The Cascade</a></li>
          <li><a href="https://csswizardry.com/">CSS Wizardry</a></li>
          <li><a href="https://danmall.com/">Dan Mall</a></li>
          <li><a href="https://daverupert.com/">daverupert.com</a></li>
          <li><a href="https://davidwalsh.name/">David Walsh Blog</a></li>
          <li><a href="https://dbushell.com/">dbushell.com</a></li>
          <li><a href="https://dcurt.is/">Dustin Curtis</a></li>
          <li><a href="https://destroytoday.com/blog">Jonnie Hallman</a></li>
          <li><a href="https://dskd.jp/">dskd</a></li>
          <li><a href="https://blog.dwac.dev/">Devel without a Cause Blog</a></li>
          <li><a href="https://eagletmt.hateblo.jp/">eagletmt&apos;s blog</a></li>
          <li><a href="https://efcl.info/">Web Scratch</a></li>
          <li><a href="https://elliotjaystocks.com/">Elliot Jay Stocks</a></li>
          <li><a href="https://ericwbailey.website/">Eric Bailey</a></li>
          <li><a href="https://erikbern.com/">Erik Bernhardsson</a></li>
          <li><a href="https://erikrunyon.com/">Erik Runyon</a></li>
          <li><a href="https://ethanmarcotte.com/">Ethan Marcotte</a></li>
          <li><a href="https://evanhahn.com/blog/">Evan Hahn&apos;s blog</a></li>
          <li><a href="https://blog.frankmtaylor.com/">Frank M Taylor</a></li>
          <li><a href="https://fullystacked.net/">Fully Stacked</a></li>
          <li><a href="https://garrettdimon.com/">GarrettDimon.com</a></li>
          <li><a href="https://geoffgraham.me/">Geoff Graham</a></li>
          <li><a href="https://ginpen.com/">Ginpen.com</a></li>
          <li><a href="https://gomakethings.com/articles">Go Make Things</a></li>
          <li><a href="https://blog.haiji.co/">灰色ハイジのテキスト</a></li>
          <li><a href="https://helloanselm.com/">Anselm Hannemann</a></li>
          <li><a href="https://heydonworks.com/">HeydonWorks</a></li>
          <li><a href="https://hicks.design/journal">Hicks</a></li>
          <li><a href="https://hidde.blog/">hiddedevries.nl Blog</a></li>
          <li><a href="https://blog.hiroppy.me/">blog - hiroppy&apos;s site</a></li>
          <li><a href="https://htmlcssjavascript.com/">HTML + CSS + JavaScript</a></li>
          <li><a href="https://hulry.com/">Hulry</a></li>
          <li><a href="https://humanwhocodes.com/">Human Who Codes</a></li>
          <li><a href="https://blog.humphd.org/">Bread &amp; Circuits</a></li>
          <li><a href="https://ishadeed.com/">Ahmad Shadeed</a></li>
          <li><a href="https://blog.jim-nielsen.com/">Jim Nielsen’s Weblog</a></li>
          <li><a href="https://jinjor-labo.hatenablog.com/">ジンジャー研究室</a></li>
          <li><a href="https://blog.jnito.com/">give IT a try</a></li>
          <li><a href="https://blog.jxck.io/">blog.jxck.io</a></li>
          <li><a href="https://k0kubun.hatenablog.com/">k0kubun&apos;s blog</a></li>
          <li><a href="https://blog.kyanny.me/">@kyanny&apos;s blog</a></li>
          <li><a href="https://kettanaito.com/">kettanaito.com</a></li>
          <li><a href="https://kilianvalkhof.com/">Kilian Valkhof</a></li>
          <li><a href="https://kiririmode.hatenablog.jp/">理系学生日記</a></li>
          <li><a href="https://kittygiraudel.com/">Kitty Giraudel</a></li>
          <li><a href="https://www.kooslooijesteijn.net/">Koos Looijesteijn </a></li>
          <li><a href="https://kotori.style/">コトリ式</a></li>
          <li><a href="https://blog.lai.so/">laiso</a></li>
          <li><a href="https://lapcatsoftware.com/articles/">The Desolation of Blog</a></li>
          <li><a href="https://lea.verou.me/">Lea Verou’s blog</a></li>
          <li><a href="https://leaysgur.github.io/posts/">Memory ice cubes</a></li>
          <li><a href="https://www.leemunroe.com/">Lee Munroe</a></li>
          <li><a href="https://lisilinhart.info/">Lisi Linhart</a></li>
          <li><a href="https://lowreal.net/">氾濫原</a></li>
          <li><a href="https://mametter.hatenablog.com/">まめめも</a></li>
          <li><a href="https://marco.org/">Marco.org</a></li>
          <li><a href="https://marcthiele.com/">Marc Thiele&apos;s Journal</a></li>
          <li><a href="https://marcus.io/blog">marcus.io</a></li>
          <li><a href="https://markboulton.co.uk/">Mark Boulton</a></li>
          <li><a href="https://markdotto.com/">@mdo</a></li>
          <li><a href="https://www.matuzo.at/">Manuel Matuzović</a></li>
          <li><a href="https://matthiasott.com/">Matthias Ott</a></li>
          <li><a href="https://meiert.com/en/">Jens Oliver Meiert</a></li>
          <li><a href="https://melanie-richards.com/">Melanie Richards</a></li>
          <li><a href="https://meowni.ca/">Monica Dinculescu</a></li>
          <li><a href="https://meyerweb.com/eric/thoughts">meyerweb.com</a></li>
          <li><a href="https://me.micahrl.com/blog/">me.micahrl.com blog</a></li>
          <li><a href="https://www.miriamsuzanne.com/">Miriam Eric Suzanne</a></li>
          <li><a href="https://moc.co/">Mocco</a></li>
          <li><a href="https://momdo.hatenablog.jp/">水底の血</a></li>
          <li><a href="https://moznion.hatenadiary.com/">その手の平は尻もつかめるさ</a></li>
          <li><a href="https://mxb.dev/">Max Böck</a></li>
          <li><a href="https://nakajmg.hatenablog.com/">じまろぐ</a></li>
          <li><a href="https://blog.ncase.me/">Nicky&apos;s Blog!</a></li>
          <li><a href="https://necomesi.jp/blog/securecat/">ネコメシCEOブログ</a></li>
          <li><a href="https://newsletter.ownyourweb.site/">Own Your Web</a></li>
          <li><a href="https://nicolas-hoizey.com/archives/">Nicolas Hoizey</a></li>
          <li><a href="https://note.com/hilokit">Hiroki Tani</a></li>
          <li><a href="https://notes.jim-nielsen.com/">Jim Nielsen’s Notes</a></li>
          <li><a href="https://notes.neatnik.net/">Neatnik Notes</a></li>
          <li><a href="https://numb86-tech.hatenablog.com/">30歳からのプログラミング</a></li>
          <li><a href="https://ohhelloana.blog/">Ana Rodrigues</a></li>
          <li><a href="https://ozuma.hatenablog.jp/">ろば電子が詰まつてゐる</a></li>
          <li><a href="https://paulstamatiou.com/">Paul Stamatiou</a></li>
          <li><a href="https://www.petelambert.com/">Pete Lambert</a></li>
          <li><a href="https://piccalil.li/">Piccalilli</a></li>
          <li><a href="https://pjonori.blog/">PJ Onori’s blog</a></li>
          <li><a href="https://portalshit.net/">portal shit!</a></li>
          <li><a href="https://www.preetamnath.com/">Preetam Nath</a></li>
          <li><a href="https://r7kamura.com/">r7kamura.com</a></li>
          <li><a href="https://rachelandrew.co.uk/">rachelandrew.co.uk</a></li>
          <li><a href="https://ralphammer.com/">Ralph Ammer</a></li>
          <li><a href="https://remysharp.com/">remy sharp&apos;s b:log</a></li>
          <li><a href="https://robinrendle.com/">Robin Rendle</a></li>
          <li><a href="https://v6.robweychert.com/">Rob Weychert</a></li>
          <li><a href="https://ryanmulligan.dev/">Ryan Mulligan</a></li>
          <li><a href="https://text.sanographix.net/">SANOGRAPHIX Blog</a></li>
          <li><a href="https://sapegin.me/">Artem Sapegin’s Blog</a></li>
          <li><a href="https://sarahmhigley.com/">Sarah Higley</a></li>
          <li><a href="https://sarajoy.dev/">Sara Joy</a></li>
          <li><a href="https://blog.satotaichi.info/">さにあらず</a></li>
          <li><a href="https://scottjehl.com/">Scott Jehl&apos;s Blog</a></li>
          <li><a href="https://scottohara.me/">scottohara.me</a></li>
          <li><a href="https://secon.dev/">A Day in the Life</a></li>
          <li><a href="https://sfujiwara.hatenablog.com/">酒日記 はてな支店</a></li>
          <li><a href="https://shkspr.mobi/blog">Terence Eden’s Blog</a></li>
          <li><a href="https://sinsoku.hatenablog.com/">アジャイルSEの憂鬱</a></li>
          <li><a href="https://sivers.org/">Derek Sivers</a></li>
          <li><a href="https://snook.ca/">Snook.ca</a></li>
          <li><a href="https://soudai.hatenablog.com/">そーだいなるらくがき帳</a></li>
          <li><a href="https://ssig33.com/">ssig33.com</a></li>
          <li><a href="https://stephango.com/">Steph Ango</a></li>
          <li><a href="https://blog.stephaniestimac.com/">Stephanie Stimac&apos;s Blog</a></li>
          <li><a href="https://blog.stormcat.io/">blog.stormcat.io</a></li>
          <li><a href="https://www.subtraction.com/">Subtraction.com</a></li>
          <li><a href="https://memo.sugyan.com/">すぎゃーんメモ</a></li>
          <li><a href="https://blog.sushi.money/">hitode909の日記</a></li>
          <li><a href="https://t32k.me/mol/">MOL</a></li>
          <li><a href="https://tania.dev/">tania.dev</a></li>
          <li><a href="https://tbrown.org/">Tim Brown, organized</a></li>
          <li><a href="https://tellme.tokyo/">tellme.tokyo</a></li>
          <li><a href="https://terkel.jp/">terkel.jp</a></li>
          <li><a href="https://thejollyteapot.com/">The Jolly Teapot</a></li>
          <li><a href="https://themaninblue.com/">The Man in Blue</a></li>
          <li><a href="https://timkadlec.com/">TimKadlec.com</a></li>
          <li><a href="https://toddl.dev/">Home of Todd Libby</a></li>
          <li><a href="https://blog.tokumaru.org/">徳丸浩の日記</a></li>
          <li><a href="https://tonsky.me/">tonsky.me</a></li>
          <li><a href="https://blog.toshimaru.net/">Toshimaruの技術ブログ</a></li>
          <li><a href="https://www.trysmudford.com/blog/">Trys Mudford</a></li>
          <li><a href="https://www.understandard.net/">understandard</a></li>
          <li><a href="https://unknownplace.org/">unknownplace.org</a></li>
          <li><a href="https://medium.com/@vanschneider">Tobias van Schneider</a></li>
          <li><a href="https://veroniiiica.com/">Veroniiiica</a></li>
          <li><a href="https://blog.wadackel.me/">wadackel.me</a></li>
          <li><a href="https://willybrauner.com/">Willy Brauner</a></li>
          <li><a href="https://yatil.net/blog">Eric Eggert</a></li>
          <li><a href="https://yuheiy.com/">Yuhei Yasuda</a></li>
          <li><a href="https://zeldman.com/">Jeffrey Zeldman Presents</a></li>
          <li><a href="https://zellwk.com/">Zell Liew</a></li>
          <li><a href="https://zserge.com/">zserge&apos;s blog</a></li>
        </ul>
      </section>

      <section id="mangas">
        <h2>マンガ</h2>

        <p><a href="https://www.amazon.co.jp/kindle-dbs/manga-store">AmazonのKindle</a>で購入しているマンガです。24種くらいに制限しています。</p>

        <ul>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GQ9648JW/hail2unet-22">デッドマウント・デスプレイ</a> 藤本新太、成田良悟</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GR3FWJ22/hail2unet-22">SPY×FAMILY</a> 遠藤達哉</a></li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GR3WVPF7/hail2unet-22">カワイスギクライシス</a> 城戸みつる</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GQ9N8445/hail2unet-22">ケンガンオメガ</a> だろめおん、サンドロビッチ・ヤバ子</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GQR363W5/hail2unet-22">J⇔M</a> 大武政夫</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GKP13T62/hail2unet-22">COSMOS</a> 田村隆平</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GGVZYYJC/hail2unet-22">八百夜</a> 那須雪絵</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GFHP7W1F/hail2unet-22">ザ・ゲームスターズ</a> オノ・ナツメ</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GBW7D9JL/hail2unet-22">ゆらゆらQ</a> 雨隠ギド</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GBTDHFFR/hail2unet-22">シャンピニオンの魔女</a> 樋口橘</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GGQCYN66/hail2unet-22">うめともものふつうの暮らし</a> 藤沢カミヤ</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0GCHR7D2J/hail2unet-22">ハクメイとミコチ</a> 樫木祐人</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0G4QSM3C6/hail2unet-22">東島丹三郎は仮面ライダーになりたい</a> 柴田ヨクサル</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0FL9LWKY7/hail2unet-22">妖精国の騎士 Ballad ～継ぐ視の守護者～</a> 中山星香</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0F6WFPT1J/hail2unet-22">大ダーク</a> 林田球</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0FSHW7LVV/hail2unet-22">Landreaall</a> おがきちか</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0FL1FLQTB/hail2unet-22">アデライトの花</a> TONO</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0FHHKGP5Q/hail2unet-22">ざんねん！ねこ旅館</a> 桑田乃梨子</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0FH1X2FVB/hail2unet-22">聖☆おにいさん</a> 中村光</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0F9W9KSY7/hail2unet-22">宙に参る</a> 肋骨凹介</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0F2FFYYWM/hail2unet-22">最果てのソルテ</a> 水上悟志</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0F1F4HY7X/hail2unet-22">誰も知らんがな</a> サライネス</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DRN9GMGT/hail2unet-22">血界戦線 Beat 3 Peat</a> 内藤泰弘</li>
          <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CTZSHVWK/hail2unet-22">北北西に曇と往け</a> 入江亜季</li>
        </ul>
      </section>

      <section id="albums">
        <h2>スタジオ・アルバム</h2>

        <p>AppleのiTunes Storeで購入している音楽アーティストたちの一番新しいスタジオ・アルバムです。こちらも24前後に制限しています。</p>

        <ul>
          <li><a href="https://www.amazon.co.jp/dp/B0GKQ275R6?tag=hail2unet-22">Kammerkonzert</a> Squarepusher</li>
          <li><a href="https://www.amazon.co.jp/dp/B0FRNKW9SZ?tag=hail2unet-22">Tranquilizer</a> Oneohtrix Point Never</li>
          <li><a href="https://www.amazon.co.jp/dp/B0DTB2PK8S?tag=hail2unet-22">Escape the Chaos</a> Morcheeba</li>
          <li><a href="https://www.amazon.co.jp/dp/B0D47PG4WD?tag=hail2unet-22">The Forest is the Path</a> Snow Patrol</li>
          <li><a href="https://www.amazon.co.jp/dp/B0D81FQD8B?tag=hail2unet-22">Infinite Health</a> Tycho</li>
          <li><a href="https://www.amazon.co.jp/dp/B0CV4KRTQX?tag=hail2unet-22">Reasonable Woman</a> Sia</li>
          <li><a href="https://www.amazon.co.jp/dp/B0CV5FD75H?tag=hail2unet-22">All Born Screaming</a> St. Vincent</li>
          <li><a href="https://www.amazon.co.jp/dp/B0D1Y6D15W?tag=hail2unet-22">Dreamweaver</a> Trentemøller</li>
          <li><a href="https://www.amazon.co.jp/dp/B0BYPDM7N7?tag=hail2unet-22">I Inside the Old Year Dying</a> PJ Harvey</li>
          <li><a href="https://www.amazon.co.jp/dp/B0C5RQZL1C?tag=hail2unet-22">Nothing Lasts Forever</a> Teenage Fanclub</li>
          <li><a href="https://www.amazon.co.jp/dp/B09ZVLPXGF?tag=hail2unet-22">Cool It Down</a> Yeah Yeah Yeahs</li>
          <li><a href="https://www.amazon.co.jp/dp/B0BCX9L4K2?tag=hail2unet-22">Fossora</a> Björk</li>
          <li><a href="https://www.amazon.co.jp/dp/B09X3DZX9J?tag=hail2unet-22">Freakout/Release</a> Hot Chip</li>
          <li><a href="https://www.amazon.co.jp/dp/B0B6GXJ5Z9?tag=hail2unet-22">No Rules Sandy</a> Sylvan Esso</li>
          <li><a href="https://www.amazon.co.jp/dp/B09PZ1ZHRZ?tag=hail2unet-22">Radiate Like This</a> Warpaint</li>
          <li><a href="https://www.amazon.co.jp/dp/B09HW7Q4V8?tag=hail2unet-22">Fragments</a> Bonobo</li>
          <li><a href="https://www.amazon.co.jp/dp/B08TGS21DH?tag=hail2unet-22">OK Human</a> Weezer</li>
          <li><a href="https://www.amazon.co.jp/dp/B09L7FL66Z?tag=hail2unet-22">Shout Out! To Freedom...</a> Nightmares on Wax</li>
          <li><a href="https://www.amazon.co.jp/dp/B08KG1RQ89?tag=hail2unet-22">Home</a> Rhye</li>
          <li><a href="https://www.amazon.co.jp/dp/B08736HKCK?tag=hail2unet-22">Fetch the Bolt Cutters</a> Fiona Apple</li>
          <li><a href="https://www.amazon.co.jp/dp/B0BPMW89B8?tag=hail2unet-22">Mountain of Memory</a> Emancipator</li>
          <li><a href="https://www.amazon.co.jp/dp/B086R2XF3P?tag=hail2unet-22">Symphonik</a> Thievery Corporation</li>
          <li><a href="https://www.amazon.co.jp/dp/B084LJ4YCS?tag=hail2unet-22">The New Abnormal</a> The Strokes</li>
          <li><a href="https://www.amazon.co.jp/dp/B07YX96CQX?tag=hail2unet-22">Hyperspace</a> Beck</li>
        </ul>
      </section>
    </main>

    {{> page-footer.html}}
  </body>
</html>
