<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      {{#articles}}
        {{#isFirstInYear}}
          <section id="on-{{year}}">
            <h1 class="hang"><time>{{year}}</time></h1>

            <ol class="posts" role="directory">
        {{/isFirstInYear}}

        <li>
          <time datetime="{{html5PubDate}}">{{strPubDate}}</time>
          <a href="{{link}}">{{{title}}}</a>
        </li>

        {{#isLastInYear}}
            </ol>
          </section>
        {{/isLastInYear}}
      {{/articles}}
    </main>

    {{> site-search}}
    {{> footer}}
  </body>
</html>
