<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> global-header}}

    <main class="content">
      {{#articles}}
        {{#isFirstInYear}}
          <section id="on-{{year}}" class="section">
            <h1><time>{{year}}</time></h1>

            <ol class="posts">
        {{/isFirstInYear}}

        <li>
          <div class="info"><time class="date" datetime="{{html5PubDate}}">{{strPubDate}}</time></div>
          <a class="title" href="{{link}}">{{{title}}}</a>
        </li>

        {{#isLastInYear}}
            </ol>
          </section>
        {{/isLastInYear}}
      {{/articles}}
    </main>

    {{> site-search}}
    {{> global-footer}}
  </body>
</html>
