<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> global-header}}

    <main class="content">
      <section class="section">
        <h1 class="first-heading">{{short_title}}</h1>

        <p>それまでの日記を捨て、2002年よりウェブログを始めました。当初よりウェブサイト制作に関する話題が中心になっていますが、なるべく日々の行動とその結果についての考察を連続して記録することを心がけています。</p>
      </section>

      <section id="by-year" class="section">
        <h1 class="hanged">公開年別</h1>

        <ol class="flat">
          {{#articles}}
            {{#isFirstInYear}}
              <li><a href="#on-{{year}}"><time>{{year}}</time></a></li>
            {{/isFirstInYear}}
          {{/articles}}
        </ol>
      </section>

      {{#articles}}
        {{#isFirstInYear}}
          <section id="on-{{year}}" class="section">
            <h1 class="hanged"><time>{{year}}</time></h1>

            <ol class="posts">
        {{/isFirstInYear}}

        <li>
          <div class="info"><time class="date" datetime="{{html5PubDate}}">{{strPubDate}}</time></div>
          <a class="title" href="{{link}}">{{{title}}}</a>
        </li>

        {{#isLastInYear}}
            </ol>
          </section>
        {{/isLastInYear}}
      {{/articles}}
    </main>

    {{> site-search}}
    {{> global-footer}}
  </body>
</html>
