<!-- blosxom content_type text/html; charset=$blog_encoding -->

<!-- blosxom head -->
<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> global-header}}

    <main class="content">

<!-- blosxom date -->

<!-- blosxom story -->
      <article class="section">
        <footer class="section-footer">
          <p><time class="date" datetime="$yr-$mo_num-$da<?$fn>T</?>$ti<?$fn>:</?>00+09:00">$yr/$mo_num/$da</time></p>
        </footer>

        <h1 class="first">$title</h1>

        $body
      </article>

<!-- blosxom foot -->
    </main>

    {{> site-search}}
    {{> global-footer}}
  </body>
</html>
