<!-- blosxom content_type text/html; charset=$blog_encoding -->

<!-- blosxom head -->
<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> global-header}}

    <main class="content">

<!-- blosxom date -->

<!-- blosxom story -->
      <article class="section">
        <footer class="section-footer">
          <p><time class="date" datetime="$yr-$mo_num-$da<?$fn>T</?>$ti<?$fn>:</?>00+09:00">$yr/$mo_num/$da</time></p>
        </footer>

        <h1 class="first">$title</h1>

        $body

        <aside class="share">
          <ul>
            <li><a class="twitter" href="https://twitter.com/intent/tweet?text=<@uri.encode output="Yes">$title</@uri.encode>&amp;url=<@uri.encode output="Yes">{{scheme}}//{{domain}}$uri::canonical</@uri.encode>&amp;via=hail2u_">Twitter</a></li>
            <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=<@uri.encode output="Yes">{{scheme}}//{{domain}}$uri::canonical</@uri.encode>">Facebook</a></li>
            <li><a class="hatena" href="http://b.hatena.ne.jp/add?title=<@uri.encode output="Yes">$title</@uri.encode>&amp;url=<@uri.encode output="Yes">{{scheme}}//{{domain}}$uri::canonical</@uri.encode>">はてなブックマーク</a></li>
          </ul>
        </aside>
      </article>

<!-- blosxom foot -->
    </main>

    {{> site-search}}
    {{> global-footer}}
  </body>
</html>
