<IfModule mod_headers.c>
  <FilesMatch "503.txt$">
    Header set Link "<503.css>;rel=stylesheet"
  </FilesMatch>
</IfModule>

<IfModule mod_mime.c>
  AddType "text/css; charset=UTF-8" .utf8css
  AddType application/xhtml+xml .xhtml
</IfModule>
