@font-face {
  font-family: "CartoGothic";
  src: url("340.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CartoGothic";
  src: url("340-i.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CartoGothic";
  src: url("340-b.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CartoGothic";
  src: url("340-bi.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
