<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xml:lang="{{lang}}"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:creativeCommons="http://backend.userland.com/creativeCommonsRssModule">
  <channel>
    <description>{{description}}</description>
    <language>{{lang}}</language>
    <link>{{scheme}}//{{domain}}/</link>
    <managingEditor>{{email}} ({{name}})</managingEditor>
    <title>{{site_title}}</title>
    <atom:link href="{{scheme}}//{{domain}}/feed" rel="self"/>
    <atom:link href="https://pubsubhubbub.appspot.com/" rel="hub"/>
    <creativeCommons:license>{{license_url}}</creativeCommons:license>

    {{#items}}
      <item>
        <description><![CDATA[{{{description}}}]]></description>
        <guid isPermaLink="true">{{scheme}}//{{domain}}{{guid}}</guid>
        <link>{{scheme}}//{{domain}}{{link}}</link>
        <pubDate>{{pubDate}}</pubDate>
        <title><![CDATA[{{{title}}}]]></title>
        {{#body}}<content:encoded><![CDATA[{{{body}}}]]></content:encoded>{{/body}}
      </item>
    {{/items}}

  </channel>
</rss>
