<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <section id="websites">
      <h2>ウェブサイト</h2>

      <p>以下のウェブサイトを、<a href="">Feedly</a>というRSSリーダー(フィード・リーダー)で購読しています。一括してインポートできる<a href="/mysubscriptions.opml">OPMLファイル</a>も公開しています。</p>

      <ul>
        {{#subscriptions}}
          <li><a href="{{link}}">{{title}}</a> (<a href="{{feed}}">RSS</a>)</li>
        {{/subscriptions}}
      </ul>
    </section>

    <section id="comics">
      <h2>マンガ</h2>

      <p><a href="https://www.amazon.co.jp/kindle-dbs/manga-store">AmazonのKindle</a>でシリーズ購読しているマンガです。20シリーズくらいに制限しています。完結したシリーズは載っていません。</p>

      <ul class="showcase">
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/hail2unet-22"><img alt="誰も知らんがな" height="1510" loading="lazy" src="https://m.media-amazon.com/images/I/B1oSxCeTBZL.png" width="2132"></a>
          <span>誰も知らんがな</span>
          <span><a href="https://www.amazon.co.jp/stores/%E3%82%B5%E3%83%A9-%E3%82%A4%E3%83%8D%E3%82%B9/author/B004LUHPZI">サライネス</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0C3W559NX/hail2unet-22"><img alt="アデライトの花 " height="1223" loading="lazy" src="https://m.media-amazon.com/images/I/B1aW1UdBhTS.png" width="1296"></a>
          <span>アデライトの花</span>
          <span>TONO</span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B074C8GPDQ/hail2unet-22"><img alt="聖☆おにいさん" height="1100" loading="lazy" src="https://m.media-amazon.com/images/I/B19ncc-IadS.png" width="1166"></a>
          <span>聖☆おにいさん</span>
          <span><a href="https://www.amazon.co.jp/stores/%E4%B8%AD%E6%9D%91-%E5%85%89/author/B003UWQMJI">中村光</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B07PTNMPD6/hail2unet-22"><img alt="デッドマウント・デスプレイ" height="1359" loading="lazy" src="https://m.media-amazon.com/images/I/B19Zt1kKtqS.png" width="1440"></a>
          <span>デッドマウント・デスプレイ</span>
          <span>藤本新太、成田良悟</span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B08GLC118H/hail2unet-22"><img alt="カワイスギクライシス" height="1358" loading="lazy" src="https://m.media-amazon.com/images/I/B13BuivFBES.png" width="1523"></a>
          <span>カワイスギクライシス</span>
          <span><a href="https://www.amazon.co.jp/stores/%E5%9F%8E%E6%88%B8%E3%81%BF%E3%81%A4%E3%82%8B/author/B0762SSDTJ">城戸みつる</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B07RL4GGKY/hail2unet-22"><img alt="東島丹三郎は仮面ライダーになりたい" height="1398" loading="lazy" src="https://m.media-amazon.com/images/I/B1N88OjKqwS.png" width="1485"></a>
          <span>東島丹三郎は仮面ライダーになりたい</span>
          <span><a href="https://www.amazon.co.jp/stores/%E6%9F%B4%E7%94%B0-%E3%83%A8%E3%82%AF%E3%82%B5%E3%83%AB/author/B003UW61J4">柴田ヨクサル</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B09HC29Z7W/hail2unet-22"><img alt="妖精国の騎士 Ballad ～継ぐ視の守護者～" height="1414" loading="lazy" src="https://m.media-amazon.com/images/I/B11Srq-VpGL.png" width="1513"></a>
          <span>妖精国の騎士 Ballad ～継ぐ視の守護者～</span>
          <span><a href="https://www.amazon.co.jp/stores/%E4%B8%AD%E5%B1%B1-%E6%98%9F%E9%A6%99/author/B003UW242W">中山星香</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B08W5GGPGK/hail2unet-22"><img alt="シャンピニオンの魔女" height="1678" loading="lazy" src="https://m.media-amazon.com/images/I/B1OQN1x-14S.png" width="1611"></a>
          <span>シャンピニオンの魔女</span>
          <span><a href="https://www.amazon.co.jp/stores/%E6%A8%8B%E5%8F%A3-%E6%A9%98/author/B003UWNK2A">樋口橘</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B09XQN27RD/hail2unet-22"><img alt="ゆらゆらQ" height="1678" loading="lazy" src="https://m.media-amazon.com/images/I/B1p0haY3wSL.png" width="1779"></a>
          <span>ゆらゆらQ</span>
          <span><a href="https://www.amazon.co.jp/stores/%E9%9B%A8%E9%9A%A0-%E3%82%AE%E3%83%89/author/B004LW033W">雨隠ギド</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B098N7BH5D/hail2unet-22"><img alt="もっけの箱庭" height="1678" loading="lazy" src="https://m.media-amazon.com/images/I/B14h+WgimHL.png" width="1798"></a>
          <span>もっけの箱庭</span>
          <span><a href="https://www.amazon.co.jp/stores/%E8%8D%89%E5%B7%9D-%E7%82%BA/author/B004LTADD0">草川為</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B09CTQBXJR/hail2unet-22"><img alt="宙に参る" height="1935" loading="lazy" src="https://m.media-amazon.com/images/I/B11G-Sp7PnL.png" width="2055"></a>
          <span>宙に参る</span>
          <span><a href="https://www.amazon.co.jp/stores/%E8%82%8B%E9%AA%A8%E5%87%B9%E4%BB%8B/author/B085Y8SB54">肋骨凹介</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B08KWK2LLX/hail2unet-22"><img alt="大ダーク" height="1272" loading="lazy" src="https://m.media-amazon.com/images/I/B1Y7Zel87KS.png" width="1367"></a>
          <span>大ダーク</span>
          <span><a href="https://www.amazon.co.jp/stores/%E6%9E%97%E7%94%B0-%E7%90%83/author/B003UWNJTE">林田球</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B08C6N8HMG/hail2unet-22"><img alt="BADON" height="2560" loading="lazy" src="https://m.media-amazon.com/images/I/B125Rc0ua4S.png" width="2712"></a>
          <span>BADON</span>
          <span><a href="https://www.amazon.co.jp/stores/%E3%82%AA%E3%83%8E%E3%83%BB%E3%83%8A%E3%83%84%E3%83%A1/author/B003UWSRNM">オノ・ナツメ</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B07XTRK2SQ/hail2unet-22"><img alt="SPY×FAMILY" height="1358" loading="lazy" src="https://m.media-amazon.com/images/I/B1Bej+f2-eS.png" width="1523"></a>
          <span>SPY×FAMILY</span>
          <span><a href="https://www.amazon.co.jp/stores/%E9%81%A0%E8%97%A4-%E9%81%94%E5%93%89/author/B004LW13UE">遠藤達哉</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B074CCVKNK/hail2unet-22"><img alt="Landreaall" height="1223" loading="lazy" src="https://m.media-amazon.com/images/I/B100LvngLRL.png" width="1285"></a>
          <span>Landreaall</span>
          <span><a href="https://www.amazon.co.jp/stores/%E3%81%8A%E3%81%8C%E3%81%8D-%E3%81%A1%E3%81%8B/author/B00NUHYD58">おがきちか</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B07VBYB4LN/hail2unet-22"><img alt="ケンガンオメガ" height="1272" loading="lazy" src="https://m.media-amazon.com/images/I/B1Cuj7s+keS.png" width="1367"></a>
          <span>ケンガンオメガ</span>
          <span>だろめおん、サンドロビッチ・ヤバ子</span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B08C1XSJH3/hail2unet-22"><img alt="八百夜" height="1678" loading="lazy" src="https://m.media-amazon.com/images/I/B1yMTdiaaPS.png" width="1778"></a>
          <span>八百夜</span>
          <span><a href="https://www.amazon.co.jp/stores/%E9%82%A3%E5%B7%9E-%E9%9B%AA%E7%B5%B5/author/B004L4K72M">那須雪絵</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B07BNZ86S2/hail2unet-22"><img alt="北北西に曇と往け" height="1223" loading="lazy" src="https://m.media-amazon.com/images/I/B1wkE2hr34S.png" width="1296"></a>
          <span>北北西に曇と往け</span>
          <span><a href="https://www.amazon.co.jp/stores/%E5%85%A5%E6%B1%9F-%E4%BA%9C%E5%AD%A3/author/B01ERZMPV0">入江亜季</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B074C78RP6/hail2unet-22"><img alt="ハクメイとミコチ" height="1049" loading="lazy" src="https://m.media-amazon.com/images/I/B1QoW7eG2VS.png" width="1121"></a>
          <span>ハクメイとミコチ</span>
          <span><a href="https://www.amazon.co.jp/stores/Takuto-Kashiki/author/B00IRQOPZK">樫木祐人</a></span>
        </li>
        <li>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B074CD8N4V/hail2unet-22"><img alt="未確認で進行形" height="1359" loading="lazy" src="https://m.media-amazon.com/images/I/B1rXpzGR2OS.png" width="1442"></a>
          <span>未確認で進行形</span>
          <span><a href="https://www.amazon.co.jp/stores/%E8%8D%92%E4%BA%95-%E3%83%81%E3%82%A7%E3%83%AA%E3%83%BC/author/B00J1ZCB48">荒井チェリー</a></span>
        </li>
      </ul>
    </section>

    <section id="albums">
      <h2>スタジオ・アルバム</h2>

      <p>AppleのiTunes Storeで購入している音楽アーティストたちの一番新しいスタジオ・アルバムです。こちらは30前後に制限しています。活動を休止してしまったアーティストたちも残されています。</p>

      <section>
        <h3>2024年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B0CV5FD75H?tag=hail2unet-22"><img alt="All Born Screaming" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31jO+1JfqsL.jpg" width="500"></a>
            <span>All Born Screaming</span>
            <span><a href="https://music.apple.com/jp/artist/st-vincent/198271209">St. Vincent</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B0CVBN35DF?tag=hail2unet-22"><img alt="Dark Matter" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51FTTiPBMdL.jpg" width="500"></a>
            <span>Dark Matter</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%91%E3%83%BC%E3%83%AB-%E3%82%B8%E3%83%A3%E3%83%A0/467464">Pearl Jam</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B0CP2WQCRM?tag=hail2unet-22"><img alt="Glasgow Eyes" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41aurSDMP1L.jpg" width="500"></a>
            <span>Glasgow Eyes</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%82%B8%E3%83%BC%E3%82%B6%E3%82%B9-%E3%83%A1%E3%83%AA%E3%83%BC-%E3%83%81%E3%82%A7%E3%82%A4%E3%83%B3/206071588">The Jesus and Mary Chain</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2023年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B0BYPDM7N7?tag=hail2unet-22"><img alt="I Inside the Old Year Dying" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31UOoM6T3sL.jpg" width="500"></a>
            <span>I Inside the Old Year Dying</span>
            <span><a href="https://music.apple.com/jp/artist/pj%E3%83%8F%E3%83%BC%E3%83%B4%E3%82%A7%E3%82%A4/252623">PJ Harvey</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B0BY8TZLJ6?tag=hail2unet-22"><img alt="In Times New Roman..." height="500" loading="lazy" src="https://m.media-amazon.com/images/I/414yKGYuKaL.jpg" width="500"></a>
            <span>In Times New Roman...</span>
            <span><a href="https://music.apple.com/jp/artist/queens-of-the-stone-age/857919">Queens of the Stone Age</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B0C5RQZL1C?tag=hail2unet-22"><img alt="Nothing Lasts Forever" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51okMz026YL.jpg" width="500"></a>
            <span>Nothing Lasts Forever</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%86%E3%82%A3%E3%83%BC%E3%83%B3%E3%82%A8%E3%82%A4%E3%82%B8-%E3%83%95%E3%82%A1%E3%83%B3%E3%82%AF%E3%83%A9%E3%83%96/1295756">Teenage Fanclub</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2022年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B09ZVLPXGF?tag=hail2unet-22"><img alt="Cool It Down" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31zySvEwM6L.jpg" width="500"></a>
            <span>Cool It Down</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%A4%E3%83%BC-%E3%83%A4%E3%83%BC-%E3%83%A4%E3%83%BC%E3%82%BA/1265171">Yeah Yeah Yeahs</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B09RSX3P6N?tag=hail2unet-22"><img alt="Fear of the Dawn" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51qZxabfMTL.jpg" width="500"></a>
            <span>Fear of the Dawn</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%82%B8%E3%83%A3%E3%83%83%E3%82%AF-%E3%83%9B%E3%83%AF%E3%82%A4%E3%83%88/826980">Jack White</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B0BCX9L4K2?tag=hail2unet-22"><img alt="Fossora" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51dVaANsM0L.jpg" width="500"></a>
            <span>Fossora</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%93%E3%83%A7%E3%83%BC%E3%82%AF/295015">Björk</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B09PZ1ZHRZ?tag=hail2unet-22"><img alt="Radiate Like This" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/2191N-vXxYL.jpg" width="500"></a>
            <span>Radiate Like This</span>
            <span><a href="https://music.apple.com/jp/artist/warpaint/305664605">Warpaint</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B09LLVYX87?tag=hail2unet-22"><img alt="Wet Leg" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51SuXzlp-dL.jpg" width="500"></a>
            <span>Wet Leg</span>
            <span><a href="https://music.apple.com/jp/artist/wet-leg/1569685293">Wet Leg</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2021年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B0BJ2QS47W?tag=hail2unet-22"><img alt="Blackest Blue" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41zreo30VOL.jpg" width="500"></a>
            <span>Blackest Blue</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%A2%E3%83%BC%E3%83%81%E3%83%BC%E3%83%90/161916">Morcheeba</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B08KG1RQ89?tag=hail2unet-22"><img alt="Home" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51X27Aw2bwL.jpg" width="500"></a>
            <span>Home</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%A9%E3%82%A4/490808665">Rhye</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B08TGS21DH?tag=hail2unet-22"><img alt="OK Human" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/61HlQUw4z9L.jpg" width="500"></a>
            <span>OK Human</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%82%A6%E3%82%A3%E3%83%BC%E3%82%B6%E3%83%BC/115234">Weezer</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B09L7FL66Z?tag=hail2unet-22"><img alt="Shout Out! To Freedom..." height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51rldX094zL.jpg" width="500"></a>
            <span>Shout Out! To Freedom...</span>
            <span><a href="https://music.apple.com/jp/artist/nightmares-on-wax/39883158">Nightmares on Wax</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B08SQNQLDJ?tag=hail2unet-22"><img alt="Sweep It Into Space" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51v9wkPFL3L.jpg" width="500"></a>
            <span>Sweep It Into Space</span>
            <span><a href="https://music.apple.com/jp/artist/dinosaur-jr/509577">Dinosaur Jr.</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2020年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B088LRMHBG?tag=hail2unet-22"><img alt="Fall to Pieces" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/516B2PeOMxS.jpg" width="500"></a>
            <span>Fall to Pieces</span>
            <span><a href="https://music.apple.com/jp/artist/tricky/254458">Tricky</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B08736HKCK?tag=hail2unet-22"><img alt="Fetch the Bolt Cutters" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41D4I83HU+L.jpg" width="500"></a>
            <span>Fetch the Bolt Cutters</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%95%E3%82%A3%E3%82%AA%E3%83%8A-%E3%82%A2%E3%83%83%E3%83%97%E3%83%AB/466131">Fiona Apple</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B0BPMW89B8?tag=hail2unet-22"><img alt="Mountain of Memory" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/613fVtcjZML.jpg" width="500"></a>
            <span>Mountain of Memory</span>
            <span><a href="https://music.apple.com/jp/artist/emancipator/209711341">Emancipator</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B088TQ7XWG?tag=hail2unet-22"><img alt="Simulcast" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51PEvGK4S3L.jpg" width="500"></a>
            <span>Simulcast</span>
            <span><a href="https://music.apple.com/jp/artist/tycho/119111355">Tycho</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B086R2XF3P?tag=hail2unet-22"><img alt="Symphonik" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/410zsHkTZwL.jpg" width="500"></a>
            <span>Symphonik</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%82%B7%E3%83%BC%E3%83%B4%E3%82%A7%E3%83%AA%E3%83%BC-%E3%82%B3%E3%83%BC%E3%83%9D%E3%83%AC%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3/2726532">Thievery Corporation</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B084LJ4YCS?tag=hail2unet-22"><img alt="The New Abnormal" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/61UBeJ6FNPL.jpg" width="500"></a>
            <span>The New Abnormal</span>
            <span><a href="https://music.apple.com/jp/artist/the-strokes/560289">The Strokes</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2019年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B07YX96CQX?tag=hail2unet-22"><img alt="Hyperspace" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51Q1CxacBtL.jpg" width="500"></a>
            <span>Hyperspace</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%99%E3%83%83%E3%82%AF/312095">Beck</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B088ZY4S6Z?tag=hail2unet-22"><img alt="The Secret of Letting Go" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51sJowWxZZL.jpg" width="500"></a>
            <span>The Secret of Letting Go</span>
            <span><a href="https://music.apple.com/jp/artist/lamb/49374">Lamb</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2018年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B07B87MYNF?&tag=hail2unet-22"><img alt="Wildness" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51-4remZ0bL.jpg" width="500"></a>
            <span>Wildness</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%82%B9%E3%83%8E%E3%82%A6-%E3%83%91%E3%83%88%E3%83%AD%E3%83%BC%E3%83%AB/5327254">Snow Patrol</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2011年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B01DEVYU70?tag=hail2unet-22"><img alt="Collapse Into Now" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51nke4GuEcL.jpg" width="500"></a>
            <span>Collapse Into Now</span>
            <span><a href="https://music.apple.com/jp/artist/r-e-m/311145">R.E.M.</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2010年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B00464XVXE?tag=hail2unet-22"><img alt="Heligoland" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51a6-h-LV3L.jpg" width="500"></a>
            <span>Heligoland</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%83%9E%E3%83%83%E3%82%B7%E3%83%B4-%E3%82%A2%E3%82%BF%E3%83%83%E3%82%AF/526404">Massive Attack</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2009年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B08MTF4RPH?tag=hail2unet-22"><img alt="The Eternal" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51D67lyhG3L.jpg" width="500"></a>
            <span>The Eternal</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%82%BD%E3%83%8B%E3%83%83%E3%82%AF-%E3%83%A6%E3%83%BC%E3%82%B9/36034">Sonic Youth</a></span>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/dp/B0788MYK8M?tag=hail2unet-22"><img alt="Yeah Ghost" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51N5N+J84CL.jpg" width="500"></a>
            <span>Yeah Ghost</span>
            <span><a href="https://music.apple.com/jp/artist/zero-7/2509752">Zero 7</a></span>
          </li>
        </ul>
      </section>

      <section>
        <h3>2008年</h3>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/dp/B08K4SHCPT?tag=hail2unet-22"><img alt="Icky Thump" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/616Lp+cG0EL.jpg" width="500"></a>
            <span>Icky Thump</span>
            <span><a href="https://music.apple.com/jp/artist/%E3%82%B6-%E3%83%9B%E3%83%AF%E3%82%A4%E3%83%88-%E3%82%B9%E3%83%88%E3%83%A9%E3%82%A4%E3%83%97%E3%82%B9/2456318">The White Stripes</a></span>
          </li>
        </ul>
      </section>
    </section>

    {{> page-footer}}
  </body>
</html>
