<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head.html}}

  <body>
    {{> page-header.html}}

    <main>
      <nav>
        <h2>目次</h2>

        <ol>
          <li><a href="#websites">ウェブサイト</a></li>
          <li><a href="#mangas">マンガ</a></li>
          <li><a href="#albums">スタジオ・アルバム</a></li>
        </ol>
      </nav>

      <section id="websites">
        <h2>ウェブサイト</h2>

        <p>以下の人々のウェブサイトを、<a href="https://feedly.com/">Feedly</a>というRSSリーダー(フィード・リーダー)で購読しています。</p>

        <ul>
          <li><a href="http://blog.64p.org/">tokuhirom&apos;s blog</a> (<a href="https://x.com/tokuhirom">tokuhirom</a>)</li>
          <li><a href="https://1000ch.net/">EagleLand</a> (<a href="https://x.com/1000ch">1000ch</a>)</li>
          <li><a href="https://accessible-usable.net/">Accessible &amp; Usable</a> (<a href="https://x.com/caztcha">caztcha</a>)</li>
          <li><a href="https://blog.agektmr.com/">Tender Surrender</a> (<a href="https://x.com/agektmr">agektmr</a>)</li>
          <li><a href="https://blog.amagi.dev/">マルシテイア</a> (<a href="https://x.com/amagitakayosi">amagitakayosi</a>)</li>
          <li><a href="https://blog.haiji.co/">灰色ハイジのテキスト</a> (<a href="https://x.com/haiji505">haiji505</a>)</li>
          <li><a href="https://blog.hiroppy.me/">blog - hiroppy&apos;s site</a> (<a href="https://x.com/about_hiroppy">about_hiroppy</a>)</li>
          <li><a href="https://blog.jnito.com/">give IT a try</a> (<a href="https://x.com/jnchito">jnchito</a>)</li>
          <li><a href="https://blog.jxck.io/">blog.jxck.io</a> (<a href="https://x.com/jxck_">jxck_</a>)</li>
          <li><a href="https://blog.kyanny.me/">@kyanny&apos;s blog</a> (<a href="https://x.com/kyanny">kyanny</a>)</li>
          <li><a href="https://blog.lai.so/">laiso</a> (<a href="https://x.com/laiso">laiso</a>)</li>
          <li><a href="https://blog.satotaichi.info/">さにあらず</a> (<a href="https://x.com/ryushi">ryushi</a>)</li>
          <li><a href="https://blog.stormcat.io/">blog.stormcat.io</a> (<a href="https://x.com/stormcat24">stormcat24</a>)</li>
          <li><a href="https://blog.sushi.money/">hitode909の日記</a> (<a href="https://x.com/hitode909">hitode909</a>)</li>
          <li><a href="https://blog.tokumaru.org/">徳丸浩の日記</a> (<a href="https://x.com/ockeghem">ockeghem</a>)</li>
          <li><a href="https://blog.toshimaru.net/">Toshimaruの技術ブログ</a> (<a href="https://x.com/toshimaru_e">toshimaru_e</a>)</li>
          <li><a href="https://blog.wadackel.me/">wadackel.me</a> (<a href="https://x.com/wadackel">wadackel</a>)</li>
          <li><a href="https://dskd.jp/">dskd</a> (<a href="https://x.com/dskd_jp">dskd_jp</a>)</li>
          <li><a href="https://eagletmt.hateblo.jp/">eagletmt&apos;s blog</a> (<a href="https://x.com/eagletmt">eagletmt</a>)</li>
          <li><a href="https://efcl.info/">Web Scratch</a> (<a href="https://x.com/azu_re">azu_re</a>)</li>
          <li><a href="https://ginpen.com/">Ginpen.com</a> (<a href="https://x.com/ginpei_jp">ginpei_jp</a>)</li>
          <li><a href="https://jinjor-labo.hatenablog.com/">ジンジャー研究室</a> (<a href="https://x.com/jinjor">jinjor</a>)</li>
          <li><a href="https://jovi0608.hatenablog.com/">ぼちぼち日記</a> (<a href="https://x.com/jovi0608">jovi0608</a>)</li>
          <li><a href="https://k0kubun.hatenablog.com/">k0kubun&apos;s blog</a> (<a href="https://x.com/k0kubun">k0kubun</a>)</li>
          <li><a href="https://kiririmode.hatenablog.jp/">理系学生日記</a> (<a href="https://x.com/kiririmode">kiririmode</a>)</li>
          <li><a href="https://kotori.style/">コトリ式</a> (<a href="https://x.com/hiro_y">hiro_y</a>)</li>
          <li><a href="https://leaysgur.github.io/posts/">Memory ice cubes</a> (<a href="https://x.com/leaysgur">leaysgur</a>)</li>
          <li><a href="https://lowreal.net/">氾濫原</a> (<a href="https://x.com/cho45">cho45</a>)</li>
          <li><a href="https://maiha.hatenablog.jp/">まいはにっき</a> (<a href="https://x.com/mt_dew2">mt_dew2</a>)</li>
          <li><a href="https://mametter.hatenablog.com/">まめめも</a> (<a href="https://x.com/mametter">mametter</a>)</li>
          <li><a href="https://memo.sugyan.com/">すぎゃーんメモ</a> (<a href="https://x.com/sugyan">sugyan</a>)</li>
          <li><a href="https://momdo.hatenablog.jp/">水底の血</a> (<a href="https://x.com/momdo_">momdo_</a>)</li>
          <li><a href="https://moznion.hatenadiary.com/">その手の平は尻もつかめるさ</a> (<a href="https://x.com/moznion">moznion</a>)</li>
          <li><a href="https://nakajmg.hatenablog.com/">じまろぐ</a> (<a href="https://x.com/nakajmg">nakajmg</a>)</li>
          <li><a href="https://necomesi.jp/blog/securecat/">ネコメシCEOブログ</a> (<a href="https://x.com/securecat">securecat</a>)</li>
          <li><a href="https://note.com/hilokit">Hiroki Tani</a> (<a href="https://x.com/hiloki">hiloki</a>)</li>
          <li><a href="https://numb86-tech.hatenablog.com/">30歳からのプログラミング</a> (<a href="https://x.com/numb_86">numb_86</a>)</li>
          <li><a href="https://ozuma.hatenablog.jp/">ろば電子が詰まつてゐる</a> (<a href="https://x.com/ozuma5119">ozuma5119</a>)</li>
          <li><a href="https://portalshit.net/">portal shit!</a> (<a href="https://x.com/morygonzalez">morygonzalez</a>)</li>
          <li><a href="https://r7kamura.com/">r7kamura.com</a> (<a href="https://x.com/r7kamura">r7kamura</a>)</li>
          <li><a href="https://secon.dev/">A Day in the Life</a> (<a href="https://x.com/hotchpotch">hotchpotch</a>)</li>
          <li><a href="https://sfujiwara.hatenablog.com/">酒日記 はてな支店</a> (<a href="https://x.com/fujiwara">fujiwara</a>)</li>
          <li><a href="https://sinsoku.hatenablog.com/">アジャイルSEの憂鬱</a> (<a href="https://x.com/sinsoku_listy">sinsoku_listy</a>)</li>
          <li><a href="https://soudai.hatenablog.com/">そーだいなるらくがき帳</a> (<a href="https://x.com/soudai1025">soudai1025</a>)</li>
          <li><a href="https://ssig33.com/">ssig33.com</a> (<a href="https://x.com/ssig33">ssig33</a>)</li>
          <li><a href="https://t32k.me/mol/">MOL</a> (<a href="https://x.com/t32k">t32k</a>)</li>
          <li><a href="https://tellme.tokyo/">tellme.tokyo</a> (<a href="https://x.com/b4b4r07">b4b4r07</a>)</li>
          <li><a href="https://tenderfeel.xsrv.jp/">WebTecNote</a> (<a href="https://x.com/Tenderfeel">Tenderfeel</a>)</li>
          <li><a href="https://terkel.jp/">terkel.jp</a> (<a href="https://x.com/terkel">terkel</a>)</li>
          <li><a href="https://text.sanographix.net/">SANOGRAPHIX Blog</a> (<a href="https://x.com/sanographix">sanographix</a>)</li>
          <li><a href="https://this.aereal.org/">Sexually Knowing</a> (<a href="https://x.com/aereal">aereal</a>)</li>
          <li><a href="https://unformedbuilding.com/">Unformed Building</a> (<a href="https://x.com/ub_pnr">ub_pnr</a>)</li>
          <li><a href="https://unknownplace.org/">unknownplace.org</a> (<a href="https://x.com/typester">typester</a>)</li>
          <li><a href="https://www.mana-cat.com/">Mana Blog Next</a> (<a href="https://x.com/mana_cat">mana_cat</a>)</li>
          <li><a href="https://www.understandard.net/">understandard</a> (<a href="https://x.com/understandard">understandard</a>)</li>
          <li><a href="https://wzz.jp/">wzz.jp</a> (<a href="https://x.com/wozozo">wozozo</a>)</li>
          <li><a href="https://yuheiy.com/">Yuhei Yasuda</a> (<a href="https://x.com/_yuheiy">_yuheiy</a>)</li>
        </ul>
      </section>

      <section id="mangas">
        <h2>マンガ</h2>

        <p><a href="https://www.amazon.co.jp/kindle-dbs/manga-store">AmazonのKindle</a>で購入しているマンガです。24種くらいに制限しています。</p>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DVSCKKX4/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DVSCKKX4.jpg" width="368"></a>
            <p><em>SPY×FAMILY</em></p>
            <p>遠藤達哉</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DTP71FD3/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DTP71FD3.jpg" width="353"></a>
            <p><em>ケンガンオメガ</em></p>
            <p>だろめおん、サンドロビッチ・ヤバ子</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DQXN3K5J/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DQXN3K5J.jpg" width="352"></a>
            <p><em>妖精国の騎士 Ballad ～継ぐ視の守護者～</em></p>
            <p>中山星香</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CW17BSB1/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CW17BSB1.jpg" width="368"></a>
            <p><em>血界戦線 Beat 3 Peat</em></p>
            <p>内藤泰弘</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DTNGHM2G/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DTNGHM2G.jpg" width="352"></a>
            <p><em>Landreaall</em></p>
            <p>おがきちか</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DRFY3NHL/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DRFY3NHL.jpg" width="353"></a>
            <p><em>COSMOS</em></p>
            <p>田村隆平</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DRF6GMQ8/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DRF6GMQ8.jpg" width="352"></a>
            <p><em>ハクメイとミコチ</em></p>
            <p>樫木祐人</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DQZRS9JC/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DQZRS9JC.jpg" width="352"></a>
            <p><em>Void: No. Nine</em></p>
            <p>シマ・シンヤ</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DMV82FK9/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DMV82FK9.jpg" width="318"></a>
            <p><em>シャンピニオンの魔女</em></p>
            <p>樋口橘</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DQCLCJSC/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DQCLCJSC.jpg" width="352"></a>
            <p><em>うめともものふつうの暮らし</em></p>
            <p>藤沢カミヤ</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DPFDQ9DR/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DPFDQ9DR.jpg" width="352"></a>
            <p><em>J⇔M</em></p>
            <p>大武政夫</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D2KPV6NZ/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D2KPV6NZ.jpg" width="352"></a>
            <p><em>コーセルテルの竜術士～子竜冒険記～</em></p>
            <p>石動あゆま</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DJ2KPX94/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DJ2KPX94.jpg" width="352"></a>
            <p><em>デッドマウント・デスプレイ</em></p>
            <p>藤本新太、成田良悟</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DG26GZHF/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DG26GZHF.jpg" width="353"></a>
            <p><em>大ダーク</em></p>
            <p>林田球</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DF61KVJ4/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DF61KVJ4.jpg" width="368"></a>
            <p><em>カワイスギクライシス</em></p>
            <p>城戸みつる</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DHV6XGGP/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DHV6XGGP.jpg" width="352"></a>
            <p><em>東島丹三郎は仮面ライダーになりたい</em></p>
            <p>柴田ヨクサル</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0DGWWCK3Q/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0DGWWCK3Q.jpg" width="352"></a>
            <p><em>八百夜</em></p>
            <p>那須雪絵</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D9N58RG1/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D9N58RG1.jpg" width="352"></a>
            <p><em>ゆらゆらQ</em></p>
            <p>雨隠ギド</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D455N2GC/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D455N2GC.jpg" width="352"></a>
            <p><em>アデライトの花</em></p>
            <p>TONO</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D1ZJW1FZ/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D1ZJW1FZ.jpg" width="352"></a>
            <p><em>宙に参る</em></p>
            <p>肋骨凹介</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CW3GM3J1/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CW3GM3J1.jpg" width="352"></a>
            <p><em>聖☆おにいさん</em></p>
            <p>中村光</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CTZSHVWK/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CTZSHVWK.jpg" width="352"></a>
            <p><em>北北西に曇と往け</em></p>
            <p>入江亜季</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CQ4KL4PG/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CQ4KL4PG.jpg" width="352"></a>
            <p><em>誰も知らんがな</em></p>
            <p>サライネス</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CP3N5MNH/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CP3N5MNH.jpg" width="351"></a>
            <p><em>最果てのソルテ</em></p>
            <p>水上悟志</p>
          </li>
        </ul>
      </section>

      <section id="albums">
        <h2>スタジオ・アルバム</h2>

        <p>AppleのiTunes Storeで購入している音楽アーティストたちの一番新しいスタジオ・アルバムです。こちらも24前後に制限しています。</p>

        <section>
          <h3>2024年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B0D47PG4WD?tag=hail2unet-22"><img alt="The Forest is the Path" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51jXychylaL.jpg" width="500"></a>
              <p><em>Snow Patrol</em></p>
              <p>The Forest is the Path</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0D81FQD8B?tag=hail2unet-22"><img alt="Infinite Health" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51XsRj5te-L.jpg" width="500"></a>
              <p><em>Tycho</em></p>
              <p>Infinite Health</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0DBKK99JF?tag=hail2unet-22"><img alt="No Name" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51YPLLKeNuL.jpg" width="500"></a>
              <p><em>Jack White</em></p>
              <p>No Name</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0CV4KRTQX?tag=hail2unet-22"><img alt="Reasonable Woman" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51P24hfOv-L.jpg" width="500"></a>
              <p><em>Sia</em></p>
              <p>Reasonable Woman</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0CV5FD75H?tag=hail2unet-22"><img alt="All Born Screaming" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31jO+1JfqsL.jpg" width="500"></a>
              <p><em>St. Vincent</em></p>
              <p>All Born Screaming</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0CVBN35DF?tag=hail2unet-22"><img alt="Dark Matter" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51FTTiPBMdL.jpg" width="500"></a>
              <p><em>Pearl Jam</em></p>
              <p>Dark Matter</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0CP2WQCRM?tag=hail2unet-22"><img alt="Glasgow Eyes" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41aurSDMP1L.jpg" width="500"></a>
              <p><em>The Jesus and Mary Chain</em></p>
              <p>Glasgow Eyes</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2023年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BYPDM7N7?tag=hail2unet-22"><img alt="I Inside the Old Year Dying" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31UOoM6T3sL.jpg" width="500"></a>
              <p><em>PJ Harvey</em></p>
              <p>I Inside the Old Year Dying</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BY8TZLJ6?tag=hail2unet-22"><img alt="In Times New Roman..." height="500" loading="lazy" src="https://m.media-amazon.com/images/I/414yKGYuKaL.jpg" width="500"></a>
              <p><em>Queens of the Stone Age</em></p>
              <p>In Times New Roman...</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0C5RQZL1C?tag=hail2unet-22"><img alt="Nothing Lasts Forever" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51okMz026YL.jpg" width="500"></a>
              <p><em>Teenage Fanclub</em></p>
              <p>Nothing Lasts Forever</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2022年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B0B6GXJ5Z9?tag=hail2unet-22"><img alt="No Rules Sandy" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/316FTbqlTrL.jpg" width="500"></a>
              <p><em>Sylvan Esso</em></p>
              <p>No Rules Sandy</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B09HW7Q4V8?tag=hail2unet-22"><img alt="Fragments" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51bKB4RJuiL.jpg" width="500"></a>
              <p><em>Bonobo</em></p>
              <p>Fragments</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B09ZVLPXGF?tag=hail2unet-22"><img alt="Cool It Down" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31zySvEwM6L.jpg" width="500"></a>
              <p><em>Yeah Yeah Yeahs</em></p>
              <p>Cool It Down</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BCX9L4K2?tag=hail2unet-22"><img alt="Fossora" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51dVaANsM0L.jpg" width="500"></a>
              <p><em>Björk</em></p>
              <p>Fossora</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B09PZ1ZHRZ?tag=hail2unet-22"><img alt="Radiate Like This" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/2191N-vXxYL.jpg" width="500"></a>
              <p><em>Warpaint</em></p>
              <p>Radiate Like This</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2021年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BJ2QS47W?tag=hail2unet-22"><img alt="Blackest Blue" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41zreo30VOL.jpg" width="500"></a>
              <p><em>Morcheeba</em></p>
              <p>Blackest Blue</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B08TGS21DH?tag=hail2unet-22"><img alt="OK Human" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/61HlQUw4z9L.jpg" width="500"></a>
              <p><em>Weezer</em></p>
              <p>OK Human</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B09L7FL66Z?tag=hail2unet-22"><img alt="Shout Out! To Freedom..." height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51rldX094zL.jpg" width="500"></a>
              <p><em>Nightmares on Wax</em></p>
              <p>Shout Out! To Freedom...</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B08SQNQLDJ?tag=hail2unet-22"><img alt="Sweep It Into Space" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51v9wkPFL3L.jpg" width="500"></a>
              <p><em>Dinosaur Jr.</em></p>
              <p>Sweep It Into Space</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2020年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B08736HKCK?tag=hail2unet-22"><img alt="Fetch the Bolt Cutters" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41D4I83HU+L.jpg" width="500"></a>
              <p><em>Fiona Apple</em></p>
              <p>Fetch the Bolt Cutters</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BPMW89B8?tag=hail2unet-22"><img alt="Mountain of Memory" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/613fVtcjZML.jpg" width="500"></a>
              <p><em>Emancipator</em></p>
              <p>Mountain of Memory</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B086R2XF3P?tag=hail2unet-22"><img alt="Symphonik" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/410zsHkTZwL.jpg" width="500"></a>
              <p><em>Thievery Corporation</em></p>
              <p>Symphonik</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B084LJ4YCS?tag=hail2unet-22"><img alt="The New Abnormal" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/61UBeJ6FNPL.jpg" width="500"></a>
              <p><em>The Strokes</em></p>
              <p>The New Abnormal</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2019年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B07YX96CQX?tag=hail2unet-22"><img alt="Hyperspace" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51Q1CxacBtL.jpg" width="500"></a>
              <p><em>Beck</em></p>
              <p>Hyperspace</p>
            </li>
          </ul>
        </section>
      </section>
    </main>

    {{> page-footer.html}}
  </body>
</html>
