<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <main>
      <nav>
        <h2>目次</h2>

        <ol>
          <li><a href="#websites">ウェブサイト</a></li>
          <li><a href="#mangas">マンガ</a></li>
          <li><a href="#albums">スタジオ・アルバム</a></li>
        </ol>
      </nav>

      <section id="websites">
        <h2>ウェブサイト</h2>

        <p>以下の人々のウェブサイトを、<a href="https://feedly.com/">Feedly</a>というRSSリーダー(フィード・リーダー)で購読しています。一括してインポートできる<a href="/mysubscriptions.opml">OPMLファイル</a>も公開しています。</p>

        <ul>
          {{#websites}}
            <li><a href="{{link}}">{{title}}</a> (<a href="https://x.com/{{author}}">{{author}}</a>)</li>
          {{/websites}}
        </ul>
      </section>

      <section id="mangas">
        <h2>マンガ</h2>

        <p><a href="https://www.amazon.co.jp/kindle-dbs/manga-store">AmazonのKindle</a>でシリーズ購読しているマンガです。24シリーズくらいに制限しています。完結したシリーズは載っていません。</p>

        <ul class="showcase">
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D6YP4DYY/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D6YP4DYY.jpg" width="352"></a>
            <p><em>妖精国の騎士 Ballad ～継ぐ視の守護者～</em></p>
            <p>中山星香</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CW169QVF/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CW169QVF.jpg" width="352"></a>
            <p><em>ジェイエム</em></p>
            <p>大武政夫</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CW17BSB1/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CW17BSB1.jpg" width="368"></a>
            <p><em>血界戦線 Beat 3 Peat</em></p>
            <p>内藤泰弘</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D6VGP6TG/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D6VGP6TG.jpg" width="352"></a>
            <p><em>うめともものふつうの暮らし</em></p>
            <p>藤沢カミヤ</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D4DWFFN9/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D4DWFFN9.jpg" width="353"></a>
            <p><em>ケンガンオメガ</em></p>
            <p>だろめおん、サンドロビッチ・ヤバ子</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CYYVJP4D/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CYYVJP4D.jpg" width="352"></a>
            <p><em>Landreaall</em></p>
            <p>おがきちか</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D1K2Q8B9/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D1K2Q8B9.jpg" width="353"></a>
            <p><em>COSMOS</em></p>
            <p>田村隆平</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D455N2GC/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D455N2GC.jpg" width="352"></a>
            <p><em>アデライトの花</em></p>
            <p>TONO</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D1ZJW1FZ/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D1ZJW1FZ.jpg" width="352"></a>
            <p><em>宙に参る</em></p>
            <p>肋骨凹介</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0D2KPV6NZ/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0D2KPV6NZ.jpg" width="352"></a>
            <p><em>コーセルテルの竜術士～子竜冒険記～</em></p>
            <p>石動あゆま</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CWFDJ1VS/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CWFDJ1VS.jpg" width="352"></a>
            <p><em>デッドマウント・デスプレイ</em></p>
            <p>藤本新太、成田良悟</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CWB7TXS6/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CWB7TXS6.jpg" width="368"></a>
            <p><em>カワイスギクライシス</em></p>
            <p>城戸みつる</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CWBZYY12/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CWBZYY12.jpg" width="352"></a>
            <p><em>東島丹三郎は仮面ライダーになりたい</em></p>
            <p>柴田ヨクサル</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CW3GM3J1/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CW3GM3J1.jpg" width="352"></a>
            <p><em>聖☆おにいさん</em></p>
            <p>中村光</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CTC9LRMM/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CTC9LRMM.jpg" width="368"></a>
            <p><em>SPY×FAMILY</em></p>
            <p>遠藤達哉</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CTZSHVWK/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CTZSHVWK.jpg" width="352"></a>
            <p><em>北北西に曇と往け</em></p>
            <p>入江亜季</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CQSD4WHS/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CQSD4WHS.jpg" width="352"></a>
            <p><em>ハクメイとミコチ</em></p>
            <p>樫木祐人</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CQR3XBZS/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CQR3XBZS.jpg" width="353"></a>
            <p><em>大ダーク</em></p>
            <p>林田球</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CQ4KL4PG/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CQ4KL4PG.jpg" width="352"></a>
            <p><em>誰も知らんがな</em></p>
            <p>サライネス</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CP3N5MNH/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CP3N5MNH.jpg" width="351"></a>
            <p><em>最果てのソルテ</em></p>
            <p>水上悟志</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0CGZKG91L/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0CGZKG91L.jpg" width="355"></a>
            <p><em>もっけの箱庭</em></p>
            <p>草川為</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0C8MYLWS6/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0C8MYLWS6.jpg" width="318"></a>
            <p><em>シャンピニオンの魔女</em></p>
            <p>樋口橘</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0C841XFSN/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0C841XFSN.jpg" width="352"></a>
            <p><em>八百夜</em></p>
            <p>那須雪絵</p>
          </li>
          <li>
            <a href="https://www.amazon.co.jp/exec/obidos/ASIN/B0C5HZJ83G/hail2unet-22"><img alt="" height="500" loading="lazy" src="https://m.media-amazon.com/images/P/B0C5HZJ83G.jpg" width="352"></a>
            <p><em>ゆらゆらQ</em></p>
            <p>雨隠ギド</p>
          </li>
        </ul>
      </section>

      <section id="albums">
        <h2>スタジオ・アルバム</h2>

        <p>AppleのiTunes Storeで購入している音楽アーティストたちの一番新しいスタジオ・アルバムです。こちらも24前後に制限しています。</p>

        <section>
          <h3>2024年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B0DBKK99JF?tag=hail2unet-22"><img alt="No Name" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51YPLLKeNuL.jpg" width="500"></a>
              <p><em>Jack White</em></p>
              <p>No Name</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0CV4KRTQX?tag=hail2unet-22"><img alt="Reasonable Woman" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51P24hfOv-L.jpg" width="500"></a>
              <p><em>Sia</em></p>
              <p>Reasonable Woman</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0CV5FD75H?tag=hail2unet-22"><img alt="All Born Screaming" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31jO+1JfqsL.jpg" width="500"></a>
              <p><em>St. Vincent</em></p>
              <p>All Born Screaming</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0CVBN35DF?tag=hail2unet-22"><img alt="Dark Matter" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51FTTiPBMdL.jpg" width="500"></a>
              <p><em>Pearl Jam</em></p>
              <p>Dark Matter</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0CP2WQCRM?tag=hail2unet-22"><img alt="Glasgow Eyes" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41aurSDMP1L.jpg" width="500"></a>
              <p><em>The Jesus and Mary Chain</em></p>
              <p>Glasgow Eyes</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2023年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BYPDM7N7?tag=hail2unet-22"><img alt="I Inside the Old Year Dying" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31UOoM6T3sL.jpg" width="500"></a>
              <p><em>PJ Harvey</em></p>
              <p>I Inside the Old Year Dying</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BY8TZLJ6?tag=hail2unet-22"><img alt="In Times New Roman..." height="500" loading="lazy" src="https://m.media-amazon.com/images/I/414yKGYuKaL.jpg" width="500"></a>
              <p><em>Queens of the Stone Age</em></p>
              <p>In Times New Roman...</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0C5RQZL1C?tag=hail2unet-22"><img alt="Nothing Lasts Forever" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51okMz026YL.jpg" width="500"></a>
              <p><em>Teenage Fanclub</em></p>
              <p>Nothing Lasts Forever</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2022年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B0B6GXJ5Z9?tag=hail2unet-22"><img alt="No Rules Sandy" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/316FTbqlTrL.jpg" width="500"></a>
              <p><em>Sylvan Esso</em></p>
              <p>No Rules Sandy</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B09HW7Q4V8?tag=hail2unet-22"><img alt="Fragments" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51bKB4RJuiL.jpg" width="500"></a>
              <p><em>Bonobo</em></p>
              <p>Fragments</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B09ZVLPXGF?tag=hail2unet-22"><img alt="Cool It Down" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/31zySvEwM6L.jpg" width="500"></a>
              <p><em>Yeah Yeah Yeahs</em></p>
              <p>Cool It Down</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BCX9L4K2?tag=hail2unet-22"><img alt="Fossora" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51dVaANsM0L.jpg" width="500"></a>
              <p><em>Björk</em></p>
              <p>Fossora</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B09PZ1ZHRZ?tag=hail2unet-22"><img alt="Radiate Like This" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/2191N-vXxYL.jpg" width="500"></a>
              <p><em>Warpaint</em></p>
              <p>Radiate Like This</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2021年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BJ2QS47W?tag=hail2unet-22"><img alt="Blackest Blue" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41zreo30VOL.jpg" width="500"></a>
              <p><em>Morcheeba</em></p>
              <p>Blackest Blue</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B08TGS21DH?tag=hail2unet-22"><img alt="OK Human" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/61HlQUw4z9L.jpg" width="500"></a>
              <p><em>Weezer</em></p>
              <p>OK Human</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B09L7FL66Z?tag=hail2unet-22"><img alt="Shout Out! To Freedom..." height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51rldX094zL.jpg" width="500"></a>
              <p><em>Nightmares on Wax</em></p>
              <p>Shout Out! To Freedom...</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B08SQNQLDJ?tag=hail2unet-22"><img alt="Sweep It Into Space" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51v9wkPFL3L.jpg" width="500"></a>
              <p><em>Dinosaur Jr.</em></p>
              <p>Sweep It Into Space</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2020年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B08736HKCK?tag=hail2unet-22"><img alt="Fetch the Bolt Cutters" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/41D4I83HU+L.jpg" width="500"></a>
              <p><em>Fiona Apple</em></p>
              <p>Fetch the Bolt Cutters</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B0BPMW89B8?tag=hail2unet-22"><img alt="Mountain of Memory" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/613fVtcjZML.jpg" width="500"></a>
              <p><em>Emancipator</em></p>
              <p>Mountain of Memory</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B088TQ7XWG?tag=hail2unet-22"><img alt="Simulcast" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51PEvGK4S3L.jpg" width="500"></a>
              <p><em>Tycho</em></p>
              <p>Simulcast</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B086R2XF3P?tag=hail2unet-22"><img alt="Symphonik" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/410zsHkTZwL.jpg" width="500"></a>
              <p><em>Thievery Corporation</em></p>
              <p>Symphonik</p>
            </li>
            <li>
              <a href="https://www.amazon.co.jp/dp/B084LJ4YCS?tag=hail2unet-22"><img alt="The New Abnormal" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/61UBeJ6FNPL.jpg" width="500"></a>
              <p><em>The Strokes</em></p>
              <p>The New Abnormal</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2019年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B07YX96CQX?tag=hail2unet-22"><img alt="Hyperspace" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51Q1CxacBtL.jpg" width="500"></a>
              <p><em>Beck</em></p>
              <p>Hyperspace</p>
            </li>
          </ul>
        </section>

        <section>
          <h3>2018年</h3>

          <ul class="showcase">
            <li>
              <a href="https://www.amazon.co.jp/dp/B07B87MYNF?&tag=hail2unet-22"><img alt="Wildness" height="500" loading="lazy" src="https://m.media-amazon.com/images/I/51-4remZ0bL.jpg" width="500"></a>
              <p><em>Snow Patrol</em></p>
              <p>Wildness</p>
            </li>
          </ul>
        </section>
      </section>
    </main>

    {{> page-footer}}
  </body>
</html>
