<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> site-menu}}
    {{> page-header}}

    <p>僕は<a href="https://feedly.com/">Feedly</a>を使って、これらのウェブサイトを購読しています。対応しているフィード・リーダー(RSSリーダー)にインポートできるように、<a href="/mysubscriptions.opml">その名前や、URL、RSSのURLをまとめたOPMLファイル</a>も公開しています。インポート方法については、使っているフィード・リーダーのヘルプなどを参照してください。</p>

    <ul>
      {{#subscriptions}}
        <li><a href="{{link}}">{{title}}</a> (<a href="{{feed}}">RSS</a>)</li>
      {{/subscriptions}}
    </ul>

    {{> page-footer}}
  </body>
</html>
