{{> header}}

<ul>
	{{#followings}}
		<li><a href="{{url}}">{{title}}</a></li>
	{{/followings}}
</ul>

<p>これらブログの<a href="/mysubscriptions.opml">サイト名やURL、RSSのURLをまとめたOPMLファイル</a>も公開しています。このファイルをRSSリーダーにインポートすると、一気に購読することもできるでしょう。</p>

{{> footer}}
