<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> page-header}}

		<main>
			<section>
				<h1>{{title}}</h1>

				<p>以下のウェブページの一覧の参照先は、すべて外部のウェブページで、なくなっている、または乗っ取られている可能性があります。そのため、タイトルやコメントと一致しない内容が表示されるかもしれません。</p>

				{{#links}}
					{{#isFirstInMonth}}
						<section>
							<h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>
					{{/isFirstInMonth}}

					<p><a href="{{link}}">{{title}}</a>: {{description}}</p>

					{{#isLastInMonth}}
						</section>
					{{/isLastInMonth}}
				{{/links}}
			</section>
		</main>

		{{> page-footer}}
	</body>
</html>
