<!DOCTYPE html>
<html lang="{{lang}}" itemscope itemtype="http://schema.org/{{schemaType}}">
	{{> head}}

	<body>
		{{> page-header}}

		<main id="main" class="page-content">
			<section>
				<h1>{{title}}</h1>

				<p>以下のウェブページの一覧の参照先は、すべて外部のウェブページで、なくなっている、または乗っ取られている可能性があります。そのため、タイトルやコメントと一致しない内容が表示されるかもしれません。</p>

				{{#links}}
					{{#isFirstInMonth}}
						<section>
							<h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

							<ol class="posts">
					{{/isFirstInMonth}}

								<li>
									<time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{month}}月{{date}}日</time>
									<a href="{{link}}">{{title}}</a>: {{description}}
								</li>

					{{#isLastInMonth}}
							</ol>
						</section>
					{{/isLastInMonth}}
				{{/links}}
			</section>
		</main>

		{{> page-footer}}
	</body>
</html>
