<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <h1>本</h1>

        <ul>
          {{#books}}
            <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img alt="{{title}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg"></a></li>
          {{/books}}
        </ul>
      </section>

      <section>
        <h1>小説</h1>

        <ul>
          {{#novels}}
            <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img alt="{{title}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg"></a></li>
          {{/novels}}
        </ul>
      </section>

      <section>
        <h1>マンガ</h1>

        <ul>
          {{#comics}}
            <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img alt="{{title}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg"></a></li>
          {{/comics}}
        </ul>
      </section>

      <section>
        <h1>ウェブページ</h1>

        <ol role="directory">
          {{#urls}}
            <li>
              <time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time>
              <a href="{{url}}">{{title}}</a>
            </li>
          {{/urls}}
        </ol>
      </section>
    </main>

    {{> footer}}
  </body>
</html>
