/* index.css | MIT License */

/* Variable */
:root {
  /* Color */
  --color-background: hsl(48, 48%, 93%);
  --color-background-tone: hsl(48, 48%, 90%);
  --color-on-background: hsl(48, 48%, 12%);
  --color-link: hsl(216, 96%, 48%);

  /* Font Size */
  --font-size-default: 1rem;
  --font-size-small: calc(var(--font-size-default) / var(--ratio-1));
  --font-size-large: calc(var(--font-size-default) * var(--ratio-1));
  --font-size-huge: calc(var(--font-size-large) * var(--ratio-1));

  /* Line Height */
  --line-height-default: calc(var(--ratio-2));
  --line-height-small: calc(var(--line-height-default) / var(--ratio-1));

  /* Ratio */
  --ratio-1: 1.272;
  --ratio-2: calc(var(--ratio-1) * var(--ratio-1));
  --ratio-4: calc(var(--ratio-2) * var(--ratio-2));

  /* Space */
  --space-default: calc(var(--ratio-2) * 1rem);
  --space-small: calc(var(--space-default) / var(--ratio-4));
  --space-large: calc(var(--space-default) * var(--ratio-1));
  --space-tiny: calc(var(--space-small) / var(--ratio-2));
  --space-huge: calc(var(--space-large) * var(--ratio-2) * var(--ratio-1));
  --space-gargantuan: calc(var(--space-huge) * var(--ratio-1));
  --space-enormous: calc(var(--space-gargantuan) * var(--ratio-1));
  --space-rect: calc(
    var(--space-default) + (var(--line-height-default) - 1) * 1em / 2
  );

  /* Width */
  --width-column: 48rem;

  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: sans-serif;
  font-size: 112.5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Color */
    --color-background: hsl(48, 48%, 6%);
    --color-background-tone: hsl(48, 48%, 9%);
    --color-on-background: hsl(48, 48%, 90%);
    --color-link: hsl(216, 96%, 78%);
  }
}

/* Sections */
body {
  --margin-inline-start-body: clamp(
    0px,
    (
        100vw - var(--padding-inline-body) - var(--width-column) -
          var(--padding-inline-body) - 20px
      ) / 2,
    var(--ratio-4) * var(--ratio-4) * var(--ratio-1) * 1vw
  );
  --padding-inline-body: min(5vw, var(--space-large));

  line-height: var(--line-height-default);
  margin: var(--space-default) auto var(--space-large)
    var(--margin-inline-start-body);
  max-width: var(--width-column);
  padding-inline: var(--padding-inline-body);
}

h1 {
  font-size: var(--font-size-huge);
  font-weight: normal;
  line-height: var(--line-height-small);
  margin-block: var(--space-enormous);
}

h2 {
  font-size: var(--font-size-large);
  line-height: var(--line-height-small);
  margin-block: var(--space-gargantuan) 0;
}

h3 {
  font-size: var(--font-size-default);
  line-height: var(--line-height-small);
  margin-block: var(--space-huge) 0;
}

/* Grouping Content */
p {
  margin-block: var(--space-default) 0;
}

:is(h2, h3, hgroup, header) + p {
  margin-block-start: var(--space-tiny);
}

hr {
  border-block-end: none;
  border-block-start-style: solid;
  border-block-start-width: thin;
  border-inline: none;
  margin-block: var(--space-rect);
  margin-inline-start: 0;
  width: calc(var(--width-column) / var(--ratio-4) / var(--ratio-4));
}

pre {
  background-color: var(--color-background-tone);
  /* stylelint-disable-next-line font-family-no-duplicate-names */
  font-family: monospace, monospace;
  font-size: inherit;
  margin-block: var(--space-rect);
  overflow-x: auto;
  padding: var(--space-small);
  tab-size: 4;
}

blockquote {
  margin: var(--space-default) 0 0 var(--space-large);
}

:is(ul, ol) {
  margin-block: var(--space-default) 0;
  padding-inline-start: var(--space-large);
}

:is(ul, ol) :is(ul, ol) {
  margin-block-start: 0;
}

li {
  margin-block-start: var(--space-tiny);
}

figure {
  margin: var(--space-rect) 0;
}

figcaption {
  font-size: var(--font-size-small);
}

/* Text-level Semantics */
a {
  color: var(--color-link);
}

a:visited {
  color: inherit;
}

a:has(img) {
  display: inline-block;
  width: 100%;
}

em {
  font-style: normal;
  font-weight: bold;
}

:is(code, samp, kbd) {
  /* stylelint-disable-next-line font-family-no-duplicate-names */
  font-family: monospace, monospace;
  font-size: inherit;
}

/* Edits */
ins {
  text-decoration: none;
}

/* Embedded Content */
img {
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

figure img {
  border-radius: var(--space-tiny);
}

svg {
  display: inline-block;
  fill: currentcolor;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

/* Tabular Data */
table {
  border-spacing: 0;
  display: block;
  margin-block: var(--space-rect);
  max-width: 100%;
  overflow-x: auto;
}

:is(td, th) {
  background-color: var(--color-background-tone);
  border-block-start-style: solid;
  border-block-start-width: thin;
  padding: var(--space-small);
  vertical-align: top;
  white-space: pre;
}

th {
  text-align: inherit;
}

/* Universal */
[id] {
  scroll-margin-block-start: var(--space-gargantuan);
}

:focus {
  scroll-margin-block: var(--space-gargantuan);
}

/* Affiliate */
.affiliate img {
  aspect-ratio: 16 / 9;
  background-color: white;
  height: auto;
  object-fit: contain;
  padding: var(--space-default);
  width: 100%;
}

/* Date */
.date {
  font-size: var(--font-size-small);
}

.date:has(+ h1) {
  margin-block-start: var(--space-enormous);
}

.date:has(+ h3) {
  margin-block-start: var(--space-large);
}

.date + * {
  margin-block-start: 0;
}

/* Logo */
.logo {
  font-size: inherit;
  line-height: inherit;
  margin-block: 0;
}

.logo a {
  text-decoration: none;
}

.logo svg {
  color: var(--color-on-background);
  max-width: none;
  width: calc(var(--line-height-default) * 1em);
}

/* Page Footer */
.page-footer {
  font-size: var(--font-size-small);
}

.page-footer p:first-child {
  margin-block-start: var(--space-enormous);
}

.page-footer p + p {
  margin-block-start: var(--space-small);
}

/* Page Header */

/* Post */
a:has(.post) {
  text-decoration: none;
}

a .post p {
  color: var(--color-on-background);
}

a .post h3 {
  text-decoration: underline;
}

/* Showcase */
.showcase {
  align-items: end;
  display: grid;
  gap: var(--space-rect) var(--space-large);
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      min(
        (
            100vw - var(--padding-inline-body) - var(--padding-inline-body) -
              20px + var(--space-default)
          ) / 2 - var(--space-default),
        (var(--width-column) + var(--space-default) - 80px) / 4 -
          var(--space-default)
      ),
      1fr
    )
  );
  list-style-type: none;
  margin-block: var(--space-rect);
  padding-inline-start: 0;
}

.showcase li {
  margin-block-start: 0;
}

.showcase p {
  font-size: var(--font-size-small);
  margin-block-start: var(--space-tiny);
  overflow-x: clip;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

/* Site Menu */
.site-menu ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.site-menu ul:first-of-type {
  margin-block-start: var(--space-enormous);
}

.site-menu ul + ul {
  margin-block-start: var(--space-large);
}

.site-menu ul:last-of-type {
  margin-block-end: var(--space-enormous);
}
