/* For All | MIT License */

@layer variable, default, component, test;

@layer variable {
  :root {
    /* Ratio */
    --ratio: calc(pow(3, 2) / pow(2, 3));

    /* Font Size */
    --font-size-default: 1rem;
    --font-size-small: round(var(--font-size-default) / var(--ratio), 1px);
    --font-size-large: round(
      var(--font-size-default) * pow(var(--ratio), 3),
      1px
    );
    --font-size-tiny: round(var(--font-size-small) / var(--ratio), 1px);
    --font-size-huge: round(var(--font-size-large) * pow(var(--ratio), 3), 1px);

    /* Line Height */
    --line-height-default: calc(pow(var(--ratio), 4));
    --line-height-small: calc(
      var(--line-height-default) / pow(var(--ratio), 2)
    );

    /* Space */
    --space-v-tiny: calc(var(--space-v-default) / 4);
    --space-v-small: calc(var(--space-v-default) / 2);
    --space-v-default: 1rlh;
    --space-v-large: calc(var(--space-v-default) * 2);
    --space-v-huge: calc(var(--space-v-default) * 4);
    --space-v-gargantuan: calc(var(--space-v-default) * 6);
    --space-v-rect: calc(var(--space-v-default) + var(--half-leading));
    --space-v-rect-inner: calc(
      var(--space-v-default) / 2 - var(--half-leading)
    );
    --space-h-default: 1rem;
    --space-h-large: calc(var(--space-h-default) * 2.5);
    --space-h-huge: calc(var(--space-h-default) * 8);

    /* Color */
    --color-background: hsl(48 48% 93%);
    --color-link: hsl(216 96% 45%);
    --color-background-tone: color-mix(
      in hsl,
      var(--color-background),
      black 6%
    );
    --color-on-background: color-mix(
      in hsl,
      var(--color-background),
      black 78%
    );

    /* Other */
    --half-leading: calc((1rlh - 1rem) / 2);
    --line-length: 42;
  }
}

@layer default {
  :root {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: sans-serif;
    font-size: round(clamp(100%, 100svmin / var(--line-length), 150%), 1px);
    line-height: var(--line-height-default);
    scrollbar-gutter: stable;
    text-spacing-trim: trim-start;
  }

  /* Sections */
  body {
    --padding-inline-body: 5lvw;
    --max-inline-size-body: calc(var(--line-length) * 1rem);
    --margin-inline-start-body: clamp(
      0lvw,
      (100% - var(--padding-inline-body) * 2 - var(--max-inline-size-body)) / 2,
      10lvw
    );

    margin: 5svh auto 30svh var(--margin-inline-start-body);
    max-inline-size: var(--max-inline-size-body);
    padding-inline: var(--padding-inline-body);
  }

  h1 {
    font-size: var(--font-size-huge);
    font-weight: normal;
    line-height: var(--line-height-small);
    margin-block: var(--space-v-gargantuan);
  }

  h2 {
    font-size: var(--font-size-large);
    line-height: var(--line-height-small);
    margin-block: var(--space-v-huge) 0;
  }

  h3 {
    font-size: var(--font-size-default);
    margin-block: var(--space-v-large) 0;
  }

  /* Grouping Content */
  p {
    margin-block: var(--space-v-default) 0;

    :is(h2, h3, header) + & {
      margin-block-start: var(--space-v-tiny);
    }
  }

  hr {
    border: none;
    color: inherit;
    margin-block: var(--space-v-large);
    margin-inline-start: var(--space-h-huge);

    &::before {
      content: "⁂" / "";
    }
  }

  pre {
    background-color: var(--color-background-tone);
    font-family: monospace, "Dummy Font";
    font-size: inherit;
    margin-block: var(--space-v-rect);
    overflow-x: auto;
    padding: var(--space-v-rect-inner) var(--space-h-default);
    tab-size: 4;
    text-spacing-trim: space-all;
  }

  blockquote {
    font-size: var(--font-size-small);
    margin: var(--space-v-default) 0 0 var(--space-h-large);
  }

  :is(ol, ul) {
    margin-block: var(--space-v-default) 0;
    padding-inline-start: var(--space-h-large);

    & & {
      margin-block-start: 0;
    }
  }

  li {
    margin-block-start: var(--space-v-tiny);
  }

  figure {
    margin: var(--space-v-rect) 0;
  }

  figcaption {
    font-size: var(--font-size-small);
  }

  /* Text-level Semantics */
  a {
    color: var(--color-link);

    &:visited {
      color: inherit;
    }

    &:has(img) {
      display: inline-block;
      inline-size: 100%;
    }
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  :is(code, samp, kbd) {
    font-family: monospace, "Dummy Font";
    font-size: inherit;
  }

  /* Edits */
  ins {
    text-decoration: none;
  }

  /* Embedded Content */
  img {
    block-size: auto;
    box-sizing: border-box;
    display: inline-block;
    max-block-size: 100%;
    max-inline-size: 100%;
    vertical-align: bottom;
  }

  svg {
    block-size: auto;
    display: inline-block;
    fill: currentcolor;
    max-block-size: 100%;
    max-inline-size: 100%;
    vertical-align: bottom;
  }

  /* Tabular Data */
  table {
    border-spacing: 0;
    display: block;
    margin-block: var(--space-v-rect);
    max-inline-size: 100%;
    overflow-x: auto;
  }

  :is(td, th) {
    background-color: var(--color-background-tone);
    padding: var(--space-v-rect-inner) var(--space-h-default);
    vertical-align: top;
    white-space: pre;
  }

  td {
    border-block-start-style: solid;
    border-block-start-width: thin;
  }

  th {
    text-align: inherit;
    border-block-end-style: solid;
    border-block-end-width: thin;
  }

  /* Universal */
  [id] {
    scroll-margin-block-start: var(--space-v-huge);
  }
}

@layer component {
  /* Affiliate */
  .affiliate {
    & img {
      aspect-ratio: 16 / 9;
      background-color: white;
      block-size: auto;
      inline-size: 100%;
      object-fit: contain;
      padding: var(--space-v-small) var(--space-h-default);
    }
  }

  /* Archives */
  .archives {
    column-gap: var(--space-h-default);
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0;
  }

  /* Date */
  .date {
    font-size: var(--font-size-tiny);

    &:has(+ h1) {
      margin-block-start: var(--space-v-gargantuan);
    }

    & + * {
      margin-block-start: var(--space-v-tiny);
    }
  }

  /* Excerpt */
  .excerpt {
    a:has(&) {
      text-decoration: none;
    }

    & p {
      color: var(--color-on-background);
    }

    & h3 {
      text-decoration: underline;
    }
  }

  /* Logo */
  .logo {
    font-size: inherit;
    line-height: inherit;
    margin-block-start: 0;

    h1& {
      margin-block-end: 0;
    }

    & a {
      text-decoration: none;
    }

    & svg {
      color: var(--color-on-background);
      inline-size: var(--space-v-default);
      max-inline-size: none;
    }
  }

  /* Page Footer */
  .page-footer {
    font-size: var(--font-size-tiny);

    &::before {
      content: "⋆ ⋆ ⋆" / "";
      display: block;
      margin-block-start: var(--space-v-gargantuan);
    }
  }

  /* Page Header */

  /* Showcase */
  .showcase {
    align-items: safe end;
    display: grid;
    gap: var(--space-v-rect) var(--space-h-default);
    grid-template-columns: repeat(
      auto-fill,
      minmax(
        round(
          down,
          min(
            (100% - var(--padding-inline-body) * 2 + var(--space-h-default)) /
              2 - var(--space-h-default),
            (var(--max-inline-size-body) + var(--space-h-default)) / 4 -
              var(--space-h-default)
          ),
          1px
        ),
        1fr
      )
    );
    list-style-type: none;
    margin-block-start: var(--space-v-rect);
    padding-inline-start: 0;

    &.oneline {
      display: flex;
      overflow-x: scroll;

      & li {
        min-inline-size: calc(100% / 3);
      }
    }

    & li {
      margin-block-start: 0;
    }

    & p {
      font-size: var(--font-size-tiny);
      overflow-x: clip;
      text-wrap: nowrap;

      &:first-of-type {
        margin-block-start: var(--space-v-tiny);
      }

      & + p {
        margin-block-start: 0;
      }
    }
  }

  /* Site Menu */
  .site-menu {
    ul {
      list-style-type: none;
      margin-block: var(--space-v-gargantuan);
      padding-inline-start: 0;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}
