/*! test.css | MIT License */

/* Variable */
:root {
  --color-test-gutter: hsl(300 100% 50%);
  --color-test-column: hsl(120 100% 50%);
  --color-test-outline: hsl(30 100% 50%);
}

/* Core */
h3 {
  font-size: var(--font-size-default);
  margin-block-end: 0;
  margin-block-start: calc(var(--space-large) * var(--ratio-2));
}

/* Layout */
.js-test-layout::before {
  --background-size-x: min(
    100%,
    var(--width-half-gutter) + var(--width-column) + var(--width-half-gutter)
  );

  background-image: linear-gradient(
    to right,
    var(--color-test-gutter) 0,
    var(--color-test-gutter) var(--width-half-gutter),
    var(--color-test-column) var(--width-half-gutter),
    var(--color-test-column) calc(var(--background-size-x) - var(--width-half-gutter)),
    var(--color-test-gutter) calc(var(--background-size-x) - var(--width-half-gutter)),
    var(--color-test-gutter) var(--background-size-x)
  );
  background-position-x: left;
  background-repeat: repeat-y;
  background-size: var(--background-size-x) 1px;
  content: "";
  inset-inline-end: 0;
  inset-inline-start: var(--margin-inline-start);
  inset-block-end: 0;
  inset-block-start: 0;
  opacity: 0.2;
  pointer-events: none;
  position: fixed;
  z-index: 1;
}

.js-test-layout * {
  outline: 1px solid var(--color-test-outline);
}

/* Font Size */
.test-font-size > tbody > tr:nth-child(1) > td:nth-child(2) {
  font-size: var(--font-size-small);
}

.test-font-size > tbody > tr:nth-child(2) > td:nth-child(2) {
  font-size: var(--font-size-default);
}

.test-font-size > tbody > tr:nth-child(3) > td:nth-child(2) {
  font-size: var(--font-size-large);
}

/* Line Height */
.test-line-height > tbody > tr:nth-child(1) > td:nth-child(2) {
  line-height: var(--line-height-default);
}

.test-line-height > tbody > tr:nth-child(2) > td:nth-child(2) {
  line-height: var(--line-height-small);
}

/* Space */
.test-space > tbody > tr:nth-child(1) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-tiny);
}

.test-space > tbody > tr:nth-child(2) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-small);
}

.test-space > tbody > tr:nth-child(3) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-default);
}

.test-space > tbody > tr:nth-child(4) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-large);
}

.test-space > tbody > tr:nth-child(5) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-huge);
}

/* Color */
.test-color > tbody > tr:nth-child(1) > td:nth-child(2) {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.test-color > tbody > tr:nth-child(2) > td:nth-child(2) {
  background-color: var(--color-background-tone);
  color: var(--color-on-background);
}

.test-color > tbody > tr:nth-child(3) > td:nth-child(2) {
  background-color: var(--color-on-background);
  color: var(--color-background);
}

.test-color.text-level-semantics > tbody > tr:nth-child(1) > td:nth-child(2) {
  background-color: var(--color-link);
  color: var(--color-background-tone);
}

.test-color.text-level-semantics > tbody > tr:nth-child(2) > td:nth-child(2) {
  background-color: var(--color-link);
  color: var(--color-on-background);
}
