// First Heading
.first-heading {
  font-size: rem($ratio-text-large);
  line-height: $line-height-first-heading;
  margin-bottom: $margin-top-h1;
  margin-top: ($margin-top-h1 + $height-footing);

  @media (min-width: $breakpoint-content) {
    font-size: rem($ratio-text-huge);
  }

  @media (min-width: $breakpoint-full) {
    font-size: rem($ratio-text-first-heading-full);
    margin-left: (- ($width-supplement + $width-gap-large));
    margin-right: $width-protrusion-full;
    margin-top: $margin-top-h1;
  }
}
