// First Heading
.first-heading {
  $r: $ratio-text-large;

  font-size: rem($r);
  line-height: $line-height-first-heading;
  margin-bottom: ($margin * $r);

  @media (min-width: $breakpoint-content) {
    font-size: rem($ratio-text-first-heading-content);
  }

  @media (min-width: $breakpoint-full) {
    font-size: rem($ratio-text-first-heading-full);
    margin-left: (- ($width-supplement + $width-gap));
  }
}
