// First Heading
.first-heading {
  font-size: rem($ratio-text-large);
  line-height: $line-height-first-heading;

  @media (min-width: $breakpoint-content) {
    font-size: rem($ratio-text-first-heading-content);
  }

  @media (min-width: $breakpoint-full) {
    font-size: rem($ratio-text-first-heading-full);
    margin-left: (- ($width-supplement + $width-gap-large));
  }
}
