article > footer:first-child {
  float: left;
  width: 100%;

  @media (min-width: $breakpoint-huge) {
    line-height: ($line-height-small * $ratio-text-huge / $ratio-text);
    margin-right: $width-gap;
    position: absolute;
    right: 100%;
    width: $width-supplement;
    z-index: 1;
  }
}

article > footer:first-child :last-child {
  margin-bottom: 0;
}
