// Footer
article > footer:first-child {
  color: $color-fg-light;
  float: left;
  font-size: ($ratio-text-content-footer * 1rem);
  width: 100%;

  @media (min-width: $breakpoint-full) {
    line-height: ($line-height-h1 * $ratio-text-content-heading / $ratio-text-content-footer);
    margin-right: $width-gap;
    position: absolute;
    right: 100%;
    width: $width-supplement;
    z-index: 1;
  }
}

article > footer:first-child :last-child {
  margin-bottom: 0;
}
