body > main > section > h1,
body > main > article > h1 {
  font-size: ($ratio-text-huge * 1rem);
  margin-top: $margin-gargantuan;
}

body > main > *:first-child > h1:first-of-type {
  margin-top: 0;
}
