// Section Footer
.section-footer {
  @extend %indistinguishable-link;

  color: $color-dark-light;
  float: left;
  font-size: rem($ratio-text-section-footer);
  font-weight: bolder;
  width: 100%;

  p {
    margin-bottom: 0;
  }
}
