// Section Footer
.section-footer {
  @extend %link-underline-removal;

  font-size: rem($ratio-text-site-navigation);
  position: relative;
  top: $top-site-navigation;

  p {
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-content) {
    float: right;
    margin-left: $width-gap;
    top: $top-site-navigation-content;
  }

  @media (min-width: $breakpoint-full) {
    top: $top-site-navigation-full;
  }
}
