// Section Footer at Home
.section-footer.at-home {
  top: 0;

  @media (min-width: $breakpoint-content) {
    top: $top-site-navigation-content;
  }

  @media (min-width: $breakpoint-full) {
    top: $top-site-navigation-full;
  }
}
