// Section Footer
.section-footer {
  @extend %link-underline-removal;

  $r: $ratio-text-small;
  $h: rem($r * $line-height);

  font-size: rem($r);
  position: relative;
  top: $margin-top-h1;

  p {
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-content) {
    float: right;
    margin-left: $width-gap;
    top: (($height-first-heading-content - $h) / 2);
  }

  @media (min-width: $breakpoint-full) {
    top: (($height-first-heading-full - $h) / 2);
  }
}
