[itemprop="articleBody"] > aside:first-child {
	--margin-top: calc(var(--space-interline) / 2);
	--max-width: none;
	--width: min(
		var(--width-column) / var(--ratio-5),
		50%
	);

	float: right;
	margin-left: 0.75rem;
	margin-left: var(--space-tiny);
	margin-top: 0.25rem;
	margin-top: var(--margin-top);
	max-width: 180px;
	max-width: var(--max-width);
	width: 50%;
	width: var(--width);
}

[itemprop="articleBody"] > aside:first-child figure {
	margin-top: 0;
}

[itemprop="articleBody"] > aside:first-child figure img {
	background-color: white;
	padding: 0.75rem;
	padding: var(--space-tiny);
	width: 100%;
}
