main > aside:last-child > ul {
  display: flex;
  line-height: 0;
  margin-top: var(--margin-gargantuan);
  padding-left: 0;
}

main > aside:last-child > ul li {
  list-style-type: none;
  margin-left: var(--width-gap-small);
}

main > aside:last-child > ul li:first-child {
  margin-left: 0;
}

main > aside:last-child > ul li:nth-child(4) {
  display: none;
}

@media (min-width: 640px) {
  main > aside:last-child > ul li:nth-child(4) {
    display: list-item;
  }
}

main > aside:last-child > ul li:nth-child(5) {
  display: none;
}

@media (min-width: 1280px) {
  main > aside:last-child > ul li:nth-child(5) {
    display: list-item;
  }
}

main > aside:last-child > ul li:nth-child(n + 6) {
  display: none;
}
