main > aside:last-child > ul {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-top: var(--margin-gargantuan);
  padding-left: 0;
}

@media (min-width: 1280px) {
  main > aside:last-child > ul {
    margin-right: calc(
      0px - (var(--width-gap) + var(--width-gap) + var(--width-sub-minor))
    );
  }
}

main > aside:last-child > ul li {
  --num-books: 3;

  list-style-type: none;
  margin-bottom: auto;
  margin-top: auto;
  width: calc((100% - (var(--width-gap-small) * (var(--num-books) - 1))) / var(--num-books));
}

@media (min-width: 640px) {
  main > aside:last-child > ul li {
    --num-books: 4;
  }
}

@media (min-width: 1280px) {
  main > aside:last-child > ul li {
    --num-books: 5;
  }
}

main > aside:last-child > ul li:nth-child(n + 4) {
  display: none;
}

@media (min-width: 640px) {
  main > aside:last-child > ul li:nth-child(4) {
    display: list-item;
  }
}

@media (min-width: 1280px) {
  main > aside:last-child > ul li:nth-child(5) {
    display: list-item;
  }
}

main > aside:last-child > ul li img {
  vertical-align: text-bottom;
}
