.dateline {
  color: var(--color-foreground-low-contrast);
  font-size: 0.75rem;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

header .dateline {
  margin-top: 8.5rem;
  margin-top: var(--space-gargantuan);
}
