.dateline {
  color: var(--color-foreground-low-contrast);
  font-size: 0.75rem;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin-top: 8rem;
  margin-top: var(--margin-gargantuan);
}
