.flatlinks {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	padding-left: 0;
}

.flatlinks li {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.flatlinks li::after {
	content: "\a0/\a0";
}

.flatlinks li:last-child::after {
	content: "";
}
