main > article > footer {
  bottom: 100%;
  font-size: calc(var(--ratio-text-small) * 1rem);
  position: absolute;
}

@media (min-width: 1280px) {
  main > article > footer {
    bottom: auto;
    line-height: calc(
      var(--ratio-text-huge) * var(--line-height-small) /
        var(--ratio-text-small)
    );
    margin-right: calc(var(--width-gap) + var(--width-gap));
    right: 100%;
    text-align: right;
    width: var(--width-sub-major);
  }

  main > article > footer p {
    margin-top: 0;
  }
}
