main > article > footer:first-child {
  --margin-top: calc(0rem - (var(--margin) + var(--font-size-small) * var(--line-height)));

  font-size: var(--font-size-small);
  margin-left: var(--margin-left);
  margin-top: var(--margin-top);
  position: absolute;
  text-align: right;
  width: var(--width);
}

@media (min-width: 1208px) {
  main > article > footer:first-child {
    --margin-left: calc((var(--width-main) + var(--width-gutter)));
    --margin-top: calc((var(--font-size-huge) * var(--line-height-small) - var(--font-size-small) * var(--line-height)) / 2 - var(--margin));
    --width: var(--width-sub-minor);
  }
}
