main > article > footer {
  font-size: var(--font-size-small);
  margin-left: var(--margin-content-footer-left);
  margin-top: var(--margin-content-footer-top);
  position: absolute;
  text-align: right;
  width: var(--width-content-footer);
}
