main > article > h1 + aside {
  --width: 40%;

  float: right;
  margin-left: var(--width-gap-small);
  margin-top: var(--height-half-leading);
  max-width: var(--width);
}

main > article > h1 + aside figure img {
  background-color: hsl(0, 0%, 100%);
  padding: var(--width-gap-small);
  width: 100%;
}

@media (min-width: 1208px) {
  main > article > h1 + aside {
    --width: var(--width-sub-minor);
  }
}
