main > article > h1 + aside {
  float: right;
  margin-left: var(--width-gap);
  max-width: 30%;
}

main > article > h1 + aside figure img {
  width: 100%;
}

@media (min-width: 1271px) {
  main > article > h1 + aside {
    float: revert;
    margin-left: calc(0px - (var(--width-sub-major) + var(--width-gap) + var(--width-gap)));
    max-width: revert;
    position: absolute;
    width: var(--width-sub-major);
    z-index: 1;
  }

  main > article > h1 + aside figure {
    margin-top: calc(var(--margin) + ((var(--line-height) - 1) / 2) * 1rem);
  }
}
