.hang {
  float: right;
  margin-left: 1.25rem;
  margin-left: var(--width-gap-default);
  margin-top: 0.25rem;
  margin-top: var(--margin-sentence-spacing-half);
  max-width: 40%;
}

.hang figure {
  margin-top: 0;
}

.hang figure img {
  --background-color: hsl(0, 0%, 100%);
  --width: 100%;

  background-color: var(--background-color);
  padding: 0.75rem;
  padding: var(--padding-small);
  width: var(--width);
}

.hang + p {
  margin-top: 0.5rem;
  margin-top: var(--margin-small);
}
