.headline {
	font-size: 1.618rem;
	font-size: var(--font-size-huge);
	margin-top: 8.717rem;
	margin-top: var(--space-huge);
}

article .headline {
	margin-bottom: 8.717rem;
	margin-bottom: var(--space-huge);
	margin-top: 0;
	max-width: 29.028rem;
	max-width: var(--width-main);
}
