.headline {
  font-size: 1.75rem;
  font-size: var(--font-size-huge);
  margin-top: 8.5rem;
  margin-top: var(--space-gargantuan);
}

article .headline {
  font-size: 1.75rem;
  font-size: var(--font-size-gargantuan);
  margin-bottom: 8.5rem;
  margin-bottom: var(--space-gargantuan);
  margin-top: 0;
}
