main > article > h1,
main > section > h2 {
  font-size: var(--font-size-huge);
  margin-top: var(--margin-gargantuan);
}

main > article h2,
main > section h3 {
  font-size: var(--font-size-large);
  margin-top: var(--margin-huge);
}
