.headline {
  font-size: 1.75rem;
  font-size: var(--font-size-huge);
  margin-top: 8.5rem;
  margin-top: var(--space-huge);
}

article .headline {
  margin-bottom: 8.5rem;
  margin-bottom: var(--space-huge);
  margin-top: 0;
  max-width: 30rem;
  max-width: var(--width-main);
}
