main > section > h1,
main > article > h1 {
  font-size: calc(var(--ratio-text-huge) * 1rem);
  margin-right: var(--margin-main-right);
  margin-top: var(--margin-gargantuan);
}

main > section > footer + h1,
main > article > footer + h1 {
  margin-top: 0;
}
