main > section > h1,
main > article > h1 {
  font-size: calc(var(--ratio-text-huge) * 1rem);
  margin-top: var(--margin-gargantuan);
}

@media (min-width: 1271px) {
  main > section > h1 {
    margin-right: var(--modifier-main-right);
  }

  main > article > h1 {
    margin-left: var(--modifier-main-left);
  }
}
