main > article > h1,
main > section > h2 {
  font-size: var(--font-size-gargantuan);
  margin-top: var(--margin-gargantuan);
}

main > article > h1 {
  margin-left: calc(var(--margin-left-main) - 0.1em);
}

main > section > h2 {
  margin-left: -0.1em;
}

main > article h2,
main > section h3 {
  font-size: var(--font-size-huge);
  margin-left: -0.1em;
  margin-top: var(--margin-huge);
}

main > section > h2 + p,
main > article h2 + p,
main > section h3 + p {
  margin-top: var(--margin-small);
}
