main > article > [itemprop="articleBody"] > figure:first-child {
  margin-left: var(--margin-left-main);
  margin-right: var(--margin-right-main);
}

main > article > [itemprop="articleBody"] > figure:first-child img,
main > article > [itemprop="articleBody"] > figure:first-child video,
main > article > [itemprop="articleBody"] > figure:first-child canvas {
  width: 100%;
}
