main > article > h1 + figure {
  clear: both;
}

@media (min-width: 1271px) {
  main > article > h1 + figure {
    margin-left: var(--modifier-main-left);
    margin-right: var(--modifier-main-right);
  }
}

main > article > h1 + figure img,
main > article > h1 + figure video,
main > article > h1 + figure canvas {
  width: 100%;
}
