[itemprop="articleBody"] > figure:first-child {
	--margin-left: min(
		0px - (100vw - (var(--width-main) + var(--space-default))) / 2,
		0px - var(--width-gap)
	);
	--margin-right: var(--margin-left);
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);
	--top: calc(
		0px -
		var(--space-huge) +
		var(--space-interline) -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2 +
		var(--space-interline) / 2
	);

	margin-left: var(--margin-left);
	margin-right: var(--margin-right);
	margin-top: var(--margin-top);
	position: relative;
	top: -7.5rem;
	top: var(--top);
}

@media (min-width: 57em) {
	[itemprop="articleBody"] > figure:first-child {
		--margin-left: max(
			0px - ((100vw - (var(--width-whole) + var(--space-default))) / 2 + var(--width-sub)),
			0px - (var(--space-outermost-horizontal) + var(--width-gap) + var(--width-sub))
		);
		--margin-right: min(
			0px - (100vw - (var(--width-whole) + var(--space-default))) / 2,
			0px - var(--width-gap)
		);
	}
}

[itemprop="articleBody"] > figure:first-child img,
[itemprop="articleBody"] > figure:first-child video {
	max-width: 3840px;
	width: 100%;
}

[itemprop="articleBody"] > figure:first-child + p {
	margin-top: var(--space-default-rect);
}
