.metaline {
	font-size: 0.75rem;
	font-size: var(--font-size-small);
	line-height: 1.25;
	line-height: var(--line-height-small);
}

h2 + .metaline {
	--margin-top: calc(
		var(--space-interline) -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2 -
		(var(--line-height-small) - 1) * var(--font-size-small) / 2
	);

	margin-top: 0.25rem;
	margin-top: var(--margin-top);
}

.header .metaline {
	margin-top: 8.5rem;
	margin-top: var(--space-huge);
}

.posts .metaline {
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-default) - 1) * var(--font-size-default) / 2
	);

	margin-bottom: var(--margin-bottom);
}
