.metaline {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

h2 + .metaline {
	--margin-top: calc(
		var(--space-interline) -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2 -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2
	);

	margin-top: 0;
	margin-top: var(--margin-top);
}

article > header:first-child .metaline {
	margin-top: 8.5rem;
	margin-top: var(--space-huge);
}
