main > section > ol:only-child {
  flex-wrap: wrap;
  margin-top: var(--margin-gargantuan);
}

main > section > ol:only-child li {
  margin-bottom: var(--width-horizontal-list-gutter);
}

@media (max-width: 684px) {
  main > section > ol:only-child li:nth-child(3n + 2):last-child {
    margin-right: var(--width-horizontal-list-gutter-and-item);
  }
}

@media (min-width: 685px) and (max-width: 1270px) {
  main > section > ol:only-child li:nth-child(4n + 2):last-child {
    margin-right: calc(var(--width-horizontal-list-gutter-and-item) * 2);
  }

  main > section > ol:only-child li:nth-child(4n + 3):last-child {
    margin-right: var(--width-horizontal-list-gutter-and-item);
  }
}

@media (min-width: 1271px) {
  main > section > ol:only-child li:nth-child(5n + 2):last-child {
    margin-right: calc(var(--width-horizontal-list-gutter-and-item) * 3);
  }

  main > section > ol:only-child li:nth-child(5n + 3):last-child {
    margin-right: calc(var(--width-horizontal-list-gutter-and-item) * 2);
  }

  main > section > ol:only-child li:nth-child(5n + 4):last-child {
    margin-right: var(--width-horizontal-list-gutter-and-item);
  }
}
