main > section > ol:only-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1;
  margin-top: var(--margin-gargantuan);
  padding-left: 0;
}

@media (min-width: 1271px) {
  main > section > ol:only-child {
    margin-right: var(--modifier-main-right);
  }
}

main > section > ol:only-child li {
  --num-photos: 2;
  --gutter-photos: var(--width-gap-small);

  list-style-type: none;
  margin-bottom: var(--gutter-photos);
  width: calc((100% - (var(--gutter-photos) * (var(--num-photos) - 1))) / var(--num-photos));
}

@media (min-width: 685px) {
  main > section > ol:only-child li {
    --num-photos: 3;
    --gutter-photos: var(--width-gap);
  }
}

@media (min-width: 1271px) {
  main > section > ol:only-child li {
    --num-photos: 4;
  }
}

main > section > ol:only-child li img {
  vertical-align: text-bottom;
}
