body > main > section > h1 + ol li {
  display: flex;
  list-style-type: none;
  margin-top: var(--margin-small);
  white-space: nowrap;
}

body > main > section > h1 + ol time {
  display: block;
  flex-grow: 1;
  margin-left: var(--width-gap-small);
  order: 1;
  text-align: right;
}

body > main > section > h1 + ol a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
