.posts {
	list-style-type: none;
	padding-left: 0;
}

.posts li {
	margin-top: 1.5em;
	margin-top: var(--space-default);
}

.posts time {
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-default) - 1) * var(--font-size-default) / 2 -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2
	);

	display: block;
	margin-bottom: var(--margin-bottom);
}
