.posts {
	list-style-type: none;
	padding-left: 0;
}

.posts li {
	margin-top: 1.618em;
	margin-top: var(--space-default);
}

.posts li time {
	display: block;
}

.posts li img {
	--margin-top: calc((var(--line-height-default) - 1) / 2 * var(--font-size-default));
	--max-height: calc(var(--line-height-default) * var(--font-size-default) * 8);

	margin-top: 0.309rem;
	margin-top: var(--margin-top);
	max-height: 12.944rem;
	max-height: var(--max-height);
	vertical-align: text-bottom;
	width: auto;
}
