.searchbox {
	--display: flex;

	display: var(--display);
	margin-top: var(--space-default-rect);
}

.searchbox input[type="search"] {
	--flex-grow: 1;
	--min-width: 0;

	flex-grow: var(--flex-grow);
	margin-right: 0.5rem;
	margin-right: var(--space-small);
	min-width: var(--min-width);
}

.searchbox button {
	white-space: nowrap;
}

.searchbox + p {
	margin-top: var(--space-default-rect);
}
