.searchbox {
	--display: flex;
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	display: var(--display);
	margin-top: var(--margin-top);
}

.searchbox input[type="search"] {
	--flex-grow: 1;
	--min-width: 0;

	flex-grow: var(--flex-grow);
	margin-right: var(--space-small);
	min-width: var(--min-width);
}

.searchbox input[type="submit"] {
	white-space: nowrap;
}

.searchbox + p {
	--margin-top: calc(var(--space-default) + var(--space-interline) / 2);

	margin-top: var(--margin-top);
}
