main > article a[href],
main > section a[href],
main > nav a[href],
main > aside a[href] {
  color: var(--color-link);
  text-decoration: underline;
}

main > article a[href]:visited,
main > section a[href]:visited,
main > nav a[href]:visited,
main > aside a[href]:visited {
  color: var(--color-fg-near);
}
