body > main section * h1,
body > main article * h1 {
  font-size: calc(var(--ratio-text-huge) * 1rem);
  margin-top: var(--margin-huge);
}

body > main section * h1 + p,
body > main article * h1 + p {
  margin-top: var(--margin-small);
}
