.subheading {
  font-size: 1.25rem;
  font-size: var(--font-size-large);
  margin-top: 5rem;
  margin-top: var(--margin-huge);
}

.subheading + p {
  margin-top: 0.5rem;
  margin-top: var(--margin-tiny);
}
