.subnavigation > :first-child {
	font-size: 1.272rem;
	font-size: var(--font-size-large);
	margin-top: 8.717rem;
	margin-top: var(--space-huge);
}

article + .subnavigation p::before {
	content: "前の記事:\0a";
	font-size: var(--font-size-small);
	font-weight: bold;
	white-space: pre-line;
}
