.subnavigation > :first-child {
	font-size: 1.272rem;
	font-size: var(--font-size-large);
	margin-top: 8.717rem;
	margin-top: var(--space-huge);
}

[itemprop="articleBody"] > .subnavigation p {
	line-height: 1.272;
	line-height: var(--line-height-small);
}

[itemprop="articleBody"] > .subnavigation p::before {
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-small) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2
	);

	content: "前の記事:";
	display: block;
	font-size: 0.786rem;
	font-size: var(--font-size-small);
	font-weight: bold;
	margin-bottom: 0.338rem;
	margin-bottom: var(--margin-bottom);
}
