.subnavigation > :first-child {
  margin-top: var(--margin-gargantuan);
}

.subnavigation p a::before {
  content: "» ";
}

.subnavigation ol {
  list-style-type: none;
  margin-right: var(--margin-right-main);
  padding-left: 0;
}

.subnavigation ol li {
  font-weight: bold;
}

.subnavigation ol ol {
  display: inline-block;
  margin-right: 0;
  margin-top: 0;
}

.subnavigation ol ol li {
  display: inline;
  font-weight: normal;
}
