.thumbs {
	--align-items: end;
	--column-gap: var(--width-gap);
	--display: grid;
	--grid-template-columns: repeat(
		auto-fill,
		minmax(
			calc(var(--width-column) / 5),
			1fr
		)
	);
	--row-gap: calc(var(--space-default) + var(--space-interline));

	align-items: var(--align-items);
	column-gap: var(--column-gap);
	display: var(--display);
	grid-template-columns: var(--grid-template-columns);
	line-height: 1;
	list-style-type: none;
	margin-top: var(--space-default-rect);
	padding-left: 0;
	row-gap: var(--row-gap);
}

.thumbs li {
	--display: list-item;
	--margin: 0;
	--max-width: none;

	display: inline-block;
	display: var(--display);
	margin-bottom: 1.5rem;
	margin-bottom: var(--margin);
	margin-right: 1rem;
	margin-right: var(--margin);
	max-width: 20%;
	max-width: var(--max-width);
}

.thumbs li img {
	--max-height: none;

	max-height: var(--max-height);
	vertical-align: text-bottom;
	width: 100%;
}

.thumbs + p {
	margin-top: var(--space-default-rect);
}
