main > section > h2 + ul {
  --repeat-count: 3;

  align-items: end;
  display: grid;
  grid-gap: var(--width-horizontal-list-gutter);
  grid-template-columns: repeat(var(--repeat-count), 1fr);
  line-height: 1;
  margin-right: var(--margin-right-main);
  padding-left: 0;
}

@media (min-width: 657px) {
  main > section > h2 + ul {
    --repeat-count: 4;
  }
}

@media (min-width: 1208px) {
  main > section > h2 + ul {
    --repeat-count: 6;
  }
}

main > section > h2 + ul li {
  display: var(--display);
  list-style-type: none;
}

main > section > h2 + .oneline li:nth-child(n + 4) {
  --display: none;
}

@media (min-width: 657px) {
  main > section > h2 + .oneline li:nth-child(4) {
    --display: list-item;
  }
}

@media (min-width: 1208px) {
  main > section > h2 + .oneline li:nth-child(5) {
    --display: list-item;
  }
}

@media (min-width: 1208px) {
  main > section > h2 + .oneline li:nth-child(6) {
    --display: list-item;
  }
}

main > section > h2 + ul li img {
  max-height: none;
  vertical-align: text-bottom;
}
