.thumbs {
  --align-items: end;
  --display: grid;

  align-items: var(--align-items);
  display: var(--display);
  grid-gap: var(--margin-tiny);
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  padding-left: 0;
}

.thumbs li {
  --display: list-item;

  display: inline-block;
  display: var(--display);
  margin-bottom: 0.5rem;
  margin-bottom: var(--revert-margin);
  margin-right: 0.25rem;
  margin-right: var(--revert-margin);
  max-width: 23%;
  max-width: var(--revert-max-width);
}

.thumbs li img {
  max-height: var(--revert-max-height);
  vertical-align: text-bottom;
}
