<head>
  <meta charset="{{encoding}}">
  <meta content="light dark" name="color-scheme">
  <meta content="same-origin" name="view-transition">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{title}}{{/isHome}}</title>

  <link title="ウェブサイト全体のRSS" href="/{{feed}}" rel="alternate" type="application/rss+xml">
  {{#hasOwnFeed}}<link title="{{feedTitle}}だけのRSS" href="{{feedURL}}" rel="alternate" type="application/rss+xml">{{/hasOwnFeed}}
  <link href="mailto:{{email}}" rel="author">
  <link href="{{scheme}}://{{domain}}{{canonical}}" rel="canonical">
  <meta content="{{description}}" name="description">
  <link href="/{{favicon}}" rel="icon" type="image/svg+xml">
  <link href="{{licenseURL}}" rel="license">
  <link href="https://m.media-amazon.com/" rel="preconnect">
  <link href="https://duckduckgo.com/?q=site%3A{{domain}}" rel="search">

  <link href="/css/print.css?v={{version}}" media="only print" rel="stylesheet">
  <link href="/css/index.css?v={{version}}" media="only screen" rel="stylesheet">
</head>
