<footer class="page-footer">
  {{^isHome}}
    <p>このウェブサイトは<a href="mailto:{{email}}">ながしまきょう</a>が<a title="{{licenseName}}" href="{{licenseURL}}">CC-BY</a>の下で作成、公開、そして更新しています。更新情報は<a href="/{{feed}}" type="application/rss+xml">RSS</a>{{#hasOwnFeed}} (<a href="{{feedURL}}" type="application/rss+xml">{{feedTitle}}だけのRSS</a>){{/hasOwnFeed}}または<a href="https://x.com/{{twitter}}">X</a>で購読できます。その他、わからないことは<a href="/#about">もう少し詳しい情報</a>を参照してください。</p>
  {{/isHome}}

  <p><a href="#top"><span aria-hidden="true">↑ </span>一番上</a></p>
</footer>
