@font-face {
  font-family: "Fontin Sans";
  src: url("342.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fontin Sans";
  src: url("342-b.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fontin Sans";
  src: url("342-i.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Fontin Sans";
  src: url("342-bi.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
