/*!
 * @name   Oxygen Mono
 * @author Vernon Adams
 * @url    http://code.newtypography.co.uk/
 */
@font-face {
  font-family: "Oxygen Mono";
  src: url("396.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
