.hljs-keyword,
.hljs-subst,
.hljs-meta-keyword,
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag {
  color: hsl(205, 69%, 49%);
}

.hljs-literal,
.hljs-tag,
.hljs-attr,
.hljs-attribute,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-variable {
  color: hsl(237, 43%, 60%);
}

.hljs-number,
.hljs-symbol,
.hljs-regexp,
.hljs-selector-id,
.hljs-deletion {
  color: hsl(331, 64%, 52%);
}

.hljs-string,
.hljs-meta-string,
.hljs-selector-class,
.hljs-addition {
  color: hsl(175, 59%, 40%);
}

.hljs-comment,
.hljs-doctag {
  opacity: 0.5;
}
