.hljs {
  --color-keyword: hsl(205, 69%, 49%);
  --color-literal: hsl(237, 43%, 60%);
  --color-number: hsl(331, 64%, 52%);
  --color-string: hsl(175, 59%, 40%);
  --opacity: 0.5;
}

.hljs-keyword,
.hljs-subst,
.hljs-meta-keyword,
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag {
  color: var(--color-keyword);
}

.hljs-literal,
.hljs-tag,
.hljs-attr,
.hljs-attribute,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-variable {
  color: var(--color-literal);
}

.hljs-number,
.hljs-symbol,
.hljs-regexp,
.hljs-selector-id,
.hljs-deletion {
  color: var(--color-number);
}

.hljs-string,
.hljs-meta-string,
.hljs-selector-class,
.hljs-addition {
  color: var(--color-string);
}

.hljs-comment,
.hljs-doctag {
  opacity: var(--opacity);
}
