.toc summary {
  font-size: 1.25rem;
  font-size: var(--font-size-large);
  margin-top: 1.5rem;
  margin-top: var(--margin-default);
}

.toc summary + ol {
  margin-top: 0.5rem;
  margin-top: var(--margin-small);
}
