// Basic
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$color-dark: rgb(63, 62, 60);
$color-light: rgb(250, 249, 247);

$color-dark-dark: mix($color-dark, $black);
$color-dark-light: mix($color-dark, $color-light, 80%);

$color-light-dark: mix($color-dark, $color-light, 40%);
$color-light-light: mix($color-light, $white);

// Accent
$color-primary: rgb(33, 117, 180);
$color-secondary: rgb(251, 254, 0);

$color-primary-dark: rgb(7, 71, 121);
$color-primary-light: rgb(105, 165, 211);

$color-secondary-light: rgb(253, 255, 99);
$color-secondary-dark: rgb(255, 123, 0);

// Core
$color-border-blockquote: $color-light-dark;

$color-fg-a: $color-primary;

$color-border-table: $color-light-dark;
