// Basic
$color-fg: rgb(63, 62, 60);
$color-bg: rgb(250, 249, 247);

$color-fg-dark: darken($color-fg, 10%);
$color-fg-light: lighten($color-fg, 25%);

$color-bg-dark: darken($color-bg, 20%);
$color-bg-light: lighten($color-bg, 2%);

// Accent
$color-primary: rgb(33, 117, 180);
$color-secondary: rgb(251, 254, 0);

$color-primary-dark: darken($color-primary, 20%);
$color-primary-light: lighten($color-primary, 20%);

$color-secondary-dark: adjust-hue($color-secondary, -30deg);
$color-secondary-light: lighten($color-secondary, 30%);

// Core
$color-border-blockquote: $color-fg-light;

$color-border-table: $color-fg-light;
