// Foreground
$color-fg: hsl(0, 0%, 10%);

// Background
$color-bg: hsl(0, 0%, 99%);

// Accent
$color-accent: hsl(210, 75%, 30%);

// Variations
$color-fg-light: hsl(0, 0%, 30%);
$color-bg-dark: hsl(0, 0%, 77%);

$color-accent-light: hsl(210, 75%, 45%);

// Core
$color-border-blockquote: $color-bg-dark;

$color-border-table: $color-bg-dark;
