// Foreground
$color-fg: hsl(0, 0%, 11%);

// Background
$color-bg: hsl(0, 0%, 99%);

// Variation
$color-fg-semilight: hsl(0, 0%, 33%);
$color-fg-light: hsl(0, 0%, 77%);

$color-bg-dark: hsl(0, 0%, 88%);
