// System UI
$font-stack-system-ui-local: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Yu Gothic UI", sans-serif;
$font-stack-system-ui: $font-stack-system-ui-local;

// Sans Serif
$font-stack-sans-serif-local: "Helvetica Neue", "Calibri", sans-serif;
$font-stack-sans-serif: $font-stack-sans-serif-local;

// Serif
$font-stack-serif-local: "Baskerville", "Constantia", serif;
$font-stack-serif: $font-stack-serif-local;

// Monospace
$font-stack-monospace-local: "Menlo", "Consolas", monospace;
$font-stack-monospace: $font-stack-monospace-local;
