// Basic
--ratio: 1.7;

// Text Size
--ratio-text: 1;
--ratio-text-huge: 1.7; // calc(var(--ratio-text) * var(--ratio));
--ratio-text-large: 1.35; // calc((var(--ratio-text) + var(--ratio-text-huge)) / 2);
--ratio-text-small: 0.794; // calc(var(--ratio-text-large) / var(--ratio));

// Line Height
--line-height: 1.7; // var(--ratio);
--line-height-large: 2.124; // calc(var(--line-height) * 1.25);
--line-height-small: 1.36; // calc(var(--line-height) * 0.8);
