// Basic
$ratio: 1.7;

// Text Size
$ratio-text: 1;
$ratio-text-huge: ($ratio-text * $ratio);
$ratio-text-large: (($ratio-text + $ratio-text-huge) / 2);
$ratio-text-small: ($ratio-text-large / $ratio);

// Line Height
$line-height: $ratio;
$line-height-small: ($line-height * 0.8);

// Core
$ratio-text-root: $ratio-text;
$ratio-text-root-large: (($ratio-text-large - $ratio-text) / 4 + $ratio-text);
$ratio-text-root-huge: (($ratio-text-large - $ratio-text) / 2 + $ratio-text);
$line-height-root: $line-height;

$line-height-h1: $line-height-small;

$ratio-text-pre: $ratio-text-small;

// Global
$ratio-text-header: $ratio-text-small;
$ratio-text-header-large: $ratio-text;

$ratio-text-content-heading: $ratio-text-huge;

$ratio-text-content-subheading: $ratio-text-large;

$ratio-text-content-footer: $ratio-text;

$ratio-text-footer: $ratio-text-small;
