// Margin
$margin: rem($ratio);
$margin-minimal: ($margin / pow($ratio, 3));
$margin-tiny: ($margin / pow($ratio, 2));
$margin-small: ($margin / $ratio);
$margin-large: ($margin * $ratio);
$margin-huge: ($margin * pow($ratio, 2));
$margin-gargantuan: ($margin * pow($ratio, 3));
$margin-enormous: ($margin * pow($ratio, 4));
$margin-maximal: ($margin * pow($ratio, 5));


// Indent
$indent: $margin;


// Border
$width-border: ($margin-minimal / 3);
$width-border-small: ($width-border / 2);
$width-border-large: ($width-border * 2);


// Padding
$padding: $margin-minimal;
$padding-small: ($padding / 2);
$padding-large: ($padding * 2);
$padding-huge: ($padding * 3);
$padding-gargantuan: ($padding * 4);


// Column
$column: rem(pow($line-height, 7));
$column-gap: rem($line-height);


// Main Component
$width-gap: $column-gap;
$width-gap-small: ($width-gap / 2);

$width-content: $column;
$width-content-outer: ($width-gap-small + $width-content + $width-gap-small);

$width-supplement: ($width-content / pow($ratio, 2));
$width-supplement-outer: ($width-gap-small + $width-supplement + $width-gap-small);

$width-full: ($width-supplement + $width-gap + $width-content);
$width-full-outer: ($width-gap-small + $width-full + $width-gap-small);


// Breakpoint
$width-scrollbar: 2rem;
$breakpoint-content: (($width-gap + $width-content-outer + $width-gap + $width-scrollbar) * $ratio-text-root-content / $ratio-text-root);
$breakpoint-full: (($width-gap + $width-full-outer + $width-gap + $width-scrollbar) * $ratio-text-root-full / $ratio-text-root);


// Placeholder Class
$width-protrusion-full: $width-supplement;


// Core
$height-h1: rem($line-height-h1 * $ratio-text-h1);
$margin-top-h1: $margin-gargantuan;

$padding-left-blockquote: $width-gap;
$width-border-blockquote: $width-border-large;
$margin-left-blockquote-content: (- ($padding-left-blockquote + $width-border-blockquote));

$padding-left-list: $indent;

$width-border-table: $width-border-small;


// Global Header
$margin-top-global-header: $margin-small;
$margin-top-global-header-content: $margin;
$margin-top-global-header-full: $margin-large;

$height-logo: rem($ratio-text-logo);


// Content
$height-section-footer: rem($line-height-root * $ratio-text-section-footer);
$height-section-footer-content: rem($line-height-root-content * $ratio-text-section-footer);


// Subcontent
$width-border-site-search-query: $width-border-small;
$height-site-search-query: (1rem + ($width-border-site-search-query + $padding-large) * 2);
$width-site-search-button: percentage(1 / pow($ratio, 3));
