// Margin
$margin: rem($ratio);
$margin-minimal: ($margin / pow($ratio, 3));
$margin-tiny: ($margin / pow($ratio, 2));
$margin-small: ($margin / $ratio);
$margin-large: ($margin * $ratio);
$margin-huge: ($margin * pow($ratio, 2));
$margin-gargantuan: ($margin * pow($ratio, 3));
$margin-enormous: ($margin * pow($ratio, 4));
$margin-maximal: ($margin * pow($ratio, 5));

// Indent
$indent: $margin;

// Border
$width-border: ($margin-minimal / 3);
$width-border-small: ($width-border / 2);
$width-border-large: ($width-border * 2);

// Padding
$padding: $margin-minimal;
$padding-small: ($padding / 2);
$padding-large: ($padding * 2);
$padding-huge: ($padding * 3);
$padding-gargantuan: ($padding * 4);

// Main Component
$width-content: 34rem;
$width-gap: ($width-content / pow($ratio, 6));
$width-gap-small: ($width-gap / $ratio);
$width-content-outer: ($width-gap-small + $width-content + $width-gap-small);
$width-supplement: ($width-content-outer / $ratio - $width-gap-small - $width-gap-small);
$width-supplement-outer: ($width-gap-small + $width-supplement + $width-gap-small);
$width-full: ($width-supplement + $width-gap + $width-content);
$width-full-outer: ($width-gap-small + $width-full + $width-gap-small);
$width-blank: ($width-content / pow($ratio, 3));

// Breakpoint
$width-scrollbar: 2rem;
$breakpoint-content: (($width-blank + $width-content-outer + $width-blank) * $ratio-text-root-content / $ratio-text-root + $width-scrollbar);
$breakpoint-full: (($width-blank + $width-full-outer + $width-blank) * $ratio-text-root-full / $ratio-text-root + $width-scrollbar);

// Core
$margin-top-h1: $margin-gargantuan;

$padding-left-blockquote: $width-gap;
$width-border-blockquote: $width-border-large;
$margin-left-blockquote-content: (- ($padding-left-blockquote + $width-border-blockquote));

$padding-left-list: $indent;

$width-border-table: $width-border-small;

// Subcontent
$width-border-site-search-query: $width-border-small;
$height-site-search-query: (1rem + ($width-border-site-search-query + $padding-large) * 2);
$width-site-search-query-content: ($width-content / pow($ratio, 2));
