// Margin
$margin: ($ratio * 1rem);
$margin-small: ($margin / $ratio / $ratio);
$margin-large: ($margin * $ratio);
$margin-huge: ($margin * $ratio * $ratio);
$margin-gargantuan: ($margin * $ratio * $ratio * $ratio);

// Border
$width-border: ($margin-small / $ratio / $ratio / $ratio);
$width-border-small: ($width-border / $ratio);

// Padding
$padding: ($margin-small / $ratio);
$padding-large: ($padding * $ratio);

// Main Component
$width-large: (32 * 1rem);
$width-gap: ($width-large / $ratio / $ratio / $ratio / $ratio / $ratio / $ratio);
$width-gap-small: ($width-gap / $ratio);
$width-large-outer: ($width-gap-small + $width-large + $width-gap-small);
$width-supplement: ($width-large-outer / $ratio - $width-gap-small - $width-gap-small);
$width-supplement-outer: ($width-gap-small + $width-supplement + $width-gap-small);
$width-huge: ($width-supplement + $width-gap + $width-large);
$width-huge-outer: ($width-gap-small + $width-huge + $width-gap-small);
$width-blank: ($width-large / $ratio / $ratio / $ratio);

// Breakpoint
$width-scrollbar: 2rem;
$breakpoint-large: ceil((($width-blank + $width-large-outer + $width-blank) * $ratio-text-root-large / $ratio-text + $width-scrollbar) / 1rem * 16px);
$breakpoint-huge: ceil((($width-blank + $width-huge-outer + $width-blank) * $ratio-text-root-huge / $ratio-text + $width-scrollbar) / 1rem * 16px);
$breakpoint-fhd-up-width: 1921px;
$breakpoint-fhd-up-height: 1081px;

// Core
$padding-left-blockquote: ($margin - $width-border);

// Global
$height-subcontent-search-query: (1rem + $padding * 2);
