<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    {{#links}}
      {{#isFirstInMonth}}
        <section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
          <h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>
      {{/isFirstInMonth}}

      <section class="post">
        <header>
          <p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>

          <h3><a href="{{link}}">{{title}}</a></h3>
        </header>

        <p>{{description}}</p>
      </section>

      {{#isLastInMonth}}
        </section>
      {{/isLastInMonth}}
    {{/links}}

    {{> page-footer}}
  </body>
</html>
