<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <nav>
      <h2>年別</h2>

      <ol class="archives">
        {{#links}}{{#isFirstInYear}}<li><a href="#{{strYear}}">{{year}}年</a></li>{{/isFirstInYear}}{{/links}}
      </ol>
    </nav>

    {{#links}}
      {{#isFirstInMonth}}
        <section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
          <h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>
      {{/isFirstInMonth}}

      <a href="{{link}}">
        <section class="excerpt">
          <header>
            <p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{date}}日</time></p>

            <h3>{{title}}</h3>
          </header>

          <p>{{description}}</p>
        </section>
      </a>

      {{#isLastInMonth}}
        </section>
      {{/isLastInMonth}}
    {{/links}}

    {{> page-footer}}
  </body>
</html>
