{{> header}}

{{#statuses}}
	{{#isFirstInMonth}}
		<section>
			<h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

			<ol class="posts">
	{{/isFirstInMonth}}

				<li id="on-{{published}}">
					<p class="metaline"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{month}}月{{date}}日 {{hour}}時{{minute}}分</time></p>
					<p>{{text}}</p>
				</li>

	{{#isLastInMonth}}
			</ol>
		</section>
	{{/isLastInMonth}}
{{/statuses}}

<nav class="subnavigation">
	<p><a href="/statuses/twitter.html"><span aria-hidden="true">→</span> 2018年12月以前のすべての近況</a></p>
</nav>

{{> footer}}
