<!DOCTYPE html>
<html lang="{{lang}}" itemscope itemtype="http://schema.org/{{schemaType}}">
	{{> head}}

	<body>
		{{> page-header}}

		<main>
			<section>
				<h1>{{title}}</h1>

				<p>2009年から2018年までの<a href="/statuses/log.txt">Twitterでのツイート</a>は、別のページに分けられています。かなり大きなテキスト・ファイルのため、表示に時間がかかるでしょう。</p>

				{{#statuses}}
					{{#isFirstInDate}}<section>
						<h2><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}">{{year}}年{{month}}月{{date}}日</time></h2>

						<ol class="posts">{{/isFirstInDate}}
							<li id="on-{{published}}">
								<time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{hour}}時{{minute}}分</time>
								{{title}}
							</li>
						{{#isLastInDate}}</ol>
					</section>{{/isLastInDate}}
				{{/statuses}}
			</section>
		</main>

		{{> page-footer}}
	</body>
</html>
