<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      {{#statuses}}
        <section>
          <h1><time class="js-reldate" datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{strYear}}/{{strMonth}}/{{strDate}} {{strHour}}:{{strMinute}}</time></h1>

          <p>{{text}} <a href="{{canonical}}log.html#on-{{published}}">#</a></p>
        </section>
      {{/statuses}}
  
      <nav>
        <p><a href="{{canonical}}log.html">{{shortTitle}}の全記録</a></p>
      </nav>
  </main>

    {{> footer}}
  </body>
</html>
