<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> global-header}}

    <main class="content">
      <section id="website" class="section">
        <h1>{{short_title}}</h1>

        <p>このウェブサイトはドメインの取得こそ2003年くらいですが、そこそこ息の長いウェブサイトで、20世紀からあります。いわゆるウェブログと呼ばれるような記録ともう少しかっちりとした文書を、ウェブサイト制作の話題を中心に書いています。日本最後の<a href="http://blosxom.sourceforge.net/">Blosxom</a>を利用したウェブサイトの座が目標ですが、挫折しそうです。</p>

        <p>時々長期にわたって更新が止まりますが、そういう時はほぼ何かしらのゲームにはまってる時です。</p>

        <section>
          <h1 class="subheading">購読</h1>

          <p>このウェブサイトの更新情報は、<a href="/feed" rel="alternate" type="application/rss+xml">RSSフィード</a>で配信しています。このフィードにはウェブサイト全体の更新情報だけでなく、ウェブログの記事も含まれます。</li>
          </ul>
        </section>

        <section>
          <h1 class="subheading">ライセンス</h1>

          <figure class="fill">
            <a href="{{license_url}}" rel="license"><img alt="Creative Commons — Attribution-NonCommercial" height="1440" src="/images/about/cc-by-nc.svg" width="2560"></a>
            <figcaption>License Everything under a CC&#xa0;BY&#x2011;NC</figcaption>
          </figure>

          <p>このウェブサイト内の全ての文書とファイル（画像やスタイルシートを含みます）は、そのファイル自体に別のライセンス情報が明記または添付されていない限り<a href="{{license_url}}" rel="license">Creative Commons — Attribution-NonCommercial</a>の元で公開されています。</p>
        </section>
      </section>

      <section id="colophon" class="section">
        <h1>奥付け</h1>

        <p>その他、ウェブページの構成やツール、プライバシーについては以下を参照してください。</p>

        <section>
          <h1 class="subheading">製作に使っているツール</h1>

          <ul class="flat">
            <li><a href="http://blosxom.sourceforge.net/">Blosxom</a></li>
            <li><a href="https://developers.google.com/closure/compiler/">Closure Compiler</a></li>
            <li><a href="https://github.com/hail2u/node-css-mqpacker">CSS MQPacker</a></li>
            <li><a href="https://github.com/hail2u/node-csswring">CSSWring</a></li>
            <li><a href="http://git-scm.com/">Git</a></li>
            <li><a href="https://github.com/janl/mustache.js">mustache</a></li>
            <li><a href="https://github.com/kangax/html-minifier">HTMLMinifier</a></li>
            <li><a href="http://www.imagemagick.org/">ImageMagick</a></li>
            <li><a href="http://inkscape.org/">Inkscape</a></li>
            <li><a href="http://jpegclub.org/jpegtran/">jpegtran</a></li>
            <li><a href="http://daringfireball.net/projects/markdown/">Markdown</a></li>
            <li><a href="https://nodejs.org/">Node.js</a></li>
            <li><a href="http://optipng.sourceforge.net/">OptiPNG</a></li>
            <li><a href="http://www.adobe.com/jp/products/photoshop.html">Photoshop</a></li>
            <li><a href="https://pngquant.org/">pngquant</a></li>
            <li><a href="http://sass-lang.com/">Sass</a></li>
            <li><a href="https://github.com/svg/svgo">SVGO</a></li>
            <li><a href="http://www.vim.org/">Vim</a></li>
          </ul>
        </section>

        <section>
          <h1 class="subheading">ウェブサイト上で使っているツール</h1>

          <ul class="flat">
            <li><a href="https://github.com/hail2u/abbread">Abbread</a></li>
            <li><a href="https://gist.github.com/hail2u/c86ee1467cd132b1c011">ellipsis-title.js</a></li>
            <li><a href="https://gist.github.com/hail2u/8d96d6ed7fc5995f6e7c292dfef1fe6c">reldate.js</a></li>
            <li><a href="https://github.com/hail2u/unutm">UnUTM</a></li>
            <li><a href="https://gist.github.com/hail2u/c0d669fb8473bc9c80232be40d8d5e7f">wrapfix.js</a></li>
          </ul>
        </section>

        <section>
          <h1 class="subheading">利用しているサービス</h1>

          <ul class="flat">
            <li><a href="https://www.cloudflare.com/">CloudFlare</a></li>
            <li><a href="https://duckduckgo.com/">DuckDuckGo</a></li>
            <li><a href="https://www.gandi.net/">Gandi</a></li>
            <li><a href="https://www.github.com/">GitHub</a></li>
          </ul>
        </section>

        <section>
          <h1 class="subheading">マークアップとスタイルシート</h1>

          <p>マークアップは<a href="https://html.spec.whatwg.org/multipage/">HTML Standard</a>に従って行っています。スタイルシートはSassで書き、CSSへ変換しています。両者のより詳細な解説とプレビューとして<a href="/about/style-guide/">Style Guide</a>を用意してあるので、そちらも参照してください。</p>
        </section>
      </section>

      <section id="contact" class="section">
        <h1>問い合わせ</h1>

        <p>このウェブサイト内のコンテンツについて報告や問い合わせ・クレーム等がある場合は、<a href="mailto:hail2u@gmail.com">メール</a>で連絡してください。</p>
      </section>
    </main>

    {{> site-search}}
    {{> global-footer}}
  </body>
</html>
