/*! print.css | MIT License */

*,
*::before,
*::after {
	background: white;
	box-shadow: none;
	color: black;
	text-shadow: none;
}

h1,
h2,
h3 {
	page-break-after: avoid;
}

pre {
	page-break-inside: avoid;
	white-space: pre-wrap;
}

blockquote {
	page-break-inside: avoid;
}

a[href]::after {
	content: " (" attr(href) ")";
}

a[href^="#"]::after,
a[href^="javascript:"]::after {
	content: "";
}

img {
	height: auto;
	max-height: 100%;
	max-width: 100%;
	page-break-inside: avoid;
}

tr {
	page-break-inside: avoid;
}
