[role="search"] form {
  line-height: 1;
  position: relative;
  top: ($margin-gargantuan - $margin-large);

  @media (min-width: $breakpoint-huge) {
    margin-left: auto;
    margin-right: 0;
    top: ($margin-gargantuan + $height-subcontent-search-query - ($height-subcontent-search-query - $ratio-text-small * $line-height * 1rem) / 2);
    width: 50%;
    z-index: 1;
  }
}

[role="search"] form input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: inherit;
  font-size: $ratio-text-small;
  height: $height-subcontent-search-query;
  line-height: $height-subcontent-search-query;
}

[role="search"] form [name="q"] {
  background-color: $color-bg-dark;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  padding: 0 $height-subcontent-search-query 0 $padding;
  width: 100%;
}

[role="search"] form button {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  height: $height-subcontent-search-query;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: $height-subcontent-search-query;
}

[role="search"] form button svg {
  height: 65%;
  vertical-align: middle;
  width: auto;
}
