// Search
[role="search"] {
  position: relative;

  @media (min-width: $breakpoint-content) {
    position: absolute;
    right: $width-gap-small;
    top: ((($line-height-root * $ratio-text-footer * 1rem) - $height-subcontent-search-query) / 2);
    width: $width-subcontent-search-query-content;
    z-index: 1;
  }
}

[role="search"] input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  height: $height-subcontent-search-query;
  line-height: $height-subcontent-search-query;
}

[role="search"] [name="q"] {
  background-color: white;
  border: $width-border-subcontent-search-query solid $color-bg-dark;
  box-sizing: border-box;
  color: $color-fg;
  padding: 0 $height-subcontent-search-query 0 $padding;
  width: 100%;
}

[role="search"] [name="q"]:focus {
  border-color: $color-accent;
  outline: none;
}

[role="search"] button {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  height: $height-subcontent-search-query;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: $height-subcontent-search-query;
}

[role="search"] button svg {
  height: 65%;
  width: auto;
}

[role="search"] button path {
  fill: $color-fg-light;
}
