[role="search"] form {
  --h: 2.176rem; // calc(1rem + var(--padding) * 2);

  line-height: 1;
  position: relative;
  top: calc(var(--margin-gargantuan) - var(--margin-large));

  @media (min-width: 91.226em) {
    margin-left: auto;
    margin-right: 0;
    top: calc(var(--margin-gargantuan) + var(--h) - (var(--h) - var(--ratio-text-small) * var(--line-height) * 1rem) / 2);
    width: 50%;
    z-index: 1;
  }
}

[role="search"] form input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: inherit;
  font-size: calc(var(--ratio-text-small) * 1rem);
  height: var(--h);
  line-height: var(--h);
}

[role="search"] form [name="q"] {
  background-color: var(--color-bg-dark);
  border: 0;
  box-sizing: border-box;
  color: inherit;
  padding: 0 var(--h) 0 var(--padding);
  width: 100%;
}

[role="search"] form button {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  height: var(--h);
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--h);
}

[role="search"] form button svg {
  height: 65%;
  vertical-align: middle;
  width: auto;
}
