// Site Search
.site-search {
  @extend %positioning-root;
  @extend %margin;

  top: $padding-top-byline;

  input {
    -webkit-appearance: none;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    height: $height-site-search-query;
    line-height: $height-site-search-query;
  }

  .query {
    background-color: $color-light-light;
    border: $width-border-site-search-query solid $color-light-dark;
    box-sizing: border-box;
    color: $color-dark;
    padding: 0 $height-site-search-query 0 $padding;
    width: 100%;
  }

  .button {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22384%22%20height%3D%22384%22%20viewBox%3D%220%200%20384%20384%22%3E%3Cpath%20d%3D%22M144%200a144.1%20144.1%200%200%200-55.094%2010.969%20144.155%20144.155%200%200%200-46.718%2031.219%20144.155%20144.155%200%200%200-31.219%2046.718A144.1%20144.1%200%200%200%200%20144a144.1%20144.1%200%200%200%2010.969%2055.094%20144.186%20144.186%200%200%200%2031.219%2046.719%20144.175%20144.175%200%200%200%2046.719%2031.219A144.108%20144.108%200%200%200%20144%20288a144.1%20144.1%200%200%200%2055.094-10.969%20144.12%20144.12%200%200%200%2028.313-15.656L350.063%20384%20384%20350.063%20261.375%20227.406a144.092%20144.092%200%200%200%2015.656-28.313A144.09%20144.09%200%200%200%20288%20144a144.1%20144.1%200%200%200-10.969-55.094%20144.168%20144.168%200%200%200-31.218-46.718%20144.17%20144.17%200%200%200-46.719-31.219A144.1%20144.1%200%200%200%20144%200zm0%2048c12.527%200%2025.177%202.519%2036.75%207.313s22.267%2011.955%2031.125%2020.813c8.858%208.858%2016.019%2019.552%2020.813%2031.125%204.794%2011.573%207.313%2024.223%207.313%2036.75%200%2012.527-2.519%2025.177-7.313%2036.75s-11.955%2022.267-20.813%2031.125c-8.858%208.858-19.552%2016.019-31.125%2020.813C169.177%20237.481%20156.527%20240%20144%20240c-12.527%200-25.177-2.519-36.75-7.312-11.573-4.794-22.267-11.955-31.125-20.813-8.858-8.858-16.019-19.552-20.812-31.125C50.519%20169.177%2048%20156.527%2048%20144c0-12.527%202.519-25.177%207.313-36.75%204.793-11.573%2011.954-22.267%2020.812-31.125s19.552-16.019%2031.125-20.812C118.823%2050.519%20131.473%2048%20144%2048z%22%20fill%3D%22#{encode-color($color-light-dark)}%22%2F%3E%3C%2Fsvg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 0;
    box-sizing: border-box;
    color: $color-light-light;
    padding: 0 0 0 $height-site-search-query;
    position: absolute;
    right: 0;
    top: 0;
    width: $height-site-search-query;
  }

  @media (min-width: $breakpoint-content) {
    position: absolute;
    right: $padding-side-centering;
    top: ($padding-top-byline + $height-decorative-border + (rem($line-height-root-content * $ratio-text-global-footer) - $height-site-search-query) / 2);
    width: $width-supplement;
    z-index: 1;
  }
}
