			{{#isWeblogArticle}}
				{{#previous}}
					<nav class="subnavigation">
						<p><a href="{{link}}">{{title}}</a></p>
					</nav>
				{{/previous}}
			{{/isWeblogArticle}}
		</main>

		<footer class="footer">
			<ul class="footlinks">
				<li><a href="{{licenseURL}}">CC/BY</a></li>
				<li><a href="{{feedURL}}" type="application/rss+xml">RSS</a></li>
				<li><a href="#top">↥ 先頭に戻る</a></li>
			</ul>

			<address class="byline"><a href="{{author}}">{{fullnameJA}}</a></address>
		</footer>
	</body>
</html>
