		</main>

		{{#isBlogArticle}}
			{{#previous}}
				<nav class="subnavigation">
					<p><a href="{{link}}">{{title}}</a></p>
				</nav>
			{{/previous}}
		{{/isBlogArticle}}

		<footer class="footer">
			<ul class="footlinks">
				<li><a href="{{licenseURL}}">CC/BY</a></li>
				<li><a href="{{feedURL}}" type="application/rss+xml">RSS</a></li>
				<li><a href="https://duckduckgo.com/?q=site%3A{{domain}}" aria-label="検索">🔍</a></li>
				<li><a href="#top" aria-label="先頭に戻る">🔝</a></li>
			</ul>

			<address class="byline">
				<p><a href="{{author}}">{{fullnameJA}}</a></p>
			</address>
		</footer>
	</body>
</html>
