<head>
  <meta charset="{{encoding}}">

  <title>{{^isHome}}{{shortTitle}} - {{/isHome}}{{siteTitle}}</title>

  <meta content="{{description}}" name="description">
  <meta content="{{description}}" property="og:description">
  <meta content="{{scheme}}//{{domain}}{{cover}}" property="og:image">
  <meta content="{{lang}}_{{region}}" property="og:locale">
  <meta content="{{siteTitle}}" property="og:site_name">
  <meta content="{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{shortTitle}}{{/isHome}}" property="og:title">
  <meta content="{{type}}" property="og:type">
  <meta content="{{scheme}}//{{domain}}{{canonical}}" property="og:url">
  <meta content="{{cardType}}" name="twitter:card">
  <meta content="width=device-width" name="viewport">

  <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
  <link href="{{canonical}}" rel="canonical">
  {{#isHome}}{{#items}}{{#isLatest}}<link href="{{link}}" rel="prerender">{{/isLatest}}{{/items}}{{/isHome}}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700" rel="stylesheet"> 

  {{^isStatuses}}<style>{{> css}}</style>{{/isStatuses}}{{#isStatuses}}{{^isLog}}<style>{{> css}}</style>{{/isLog}}{{/isStatuses}}

  <script async defer src="/js/main.min.js"></script>
  <script>{{> js}}</script>
</head>
