<!DOCTYPE html>
<html lang="{{lang}}" itemscope itemtype="http://schema.org/{{schemaType}}">
  <head>
    <meta charset="{{encoding}}">

    <title>{{^isHome}}{{shortTitle}} - {{/isHome}}{{siteTitle}}</title>

    <meta content="light dark" name="color-scheme">
    <meta content="{{description}}" name="description">
    <meta content="width=device-width" name="viewport">

    <link href="{{feedURL}}" rel="alternate" type="application/rss+xml">
    <link href="{{author}}" rel="author">
    <link href="{{canonical}}" rel="canonical">
    <link href="/img/favicon.svg" rel="icon" type="image/svg+xml">
    <link href="{{licenseURL}}" rel="license">
    <link href="https://duckduckgo.com/?q=site%3A{{domain}}" rel="search">

    <link href="/css/main.{{version}}.css" rel="stylesheet">

    <script async defer src="/js/unutm.{{version}}.js"></script>

    <meta content="{{description}}" itemprop="description">
    <link href="{{cover}}" itemprop="image">
    <meta content="{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{shortTitle}}{{/isHome}}" itemprop="name">
    <link href="{{canonical}}" itemprop="url">

    <meta content="{{description}}" property="og:description">
    <meta content="{{scheme}}://{{domain}}{{cover}}" property="og:image">
    <meta content="{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{shortTitle}}{{/isHome}}" property="og:title">
    <meta content="{{ogType}}" property="og:type">
    <meta content="{{scheme}}://{{domain}}{{canonical}}" property="og:url">
    {{#isWeblogArticle}}<meta content="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00" property="article:published_time">{{/isWeblogArticle}}

    <meta content="{{twitterCard}}" name="twitter:card">
    <meta content="@{{twitterUsername}}" name="twitter:site">
  </head>

  <body>
    <header class="header">
      <nav class="navigation">
        <a class="logo" href="/">{{siteTitle}}</a>

        <ul class="pages">
          <li>{{#isDocuments}}<mark>{{/isDocuments}}{{^isDocuments}}<a href="/documents/">{{/isDocuments}}特集{{^isDocuments}}</a>{{/isDocuments}}{{#isDocuments}}</mark>{{/isDocuments}}</li>
          <li>{{#isWeblog}}{{^isWeblogArticle}}<mark>{{/isWeblogArticle}}{{/isWeblog}}{{#isWeblogArticle}}<a href="/blog/">{{/isWeblogArticle}}{{^isWeblog}}<a href="/blog/">{{/isWeblog}}雑記{{^isWeblog}}</a>{{/isWeblog}}{{#isWeblogArticle}}</a>{{/isWeblogArticle}}{{#isWeblog}}{{^isWeblogArticle}}</mark>{{/isWeblogArticle}}{{/isWeblog}}</li>
          <li>{{#isLinks}}<mark>{{/isLinks}}{{^isLinks}}<a href="/links/">{{/isLinks}}参照{{^isLinks}}</a>{{/isLinks}}{{#isLinks}}</mark>{{/isLinks}}</li>
          <li>{{#isStatuses}}<mark>{{/isStatuses}}{{^isStatuses}}<a href="/statuses/">{{/isStatuses}}近況{{^isStatuses}}</a>{{/isStatuses}}{{#isStatuses}}</mark>{{/isStatuses}}</li>
          <li>{{#isPhotos}}<mark>{{/isPhotos}}{{^isPhotos}}<a href="/photos/">{{/isPhotos}}写真{{^isPhotos}}</a>{{/isPhotos}}{{#isPhotos}}</mark>{{/isPhotos}}</li>
          <li>{{#isBookshelf}}<mark>{{/isBookshelf}}{{^isBookshelf}}<a href="/bookshelf/">{{/isBookshelf}}書棚{{^isBookshelf}}</a>{{/isBookshelf}}{{#isBookshelf}}</mark>{{/isBookshelf}}</li>
          <li><a href="https://duckduckgo.com/?q=site%3A{{domain}}">検索</a></li>
        </ul>
      </nav>

      {{#tagline}}<h1 class="tagline">{{{.}}}</h1>{{/tagline}}
    </header>

    <main class="content">
