<head>
  <meta charset="{{encoding}}">
  <meta content="width=device-width" name="viewport">

  <title>{{^home}}{{short_title}} - {{/home}}{{site_title}}{{#home}} {{short_title}}{{/home}}</title>

  {{#home}}{{#items}}{{#isLatest}}<link href="{{link}}" rel="prerender">{{/isLatest}}{{/items}}{{/home}}
  <link href="{{canonical}}" rel="canonical">
  <meta content="{{description}}" name="description">
  <meta content="{{card_type}}" name="twitter:card">
  <meta content="{{twitter_username}}" name="twitter:site">
  <meta content="{{scheme}}//{{domain}}{{canonical}}" property="og:url">
  <meta content="{{#home}}{{site_title}} {{/home}}{{short_title}}" property="og:title">
  <meta content="{{description}}" property="og:description">
  <meta content="{{site_title}}" property="og:site_name">
  <meta content="{{scheme}}//{{domain}}{{cover}}" property="og:image">
  <meta content="{{type}}" property="og:type">
  <meta content="{{lang}}_{{region}}" property="og:locale">

  <link href="/css/main.min.css" rel="stylesheet">

  <script async src="async.min.js"></script>
  <script defer src="defer.min.js"></script>
</head>
