<head>
  <meta charset="{{encoding}}">

  <title>{{^home}}{{short_title}} - {{/home}}{{site_title}}</title>

  <meta content="{{description}}" name="description">
  <meta content="{{description}}" property="og:description">
  <meta content="{{scheme}}//{{domain}}{{cover}}" property="og:image">
  <meta content="{{lang}}_{{region}}" property="og:locale">
  <meta content="{{site_title}}" property="og:site_name">
  <meta content="{{#home}}{{site_title}}{{/home}}{{^home}}{{short_title}}{{/home}}" property="og:title">
  <meta content="{{type}}" property="og:type">
  <meta content="{{scheme}}//{{domain}}{{canonical}}" property="og:url">
  <meta content="{{card_type}}" name="twitter:card">
  <meta content="{{twitter_username}}" name="twitter:site">
  <meta content="width=device-width" name="viewport">

  <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
  <link href="{{canonical}}" rel="canonical">
  <link crossorigin href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  {{#home}}{{#items}}{{#isLatest}}<link href="{{link}}" rel="prerender">{{/isLatest}}{{/items}}{{/home}}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Noto+Serif+JP" rel="stylesheet">

  <style>{{> css}}</style>

  <script async src="/js/async.min.js"></script>
  <script defer src="/js/defer.min.js"></script>
</head>
