<!DOCTYPE html>
<html lang="{{lang}}" itemscope itemtype="http://schema.org/{{schemaType}}">
  <head>
    <meta charset="{{encoding}}">

    <title>{{^isHome}}{{shortTitle}} - {{/isHome}}{{siteTitle}}</title>

    <meta content="light dark" name="color-scheme">
    <meta content="{{description}}" name="description">
    <meta content="width=device-width" name="viewport">

    <link href="{{feedURL}}" rel="alternate" type="application/rss+xml">
    <link href="{{website}}" rel="author me">
    <link href="{{canonical}}" rel="canonical">
    <link href="{{licenseURL}}" rel="license">
    <link href="https://www.google.com/search?q=site:{{domain}}" rel="search">

    <link href="/css/main.{{version}}.min.css" rel="stylesheet">

    <meta content="{{description}}" itemprop="description">
    <link href="{{cover}}" itemprop="image">
    <meta content="{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{shortTitle}}{{/isHome}}" itemprop="name">
    <link href="{{canonical}}" itemprop="url">

    <meta content="{{description}}" property="og:description">
    <meta content="{{scheme}}://{{domain}}{{cover}}" property="og:image">
    <meta content="{{#isHome}}{{siteTitle}}{{/isHome}}{{^isHome}}{{shortTitle}}{{/isHome}}" property="og:title">
    <meta content="{{ogType}}" property="og:type">
    <meta content="{{scheme}}://{{domain}}{{canonical}}" property="og:url">
    {{#isWeblogArticle}}<meta content="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00" property="article:published_time">{{/isWeblogArticle}}

    <meta content="{{twitterCard}}" name="twitter:card">
  </head>

  <body>
    <header>
      <nav>
        <a href="/">{{> logo}}</a>

        <ul>
          <li>{{#isWeblog}}<mark>{{/isWeblog}}<a href="/blog/">雑記</a>{{#isWeblog}}</mark>{{/isWeblog}}</li>
          <li>{{#isLinks}}<mark>{{/isLinks}}<a href="/links/">参照</a>{{#isLinks}}</mark>{{/isLinks}}</li>
          <li>{{#isStatuses}}<mark>{{/isStatuses}}<a href="/statuses/">近況</a>{{#isStatuses}}</mark>{{/isStatuses}}</li>
          <li>{{#isPhotos}}<mark>{{/isPhotos}}<a href="/photos/">写真</a>{{#isPhotos}}</mark>{{/isPhotos}}</li>
          <li>{{#isDocuments}}<mark>{{/isDocuments}}<a href="/documents/">特集</a>{{#isDocuments}}</mark>{{/isDocuments}}</li>
          <li>{{#isBookshelf}}<mark>{{/isBookshelf}}<a href="/bookshelf/">書棚</a>{{#isBookshelf}}</mark>{{/isBookshelf}}</li>
          <li><a href="https://www.google.com/search?q=site:{{domain}}">検索</a></li>
        </ul>
      </nav>

      {{#tagline}}<h1>{{{.}}}</h1>{{/tagline}}
    </header>
