<header>
	{{#isWeblogArticle}}
		<p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>
	{{/isWeblogArticle}}

	<h1{{#isHome}} data-description="{{description}}">{{siteTitle}}{{/isHome}}{{^isHome}}>{{title}}{{/isHome}}</h1>

	{{^isHome}}
		<nav>
			<p class="back-to-home"><a href="/" aria-label="ホームへ戻る">←</a></p>
		</nav>
	{{/isHome}}
</header>
