<header class="page-header">
	<a class="skip-to-main-content" href="#main"><span aria-hidden="true">⇓</span> 本文へ飛ぶ</a>

	<nav>
		<ul class="pages">
			{{^isHome}}<li class="logo sep"><a href="/">{{siteTitle}}</a></li>{{/isHome}}
			<li>{{^isWeblog}}<a href="/blog/">{{/isWeblog}}{{#isWeblogArticle}}<a href="/blog/">{{/isWeblogArticle}}雑多な記録{{^isWeblog}}</a>{{/isWeblog}}{{#isWeblogArticle}}</a>{{/isWeblogArticle}}</li>
			<li>{{^isDocuments}}<a href="/documents/">{{/isDocuments}}選りすぐりの文書{{^isDocuments}}</a>{{/isDocuments}}</li>
			<li>{{^isLinks}}<a href="/links/">{{/isLinks}}気になったウェブページ{{^isLinks}}</a>{{/isLinks}}</li>
			<li><a href="#others">その他 <span aria-hidden="true">⇓</span></a></li>
		</ul>
	</nav>
</header>
