<footer>
	<ul class="pages">
		<li class="sep"><a href="mailto:{{email}}">{{shimei}}</a></li>
		<li class="sep"><a href="{{license}}">CC-BY</a></li>
		<li><a href="{{feed}}" type="application/rss+xml">RSS</a></li>
		{{#isWeblog}}<li><a href="/blog{{feed}}" type="application/rss+xml">雑多な記録だけのRSS</a></li>{{/isWeblog}}
		{{#isDocuments}}<li><a href="/documents{{feed}}" type="application/rss+xml">選りすぐりの文書だけのRSS</a></li>{{/isDocuments}}
		{{#isLinks}}<li><a href="/links{{feed}}" type="application/rss+xml">気になったウェブページだけのRSS</a></li>{{/isLinks}}
		{{#isStatuses}}<li><a href="/statuses{{feed}}" type="application/rss+xml">近ごろの様子だけのRSS</a></li>{{/isStatuses}}
		{{#isBookshelf}}<li><a href="/bookshelf{{feed}}" type="application/rss+xml">読み終わった書籍だけのRSS</a></li>{{/isBookshelf}}
		<li><a href="https://twitter.com/{{twitter}}">Twitter</a></li>
	</ul>
</footer>
