<footer class="page-footer">
	<nav>
		<p><a href="/">ホーム</a>&#x2003;<a href="/about/">案内</a>&#x2003;/&#x2003;<a href="https://www.google.com/search?q=site%3Ahail2u.net">検索</a></p>

		<ul>
			<li><a href="/documents/">選りすぐりの文書</a></li>
			<li><a href="/blog/">雑多な記録</a></li>
			<li><a href="/links/">気になったウェブページ</a></li>
			<li><a href="/bookshelf/">読み終えた書籍</a></li>
		</ul>
	</nav>

	<p>{{siteTitle}}は<a href="mailto:{{email}}">{{shimei}}</a>が<a href="{{licenseURL}}">{{licenseName}}</a>の下で公開しています。更新情報は<a href="{{feed}}" type="application/rss+xml">RSS</a>{{#isDocuments}}（<a href="/documents{{feed}}" type="application/rss+xml">選りすぐりの文書だけのRSS</a>）{{/isDocuments}}{{#isWeblog}}（<a href="/blog{{feed}}" type="application/rss+xml">雑多な記録だけのRSS</a>）{{/isWeblog}}{{#isLinks}}（<a href="/links{{feed}}" type="application/rss+xml">気になったウェブページだけのRSS</a>）{{/isLinks}}{{#isBookshelf}}（<a href="/bookshelf{{feed}}" type="application/rss+xml">読み終えた書籍だけのRSS</a>）{{/isBookshelf}}や<a href="https://twitter.com/{{twitter}}">Twitter</a>で購読できます。また、このウェブサイトの後援を<a href="https://github.com/sponsors/{{github}}">GitHub Sponsors</a>で募集しています。お問い合わせは<a href="mailto:{{email}}">メール</a>や<a href="https://twitter.com/{{twitter}}">Twitter</a>で、お気軽にどうぞ。</p>
</footer>
