<header class="page-header">
	<nav>
		<p class="logo"><a href="/">{{siteTitle}}</a></p>

		<ul class="pages">
			<li>{{^isWeblog}}<a href="/blog/">{{/isWeblog}}{{#isWeblogArticle}}<a href="/blog/">{{/isWeblogArticle}}雑多な記録{{^isWeblog}}</a>{{/isWeblog}}{{#isWeblogArticle}}</a>{{/isWeblogArticle}}</li>
			<li>{{^isDocuments}}<a href="/documents/">{{/isDocuments}}選りすぐりの文書{{^isDocuments}}</a>{{/isDocuments}}</li>
			<li>{{^isLinks}}<a href="/links/">{{/isLinks}}気になったウェブページ{{^isLinks}}</a>{{/isLinks}}</li>
			<li>{{^isStatuses}}<a href="/statuses/">{{/isStatuses}}近ごろの様子{{^isStatuses}}</a>{{/isStatuses}}</li>
			<li>{{^isBookshelf}}<a href="/bookshelf/">{{/isBookshelf}}読み終わった書籍{{^isBookshelf}}</a>{{/isBookshelf}}</li>
			<li>{{^isSubscriptions}}<a href="/subscriptions/">{{/isSubscriptions}}購読中のウェブサイト{{^isSubscriptions}}</a>{{/isSubscriptions}}</li>
			<li class="sep">{{^isAbout}}<a href="/about/">{{/isAbout}}このウェブサイトについて{{^isAbout}}</a>{{/isAbout}}</li>
			<li><a href="https://www.google.com/search?q=site%3A{{domain}}">ウェブサイト内を検索</a></li>
		</ul>
	</nav>
</header>
