<footer>
	<p><a href="/">ホーム</a>&#x2003;<a href="/about/">案内</a>&#x2003;/&#x2003;<a href="/blog/">雑多な記録</a>&#x2003;<a href="/bookshelf/">読み終わった書籍</a>&#x2003;<a href="/links/">気になったウェブページ</a>&#x2003;/&#x2003;<a href="https://www.google.com/search?q=site%3Ahail2u.net">検索</a></p>

	<p><a href="mailto:{{email}}">{{shimei}}</a>&#x2003;/&#x2003;<a href="{{license}}">CC-BY</a>&#x2003;<a href="{{feed}}" type="application/rss+xml">RSS</a>&#x2003;{{#isWeblog}}（<a href="/blog{{feed}}" type="application/rss+xml">雑多な記録だけのRSS</a>）&#x2003;{{/isWeblog}}{{#isBookshelf}}（<a href="/bookshelf{{feed}}" type="application/rss+xml">読み終わった書籍だけのRSS</a>）&#x2003;{{/isBookshelf}}{{#isLinks}}（<a href="/links{{feed}}" type="application/rss+xml">気になったウェブページだけのRSS</a>）&#x2003;{{/isLinks}}<a href="https://twitter.com/{{twitter}}">Twitter</a></p>
</footer>
