<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <h1>ライセンス</h1>

        <p>このウェブサイト内の全ての文書とファイル（画像やスタイルシートを含みます）は、そのファイル自体に別のライセンス情報が明記または添付されていない限り<a href="{{license_url}}" rel="license">Creative Commons — Attribution</a>の元で公開されています。</p>
      </section>

      <section>
        <h1>購読</h1>

        <p>このウェブサイトの更新情報は、<a href="/feed" rel="alternate" type="application/rss+xml">RSSフィード</a>で配信しています。このフィードにはウェブサイト全体の更新情報だけでなく、ウェブログの記事も含まれます。</li>
        </ul>
      </section>

      <section>
        <h1>制作環境</h1>

        <p>このウェブサイトはHTMLとして提供されていますが、内部では様々なツールやスクリプトが利用されています。詳しくは<a href="https://github.com/hail2u/hail2u.net">Gitリポジトリー</a>を参照してください。このリポジトリーにあるものがすべてです。</p>

        <section>
          <h1>マークアップとスタイルシート</h1>

          <p>マークアップは<a href="https://html.spec.whatwg.org/multipage/">HTML Standard</a>に従って行っています。スタイルシートはCSSだけで書いています。両者のより詳細な解説とプレビューとして<a href="/style-guide/">スタイル・ガイド</a>を用意してあるので、そちらも参照してください。</p>
        </section>

        <section>
          <h1>ウェブサイト上で使っているスクリプト</h1>

          <ul>
            <li><a href="https://github.com/hail2u/ellipsis-title">ellipsis-title.js</a></li>
            <li><a href="https://gist.github.com/hail2u/8d96d6ed7fc5995f6e7c292dfef1fe6c">reldate.js</a></li>
            <li><a href="https://github.com/hail2u/unutm">UnUTM</a></li>
            <li><a href="https://gist.github.com/hail2u/22df38cd85098a3604bd50b823d7a061">heading-break.js</a></li>
          </ul>
        </section>

        <section>
          <h1>利用しているサービス</h1>

          <ul>
            <li><a href="https://domains.google/">Google Domains</a></li>
            <li><a href="https://pages.github.com/">GitHub Pages</a></li>
          </ul>
        </section>

        <section>
          <h1>製作に使っているアプリケーションやツール</h1>

          <ul>
            <li><a href="https://developers.google.com/closure/compiler/">Closure Compiler</a></li>
            <li><a href="https://github.com/hail2u/node-css-mqpacker">CSS MQPacker</a></li>
            <li><a href="https://github.com/hail2u/node-csswring">CSSWring</a></li>
            <li><a href="https://git-scm.com/">Git</a></li>
            <li><a href="https://inkscape.org/">Inkscape</a></li>
            <li><a href="http://jpegclub.org/jpegtran/">jpegtran</a></li>
            <li><a href="https://daringfireball.net/projects/markdown/">Markdown</a></li>
            <li><a href="https://github.com/janl/mustache.js">mustache</a></li>
            <li><a href="https://nodejs.org/">Node.js</a></li>
            <li><a href="http://optipng.sourceforge.net/">OptiPNG</a></li>
            <li><a href="https://www.adobe.com/jp/products/photoshop.html">Photoshop</a></li>
            <li><a href="https://pngquant.org/">pngquant</a></li>
            <li><a href="https://postcss.org/">PostCSS</a></li>
            <li><a href="https://github.com/postcss/postcss-import">postcss-import</a></li>
            <li><a href="https://prettier.io/">Prettier</a></li>
            <li><a href="https://github.com/svg/svgo">SVGO</a></li>
            <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
            <li><a href="https://gist.github.com/hail2u/9bfc6a6e16d97860d8de9f3d9ff3c232">wrap-with-supports.js</a></li>
          </ul>
        </section>
      </section>

      <section>
        <h1>問い合わせ</h1>

        <p>このウェブサイト内のコンテンツについて報告や問い合わせ・クレーム等がある場合は、<a href="mailto:hail2u@gmail.com">メール</a>で連絡してください。</p>
      </section>
    </main>

    {{> footer}}
  </body>
</html>
