<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="{{encoding}}">
    <meta content="light dark" name="color-scheme">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{{title}}</title>

    <style>
      pre {
        white-space: pre-wrap;
      }

      figure {
        margin-inline: 0;
      }

      img,
      svg {
        block-size: auto;
        max-inline-size: 100%;
      }
    </style>
  </head>

  <body>
    <p><time>{{strYear}}-{{strMonth}}-{{strDate}}</time></p>

    <h1>{{title}}</h1>

    {{{body}}}
  </body>
</html>
