<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width" name="viewport">

		<title>{{title}}</title>

		<link href="https://hail2u.net/css/index.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<p class="date"><time datetime="2022-06-06T19:30:00+09:00">2022年6月6日</time></p>

			<h1><b>{{title}}</b></h1>
		</header>

		{{{body}}}
	</body>
</html>
