<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <nav class="yearly-archives">
      <h2>年別</h2>

      <p>{{#articles}}{{#isFirstInYear}}<a href="#{{strYear}}">{{year}}年</a> {{/isFirstInYear}}{{/articles}}</p>
    </nav>

    {{#articles}}
      {{#isFirstInMonth}}
        <section{{#isFirstInYear}} id="{{strYear}}"{{/isFirstInYear}}>
          <h2><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>
      {{/isFirstInMonth}}

      <p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{month}}月{{date}}日</time></p>

      <p><a href="{{link}}">{{title}}</a></p>

      {{#isLastInMonth}}
        </section>
      {{/isLastInMonth}}
    {{/articles}}

    {{> page-footer}}
  </body>
</html>
