Options +Indexes

<IfModule mod_autoindex.c>
  IndexOptions +FoldersFirst
  IndexOptions +IgnoreCase
  IndexOptions +SuppressDescription
  IndexOptions +NameWidth=24
  ReadmeName /pub/readme.html
</IfModule>
