/* Preview: http://www.flickr.com/photos/hail2u/4157658511/ */
@-moz-document url-prefix("http://b.hatena.ne.jp/add") {
  * {
    font-family: "Lucida Grande", "Calibri", sans-serif !important;
    font-size: 100% !important;
  }

  body {
    width: auto !important;
  }

  #hatena-body {
    margin-top: -270px !important;
    display: table !important;
    width: 80% !important;
    position: absolute !important;
    top: 50% !important;
    left: 10% !important;
  }

  #bookmarklet-form {
    display: table-cell !important;
    height: 540px !important;
    vertical-align: middle !important;
  }

  td > div {
    margin-bottom: 1em !important;
    padding-right: 0 !important;
  }

  #comment {
    width: 100% !important;
  }

  #typecounter {
    top: -1.5em !important;
  }

  .bookmarklet-notice {
    display: none !important;
  }

  .bookmarklet-submit-container {
    margin-top: 1em !important;
  }

  a[href^='/h2u/add.delete'] {
    margin: 0 !important;
  }

  .notice_comment {
    display: none !important;
  }
}
