body > footer address {
  flex-grow: 1;
  font-style: normal;
  order: -1;
  position: relative;

  @media (min-width: $breakpoint-huge) {
    margin-left: (- ($width-supplement + $width-gap));
    margin-right: $width-gap;
  }
}
