body > footer address {
  font-style: normal;
  position: relative;

  @media (min-width: $breakpoint-large) {
    flex-grow: 1;
    margin-bottom: 0;
    order: -1;
  }

  @media (min-width: $breakpoint-huge) {
    margin-left: (- ($width-supplement + $width-gap));
    margin-right: $width-gap;
  }
}
