body > footer address {
  flex-grow: 1;
  font-style: normal;
  order: -1;

  @media (min-width: $breakpoint-huge) {
    flex-grow: 0;
    margin-left: (- ($width-supplement + $width-gap));
    margin-right: $width-gap;
    width: $width-supplement;
  }
}
