body > footer ul {
  display: flex;
  margin-bottom: $margin-small;
  padding-left: 0;

  @media (min-width: $breakpoint-large) {
    margin-bottom: 0;
  }
}

body > footer ul li {
  display: block;
  margin-right: $padding-large;

  @media (min-width: $breakpoint-large) {
    margin-left: $padding-large;
    margin-right: 0;
  }
}
