body > footer ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

body > footer ul li {
  display: block;
  margin-left: var(--padding);
}

@media (min-width: 56.739em) {
  body > footer ul li {
    margin-left: var(--padding-large);
  }
}

@media (min-width: 91.226em) {
  body > footer ul li {
    margin-left: 0;
    margin-right: var(--padding-large);
  }
}
