body > footer ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

body > footer ul li {
  display: block;
  margin-left: $padding-large;

  @media (min-width: $breakpoint-huge) {
    margin-left: 0;
    margin-right: $padding-large;
  }
}
