.byline {
  margin-left: auto;
}

.byline p {
  --margin-top: 0;

  margin-top: var(--margin-top);
}

@media (min-width: 65rem) {
  .byline {
    margin-left: var(--margin-left-sub);
    margin-right: var(--margin-small);
    order: -1;
    width: var(--width-sub);
  }
}
