body > footer address {
  flex-grow: 1;
  font-style: normal;
  order: -1;
}

@media (min-width: 92em) {
  body > footer address {
    flex-grow: 0;
    margin-left: calc(0px - (var(--width-supplement) + var(--width-gap)));
    margin-right: var(--width-gap);
    width: var(--width-supplement);
  }
}
