.byline {
  --margin-left: auto;

  margin-left: var(--margin-left);
}

.byline p {
  --margin-top: 0;

  margin-top: var(--margin-top);
}

@media (min-width: 65rem) {
  .byline {
    --order: -1;

    margin-left: var(--margin-left-sub);
    margin-right: var(--margin-small);
    order: var(--order);
    width: var(--width-sub);
  }
}
