.footlinks {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}

.footlinks li {
	--display: block;

	display: inline-block;
	display: var(--display);
	margin-right: 0.618rem;
	margin-right: var(--space-tiny);
}

.footlinks li:last-child {
	margin-right: 0;
}

.footlinks li a[aria-label] {
	--text-decoration: none;

	text-decoration: var(--text-decoration);
}

.footlinks li a[aria-label]::after {
	--content: "";

	content: " " attr(aria-label);
	content: var(--content);
}
