.footlinks {
  --display: flex;
  --flex-grow: 1;

  display: var(--display);
  flex-grow: var(--flex-grow);
  margin-left: auto;
  margin-top: 0;
  max-width: var(--width-main);
  order: var(--order);
  padding-left: 0;
}

@media (min-width: 71em) {
  .footlinks {
    --order: 1;
  }
}

.footlinks li {
  --display: block;
  --margin-right: var(--space-small);

  display: inline;
  display: var(--display);
  margin-right: 1rem;
  margin-right: var(--margin-right);
}

@media (min-width: 71em) {
  .footlinks li:first-child {
    --margin-right: auto;
  }
}

.footlinks li:last-child {
  margin-right: 0;
}
