.footlinks {
  --display: flex;
  --flex-grow: 1;

  display: var(--display);
  flex-grow: var(--flex-grow);
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.footlinks li {
  --display: block;
  --margin-right: var(--space-small);

  display: inline-block;
  display: var(--display);
  margin-right: 1rem;
  margin-right: var(--margin-right);
}

.footlinks li:last-child {
  margin-right: 0;
}
