body > footer ul {
  display: flex;
  flex-grow: var(--grow-on-large);
  margin-right: var(--modifier-main-right);
  margin-top: 0;
  padding-left: 0;
}

body > footer ul li {
  display: block;
  margin-left: var(--width-horizontal-list-gutter);
}

body > footer ul li:first-child {
  flex-grow: var(--grow-on-large);
  margin-left: 0;
}
