body > footer ul {
  display: flex;
  flex-grow: var(--flex-grow);
  margin-right: var(--margin-right-main);
  margin-top: 0;
  padding-left: 0;
}

body > footer ul li {
  display: block;
  margin-left: var(--width-horizontal-list-gutter);
}

body > footer ul li:first-child {
  flex-grow: var(--flex-grow);
  margin-left: 0;
}

@media (min-width: 1208px) {
  body > footer ul {
    --flex-grow: 1;
  }
}
