// Decorative Border
%decorative-border {
  @extend %positioning-root;

  margin-top: $margin;

  &::before {
    border-top: $width-border-large solid $color-light-dark;
    content: "";
    display: block;
    position: absolute;
    top: (- $margin-tiny);
    width: ($width-supplement / pow($ratio, 3));
  }
}
