// White Spaces
%white-spaces {
  margin: 0 0 $margin;
}

// Top White Spaces
%top-white-spaces {
  margin-top: $margin;

  @media (min-width: $breakpoint-content) {
    margin-top: $margin-large;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: $margin-huge;
  }
}
