// White Spaces
%white-spaces {
  margin: 0 0 $margin;
}

// Top White Spaces
%top-white-spaces {
  margin-top: $margin-top-top-white-spaces;

  @media (min-width: $breakpoint-content) {
    margin-top: $margin-top-top-white-spaces-content;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: $margin-top-top-white-spaces-full;
  }
}
