body > main {
  margin-left: auto;
  margin-right: auto;
  margin-top: (0 - $margin-gargantuan + $margin * $ratio);
  max-width: $width-large;
  padding-left: $width-gap-small;
  padding-right: $width-gap-small;

  @media (min-width: $breakpoint-large) {
    margin-top: (0 - $margin-gargantuan + $margin-large * $ratio);
  }

  @media (min-width: $breakpoint-huge) {
    margin-top: (0 - $margin-gargantuan + $margin-huge * $ratio);
    padding-left: ($width-gap-small + $width-supplement + $width-gap);
  }
}

@import "content/section";
@import "content/article";
@import "content/heading";
@import "content/subheading";
@import "content/footer";
