// The document element
html {
  font-family: $font-stack-system-ui;
  font-size: percentage($ratio-text-root);
  line-height: $line-height-root;

  @media (min-width: $breakpoint-large) {
    font-size: percentage($ratio-text-root-large);
  }

  @media (min-width: $breakpoint-huge) {
    font-size: percentage($ratio-text-root-huge);
  }

  @media (min-width: $breakpoint-fhd-up-width) and (min-height: $breakpoint-fhd-up-height) {
    font-size: 1vw;
  }
}

// Sections
body {
  background-color: $color-bg;
  color: $color-fg;
  margin: 0 0 $margin-top-header;

  @media (min-width: $breakpoint-large) {
    margin-bottom: $margin-top-header-large;
  }

  @media (min-width: $breakpoint-huge) {
    margin-bottom: $margin-top-header-huge;
  }
}

h1 {
  font-weight: inherit;
  line-height: $line-height-h1;
  margin: 0 0 $margin;
}

// Grouping Content
p {
  margin: 0 0 $margin;
}

hr {
  background-color: transparent;
  border: 0;
  box-sizing: content-box;
  clear: both;
  font-size: ($ratio-text-small * 1rem);
  height: 1em;
  line-height: 1;
  margin: $margin-large 0;
  opacity: 0.5;
  text-align: center;
}

hr::before {
  content: "✖ \a0\a0\a0✖ \a0\a0\a0✖";
}

pre {
  clear: both;
  font-family: $font-stack-monospace;
  font-size: ($ratio-text-pre * 1rem);
  line-height: $line-height-small;
  margin: 0 0 $margin;
  overflow: auto;

  @media (min-width: $breakpoint-large) {
    overflow: visible;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}

blockquote {
  border-left: $width-border-blockquote solid;
  clear: both;
  margin: 0;
  padding-left: $padding-left-blockquote;
}

figure blockquote > :last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0 0 $margin;
  padding-left: $indent;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

dl {
  margin: 0 0 $margin;
}

dl dl {
  margin-bottom: 0;
}

dt {
  margin-bottom: $margin-small;
}

dd {
  margin-bottom: $margin-small;
  margin-left: $indent;
}

figure {
  margin: 0 0 $margin;
  position: relative;
}

figcaption {
  border-left: $width-border solid;
  display: inline-block;
  font-size: ($ratio-text-small * 1rem);
  margin-top: $margin-small;
  padding-left: $width-gap-small;

  @media (min-width: $breakpoint-huge) {
    bottom: 0;
    display: block;
    margin-right: $width-gap;
    margin-top: 0;
    position: absolute;
    right: 100%;
    width: ($width-supplement - $width-border - $width-gap-small);
    z-index: 1;
  }
}

blockquote + figcaption {
  border-left: $width-border-blockquote solid;
  font-size: inherit;
  margin-top: 0;
  padding-left: $padding-left-blockquote;
  padding-top: $margin;

  @media (min-width: $breakpoint-huge) {
    margin-right: 0;
    position: static;
    width: auto;
  }
}

main {
  display: block;
}

// Text-level Semantics
a {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}

em {
  font-style: normal;
  font-weight: bolder;
}

strong {
  font-size: ($ratio-text-small * 1rem);
  -webkit-text-emphasis-style: dot;
  text-emphasis-style: dot;
}

cite {
  font-style: normal;
}

abbr {
  cursor: help;
}

code,
var,
samp,
kbd {
  font-family: $font-stack-monospace;
  font-size: 1em;
}

var {
  font-style: normal;
}

// Edits
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

// Embedded Content
img,
video {
  border: 0;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

figure img,
figure video {
  vertical-align: bottom;
}

svg:not(:root) {
  fill: currentcolor;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

// Tabular Data
table {
  border-bottom: $width-border-table solid;
  border-collapse: collapse;
  border-spacing: 0;
  clear: both;
  display: inline-block;
  margin: 0 0 $margin;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;

  @media not screen {
    display: table;
  }
}

figure > table {
  margin-bottom: 0;
}

th,
td {
  border-top: $width-border-table solid;
  padding: $padding-large;
  vertical-align: top;
  white-space: nowrap;
}

th {
  text-align: inherit;
}

thead th {
  border-bottom: $width-border solid;
}

// Forms
form {
  margin: 0 0 $margin;
}
