body > footer {
  display: flex;
  font-size: ($ratio-text-footer * 1rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin-top-content-heading;
  max-width: $width-large;
  padding-left: $width-gap-small;
  padding-right: $width-gap-small;
  position: relative;

  @media (min-width: $breakpoint-huge) {
    padding-left: ($width-gap-small + $width-supplement + $width-gap);
  }
}

body > footer a {
  text-decoration: none;
}

@import "footer/links";
@import "footer/byline";
