body > footer {
  display: flex;
  font-size: ($ratio-text-small * 1rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin-gargantuan;
  max-width: $width-large;
  padding-left: $width-gap-small;
  padding-right: $width-gap-small;

  @media (min-width: $breakpoint-huge) {
    padding-left: ($width-gap-small + $width-supplement + $width-gap);
  }
}

@import "footer/links";
@import "footer/byline";
