// Global Header
.global-header {
  @extend %centering;
  @extend %indistinguishable-link;
  @extend %positioning-root;
  @extend %top-white-spaces;

  display: flex;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-full) {
    max-width: $width-full;
    padding-left: $width-gap-small;
  }
}
