// Global Footer
.global-footer {
  @extend %centering;
  @extend %indistinguishable-link;
  @extend %positioning-root;

  font-size: rem($ratio-text-global-footer);
  margin-bottom: ($margin-large - $margin);

  @media (min-width: $breakpoint-content) {
    display: flex;
  }
}
