// Global Header
.global-header {
  @extend %centering;
  @extend %indistinguishable-link;
  @extend %positioning-root;

  display: flex;
  font-size: rem($ratio-text-small);
  margin-top: $margin;
  text-transform: uppercase;

  @media (min-width: $breakpoint-content) {
    font-size: rem($ratio-text);
    margin-top: $margin-large;
  }

  @media (min-width: $breakpoint-full) {
    margin-top: $margin-huge;
    max-width: $width-full;
    padding-left: $width-gap-small;
  }
}
