// Global Header at Home
.global-header.at-home {
  $m: calc((100vh - #{rem($ratio-text-global-header)}) / 2);

  margin-bottom: $m;
  margin-top: $m;

  @media (min-width: $breakpoint-content) {
    $m: calc((100vh - #{rem($ratio-text-global-header-content)}) / 2);

    margin-bottom: $m;
    margin-top: $m;
  }
}
