body > header {
  display: flex;
  flex-flow: row wrap;
  font-size: ($ratio-text-header * 1rem);
  height: ($ratio-text-header * $line-height-root * 1rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin;
  max-width: $width-content;
  padding-left: $width-gap-small;
  padding-right: $width-gap-small;

  @media (min-width: $breakpoint-content) {
    font-size: ($ratio-text-header-content * 1rem);
    height: ($ratio-text-header-content * $line-height-root * 1rem);
    margin-top: $margin-large;
  }

  @media (min-width: $breakpoint-full) {
    padding-left: ($width-gap-small + $width-supplement + $width-gap);
  }
}

body > header a {
  color: inherit;
  text-decoration: none;
}

@import "header/logo";
@import "header/navigation";
