body > header {
  display: flex;
  font-size: ($ratio-text-header * 1rem);
  height: ($ratio-text-header * $line-height-header * 1rem);
  line-height: $line-height-header;
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin-top-header;
  max-width: $width-large;
  padding-left: $width-gap-small;
  padding-right: $width-gap-small;

  @media (min-width: $breakpoint-large) {
    margin-top: $margin-top-header-large;
  }

  @media (min-width: $breakpoint-huge) {
    margin-top: $margin-top-header-huge;
    padding-left: ($width-gap-small + $width-supplement + $width-gap);
  }
}

body > header a {
  color: inherit;
  text-decoration: none;
}

body > header svg {
  vertical-align: text-bottom;
  width: auto;
}

@import "header/logo";
@import "header/navigation";
