/* The document element */
html {
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 112.5%;
	line-height: 1.5;
}

/* Sections */
body {
	margin: 1.5rem auto;
	max-width: 36rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 8.5rem;
}

h2 {
	font-size: 1.25rem;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 8.5rem;
}

h3 {
	font-size: 1rem;
	margin-bottom: 0;
	margin-top: 4rem;
}

h4,
h5,
h6 {
	font-size: 0.8rem;
	margin-bottom: 0;
	margin-top: 1.5rem;
}

address {
	font-style: normal;
}

/* Grouping Content */
p {
	margin-bottom: 0;
	margin-top: 1.5rem;
}

hr {
	border-width: 0;
	letter-spacing: 1rem;
	margin: 4rem 0;
	padding-left: 4rem;
	text-align: left;
}

hr::before {
	content: "***";
}

pre {
	background-color: whitesmoke;
	/* stylelint-disable-next-line font-family-no-duplicate-names */
	font-family: monospace, monospace;
	font-size: inherit;
	line-height: 1.25;
	margin-bottom: 0;
	margin-top: 1.5rem;
	overflow-wrap: break-word;
	padding: 1rem;
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: break-all;
}

blockquote {
	border-left: 4px solid silver;
	margin: 1.5rem 0 0;
	padding-left: 1.5rem;
}

ul,
ol {
	margin-bottom: 0;
	margin-top: 1.5rem;
	padding-left: 1.5rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-top: 0;
}

figure {
	margin: 1.5rem 0 0;
}

main {
	margin: 8.5rem 0;
	display: block;
}

/* Text-level Semantics */
a {
	color: slateblue;
}

a:visited {
	color: dimgray;
}

em {
	font-style: normal;
	font-weight: bold;
}

cite {
	font-style: normal;
}

code,
samp,
kbd {
	/* stylelint-disable-next-line font-family-no-duplicate-names */
	font-family: monospace, monospace;
	font-size: inherit;
}

/* Edits */
ins {
	text-decoration: none;
}

del {
	color: silver;
}

/* Embedded Content */
img,
video {
	background-color: whitesmoke;
	border-width: 0;
	box-sizing: border-box;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

figure img,
figure video {
	vertical-align: bottom;
}

svg:not(:root) {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}

/* Tabular Data */
table {
	background-color: whitesmoke;
	border-spacing: 0;
	border-top: 1px solid silver;
	display: inline-block;
	margin-top: 1.5rem;
	max-width: 100%;
	overflow-x: auto;
	table-layout: fixed;
}

th {
	border-bottom: 4px solid silver;
	padding: 0.75rem 1rem;
	text-align: inherit;
	vertical-align: top;
	white-space: pre;
}

td {
	border-bottom: 1px solid silver;
	padding: 0.75rem 1rem;
	vertical-align: top;
	white-space: pre;
}

/* Forms */
form {
	margin-top: 1.5rem;
}

button {
	-webkit-appearance: button;
	background-color: black;
	border: none;
	border-radius: 6px;
	color: white;
	font-family: inherit;
	font-size: 0.8rem;
	font-weight: bold;
	margin: 0;
	max-width: 100%;
	padding: 1rem 1.5rem;
	vertical-align: top;
	white-space: pre-line;
}

/* Scripting */
template {
	display: none;
}
