/* The document element */
html {
  font-family: sans-serif;
  line-height: 1.7;
}

/* Sections */
body {
  background-color: hsl(45, 50%, 95%);
  color: hsl(45, 20%, 10%);
  margin: 3rem auto;
  max-width: 60rem;
}

h1,
h2,
h3 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-left: -0.05em;
}

address {
  font-style: normal;
}

/* Grouping Content */
p {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

hr {
  border-width: 0;
  color: hsl(45, 10%, 30%);
  font-size: 1.75rem;
  margin: 3rem auto 3rem 0;
}

hr::before {
  content: "\a0\a0\a0\a0\a0\a0\a0\a0*\a0\a0\a0\a0*\a0\a0\a0\a0*";
}

pre {
  background-color: hsl(45, 30%, 90%);
  color: hsl(45, 10%, 30%);
  font-family: "_", monospace;
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 1.5rem;
  overflow-wrap: break-word;
  padding: 0.75rem;
  white-space: pre-wrap;
  word-break: break-all;
}

blockquote {
  border-left: 0.25rem solid hsl(45, 10%, 70%);
  margin: 1.5rem 0 0;
  padding-left: 1rem;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

figure {
  margin: 1.5rem 0 0;
}

main {
  display: block;
}

/* Text-level Semantics */
a {
  color: hsl(225, 100%, 40%);
}

a:visited {
  color: hsl(45, 10%, 30%);
}

em {
  font-style: normal;
  font-weight: bold;
}

cite {
  font-style: normal;
}

code {
  font-family: "_", monospace;
  font-size: 1em;
}

/* Edits */
ins {
  text-decoration: none;
}

del {
  display: none;
}

/* Embedded Content */
img,
video {
  border-width: 0;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

figure img,
figure video {
  vertical-align: bottom;
}

svg:not(:root) {
  fill: currentcolor;
  max-height: 100%;
  max-width: 100%;
}

/* Tabular Data */
table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  margin-top: 1.5rem;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

@media not screen {
  table {
    display: table;
  }
}

th,
td {
  border: 1px solid hsl(45, 10%, 70%);
  padding: 0.75em;
  vertical-align: top;
  white-space: nowrap;
}

th {
  background-color: hsl(45, 30%, 90%);
  text-align: inherit;
}

/* Forms */
button {
  -webkit-appearance: button;
  background-color: hsl(45, 20%, 10%);
  border-width: 0;
  color: hsl(45, 50%, 95%);
  font-family: inherit;
  font-size: 100%;
  font-weight: bold;
  line-height: 1.25;
  margin: 0;
  padding: 1.25rem;
}

/* Interactive Elements */
details {
  display: block;
}

summary {
  display: list-item;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

summary + * {
  margin-top: 0.5rem;
}

/* Scripting */
template {
  display: none;
}
