/* The document element */
html {
	background-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 0%);
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.618;
}

@media (min-width: 40em) {
	html {
		font-size: 113.6%;
	}
}

@media (min-width: 60em) {
	html {
		font-size: 127.2%;
	}
}

@media (min-width: 100em) {
	html {
		font-size: 144.5%;
	}
}

@media (min-width: 160em) {
	html {
		font-size: 161.8%;
	}
}

/* Sections */
body {
	margin: 5vw auto;
	max-width: 44.117rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

h1 {
	line-height: 1.272;
	margin-bottom: 0;
	margin-top: 8.717rem;
}

h2,
h3,
h4,
h5,
h6 {
	line-height: 1.272;
	margin-bottom: 0;
	margin-top: 3.33rem;
}

address {
	font-style: normal;
}

/* Grouping Content */
p {
	margin-bottom: 0;
	margin-top: 1.618rem;
}

hr {
	border-width: 0;
	color: hsl(0, 0%, 70%);
	letter-spacing: 1rem;
	margin: 3.33rem 0;
	padding-left: 1.618rem;
	text-align: left;
}

hr::before {
	content: "***";
}

pre {
	background-color: hsl(0, 0%, 90%);
	color: hsl(0, 0%, 30%);
	font-family: "_", monospace;
	font-size: 1em;
	line-height: 1.272;
	margin-bottom: 0;
	margin-top: 1.618rem;
	overflow-wrap: break-word;
	padding: 1rem;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: break-all;
}

blockquote {
	border-left: 0.236rem solid hsl(0, 0%, 70%);
	margin: 1.618rem 0 0;
	padding-left: 1rem;
}

ul,
ol {
	margin-bottom: 0;
	margin-top: 1.618rem;
	padding-left: 1.618rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-top: 0;
}

figure {
	margin: 1.618rem 0 0;
}

main {
	margin: 8.717rem 0;
	display: block;
}

/* Text-level Semantics */
a {
	color: hsl(240, 100%, 50%);
}

a:visited {
	color: hsl(0, 0%, 50%);
}

em {
	font-style: normal;
	font-weight: bold;
}

cite {
	font-style: normal;
}

time {
	color: hsl(0, 0%, 30%);
}

code,
samp,
kbd {
	font-family: "_", monospace;
	font-size: 1em;
}

/* Edits */
ins {
	text-decoration: none;
}

del {
	display: none;
}

/* Embedded Content */
img,
video {
	border-width: 0;
	box-sizing: border-box;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

figure img,
figure video {
	vertical-align: bottom;
}

svg:not(:root) {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}

/* Tabular Data */
table {
	border-collapse: collapse;
	border-spacing: 0;
	display: inline-block;
	margin-top: 1.618rem;
	max-width: 100%;
	overflow-x: auto;
	table-layout: fixed;
}

@media not screen {
	table {
		display: table;
	}
}

th,
td {
	border: 0.071rem solid hsl(0, 0%, 70%);
	line-height: 1;
	padding: 1em;
	vertical-align: top;
	white-space: nowrap;
}

th {
	background-color: hsl(0, 0%, 90%);
	text-align: inherit;
}

/* Forms */
button {
	-webkit-appearance: button;
	background-color: hsl(0, 0%, 0%);
	border-radius: 0.236rem;
	border-width: 0;
	color: hsl(0, 0%, 100%);
	font-family: inherit;
	font-size: 0.786rem;
	font-weight: bold;
	line-height: 1.272;
	margin: 0;
	padding: 1rem;
}

/* Scripting */
template {
	display: none;
}
