:root {
	/* Basic */
	--color-foreground: hsl(45 20% 10%);
	--color-foreground-low-contrast: hsl(45 10% 25%);
	--color-middleground: hsl(45 10% 70%);
	--color-background: hsl(45 50% 95%);
	--color-background-low-contrast: hsl(45 30% 90%);

	/* Special */
	--color-hyperlink: hsl(205 80% 37%);
	--color-visited-hyperlink: hsl(205 10% 41%);
}
