:root {
	--hue: 225;
	--lightness: 52%;

	--color-primary: hsl(var(--hue) 50% var(--lightness));
	--color-background: hsl(var(--hue) 50% 95%);
	--color-surface: hsl(var(--hue) 50% 92%);
	--color-on-background: hsl(var(--hue) 50% 10%);
}
