:root {
	/* Basic */
	--color-foreground: hsl(45, 20%, 15%);
	--color-foreground-low-contrast: hsl(45, 10%, 25%);
	--color-middleground: hsl(45, 10%, 70%);
	--color-background: hsl(45, 50%, 95%);
	--color-background-low-contrast: hsl(45, 30%, 90%);

	/* Special */
	--color-anchor: hsl(210, 90%, 50%);
	--color-visited-anchor: hsl(0, 0%, 50%);
}
