body > main {
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-large);
  max-width: var(--width-large);
  padding-left: var(--width-gap);
  padding-right: var(--width-gap);
}

@media (min-width: 40em) {
  body > main {
    margin-top: var(--margin-huge);
  }
}

@media (min-width: 80em) {
  body > main {
    margin-top: var(--margin-gargantuan);
    padding-left: calc(var(--width-supplement-outer) + var(--width-gap));
  }
}
