.content {
  margin-bottom: var(--space-huge);
  margin-left: auto;
  margin-top: var(--space-huge);
  max-width: 42.117rem;
}

.content > section,
.content > nav,
.content > article > [itemprop="articleBody"] {
  margin-left: auto;
  max-width: 29.028rem;
  max-width: var(--width-main);
}
