body > main {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-large);
  padding-left: var(--width-gap);
  padding-right: var(--width-gap);
}

@media (min-width: 80em) {
  body > main {
    padding-left: calc(var(--width-supplement-outer) + var(--width-gap));
  }
}
