/* The document element */
html {
	background-color: white;
	background-color: var(--color-background);
	color: black;
	color: var(--color-on-background);
	font-family: sans-serif;
	font-size: 100%;
	font-size: clamp(
		100%,
		(1vw + 100%) / var(--ratio-2),
		var(--ratio-2) * 100%
	);
	line-height: 1.5;
	line-height: var(--line-height-default);
}

/* Sections */
body {
	background-color: inherit;
	margin: 1.5rem auto;
	margin-block-end: var(--space-vertical-body);
	margin-inline-start: var(--space-left-body);
	margin-block-start: var(--space-vertical-body);
	max-width: 40rem;
	max-width: var(--width-column);
	padding-left: 1rem;
	padding-inline-start: var(--space-small);
	padding-right: 1rem;
	padding-inline-end: var(--space-small);
}

h1 {
	font-size: 1.5rem;
	font-size: var(--font-size-huge);
	margin-bottom: 3.75rem;
	margin-block-end: var(--space-huge);
	margin-top: 7.25rem;
	margin-block-start: var(--space-gargantuan);
}

h1[data-description] {
	font-size: 1.25rem;
	font-size: var(--font-size-large);
	margin-bottom: 7.25rem;
	margin-block-end: var(--space-gargantuan);
}

h1[data-description]::after {
	content: "は、" attr(data-description);
	font-weight: normal;
}

h2 {
	font-size: 1.25rem;
	font-size: var(--font-size-large);
	margin-bottom: 0;
	margin-top: 3.75rem;
	margin-block-start: var(--space-huge);
}

header,
footer {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

/* Grouping Content */
p {
	margin-bottom: 0;
	margin-top: 1.5rem;
	margin-block-start: var(--space-default);
}

hr {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: thick dotted gray;
	border-block-start-color: var(--color-on-background-tint);
	margin: 3.75rem auto 3.75rem 1.75rem;
	margin-block-end: var(--space-huge);
	margin-block-start: var(--space-huge);
	margin-inline-start: var(--space-large);
	width: 12ch;
}

pre {
	background-color: whitesmoke;
	background-color: var(--color-background-tone);
	/* stylelint-disable-next-line font-family-no-duplicate-names */
	font-family: monospace, monospace;
	font-size: inherit;
	margin-bottom: 1.75rem;
	margin-block-end: var(--space-large);
	margin-top: 1.75rem;
	margin-block-start: var(--space-large);
	overflow-x: auto;
	padding: 1rem;
	padding: var(--space-small);
	-moz-tab-size: 4;
	tab-size: 4;
}

blockquote {
	margin: 1.5rem 0 0;
	margin-block-start: var(--space-default);
	padding-left: 1.75rem;
	padding-inline-start: var(--space-large);
}

ul,
ol {
	margin-bottom: 0;
	margin-top: 1.5rem;
	margin-block-start: var(--space-default);
	padding-left: 1.75rem;
	padding-inline-start: var(--space-large);
}

li > ul,
li > ol {
	margin-top: 0;
}

li {
	margin-top: 0.5rem;
	margin-block-start: var(--space-tiny);
}

figure {
	margin: 1.75rem 0;
	margin-block-end: var(--space-large);
	margin-block-start: var(--space-large);
}

figcaption {
	color: gray;
	color: var(--color-on-background-tint);
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

/* Text-level Semantics */
a {
	color: royalblue;
	color: var(--color-link);
}

a:visited {
	color: inherit;
}

em {
	font-style: normal;
	font-weight: bold;
}

code,
samp,
kbd {
	/* stylelint-disable-next-line font-family-no-duplicate-names */
	font-family: monospace, monospace;
	font-size: inherit;
}

/* Edits */
ins {
	text-decoration: none;
}

/* Embedded Content */
img {
	background-color: whitesmoke;
	background-color: var(--color-background-tone);
	border: none;
	box-sizing: border-box;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

figure img {
	vertical-align: text-bottom;
}

svg {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}

/* Tabular Data */
table {
	border-spacing: 0;
	display: block;
	margin-bottom: 1.75rem;
	margin-block-end: var(--space-large);
	margin-top: 1.75rem;
	margin-block-start: var(--space-large);
	max-width: 100%;
	overflow-x: auto;
}

td {
	background-color: whitesmoke;
	background-color: var(--color-background-tone);
	border-top-color: gray;
	border-block-start-color: var(--color-on-background-tint);
	border-top-style: solid;
	padding: 1rem;
	padding: var(--space-small);
	vertical-align: top;
	white-space: pre;
}

th {
	background-color: whitesmoke;
	background-color: var(--color-background-tone);
	border-bottom-color: gray;
	border-block-end-color: var(--color-on-background-tint);
	border-bottom-style: solid;
	padding: 1rem;
	padding: var(--space-small);
	text-align: inherit;
	vertical-align: top;
	white-space: pre;
}

/* Universal */
[id] {
	scroll-margin-top: 1.75rem;
	scroll-margin-block-start: var(--space-large);
}

/* Structual */
article > header:first-child > p {
	margin-top: 7.25rem;
	margin-block-start: var(--space-gargantuan);
}

section > header:first-child > p {
	margin-top: 7.25rem;
	margin-block-start: var(--space-gargantuan);
}

:is(article, section) > header:first-child > p + :is(h1, h2) {
	margin-block-start: 0;
}

body > footer {
	color: gray;
	color: var(--color-on-background-tint);
}

body > footer::before {
	border-top: thin solid black;
	border-block-start-color: var(--color-on-background);
	content: "";
	display: block;
	margin: 7.25rem auto 1.75rem 0;
	margin-block-end: var(--space-large);
	margin-block-start: var(--space-gargantuan);
	width: 6ch;
}
