/* The document element */
html {
	background-color: var(--color-background);
	color: var(--color-on-background);
	font-family: var(--font-family-default);
	font-size: var(--font-size-base);
	line-height: var(--line-height-default);
}

/* Sections */
body {
	margin-top: var(--space-body-vertical);
	margin-bottom: var(--space-body-vertical);
	margin-left: var(--space-body-left);
	max-width: var(--width-column);
	padding-left: var(--width-gap);
	padding-right: var(--width-gap);
}

h1 {
	font-size: var(--font-size-huge);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

h2 {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

h3 {
	font-size: var(--font-size-default);
	margin-top: var(--space-large);
}

/* Grouping Content */
p {
	margin-top: var(--space-default);
}

hr {
	letter-spacing: var(--space-default);
	margin-left: var(--space-large);
	margin-top: var(--space-large);
}

pre {
	background-color: var(--color-surface);
	font-family: var(--font-family-code);
	line-height: var(--line-height-small);
	margin-top: var(--space-default);
	padding: var(--space-default);
}

blockquote {
	border-left-width: var(--border-width-large);
	color: var(--color-primary);
	margin-top: var(--space-default);
	padding-left: calc(var(--space-default) - var(--border-width-large));
}

ul,
ol {
	margin-top: var(--space-default);
	padding-left: var(--space-default);
}

figure {
	margin-top: var(--space-default);
}

figcaption {
	color: var(--color-primary);
	font-size: var(--font-size-small);
}

/* Text-level Semantics */
a {
	color: var(--color-secondary);
}

code,
samp,
kbd {
	font-family: var(--font-family-code);
}

/* Embedded Content */
img {
	background-color: var(--color-surface);
}

/* Tabular Data */
table {
	background-color: var(--color-surface);
	border-top-width: var(--border-width-default);
	margin-top: var(--space-default);
}

th,
td {
	border-bottom-width: var(--border-width-default);
	padding: var(--space-small) var(--space-default);
}

th {
	border-width: var(--border-width-large);
}

/* Forms */
button {
	background-color: var(--color-primary);
	border-radius: var(--border-width-large);
	color: var(--color-background);
	font-size: var(--font-size-small);
	padding: var(--space-small) var(--space-default);
}

/* Structure Dependant */
hr + * {
	margin-top: var(--space-large);
}
