/* The document element */
html {
	--font-size: clamp(
		100%,
		(100vw - 640px) * 0.004 + 100%,
		135%
	);

	background-color: var(--color-background);
	color: var(--color-on-background);
	font-family: var(--font-family-default);
	font-size: var(--font-size);
	line-height: var(--line-height-default);
}

/* Sections */
body {
	margin: var(--space-default) auto var(--space-default) var(--space-body-left);
	max-width: var(--width-column);
	padding-left: var(--width-gap);
	padding-right: var(--width-gap);
}

h1 {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-bottom: var(--space-huge);
	margin-top: var(--space-huge);
}

h2 {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-bottom: 0;
	margin-top: var(--space-huge);
}

h3 {
	font-size: var(--font-size-default);
	margin-bottom: 0;
	margin-top: var(--space-large);
}

h4,
h5,
h6 {
	font-size: var(--font-size-default);
	margin-bottom: 0;
	margin-top: var(--space-large);
}

address {
	font-style: normal;
}

/* Grouping Content */
p {
	margin-bottom: 0;
	margin-top: var(--space-default);
}

hr {
	border-width: 0;
	letter-spacing: 1rem;
	margin: var(--space-large) 0;
	padding-left: var(--space-large);
	text-align: left;
}

hr::before {
	content: "***";
}

pre {
	background-color: var(--color-surface);
	font-family: var(--font-family-code);
	font-size: inherit;
	line-height: var(--line-height-small);
	margin-bottom: 0;
	margin-top: var(--space-default);
	overflow-wrap: break-word;
	padding: var(--space-small) var(--space-default);
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: normal;
}

blockquote {
	background-color: var(--color-surface);
	border-left: var(--color-primary) solid var(--border-width-large);
	margin: var(--space-default) 0 0;
	padding: var(--space-small) var(--space-small) var(--space-small) calc(var(--space-default) - var(--border-width-large));
}

blockquote > :first-child {
	margin-top: 0;
}

ul,
ol {
	margin-bottom: 0;
	margin-top: var(--space-default);
	padding-left: var(--space-default);
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-top: 0;
}

figure {
	margin: var(--space-default) 0 0;
}

main {
	margin: 0 0 var(--space-huge);
}

/* Text-level Semantics */
a {
	color: var(--color-secondary);
}

a:visited {
	color: var(--color-secondary-dark);
}

em {
	font-style: normal;
	font-weight: bold;
}

cite {
	font-style: normal;
}

code,
samp,
kbd {
	font-family: var(--font-family-code);
	font-size: inherit;
}

/* Edits */
ins {
	text-decoration: none;
}

del {
	color: var(--color-primary);
}

/* Embedded Content */
img {
	background-color: var(--color-surface);
	border-width: 0;
	box-sizing: border-box;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

figure img,
figure video {
	vertical-align: bottom;
}

svg:not(:root) {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}

/* Tabular Data */
table {
	background-color: var(--color-surface);
	border-top: var(--border-width-default) solid var(--color-primary);
	border-spacing: 0;
	display: inline-block;
	margin-top: var(--space-default);
	max-width: 100%;
	overflow-x: auto;
	table-layout: fixed;
}

th,
td {
	border-bottom: var(--border-width-default) solid var(--color-primary);
	padding: var(--space-small) var(--space-default);
	vertical-align: top;
	white-space: pre;
}

th {
	border-width: var(--border-width-large);
	text-align: inherit;
}

/* Forms */
button {
	-webkit-appearance: button;
	appearance: button;
	background-color: var(--color-primary);
	border: none;
	border-radius: var(--border-width-large);
	color: var(--color-background);
	font-family: inherit;
	font-size: var(--font-size-small);
	font-weight: bold;
	margin: 0;
	max-width: 100%;
	padding: var(--space-small) var(--space-default);
	vertical-align: top;
	white-space: pre-line;
}

/* Scripting */
template {
	display: none;
}
