/* The document element */
html {
	--font-size: clamp(
		100%,
		(100vw - var(--width-gap) - var(--width-column) - var(--width-gap)) /
			var(--ratio-8) / var(--ratio-8) / var(--ratio-4) / var(--ratio-2) + 100%,
		(var(--ratio-2) * 100%)
	);

	background-color: var(--color-background);
	color: var(--color-on-background);
	font-family: var(--font-family-default);
	font-size: var(--font-size);
	line-height: var(--line-height-default);
}

/* Sections */
body {
	--margin-left-body: clamp(
		0px,
		(
				100vw - var(--width-gap) - var(--width-column) - var(--width-gap) -
					var(--width-scrollbar)
			) / 2,
		(var(--ratio-8) * var(--ratio-2) * 1vw)
	);
	--margin-vertical: clamp(
		var(--width-gap) - var(--font-size-default) *
			(var(--line-height-default) - 1) / 2,
		(100vw - var(--width-column)) / var(--ratio-4) / var(--ratio-2),
		var(--space-large)
	);

	margin-bottom: var(--margin-vertical);
	margin-left: var(--margin-left-body);
	margin-top: var(--margin-vertical);
	max-width: var(--width-column);
	padding-left: var(--width-gap);
	padding-right: var(--width-gap);
}

h1 {
	font-size: var(--font-size-huge);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

h1[data-description] {
	font-size: var(--font-size-large);
}

h2 {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

h3 {
	font-size: var(--font-size-default);
	margin-top: var(--space-large);
}

/* Grouping Content */
p {
	margin-top: var(--space-default);
}

hr {
	letter-spacing: var(--width-indent);
	margin-top: var(--space-large);
	padding-left: var(--width-indent);
}

pre {
	--word-break: normal;

	background-color: var(--color-surface);
	font-family: var(--font-family-code);
	line-height: var(--line-height-small);
	margin-top: var(--space-default);
	padding: var(--space-small) var(--width-gap);
	word-break: var(--word-break);
}

blockquote {
	margin-top: var(--space-default);
	padding-left: var(--width-indent);
}

ul,
ol {
	margin-top: var(--space-default);
	padding-left: var(--width-indent);
}

figure {
	margin-top: var(--space-default);
}

figcaption {
	color: var(--color-primary);
	font-size: var(--font-size-small);
}

figcaption:first-child {
	margin-top: var(--space-default);
}

/* Text-level Semantics */
a {
	color: var(--color-secondary);
}

code,
samp,
kbd {
	font-family: var(--font-family-code);
}

/* Embedded Content */
img {
	background-color: var(--color-surface);
}

/* Tabular Data */
table {
	background-color: var(--color-surface);
	margin-top: var(--space-default);
}

td {
	border-top-width: var(--border-width-default);
	padding: var(--space-small) var(--width-gap);
}

th {
	border-bottom-width: var(--border-width-default);
	padding: var(--space-small) var(--width-gap);
}

/* Forms */
button {
	background-color: var(--color-primary);
	color: var(--color-background);
	font-size: var(--font-size-small);
	padding: var(--space-small) var(--width-gap);
}

/* Universal */
hr + * {
	margin-top: var(--space-large);
}
