/*!
 * debug.css
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

// Columns
.js-debug-columns::before {
  --c: hsl(300, 100%, 50%);
  --g: hsl(120, 100%, 50%);

  background-image: linear-gradient(to right, var(--g) 0, var(--g) 100%), linear-gradient(to right, var(--g) 0, var(--g) 100%), linear-gradient(to right, var(--c) 0, var(--c) 100%);
  background-position: left center, right center, center;
  background-repeat: repeat-y;
  background-size: var(--width-gap-small), var(--width-gap-small), 100%;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.05;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  @media (min-width: 33.56em) {
    background-image: linear-gradient(to right, var(--g) 0, var(--g) var(--width-gap-small), var(--c) var(--width-gap-small), var(--c) calc(var(--width-gap-small) + var(--width-large)), var(--g) calc(var(--width-gap-small) + var(--width-large)), var(--g) var(--width-large-outer));
    background-position: center;
    background-size: var(--width-large-outer) 1px;
  }

  @media (min-width: 91.226em) {
    background-image: linear-gradient(to right, var(--g) 0, var(--g) var(--width-gap-small), var(--c) var(--width-gap-small), var(--c) calc(var(--width-gap-small) + var(--width-supplement)), var(--g) calc(var(--width-gap-small) + var(--width-supplement)), var(--g) calc(var(--width-gap-small) + var(--width-supplement) + var(--width-gap)), var(--c) calc(var(--width-gap-small) + var(--width-supplement) + var(--width-gap)), var(--c) calc(var(--width-gap-small) + var(--width-huge)), var(--g) calc(var(--width-gap-small) + var(--width-huge)), var(--g) var(--width-huge-outer));
    background-size: var(--width-huge-outer) 1px;
  }
}

// Elements
.js-debug-elements * {
  outline: 1px solid hsl(300, 100%, 50%);
}

// Breakpoints
body::after {
  background-color: hsl(120, 50%, 50%);
  bottom: 0.5rem;
  color: hsl(0, 0%, 100%);
  content: "Small";
  display: block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.25rem;
  position: fixed;
  right: 0.5rem;

  @media (min-width: 56.739em) {
    content: "Medium: 56.739em";
  }

  @media (min-width: 91.226em) {
    content: "Large: 91.226em";
  }

  @media print {
    display: none;
  }
}

// Fonts
.debug-font-family-body {
  font-family: var(--font-stack-system-ui);
}

.debug-font-family-pre {
  font-family: var(--font-stack-monospace);
}

.debug-italic {
  font-style: italic;
}

.debug-bold {
  font-weight: bolder;
}

// Colors
.debug-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
}

.debug-colors li {
  display: block;
  height: calc(var(--ratio-text-huge) * var(--line-height) * 1rem);
  margin-bottom: var(--margin);
  overflow: hidden;
  width: calc((100% / 5) - var(--width-gap-small));
}

.debug-colors li::before {
  border: 1px solid hsl(0, 0%, 0%);
  box-sizing: border-box;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.debug-colors li:nth-child(1)::before {
  background-color: var(--color-fg);
}

.debug-colors li:nth-child(2)::before {
  background-color: var(--color-bg);
}

.debug-colors li:nth-child(3)::before {
  background-color: var(--color-fg-semilight);
}

.debug-colors li:nth-child(4)::before {
  background-color: var(--color-fg-light);
}

.debug-colors li:nth-child(5)::before {
  background-color: var(--color-bg-dark);
}

// Line Length
.debug-line-length {
  font-family: Verdana, sans-serif;
  word-break: break-all;
}
