/*!
 * debug.css
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

// Variable
@import "var";

// Columns
.js-debug-columns::before {
  $c: rgb(255, 0, 255);
  $g: rgb(0, 255, 0);

  background-image: linear-gradient(to right, $g 0, $g 100%), linear-gradient(to right, $g 0, $g 100%), linear-gradient(to right, $c 0, $c 100%);
  background-position: left center, right center, center;
  background-repeat: repeat-y;
  background-size: ($width-gap-small * 0.75), ($width-gap-small * 0.75), 100%;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.05;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  @media (min-width: $width-large-outer) {
    background-image: linear-gradient(to right, $g 0, $g $width-gap-small, $c $width-gap-small, $c ($width-gap-small + $width-large), $g ($width-gap-small + $width-large), $g $width-large-outer);
    background-position: center;
    background-size: $width-large-outer 1px;
  }

  @media (min-width: $breakpoint-huge) {
    background-image: linear-gradient(to right, $g 0, $g $width-gap-small, $c $width-gap-small, $c ($width-gap-small + $width-supplement), $g ($width-gap-small + $width-supplement), $g ($width-gap-small + $width-supplement + $width-gap), $c ($width-gap-small + $width-supplement + $width-gap), $c ($width-gap-small + $width-huge), $g ($width-gap-small + $width-huge), $g $width-huge-outer);
    background-size: $width-huge-outer 1px;
  }
}

// Elements
.js-debug-elements * {
  $c: rgb(255, 0, 255);

  outline: 1px solid $c;
}

// Breakpoints
body::after {
  $c-b: rgb(0, 153, 102);
  $c-f: rgb(255, 255, 255);

  background-color: $c-b;
  bottom: 0.5rem;
  color: $c-f;
  content: "Small";
  display: block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.25rem;
  position: fixed;
  right: 0.5rem;

  @media (min-width: $breakpoint-large) {
    content: "Medium: #{$breakpoint-large}";
  }

  @media (min-width: $breakpoint-huge) {
    content: "Large: #{$breakpoint-huge}";
  }

  @media print {
    display: none;
  }
}

// Fonts
.debug-font-family-body {
  font-family: $font-stack-system-ui;
}

.debug-font-family-pre {
  font-family: $font-stack-monospace;
}

.debug-italic {
  font-style: italic;
}

.debug-bold {
  font-weight: bolder;
}

// Colors
.debug-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
}

.debug-colors li {
  display: block;
  height: ($ratio-text-huge * $line-height * 1rem);
  margin-bottom: $margin;
  overflow: hidden;
  width: calc((100% / 5) - #{$width-gap-small});
}

.debug-colors li::before {
  $c: rgb(0, 0, 0);

  border: 1px solid $c;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.debug-colors li:nth-child(1)::before {
  background-color: $color-fg;
}

.debug-colors li:nth-child(2)::before {
  background-color: $color-bg;
}

// Line Length
.debug-line-length {
  font-family: Verdana, sans-serif;
  word-break: break-all;
}
