:root {
	/* Palette */
	--palette-beige-700: hsl(48 48% 84%);
	--palette-beige-500: hsl(48 48% 90%);
	--palette-beige-400: hsl(48 48% 93%);
	--palette-blue-400: hsl(216 48% 45%);
	--palette-blue-200: hsl(216 48% 72%);
	--palette-charcoal-700: hsl(48 48% 3%);
	--palette-charcoal-600: hsl(48 48% 6%);
	--palette-charcoal-400: hsl(48 48% 18%);

	/* Ratio */
	--ratio: 1.25;

	/* Width */
	--width-column: 65ch;
	--width-scrollbar: 20px;
}
