:root {
	/* Palette */
	--palette-licorice: hsl(48 48% 3%);
	--palette-jet: hsl(48 48% 9%);
	--palette-ebony: hsl(48 48% 18%);
	--palette-bone: hsl(48 48% 84%);
	--palette-parchment: hsl(48 48% 93%);
	--palette-beige: hsl(48 48% 96%);
	--palette-blue: hsl(216 60% 48%);
	--palette-alice: hsl(216 60% 72%);

	/* Ratio */
	--ratio: 1.25;

	/* Width */
	--width-column: 65ch;
	--width-scrollbar: 20px;
}
