/*! documents.css | MIT License */

/* Baseline */
@import "baseline.css";

body {
  max-width: 42rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 75rem) {
  body {
    padding-right: 16rem;
  }
}

h2 {
  margin-top: 8rem;
}

h3 {
  margin-top: 5rem;
}

h4,
h5,
h6 {
  margin-top: 3rem;
}
