/* documents.css | MIT License */

@import "baseline.css";

@media (min-width: 1143px) {
  body {
    padding-left: 18rem;
    padding-right: 6rem;
  }
}

h1 {
  margin-top: 8rem;
}

h2 {
  margin-top: 5rem;
}

h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}
