/*! documents.css | MIT License */
html {
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  margin: 0 auto 3rem;
  max-width: 42rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 1.75rem 0 0;
}

h1,
body > header h1 {
  font-size: 2rem;
  margin-top: 4rem;
}

h2,
main > section > h1 {
  font-size: 1.75rem;
  margin-top: 6rem;
}

h3,
main > section > section > h1 {
  font-size: 1.25rem;
  margin-top: 4rem;
}

p {
  margin: 1.75rem 0 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

hr {
  margin: 1.75rem 0 0;
}

address {
  font-style: normal;
}

pre {
  background-color: hsl(0, 0%, 90%);
  font-family: monospace;
  line-height: 1.25;
  margin: 1.75rem 0 0;
  overflow: auto;
  padding: 1rem;
}

blockquote {
  border-left: 0.25rem solid hsl(0, 0%, 60%);
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
}

ol,
ul {
  margin: 1.75rem 0 0;
  padding-left: 1.75rem;
}

ol ol,
ul ul {
  margin-top: 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

em {
  font-style: normal;
  font-weight: bold;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  margin: 1.75rem 0 0;
  max-width: 100%;
  overflow-x: auto;
  table-layout: fixed;
}

@media not screen {
  table {
    display: table;
  }
}

th,
td {
  border: 1px solid hsl(0, 0%, 60%);
  padding: 1rem;
  vertical-align: top;
  white-space: nowrap;
}

th {
  background-color: hsl(0, 0%, 90%);
  text-align: inherit;
}

/* html-best-practices.html */
main > section > section::after {
  color: hsl(0, 0%, 60%);
  content: "⁂";
  display: block;
  line-height: 1;
  margin-top: 4rem;
  text-align: center;
}
