.footer {
  display: flex;
  font-size: var(--font-size-small);
  margin: var(--margin-gargantuan) auto var(--margin-outermost);
  max-width: var(--width-main);
  padding-left: var(--padding-left-main);
  padding-right: var(--padding-right-main);
}

.footer a {
  color: inherit;
  text-decoration: none;
}
