body > footer {
  display: flex;
  font-size: calc(var(--ratio-text-small) * 1rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-gargantuan);
  max-width: var(--width-main);
  padding-left: var(--width-gap);
  padding-right: var(--width-gap);
}

@media (min-width: 1280px) {
  body > footer {
    padding-left: calc(var(--width-sub-major-outer) + var(--width-gap));
    padding-right: calc(var(--width-sub-minor-outer) + var(--width-gap));
  }
}
