body > footer {
  display: flex;
  font-size: var(--font-size-small);
  margin: var(--margin-gargantuan) auto var(--margin);
  max-width: var(--width-main);
  padding-left: var(--width-gap);
  padding-right: var(--width-gap);
}

@media (min-width: 685px) {
  body > footer {
    margin-bottom: var(--margin-large);
  }
}

@media (min-width: 1271px) {
  body > footer {
    margin-bottom: var(--margin-huge);
    padding-left: var(--padding-main-left);
    padding-right: var(--padding-main-right);
  }
}
