.header {
	--display: flex;
	--flex-direction: column;

	display: var(--display);
	flex-direction: var(--flex-direction);
	position: relative;
	position: var(--position);
}

.header a {
	color: inherit;
}
