body > header {
  display: flex;
  flex-wrap: wrap;
  font-size: calc(var(--ratio-text-small) * 1rem);
  line-height: var(--line-height-large);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin);
  max-width: var(--width-large);
  padding-left: var(--width-gap);
  padding-right: var(--width-gap);
}

@media (min-width: 40em) {
  body > header {
    margin-top: var(--margin-large);
  }
}

@media (min-width: 80em) {
  body > header {
    margin-top: var(--margin-huge);
    padding-left: calc(var(--width-supplement-outer) + var(--width-gap));
  }
}
