.header {
  margin-left: auto;
  max-width: 30rem;
  max-width: var(--width-main);
}

.header a {
  color: inherit;
}

.header mark {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
}
