/**
 * natural.css
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */

// Variables
$dark: #333;
$light: #fcfcfc;
$link: #01e;
$stress: #c33;
$font-size: 1em;
$sans-serif: "Helvetica Neue", "Calibri", sans-serif;
$monospace: "Menlo", "Consolas", monospace;
$width: 45em;

// Sections
body {
  background-color: $light;
  color: $dark;
  font: #{$font-size}/1.75 $sans-serif;
  margin: $font-size;
  max-width: $width;

  @media (min-width: ($font-size * 28)) {
    margin: ($font-size * 2);
  }

  @media (min-width: ($font-size * 52)) {
    margin-top: ($font-size * 4);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: ($font-size * 2) 0 0;

  &:target {
    padding-top: $font-size;
  }

  + p {
    margin-top: 0;
  }
}

// Grouping content
p {
  margin: ($font-size * 2) 0 0;
}

hr {
  border-bottom: 3px double darken($light, 30%);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 0;
  margin: ($font-size * 2) auto 0;
  width: 50%;
}

pre {
  background-color: darken($light, 3%);
  font: #{($font-size * 0.875)}/1.25 $monospace;
  margin: ($font-size * 2) 0 0;
  overflow-wrap: break-word;
  padding: $font-size;
  word-wrap: break-word;
}

blockquote {
  margin: ($font-size * 2) 0 0 ($font-size * 2);

  + figcaption {
    margin-left: ($font-size * 2);
  }
}

ol,
ul {
  margin: ($font-size * 2) 0 0;
  padding-left: ($font-size * 2.5);

  ol,
  ul {
    margin-top: 0;
  }
}

dl {
  margin: ($font-size * 2) 0 0;

  dl {
    margin: 0;
  }
}

dd {
  margin-left: ($font-size * 2.5);
}

// Text-level semantics
a {
  color: $link;
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  color: $stress;
  font-weight: bold;
}

q::before {
  content: "\201C\0020";
}

q::after {
  content: "\0020\201D";
}

abbr,
acronym {
  border-bottom: 1px dotted $dark;
  cursor: help;
}

code,
var,
samp {
  font-family: $monospace;
}

// Edits
ins {
  border-bottom: 3px double lighten($dark, 15%);
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

// Embedded content
img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
}

// Tabular data
table {
  margin: ($font-size * 2) 0 0;
}

th {
  background-color: darken($light, 15%);
  border: 1px solid darken($light, 45%);
  color: $dark;
  display: block;
  font-weight: bold;
  max-width: 100%;
  overflow-x: auto;
  padding: ($font-size / 2);
  table-layout: fixed;
  text-align: left;
  white-space: nowrap;
}

td {
  background-color: darken($light, 3%);
  border: 1px solid darken($light, 45%);
  color: $dark;
  padding: ($font-size / 2);
  white-space: nowrap;
}

// Styles
.note {
  border-left: 3px double $stress;
  padding-left: $font-size;
}

.image {
  line-height: 1;
  margin: ($font-size * 2) 0 0;
  max-width: 100%;
  zoom: 1;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.seealso {
  font-size: 1.17em;
  font-weight: 700;

  a {
    font-weight: 400;
  }
}

// Media Queries
@media (min-width: ($font-size * 28)) {
  body {
    margin: $font-size;
  }
}

@media (min-width: ($font-size * 52)) {
  body {
    margin-top: $font-size;
  }
}

$indent: 10em;
$breakpoint: ($font-size + $indent + $width + $font-size);

@media (min-width: $breakpoint) {
  body {
    padding-left: $indent;
  }

  .banner {
    margin-left: (- ($font-size + $indent));
    margin-right: (- $font-size);
    max-width: none;
  }
}

// Print
@media print {
  * {
    // scss-lint:disable all
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
    // scss-lint:enable all
  }

  body {
    background-color: inherit;
    font-family: Georgia, serif;
  }

  p {
    &[href]::after {
      content: " (" attr(href) ")";
    }
  }

  .note,
  hr,
  ins,
  strong {
    border-color: currentColor;
  }

  pre,
  code,
  kbd,
  samp,
  var {
    font-family: "Courier New", monospace;
  }

  pre {
    border: 0;
    padding: 0;
  }

  blockquote {
    font-style: italic;
  }

  mark {
    background: 0 0;
  }
}
