@media print {
	/* Reset */
	* {
		/* stylelint-disable declaration-no-important */
		border-color: currentcolor !important;
		background-color: hsl(0 0% 100%) !important;
		color: hsl(0 0% 0%) !important;
		opacity: 1 !important;
		/* stylelint-enable declaration-no-important */
	}

	/* Hide */
	nav,
	input[type="search"],
	button,
	.header .navigation {
		display: none;
	}

	/* Optimize */
	body {
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 0;
		max-width: none;
		padding-left: 0;
		padding-right: 0;
	}

	pre {
		padding: 0 0 0 1.5rem;
		padding-left: var(--space-default);
	}

	a {
		overflow-wrap: anywhere;
		text-decoration: none;
		word-break: break-all;
	}

	a[href^="http://"]::after,
	a[href^="https://"]::after,
	a[href^="/"]::after {
		content: "（" attr(href) "）";
	}

	figure a[href]::after,
	.thumbs a[href]::after {
		content: "";
	}

	table {
		display: table;
		break-inside: avoid-page;
	}

	th,
	td {
		white-space: normal;
	}

	.screamer {
		margin-top: 0;
	}

	.screamer[title]::after {
		content: attr(title);
		display: block;
		font-size: 1rem;
		margin-top: 1.5rem;
		margin-top: var(--space-default);
	}
}
