/*! print.css | MIT License */

pre {
	white-space: pre-wrap;
	word-break: break-all;
}

img,
video {
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

svg:not(:root) {
	fill: currentcolor;
	max-height: 100%;
	max-width: 100%;
}
