@media print {
	/* Reset */
	* {
		/* stylelint-disable declaration-no-important */
		border-color: currentcolor !important;
		background-color: hsl(0 0% 100%) !important;
		color: hsl(0 0% 0%) !important;
		opacity: 1 !important;
		/* stylelint-enable declaration-no-important */
	}

	/* Hide */
	input[type="search"],
	input[type="submit"],
	button,
	.navigation,
	.footlinks {
		display: none;
	}

	/* Expand */
	body,
	.tagline {
		max-width: none;
	}

	/* Optimize */
	@page {
		margin-bottom: 1.618rem;
		margin-top: 1.618rem;
	}

	body {
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	pre {
		padding: 0 0 0 1.618rem;
		padding-left: var(--space-default);
	}

	a {
		overflow-wrap: anywhere;
	}

	a::after {
		content: "（" attr(href) "）";
	}

	a[href^="#"] {
		text-decoration: none;
	}

	a[href^="#"]::after {
		content: "";
	}

	table {
		display: table;
		break-inside: avoid-page;
	}

	th,
	td {
		white-space: normal;
	}

	.tagline {
		margin-top: 0;
	}
}
