:root {
	/* Ratio */
	--ratio-1: 1.272;
	--ratio-2: calc(var(--ratio-1) * var(--ratio-1));
	--ratio-3: calc(var(--ratio-2) * var(--ratio-1));
	--ratio-4: calc(var(--ratio-3) * var(--ratio-1));
	--ratio-5: calc(var(--ratio-4) * var(--ratio-1));

	/* Border Width */
	--border-width-default: calc(1 / var(--ratio-5) / var(--ratio-5) / var(--ratio-2) * 1rem);
	--border-width-large: calc(var(--border-width-default) * var(--ratio-5) * var(--ratio-1));

	/* Font Size */
	--font-size-default: 1rem;
	--font-size-small: calc(var(--font-size-default) / var(--ratio-1));
	--font-size-large: calc(var(--font-size-default) * var(--ratio-1));

	/* Line Height */
	--line-height-default: var(--ratio-2);
	--line-height-small: calc(var(--line-height-default) / var(--ratio-1));

	/* Space */
	--space-default: calc(var(--ratio-2) * 1rem);
	--space-small: calc(var(--space-default) / var(--ratio-2));
	--space-large: calc(var(--space-default) * var(--ratio-4));
	--space-tiny: calc(var(--space-small) / var(--ratio-2));
	--space-huge: calc(var(--space-large) * var(--ratio-3));

	/* Width */
	--width-gap: calc(var(--ratio-1) * 1rem);
	--width-column: calc(var(--width-gap) * var(--ratio-5) * var(--ratio-5) * var(--ratio-4));
	--width-scrollbar: 24px;

	/* Misc. */
	--space-body-left: clamp(
		0px,
		(100vw - (var(--width-gap) + var(--width-column) + var(--width-gap) + var(--width-scrollbar))) / 2,
		var(--width-column) / var(--ratio-5)
	);
}
