/*! debug.css | MIT License */

/* Variables */
:root {
  --color-fuchsia: hsl(300, 100%, 50%);
  --color-lime: hsl(120, 100%, 50%);
  --image-column: linear-gradient(
    to right,
    var(--color-fuchsia) 0,
    var(--color-fuchsia) var(--width-gap),
    var(--color-lime) var(--width-gap),
    var(--color-lime) calc(100% - var(--width-gap)),
    var(--color-fuchsia) calc(100% - var(--width-gap)),
    var(--color-fuchsia) 100%
  );
  --text-breakpoint: "Small";
  --width-column: 100%;
}

@media (min-width: 657px) {
  :root {
    --image-column: linear-gradient(
      to right,
      var(--color-fuchsia) 0,
      var(--color-fuchsia) var(--width-gap),
      var(--color-lime) var(--width-gap),
      var(--color-lime) calc(var(--width-gap) + var(--width-main)),
      var(--color-fuchsia) calc(var(--width-gap) + var(--width-main)),
      var(--color-fuchsia) var(--width-main-outer)
      );
    --text-breakpoint: "Medium: 685px";
    --width-column: var(--width-main-outer);
  }
}

@media (min-width: 1208px) {
  :root {
    --image-column: linear-gradient(
      to right,
      var(--color-fuchsia) 0,
      var(--color-fuchsia) var(--width-gap),
      var(--color-lime) var(--width-gap),
      var(--color-lime) calc(var(--width-gap) + var(--width-sub-major)),
      var(--color-fuchsia) calc(var(--width-gap) + var(--width-sub-major)),
      var(--color-fuchsia) calc(var(--width-sub-major-outer) + var(--width-gap)),
      var(--color-lime) calc(var(--width-sub-major-outer) + var(--width-gap)),
      var(--color-lime) calc(var(--width-sub-major-outer) + var(--width-gap) + var(--width-main)),
      var(--color-fuchsia) calc(var(--width-sub-major-outer) + var(--width-gap) + var(--width-main)),
      var(--color-fuchsia) calc(var(--width-sub-major-outer) + var(--width-main-outer) + var(--width-gap)),
      var(--color-lime) calc(var(--width-sub-major-outer) + var(--width-main-outer) + var(--width-gap)),
      var(--color-lime) calc(var(--width-gap) + var(--width-whole)),
      var(--color-fuchsia) calc(var(--width-gap) + var(--width-whole)),
      var(--color-fuchsia) var(--width-whole-outer)
    );
    --text-breakpoint: "Large: 1271px";
    --width-column: var(--width-whole-outer);
  }
}

/* Dark Mode */
.js-dark-mode:root {
  --color-accent: var(--color-sky);
  --color-bg: var(--color-black);
  --color-bg-near: var(--color-charcoal);
  --color-fg: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  .js-dark-mode:root {
    --color-accent: var(--color-blue);
    --color-bg: var(--color-white);
    --color-bg-near: var(--color-silver);
    --color-fg: var(--color-black);
  }
}

/* Column */
.js-test-column::before {
  background-image: var(--image-column);
  background-position: center;
  background-repeat: repeat-y;
  background-size: var(--width-column) 1px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

/* Element */
.js-test-element * {
  outline: 1px solid var(--color-fuchsia);
}

/* Breakpoint */
body::after {
  background-color: var(--color-lime);
  bottom: var(--margin-small);
  color: var(--color-black);
  content: var(--text-breakpoint);
  display: block;
  font-size: calc(var(--ratio-text-small) * 1rem);
  line-height: 1;
  padding: var(--width-gap-small);
  position: fixed;
  right: var(--margin-small);
}

/* Color */
.test-color {
  display: grid;
  grid-gap: var(--width-gap);
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
}

.test-color li {
  border: 1px solid var(--color-fg);
  list-style-type: none;
  padding: var(--width-gap-small);
}

.test-color li:nth-child(1) {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

.test-color li:nth-child(2) {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.test-color li:nth-child(3) {
  background-color: var(--color-bg-near);
  color: var(--color-fg);
}

.test-color li:nth-child(4) {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

.test-color li:nth-child(5) {
  background-color: var(--color-accent-achromatic);
  color: var(--color-bg);
}

/* Line Length */
.test-line-length {
  word-break: break-all;
}
