/*! debug.css | MIT License */

/* Variables */
:root {
  --color-gutter: hsl(300, 100%, 50%);
  --color-column: hsl(120, 100%, 50%);
  --color-outline: hsl(30, 100%, 50%);
}

/* Dark Mode */
.js-dark-mode:root {
  --color-foreground: var(--palette-white);
  --color-background: var(--palette-black);
  --color-background-low: var(--palette-jet);
  --color-primary: var(--palette-charcoal);
  --color-secondary: var(--palette-sky);
  --color-foreground-low: var(--palette-gray);
}

@media (prefers-color-scheme: dark) {
  .js-dark-mode:root {
    --color-background: var(--palette-white);
    --color-foreground: var(--palette-black);
    --color-background-low: var(--palette-pearl);
    --color-primary: var(--palette-gray);
    --color-secondary: var(--palette-blue);
    --color-foreground-low: var(--palette-charcoal);
  }
}

/* Column */
.js-test-column::before {
  --background-image: linear-gradient(
    to right,
    var(--color-gutter) 0,
    var(--color-gutter) var(--width-gap),
    var(--color-column) var(--width-gap),
    var(--color-column) calc(100% - var(--width-gap)),
    var(--color-gutter) calc(100% - var(--width-gap)),
    var(--color-gutter) 100%
  );
  --background-size-x: 100%;

  background-image: var(--background-image);
  background-position: center;
  background-repeat: repeat-y;
  background-size: var(--background-size-x) 1px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

@media (min-width: 657px) {
  .js-test-column::before {
    --background-image: linear-gradient(
      to right,
      var(--color-gutter) 0,
      var(--color-gutter) var(--width-gap),
      var(--color-column) var(--width-gap),
      var(--color-column) calc(var(--width-gap) + var(--width-main)),
      var(--color-gutter) calc(var(--width-gap) + var(--width-main)),
      var(--color-gutter) var(--width-main-outer)
      );
    --background-size-x: var(--width-main-outer);
  }
}

@media (min-width: 1208px) {
  .js-test-column::before {
    --background-image: linear-gradient(
      to right,
      var(--color-gutter) 0,
      var(--color-gutter) var(--width-gap),
      var(--color-column) var(--width-gap),
      var(--color-column) calc(var(--width-gap) + var(--width-sub-major)),
      var(--color-gutter) calc(var(--width-gap) + var(--width-sub-major)),
      var(--color-gutter) calc(var(--width-sub-major-outer) + var(--width-gap)),
      var(--color-column) calc(var(--width-sub-major-outer) + var(--width-gap)),
      var(--color-column) calc(var(--width-sub-major-outer) + var(--width-gap) + var(--width-main)),
      var(--color-gutter) calc(var(--width-sub-major-outer) + var(--width-gap) + var(--width-main)),
      var(--color-gutter) calc(var(--width-sub-major-outer) + var(--width-main-outer) + var(--width-gap)),
      var(--color-column) calc(var(--width-sub-major-outer) + var(--width-main-outer) + var(--width-gap)),
      var(--color-column) calc(var(--width-gap) + var(--width-whole)),
      var(--color-gutter) calc(var(--width-gap) + var(--width-whole)),
      var(--color-gutter) var(--width-whole-outer)
    );
    --background-size-x: var(--width-whole-outer);
  }
}

/* Element */
.js-test-element * {
  outline: 1px solid var(--color-outline);
}

/* Breakpoint */
body::after {
  --content: "Default";

  border: var(--border-width-small) solid var(--color-primary);
  bottom: var(--margin-small);
  content: var(--content);
  display: block;
  font-size: var(--font-size-small);
  line-height: 1;
  padding: var(--width-gap-small);
  position: fixed;
  right: var(--margin-small);
}

@media (min-width: 657px) {
  body::after {
    --content: "Large: 657px";
  }
}

@media (min-width: 1208px) {
  body::after {
    --content: "Huge: 1208px";
  }
}

/* Color */
.test-color {
  --repeat-count: 1;

  display: grid;
  grid-gap: var(--width-gap);
  grid-template-columns: repeat(var(--repeat-count), 1fr);
  padding-left: 0;
}

.test-color li {
  --order: 0;

  list-style-type: none;
  padding: var(--width-gap-small);
}

.test-color li:nth-child(1) {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.test-color li:nth-child(2) {
  background-color: var(--color-background);
  color: var(--color-foreground);
  order: var(--order);
}

.test-color li:nth-child(3) {
  background-color: var(--color-foreground-low);
  color: var(--color-background);
  order: var(--order);
}

.test-color li:nth-child(4) {
  background-color: var(--color-background-low);
  color: var(--color-foreground);
  order: var(--order);
}

.test-color li:nth-child(5) {
  background-color: var(--color-primary);
  color: var(--color-foreground);
  order: var(--order);
}

.test-color li:nth-child(6) {
  background-color: var(--color-secondary);
  color: var(--color-background);
  order: var(--order);
}

@media (min-width: 657px) {
  .test-color {
    --repeat-count: 2;
  }

  .test-color li:nth-child(2) {
    order: 1;
  }

  .test-color li:nth-child(4) {
    order: 2;
  }

  .test-color li:nth-child(5) {
    order: 3;
  }

  .test-color li:nth-child(6) {
    order: 4;
  }
}

@media (min-width: 1208px) {
  .test-color {
    --repeat-count: 3;
  }

  .test-color li:nth-child(2) {
    order: 0;
  }

  .test-color li:nth-child(3) {
    order: 2;
  }

  .test-color li:nth-child(4) {
    order: 3;
  }

  .test-color li:nth-child(5) {
    order: 1;
  }

  .test-color li:nth-child(6) {
    order: 4;
  }
}

/* Line Length */
.test-line-length {
  word-break: break-all;
}
