/*! test.css | MIT License */

/* Variables */
:root {
	--color-gutter: hsl(300, 100%, 50%);
	--color-column: hsl(120, 100%, 50%);
	--color-outline: hsl(30, 100%, 50%);
}

/* Column */
.js-test-column::before {
	--background-image: linear-gradient(
		to right,
		var(--color-gutter) 0,
		var(--color-gutter) var(--main-start),
		var(--color-column) var(--main-start),
		var(--color-column) var(--main-end),
		var(--color-gutter) var(--main-end),
		var(--color-gutter) var(--background-size-x)
	);
	--background-position-x: var(--space-body-left);
	--background-size-x: min(
		100%,
		var(--main-start) + var(--width-column) + var(--width-gap)
	);
	--main-end: calc(var(--background-size-x) - var(--width-gap));
	--main-start: var(--width-gap);

	background-image: var(--background-image);
	background-position-x: var(--background-position-x);
	background-repeat: repeat-y;
	background-size: var(--background-size-x) 1px;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.2;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

/* Element */
.js-test-element * {
	outline: 1px solid var(--color-outline);
}

/* Border Width */
.test-border-width td:first-child span {
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 4rem;
}

.test-border-width tbody tr:nth-child(1) td:first-child span {
	border-top: var(--border-width-large) solid;
}

.test-border-width tbody tr:nth-child(2) td:first-child span {
	border-top: var(--border-width-default) solid;
}

/* Font Size */
.test-font-size tbody tr:nth-child(1) {
	font-size: var(--font-size-large);
}

.test-font-size tbody tr:nth-child(2) {
	font-size: var(--font-size-default);
}

.test-font-size tbody tr:nth-child(3) {
	font-size: var(--font-size-small);
}

/* Line Height */
.test-line-height li:nth-child(1) {
	line-height: var(--line-height);
}

.test-line-height li:nth-child(2) {
	line-height: var(--line-height-small);
}

/* Space */
.test-space li:nth-child(1) {
	margin-top: var(--space-huge);
}

.test-space li:nth-child(2) {
	margin-top: var(--space-large);
}

.test-space li:nth-child(3) {
	margin-top: var(--space-default);
}

.test-space li:nth-child(4) {
	margin-top: var(--space-small);
}

.test-space li:nth-child(5) {
	margin-top: var(--space-tiny);
}

/* Color */
.test-color tbody td:nth-child(2) {
	text-align: right;
}

.test-color tbody tr:nth-child(1) > td:first-child {
	background-color: var(--color-primary);
	color: var(--color-background);
}

.test-color tbody tr:nth-child(2) > td:first-child {
	background-color: var(--color-primary);
	color: var(--color-on-background);
}

.test-color tbody tr:nth-child(3) > td:first-child {
	background-color: var(--color-secondary);
	color: var(--color-background);
}

.test-color tbody tr:nth-child(4) > td:first-child {
	background-color: var(--color-secondary);
	color: var(--color-on-background);
}

.test-color tbody tr:nth-child(5) > td:first-child {
	background-color: var(--color-background);
	color: var(--color-on-background);
}

.test-color tbody tr:nth-child(6) > td:first-child {
	background-color: var(--color-surface);
	color: var(--color-on-background);
}

.test-color tbody tr:nth-child(7) > td:first-child {
	background-color: var(--color-on-background);
	color: var(--color-background);
}
