:root {
  /* Base */
  --base-primary: 1;
  --base-secondary: 1.33;

  /* Palette */
  --palette-black: hsl(45, 20%, 10%);
  --palette-jet: hsl(45, 15%, 15%);
  --palette-charcoal: hsl(45, 10%, 30%);
  --palette-gray: hsl(45, 10%, 70%);
  --palette-pearl: hsl(45, 30%, 90%);
  --palette-white: hsl(45, 50%, 95%);
  --palette-blue: hsl(225, 100%, 40%);
  --palette-sky: hsl(225, 100%, 80%);

  /* Ratio */
  --ratio: 1.7;

  /* Border Width */
  --border-width-default: calc(var(--base-primary) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) * 1rem);
  --border-width-small: calc(var(--border-width-default) / var(--ratio));
  --border-width-large: calc(var(--border-width-default) * var(--ratio));

  /* Color */
  --color-foreground: var(--palette-black);
  --color-foreground-low-contrast: var(--palette-charcoal);
  --color-background: var(--palette-white);
  --color-background-low-contrast: var(--palette-pearl);
  --color-primary: var(--palette-gray);
  --color-secondary: var(--palette-blue);

  /* Font Family */
  --font-family-root: sans-serif;
  --font-family-code: "_", monospace;

  /* Font Size */
  --font-size-default: calc(var(--base-primary) * 1rem);
  --font-size-large: calc(var(--base-secondary) * 1rem);
  --font-size-small: calc(var(--base-secondary) / var(--ratio) * 1rem);
  --font-size-huge: calc(var(--base-primary) * var(--ratio) * 1rem);
  --font-size-gargantuan: calc(var(--base-secondary) * var(--ratio) * 1rem);
  --font-size-root: 100%;

  /* Line Height */
  --line-height-default: calc((var(--base-primary) * var(--ratio) + var(--base-secondary)) / 2);
  --line-height-small: var(--base-secondary);

  /* Margin */
  --margin-default: calc(var(--base-primary) * var(--ratio) * 1rem);
  --margin-small: calc(var(--margin-default) / var(--ratio) / var(--ratio));
  --margin-large: calc(var(--margin-default) * var(--ratio));
  --margin-huge: calc(var(--margin-large) * var(--ratio));
  --margin-gargantuan: calc(var(--margin-huge) * var(--ratio));
  --margin-sentence-spacing-half: calc((var(--line-height-default) - 1) / 2 * 1rem);

  /* Padding */
  --padding-default: calc(var(--base-secondary) * 1rem);
  --padding-small: calc(var(--padding-default) / var(--ratio));
  --padding-large: calc(var(--padding-default) * var(--ratio));
  --padding-huge: calc(var(--padding-large) * var(--ratio));
  --padding-body: var(--padding-default);

  /* Width */
  --width-gap-default: calc(var(--base-secondary) * 1rem);
  --width-gap-small: calc(var(--width-gap-default) / var(--ratio));
  --width-body: calc(var(--width-gap-default) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));

  /* Height */
  --height-1-line: calc(var(--line-height-default) * 1rem);
  --height-8-lines: calc(var(--height-1-line) * 8);

  /* Revert */
  --revert-margin: 0;
  --revert-max-height: none;
  --revert-max-width: none;
  --revert-word-break: normal;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--palette-white);
    --color-foreground-low-contrast: var(--palette-gray);
    --color-background: var(--palette-black);
    --color-background-low-contrast: var(--palette-jet);
    --color-primary: var(--palette-charcoal);
    --color-secondary: var(--palette-sky);
  }
}

/* Large Screen: (1.33 * 1.7 + 1.33 * 1.7^6 + 1.33 * 1.7) * 1.15 + 2 = 44.119 */
@media (min-width: 45em) {
  :root {
    --font-size-root: 115%;
    --padding-body: var(--padding-large);
  }
}

/* Huge Screen: <Large Screen> * 1.7 =  75.002 */
@media (min-width: 76em) {
  :root {
    --font-size-root: 125%;
    --padding-body: var(--padding-huge);
  }
}
