/* Media Query */
@media (min-width: 37em) {
  /* Large screen: calc(var(--width-large-outer) * var(--ratio-text) + var(--width-scrollbar)) */
}

@media (min-width: 67em) {
  /* Huge screen: calc(var(--width-huge-outer) * var(--ratio-text-huge) + var(--width-scrollbar)) */
}

@media (min-width: 121em) and (min-height: 68em) {
  /* Screen bigger than FHD */
}

/* Font: Noto Sans Japanese */
@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 100;
  src: url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2") format("woff2");
}

/* Custom property */
:root {
  /* Font: Sans-serif */
  --font-stack-sans-serif: "Noto Sans Japanese", sans-serif;

  /* Font: Monospace */
  --font-stack-monospace: "Menlo", "Consolas", monospace;

  /* Color: Foreground */
  --color-fg: hsl(0, 0%, 12%);

  /* Color: Background */
  --color-bg: hsl(0, 0%, 100%);

  /* Color: Variation */
  --color-fg-semilight: hsl(0, 0%, 32%);
  --color-fg-light: hsl(0, 0%, 76%);
  --color-bg-dark: hsl(0, 0%, 88%);

  /* Color: Special */
  --color-fg-a: hsl(216, 100%, 44%);
  --color-fg-a-visited: hsl(288, 88%, 44%);

  /* Ratio: Basic */
  --ratio: 1.7;

  /* Ratio: Text */
  --ratio-text: 1;
  --ratio-text-gargantuan: 1.7; /* calc(var(--ratio-text) * var(--ratio)); */
  --ratio-text-huge: 1.35; /* calc((var(--ratio-text) + var(--ratio-text-gargantuan)) / 2); */
  --ratio-text-large: 1.175; /* calc(((var(--ratio-text) + var(--ratio-text-huge)) / 2); */
  --ratio-text-small: 0.794; /* calc(var(--ratio-text-large) / var(--ratio)); */

  /* Ratio: Line Height */
  --line-height: 1.7; /* var(--ratio); */
  --line-height-large: 2.124; /* calc(var(--line-height) * 1.25); */
  --line-height-small: 1.36; /* calc(var(--line-height) * 0.8); */

  /* Size: Margin */
  --margin: 1.7rem; /* calc(var(--ratio) * 1rem); */
  --margin-small: 0.588rem; /* calc(var(--margin) / var(--ratio) / var(--ratio)); */
  --margin-large: 2.89rem; /* calc(var(--margin) * var(--ratio)); */
  --margin-huge: 4.913rem; /* calc(var(--margin-large) * var(--ratio)); */
  --margin-gargantuan: 8.352rem; /* calc(var(--margin-huge) * var(--ratio)); */

  /* Size: Border */
  --width-border: 0.12rem; /* calc(var(--margin-small) / var(--ratio) / var(--ratio) / var(--ratio)); */
  --width-border-small: 0.07rem; /* calc(var(--width-border) / var(--ratio)); */

  /* Size: Padding */
  --padding: 0.588rem; /* var(--margin-small); */
  --padding-large: 1rem; /* calc(var(--padding) * var(--ratio)); */

  /* Size: Main Component */
  --width-large: 32rem;
  --width-gap: 1.326rem; /* calc(var(--width-large) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)); */
  --width-gap-small: 0.78rem; /* calc(var(--width-gap) / var(--ratio)); */
  --width-large-outer: 34.552rem; /* calc(var(--width-gap) + var(--width-large) + var(--width-gap)); */
  --width-supplement-outer: 20.325rem; /* calc(var(--width-large-outer) / var(--ratio)); */
  --width-supplement: 17.673rem; /* calc(var(--width-supplement-outer) - var(--width-gap) - var(--width-gap)); */
  --width-huge-outer: 54.877rem; /* calc(var(--width-supplement-outer) + var(--width-large-outer)); */
  --width-huge: 52.225rem; /* calc(var(--width-huge-outer) - var(--width-gap) - var(--width-gap)); */

  /* Size: GUI */
  --width-scrollbar: 2rem;
}
