:root {
	/* Color */
	--color-background: hsl(var(--hue) 48% 93%);
	--color-background-tone: hsl(var(--hue) 48% 90%);
	--color-on-background: hsl(0 0% 15%);
	--color-on-background-tint: hsl(0 0% 45%);
	--color-link: hsl(213 96% 45%);

	/* Font Size */
	--font-size-default: 1rem;
	--font-size-small: calc(var(--font-size-default) / var(--ratio-1));
	--font-size-large: calc(var(--font-size-default) * var(--ratio-1));
	--font-size-huge: calc(var(--font-size-large) * var(--ratio-1));

	/* Hue */
	--hue: 48;

	/* Line Height */
	--line-height-default: calc(var(--ratio-2));

	/* Ratio */
	--ratio-1: 1.25;
	--ratio-2: calc(var(--ratio-1) * var(--ratio-1));
	--ratio-4: calc(var(--ratio-2) * var(--ratio-2));

	/* Space */
	--space-default: calc(var(--ratio-2) * 1rem);
	--space-small: calc(var(--space-default) / var(--ratio-2));
	--space-large: calc(var(--space-default) * var(--ratio-1));
	--space-tiny: calc(var(--space-small) / var(--ratio-2));
	--space-huge: calc(var(--space-large) * var(--ratio-2) * var(--ratio-1));
	--space-gargantuan: calc(var(--space-huge) * var(--ratio-2) * var(--ratio-1));
	--space-left-body: clamp(
		0px,
		(100vw - var(--space-small) - var(--width-column) - var(--space-small) - 20px) / 2,
		var(--ratio-4) * var(--ratio-4) * var(--ratio-2) * 1vw
	);

	/* Width */
	--width-column: 65ch;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: hsl(var(--hue) 48% 6%);
		--color-background-tone: hsl(var(--hue) 48% 15%);
		--color-on-background: hsl(0 0% 93%);
		--color-on-background-tint: hsl(0 0% 75%);
		--color-link: hsl(213 96% 78%);
	}
}
