/*! style-guide/index.css | MIT License */

/* Layout */
.js-test-layout::before {
  --background-size-x: min(
    100%,
    var(--padding-inline-body) + var(--width-column) +
      var(--padding-inline-body)
  );
  --color-test-gutter: hsl(300 100% 50%);
  --color-test-column: hsl(120 100% 50%);

  background-image: linear-gradient(
    to right,
    var(--color-test-gutter) 0,
    var(--color-test-gutter) var(--padding-inline-body),
    var(--color-test-column) var(--padding-inline-body),
    var(--color-test-column)
      calc(var(--background-size-x) - var(--padding-inline-body)),
    var(--color-test-gutter)
      calc(var(--background-size-x) - var(--padding-inline-body)),
    var(--color-test-gutter) var(--background-size-x)
  );
  background-position-x: left;
  background-repeat: repeat-y;
  background-size: var(--background-size-x) 1px;
  content: "";
  inset: 0 0 0 var(--margin-inline-start-body);
  opacity: 0.2;
  pointer-events: none;
  position: fixed;
  z-index: 1;
}

.js-test-layout * {
  outline: 1px solid hsl(30 100% 50%);
}

/* Font Size */
.test-font-size > tbody > tr:nth-child(1) > td:nth-child(2) {
  font-size: var(--font-size-small);
}

.test-font-size > tbody > tr:nth-child(2) > td:nth-child(2) {
  font-size: var(--font-size-default);
}

.test-font-size > tbody > tr:nth-child(3) > td:nth-child(2) {
  font-size: var(--font-size-large);
}

.test-font-size > tbody > tr:nth-child(4) > td:nth-child(2) {
  font-size: var(--font-size-huge);
}

/* Line Height */
.test-line-height > tbody > tr:nth-child(1) > td:nth-child(2) {
  line-height: var(--line-height-default);
}

.test-line-height > tbody > tr:nth-child(2) > td:nth-child(2) {
  line-height: var(--line-height-small);
}

/* Space */
.test-space > tbody > tr:nth-child(1) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-v-tiny);
}

.test-space > tbody > tr:nth-child(2) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-v-small);
}

.test-space > tbody > tr:nth-child(3) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-v-default);
}

.test-space > tbody > tr:nth-child(4) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-v-large);
}

.test-space > tbody > tr:nth-child(5) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-v-huge);
}

.test-space > tbody > tr:nth-child(6) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-v-gargantuan);
}

.test-space > tbody > tr:nth-child(7) > td:nth-child(2) div:last-child {
  margin-block-start: var(--space-v-rect);
}

.test-space > tbody > tr:nth-child(8) > td:nth-child(2) div:last-child {
  padding-inline-start: var(--space-h-small);
}

.test-space > tbody > tr:nth-child(9) > td:nth-child(2) div:last-child {
  padding-inline-start: var(--space-h-default);
}

/* Color */
.test-color > tbody > tr:nth-child(1) > td:nth-child(2) {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.test-color > tbody > tr:nth-child(2) > td:nth-child(2) {
  background-color: var(--color-background-tone);
  color: var(--color-on-background);
}

.test-color > tbody > tr:nth-child(3) > td:nth-child(2) {
  background-color: var(--color-on-background);
  color: var(--color-background);
}

.test-color > tbody > tr:nth-child(4) > td:nth-child(2) {
  background-color: var(--color-link);
  color: var(--color-background-tone);
}

.test-color > tbody > tr:nth-child(5) > td:nth-child(2) {
  background-color: var(--color-link);
  color: var(--color-on-background);
}
