.affiliate > figure {
	aspect-ratio: 16 / 9;
	height: auto;
}

.affiliate > figure > a > img {
	background-color: white;
	height: 100%;
	object-fit: contain;
	padding: var(--space-default) var(--width-gutter);
	width: 100%;
}
