.site-menu {
	font-size: var(--font-size-small);
}

.site-menu ul {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-default);
	list-style-type: none;
	margin-block-start: 0;
	padding-inline-start: 0;
}

.site-menu ul ul {
	gap: var(--space-small);
}

.site-menu a {
	color: inherit;
	white-space: nowrap;
}

.site-menu img {
	max-width: none;
	vertical-align: bottom;
	width: calc(var(--line-height-default) * 1em);
}
