.site-menu {
	--line-height: calc(var(--line-height-default) * 1em);

	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size-small);
	gap: var(--line-height) var(--space-default);
}

.site-menu p {
	margin-block-start: 0;
}

.site-menu a {
	color: inherit;
	white-space: nowrap;
}

.site-menu img {
	max-width: none;
	vertical-align: bottom;
	width: var(--line-height);
}

.site-menu > div {
	display: flex;
	flex-wrap: wrap;
	gap: var(--line-height) var(--space-default);
}

.site-menu ul {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-tiny) 1em;
	list-style-type: none;
	margin-block-start: 0;
	padding-inline-start: 0;
}

.site-menu li {
	margin-block-start: 0;
}
