<!DOCTYPE html>
<html lang=ja>
  <head>
    <meta charset=utf-8>

    <title>ページが見つかりません</title>

    <link href="{{touchIcon}}" rel="apple-touch-icon">
    <link href="mailto:{{email}}" rel="author me">
    <meta content="light dark" name="color-scheme">
    <link href="/" rel="home">
    <link href="{{favicon}}" rel="icon" type="image/svg+xml">
    <link href="https://github.com/{{github}}" rel="me">
    <link href="https://x.com/{{twitter}}" rel="me">
    <link href="https://duckduckgo.com/?q=site%3A{{domain}}" rel="search">
    <meta content="width=device-width" name="viewport">

    <style>
      body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100svh;
        justify-content: center;
        margin: 0 1.5rem;
        max-width: 35rem;
      }

      @media (min-width: 60rem) {
        body {
          margin-inline: 10rem auto;
        }
      }

      h1 {
        font-size: 1.25rem;
        line-height: 1.2;
        margin: 0;
      }

      p {
        line-height: 1.5;
        margin: 0;
        text-align: justify;
      }

      a {
        color: inherit;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <h1>404 Not Found</h1>

    <p>あなたが探しているページが見つかりません。もう削除されているか、URLが間違っています。<a href="/"">ホーム・ページ</a>から探すか、<a href="https://duckduckgo.com/?q=site%3A{{domain}}">DuckDuckGoでの検索</a>を試してみると、もしかしたら見つかるかもしれません。何か気づいたことがありましたら<a href="mailto:{{email}}">メール</a>や、<a href="https://github.com/{{github}}/hail2u.net/issues">GitHubのイシュー</a>、<a href="https://x.com/{{twitter}}">かつてTwitterとして知られていたプラットフォーム</a>などで連絡してください。</p>
  </body>
</html>
