<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">

    <title>{{title}}</title>

    <link href="/css/index.css" rel="stylesheet">
  </head>

  <body>
    <main>
      <header class="page-header">
        <p class="date"><time datetime="2023-03-09T21:08:00+09:00">2023年3月9日</time></p>

        <h1><em>{{title}}</em></h1>
      </header>

      {{{body}}}
    </main>

    <footer class="page-footer">
      <p><a href="/blog/"><span aria-hidden="true">← </span>雑多な記録の一覧へ</a></p>

      <p><a title="{{licenseName}}" href="{{licenseURL}}">CC-BY</a> · <a href="{{feed}}" type="application/rss+xml">RSS</a> (<a href="/blog{{feed}}" type="application/rss+xml">雑多な記録だけのRSS</a>)</p>

      <p><a href="#top"><span aria-hidden="true">↑ </span>トップに戻る</a></p>
    </footer>
  </body>
</html>
