<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <nav class="site-menu">
      <ul>
        <li><a href="/projects/">行ってきた活動<span aria-label="(更新停止中)">💤</span></a></li>
        <li><a href="/blog/">雑多な記録</a></li>
        <li><a href="/statuses/">近ごろの様子<span aria-label="(更新停止中)">💤</span></a></li>
        <li><a href="/links/">気になったウェブページ</a></li>
        <li><a href="/bookshelf/">読み終えた書籍</a></li>
        <li><a href="/about/">このウェブサイトについて</a></li>
        <li><a href="https://duckduckgo.com/?q=site%3A{{domain}}">DuckDuckGoで検索</a></li>
      </ul>
    </nav>

    <p><em>{{siteTitle}}</em>は、{{description}}</p>

    <section>
      <h2>最近の雑多な記録</h2>

      {{#homeArticles}}
        <p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>

        <p><a href="{{link}}">{{title}}</a>: {{description}}</p>
      {{/homeArticles}}

      <p><a href="/blog/"><span aria-hidden="true">→ </span>雑多な記録の一覧へ</a></p>
    </section>

    <section>
      <h2>このごろ気になったウェブページ</h2>

      {{#homeLinks}}
        <p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>

        <p><a href="{{link}}">{{title}}</a>: {{description}}</p>
      {{/homeLinks}}

      <p><a href="/links/"><span aria-hidden="true">→ </span>気になったウェブページの一覧へ</a></p>
    </section>

    <section>
      <h2>読み終えたばかりの書籍</h2>

      <ol class="showcase">
        {{#homeBooks}}
          <li>{{{body}}}</li>
        {{/homeBooks}}
      </ol>

      <p><a href="/bookshelf/"><span aria-hidden="true">→ </span>読み終えた書籍の一覧へ</a></p>
    </section>

    {{> page-footer}}
  </body>
</html>
