<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <p><em>{{siteTitle}}</em>は、{{description}}</p>

    <section>
      <h2>最近の雑多な記録</h2>

      {{#homeArticles}}
        <a href="{{link}}">
          <section class="post">
            <header>
              <p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>

              <h3>{{title}}</h3>
            </header>

            <p>{{shortDescription}}</p>
          </section>
        </a>
      {{/homeArticles}}
    </section>

    <section>
      <h2>ごくごく近ごろの様子</h2>

      {{#homeStatuses}}
        <p>{{title}} (<a href="{{link}}"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日{{hour}}時{{minute}}分</time></a>)</p>
      {{/homeStatuses}}
    </section>

    <section>
      <h2>このごろ気になったウェブページ</h2>

      {{#homeLinks}}
        <a href="{{link}}">
          <section class="post">
            <header>
              <p class="date"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>

              <h3>{{title}}</h3>
            </header>

            <p>{{shortDescription}}</p>
          </section>
        </a>
      {{/homeLinks}}
    </section>

    <section>
      <h2>新たに読み終えた書籍</h2>

      <ul class="showcase oneline">
        {{#homeBooks}}
          <li>{{{body}}}</li>
        {{/homeBooks}}
      </ul>
    </section>

    {{> page-footer}}
  </body>
</html>
