<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> page-header}}

    <nav class="site-menu">
      <ul>
        <li><a href="/blog/">雑多な記録</a></li>
        <li><a href="/projects/">行ってきた活動</a></li>
        <li><a href="/statuses/">近ごろの様子</a></li>
        <li><a href="/links/">気になったウェブページ</a></li>
        <li><a href="/bookshelf/">読み終えた書籍</a></li>
        <li><a href="/about/">このウェブサイトについて</a></li>
        <li><a href="https://duckduckgo.com/?q=site%3A{{domain}}">DuckDuckGoで検索</a></li>
      </ul>
    </nav>

    <p><em>{{siteTitle}}</em>は、{{description}}</p>

    {{> page-footer}}
  </body>
</html>
