<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
  <head>
    <title>{{fullname}}’s subscriptions</title>
  </head>
  <body>
    {{#subscriptions}}
      <outline type="rss" text="{{title}}" title="{{title}}" xmlUrl="{{feed}}" htmlUrl="{{link}}"/>
    {{/subscriptions}}
  </body>
</opml>
