<?xml version="1.0" encoding="{{encoding}}"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{scheme}}://{{domain}}/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/about/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/blog/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/bookshelf/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/links/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/projects/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2021.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2020.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2019.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2018.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2017.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2016.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2015.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2014.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2013.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2012.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2011.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/2010.html</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/style-guide/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/subscriptions/</loc>
  </url>

  {{#articles}}
    <url>
      <loc>{{scheme}}://{{domain}}{{link}}</loc>
    </url>
  {{/articles}}
</urlset>
