<?xml version="1.0" encoding="{{encoding}}"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{scheme}}://{{domain}}/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/blog/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/bookshelf/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/links/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/projects/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/statuses/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/style-guide/</loc>
  </url>

  <url>
    <loc>{{scheme}}://{{domain}}/subscriptions/</loc>
  </url>

  {{#articles}}
    <url>
      <loc>{{scheme}}://{{domain}}{{link}}</loc>
    </url>
  {{/articles}}
</urlset>
