// Logo
.logo {
  color: $color-dark-light;
  font-size: rem($ratio-text-logo);
  font-weight: bolder;
  flex-grow: 1;
  height: $height-logo;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;

  a {
    color: inherit;
  }

  mark {
    background-color: transparent;
  }

  @media (min-width: $breakpoint-full) {
    width: $width-supplement;
  }
}
