// Logo
.logo {
  flex: auto;
  font-size: ($ratio-text-logo * 1rem);
  font-weight: 700;
  line-height: inherit;
  margin-bottom: 0;
  margin-top: $margin-tiny;
  text-transform: uppercase;

  a {
    color: inherit;
  }

  @media (min-width: $breakpoint-content) {
    font-size: ($ratio-text-logo-content * 1rem);
    margin-top: 0;
  }

  @media (min-width: $breakpoint-full) {
    flex: initial;
    margin-left: (- ($width-supplement + $width-gap));
    width: $width-supplement;
  }
}
