// Site Navigation
.site-navigation {
  order: -1;

  ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    display: block;
    font-size: ($ratio-text-logo * 1rem);
    margin-right: $width-gap-small;
  }

  a {
    color: inherit;
  }

  mark {
    background-color: transparent;
    display: block;
    position: relative;

    &::after {
      $w: 30%;

      border: $width-border-small solid $color-fg-light;
      content: "";
      display: block;
      left: ((100% - $w) / 2);
      position: absolute;
      width: $w;
    }
  }

  @media (min-width: $breakpoint-content) {
    order: 0;

    li {
      font-size: ($ratio-text-logo-content * 1rem);
      margin-left: $width-gap;
      margin-right: 0;
    }
  }
}
