// Site Navigation
.site-navigation ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.site-navigation li {
  display: block;
  font-size: ($ratio-text-logo * 1rem);
  margin-left: $width-gap-small;

  @media (min-width: $breakpoint-content) {
    font-size: ($ratio-text-logo-content * 1rem);
    margin-left: $width-gap;
  }
}

.site-navigation a {
  color: inherit;
}

.site-navigation mark {
  background-color: transparent;
  display: block;
  position: relative;
}

.site-navigation mark::after {
  border: $width-border-small solid $color-accent-light;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
}
