// Site Navigation
.site-navigation {
  $r: $ratio-text-tiny;

  flex-basis: 0;
  flex-grow: 1;
  font-size: rem($ratio-text-tiny);
  line-height: ($line-height-logo / $r);
  text-transform: uppercase;

  ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    display: block;
    margin-left: $width-gap-tiny;
    text-align: right;

    &:first-child {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  a {
    color: inherit;
  }

  mark {
    background-color: transparent;
    font-weight: bolder;
  }

  @media (min-width: $breakpoint-content) {
    $r: $ratio-text-small;
    font-size: rem($r);
    line-height: ($line-height-logo / $r);

    li {
      margin-left: $width-gap;
    }
  }

  @media (min-width: $breakpoint-full) {
    margin-left: $width-gap-large;

    li {
      margin-left: 0;
      margin-right: $width-gap-large;

      &:first-child {
        flex-grow: 0;
      }

      &:last-child {
        flex-basis: 0;
        flex-grow: 1;
        margin-right: 0;
      }
    }
  }
}
