.a {
  content: "a";
  margin: 0;
}

.b {
  content: "b";
  margin: 0;
}

.c {
  content: "c";
  margin: 0;
}

.d {
  content: "d";
  margin: 0;
}

.e {
  content: "e";
  margin: 0;
}

.f {
  content: "f";
  margin: 0;
}

.g {
  content: "g";
  margin: 0;
}

.h {
  content: "h";
  margin: 0;
}

.i {
  content: "i";
  margin: 0;
}

.j {
  content: "j";
  margin: 0;
}

.k {
  content: "k";
  margin: 0;
}

.l {
  content: "l";
  margin: 0;
}

.m {
  content: "m";
  margin: 0;
}

.n {
  content: "n";
  margin: 0;
}

.o {
  content: "o";
  margin: 0;
}

.p {
  content: "p";
  margin: 0;
}

.q {
  content: "q";
  margin: 0;
}

.r {
  content: "r";
  margin: 0;
}

.s {
  content: "s";
  margin: 0;
}

.t {
  content: "t";
  margin: 0;
}

.u {
  content: "u";
  margin: 0;
}

.v {
  content: "v";
  margin: 0;
}

.w {
  content: "w";
  margin: 0;
}

.x {
  content: "x";
  margin: 0;
}

.y {
  content: "y";
  margin: 0;
}

.z {
  content: "z";
  margin: 0;
}
