<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      {{#specials}}
        {{#isFirstInYear}}
          <section id="on-{{strYear}}">
            <h1><time datetime="{{strYear}}">{{year}}年</time></h1>

            <ol>
        {{/isFirstInYear}}

        <li><a href="{{link}}">{{title}}</a></li>

        {{#isLastInYear}}
            </ol>
          </section>
        {{/isLastInYear}}
      {{/specials}}

      <section id="until-2010">
        <h1>作成日時不明</h1>

        <ol>
          <li><a href="/documents/216colors.html">216 cross platform colors table</a></li>
          <li><a href="/documents/about-rss.html">RSSについて</a></li>
          <li><a href="/documents/css2bsi.html">CSS2 browser support information</a></li>
          <li><a href="/documents/css2pt.html">CSS2 property table</a></li>
          <li><a href="/documents/entities.html">Character entities table</a></li>
          <li><a href="/documents/git-cheat-sheets-jp.html">Git Cheat Sheets JP</a></li>
          <li><a href="/documents/httpstatus.html">HTTP status message list</a></li>
          <li><a href="/documents/opjsdom.html">Support for JavaScript and JScript Objects in Opera</a></li>
          <li><a href="/documents/ps_lightning.html">Draw lightning in Photoshop 7</a></li>
          <li><a href="/documents/ps_sketchpbyp.html">Sketch photo by pencil in Photoshop 7</a></li>
          <li><a href="/documents/sortable-pokemon-list.html">ソート機能付き ポケモン一覧表</a></li>
        </ol>
      </section>
    </main>

    {{> footer}}
  </body>
</html>
