<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      {{#specials}}
        {{#isFirstInYear}}
          <section id="on-{{strYear}}">
            <h1><time datetime="{{strYear}}">{{year}}年</time></h1>

            <ol>
        {{/isFirstInYear}}

        <li><a href="{{link}}">{{title}}</a></li>

        {{#isLastInYear}}
            </ol>
          </section>
        {{/isLastInYear}}
      {{/specials}}
    </main>

    {{> footer}}
  </body>
</html>
