{{> header}}

{{#documents}}
	<section>
		<h2 class="headline"><a href="{{link}}">{{title}}</a></h2>

		<p class="metaline"><time class="metaline" datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>

		<p>{{description}}</p>
	</section>
{{/documents}}

{{> footer}}
