[itemprop="articleBody"] > aside:first-child {
	--max-width: none;
	--width: min(
		var(--width-column) / var(--ratio-5),
		50%
	);

	float: right;
	margin-left: 1.25rem;
	margin-left: var(--width-gap);
	max-width: 180px;
	max-width: var(--max-width);
	width: 50%;
	width: var(--width);
}

[itemprop="articleBody"] > aside:first-child figure {
	margin-top: 0;
}

[itemprop="articleBody"] > aside:first-child figure img {
	background-color: white;
	padding: 0.75rem;
	padding: var(--space-tiny);
	width: 100%;
}
