.affiliate > figure {
	--aspect-ratio: 16 / 9;
	--height: auto;

	aspect-ratio: var(--aspect-ratio);
	height: 17rem;
	height: var(--height);
}

.affiliate > figure > a > img {
	--background-color: white;
	--height: 100%;
	--object-fit: contain;
	--width: 100%;

	background-color: var(--background-color);
	height: var(--height);
	object-fit: var(--object-fit);
	padding: 8%;
	width: var(--width);
}
