[itemprop="articleBody"] > aside:first-child {
	float: right;
	margin-left: var(--width-gap);
	max-width: none;
	width: min(
		var(--width-column) / var(--ratio-5),
		50%
	);
}

[itemprop="articleBody"] > aside:first-child figure {
	margin-top: 0;
}

[itemprop="articleBody"] > aside:first-child figure img {
	background-color: white;
	padding: var(--space-tiny);
	width: 100%;
}
