.back-to-home {
	--line-height: 1;
	--position: fixed;

	left: calc(var(--space-left-body) + var(--space-small));
	line-height: var(--line-height);
	margin-top: 0;
	position: var(--position);
	top: var(--space-small);
}

.back-to-home a {
	color: inherit;
	text-decoration: none;
}
