.back-to-home {
	left: calc(var(--space-left-body) + var(--space-small));
	line-height: 1;
	margin-top: 0;
	position: fixed;
	top: var(--space-small);
}

.back-to-home a {
	color: inherit;
	text-decoration: none;
}
