.byline {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%221280%22%20width%3D%221280%22%3E%3Ccircle%20cx%3D%22640%22%20cy%3D%22640%22%20fill%3D%22%23fff%22%20r%3D%22640%22%2F%3E%3Cpath%20d%3D%22M352%20304v672h64V699l421%20277h91V304h-91L562%20484%20424%20304zm512%2059v518L600%20535zm-448%2035l92%20122-92%2060zm131%20173l210%20275-315-206z%22%2F%3E%3C%2Fsvg%3E");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	font-weight: bold;
	margin-right: auto;
}

.byline::before {
	/* U+2009 is Thin Space*/
	content: "\2009";
}

.byline a {
	color: inherit;
	padding-left: calc(var(--font-size-small) * var(--line-height-default));
}
