.hero {
	--margin-horizontal: calc(0px - var(--width-gap));

	margin-left: var(--margin-horizontal);
	margin-right: var(--margin-horizontal);
}

@media (min-width: 68rem) {
	.hero {
		--margin-horizontal: calc(
			0px - var(--width-gap) - var(--width-base) * var(--ratio-8) *
				var(--ratio-2)
		);

		margin-top: calc(0px - var(--space-huge) + var(--space-default));
	}
}

.hero img,
.hero video {
	width: 100%;
}
