.hero {
	margin-left: var(--margin-horizontal);
	margin-right: var(--margin-horizontal);
}

@media (min-width: 68rem) {
	.hero {
		--margin-horizontal: calc(
			0px - var(--width-base) * var(--ratio-8) * var(--ratio-2)
		);
	}
}

.hero img,
.hero video {
	--width: 100%;

	width: var(--width);
}
