.hero {
	--margin-horizontal: calc(0px - var(--margin-left-body));

	margin-left: var(--margin-horizontal);
	margin-right: var(--margin-horizontal);
}

.hero img,
.hero video {
	--width: 100%;

	width: var(--width);
}
