.hljs {
	--color-keyword: hsl(228 72% 57%);
	--color-literal: hsl(288 72% 48%);
	--color-number: hsl(348 72% 48%);
	--color-string: hsl(168 72% 27%);
	--color-comment: hsl(48 48% 33%);
}

.hljs-keyword,
.hljs-subst,
.hljs-meta-keyword,
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-template-tag {
	color: var(--color-keyword);
}

.hljs-literal,
.hljs-tag,
.hljs-attr,
.hljs-attribute,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-variable {
	color: var(--color-literal);
}

.hljs-number,
.hljs-symbol,
.hljs-regexp,
.hljs-selector-id,
.hljs-deletion {
	color: var(--color-number);
}

.hljs-string,
.hljs-meta-string,
.hljs-selector-class,
.hljs-addition {
	color: var(--color-string);
}

.hljs-comment,
.hljs-doctag {
	color: var(--color-comment);
}
