.highlight {
	--color-comment: hsl(8 96% 32%);
	--color-literal: hsl(288 96% 44%);
	--color-string: hsl(88 96% 24%);
	--color-global: hsl(208 96% 44%);
}

.highlight :is(.hljs-literal, .hljs-number, .hljs-symbol) {
	color: darkorchid;
	color: var(--color-literal);
}

.highlight :is(.hljs-string, .hljs-regexp, .hljs-addition) {
	color: green;
	color: var(--color-string);
}

.highlight :is(.hljs-comment, .hljs-doctag, .hljs-deletion) {
	color: darkred;
	color: var(--color-comment);
}

.highlight :is(.hljs-title, .hljs-name, .hljs-selector-tag) {
	color: royalblue;
	color: var(--color-global);
}
