.highlight {
	--color-comment: hsl(18 96% 33%);
	--color-literal: hsl(288 96% 39%);
	--color-string: hsl(108 96% 24%);
	--color-global: hsl(228 96% 57%);
}

.highlight .hljs-comment {
	color: darkred;
}

.highlight :is(.hljs-comment, .hljs-doctag, .hljs-deletion) {
	color: var(--color-comment);
}

.highlight :is(.hljs-literal, .hljs-number, .hljs-symbol) {
	color: var(--color-literal);
}

.highlight :is(.hljs-string, .hljs-regexp, .hljs-addition) {
	color: var(--color-string);
}

.highlight :is(.hljs-title, .hljs-name, .hljs-selector-tag) {
	color: var(--color-global);
}
