.logo {
	--margin-left: calc(0px - var(--width-gap));

	font-weight: bold;
	margin-left: var(--margin-left);
	margin-right: auto;
	margin-top: 0;
	text-transform: uppercase;
}

.logo a {
	--text-align: center;
	--text-decoration: none;

	background-color: var(--color-primary);
	box-sizing: border-box;
	color: var(--color-on-primary);
	display: inline-block;
	padding: var(--space-tiny) var(--width-gap);
	text-align: var(--text-align);
	text-decoration: var(--text-decoration);
	width: var(--width-logo);
}
