.logo {
	--font-size: inherit;
	--font-weight: bold;
	--line-height: inherit;
	--margin-bottom: 0;
	--text-transform: uppercase;

	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	margin-bottom: var(--margin-bottom);
	margin-top: var(--space-default);
	text-transform: var(--text-transform);
}
