.logo {
	--font-weight: bold;
	--text-transform: uppercase;

	font-weight: var(--font-weight);
	text-transform: var(--text-transform);
}

summary.logo {
	--list-style-type: none;

	list-style-type: var(--list-style-type);
}

summary.logo::-webkit-details-marker {
	--display: none;

	display: var(--display);
}

summary.logo .flexbug-9 {
	--display: flex;

	display: var(--display);
}

summary.logo .flexbug-9::after {
	--content: "≡";
	--flex-grow: 1;
	--text-align: right;

	content: var(--content);
	flex-grow: var(--flex-grow);
	text-align: var(--text-align);
}

[open] summary.logo .close {
	--content: "×";
}
