.menu {
	--position: relative;

	position: var(--position);
}

.menu > summary {
	--bottom: 100%;
	--display: block;
	--list-style-type: none;
	--overflow: hidden;
	--position: absolute;
	--right: 0;
	--width: min-content;

	bottom: var(--bottom);
	display: none;
	display: var(--display);
	list-style-type: var(--list-style-type);
	height: calc(var(--font-size-default) * var(--line-height-default));
	overflow: var(--overflow);
	position: var(--position);
	right: var(--right);
	width: var(--width);
}

.menu > summary::-webkit-details-marker {
	--display: none;

	display: var(--display);
}

.menu > summary::before {
	--content: "≡";
	--font-weight: bold;

	content: var(--content);
	font-weight: var(--font-weight);
}

.menu[open] > summary {
	--bottom: calc(100% + var(--space-default));
}

.menu[open] > summary::before {
	--content: "×";
}

.menu > ul {
	--list-style-type: none;
	--padding-left: 0;

	list-style-type: var(--list-style-type);
	padding-left: var(--padding-left);
}

.menu > .oneline {
	--display: flex;
	--flex-wrap: wrap;

	display: var(--display);
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	flex-wrap: var(--flex-wrap);
	padding-left: 0;
}

.menu > .oneline > li {
	--display: list-item;
	--margin-right: 0;

	display: inline-block;
	display: var(--display);
	margin-right: 1rem;
	margin-right: var(--margin-right);
	margin-top: 0;
}

.menu > .oneline > li:not(:last-child) {
	--margin-right: var(--width-gap);
}

.menu > .oneline > .sep::after {
	--margin-left: var(--width-gap);

	content: "/";
	margin-left: 1rem;
	margin-left: var(--margin-left);
}
