.metaline {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

h2 + .metaline {
	margin-top: 0;
}

article > header:first-child .metaline {
	margin-top: 8.5rem;
	margin-top: var(--space-huge);
}
