.metaline {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

article > header > .metaline:first-child,
section > header > .metaline:first-child {
	margin-top: 9.25rem;
	margin-top: var(--space-gargantuan);
}

.metaline + :not(.metaline) {
	margin-top: 0;
}
