.metaline {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
}

footer > .metaline:first-child,
article > header > .metaline:first-child {
	margin-top: 5.75rem;
	margin-top: var(--space-gargantuan);
}

section > header > .metaline:first-child {
	margin-top: 3.75rem;
	margin-top: var(--space-huge);
}

.metaline + :not(.metaline) {
	margin-top: 0;
}
