.more {
	margin-top: var(--space-large);
}

.more.prev::before {
	--content: "前の記事:\0a";
	--white-space: pre-line;

	content: var(--content);
	font-size: var(--font-size-small);
	white-space: var(--white-space);
}
