.navigation {
	--display: flex;
	--flex-wrap: wrap;
	--margin-horizontal: calc(0px - var(--space-body-left));
	
	display: var(--display);
	flex-wrap: var(--flex-wrap);
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	margin-left: var(--margin-horizontal);
	margin-right: var(--margin-horizontal);
}

.navigation a {
	color: inherit;
}
