.pages {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}

footer .pages:first-of-type {
	margin-right: auto;
}

.pages li {
	margin-right: var(--space-small);
}

.pages:last-child li:last-child {
	margin-right: 0;
}

.pages a {
	color: inherit;
}
