.pages {
	--column-gap: var(--space-small);
	--display: flex;
	--flex-wrap: wrap;
	--row-gap: var(--space-tiny);

	display: var(--display);
	flex-wrap: var(--flex-wrap);
	gap: var(--row-gap) var(--column-gap);
	list-style-type: none;
	padding-left: 0;
}

.pages > li {
	--margin-inline-end: 0;

	display: inline-block;
	margin-right: 0.5rem;
	margin-inline-end: var(--margin-inline-end);
	margin-block-start: 0;
}
