.pages {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}

.pages:not(:last-child) {
	margin-right: auto;
}

.pages:not(:last-child) li,
.pages li:not(:last-child) {
	margin-right: var(--space-small);
}

.pages a {
	color: inherit;
}
