.page-footer {
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	margin: 7.25rem auto 3.75rem 0;
	margin-block-end: var(--space-huge);
	margin-block-start: var(--space-huge);
}

.page-footer a {
	white-space: nowrap;
}
