.posts {
	--list-style-type: none;
	--padding-left: 0;

	list-style-type: var(--list-style-type);
	padding-left: var(--padding-left);
}

.posts > li > time {
	display: block;
	font-size: 0.8rem;
	font-size: var(--font-size-small);
	line-height: 1.25;
	line-height: var(--line-height-default);
	margin-top: 1.5rem;
	margin-top: var(--space-default);
}
