.push {
	background-color: var(--color-background-tone);
	border: thin solid;
	border-radius: var(--space-small);
	color: inherit;
	display: block;
	font-family: inherit;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	padding: var(--space-small) var(--space-default);
	text-decoration: none;
	width: fit-content;
}

.push:active {
	position: relative;
	inset-block-start: 1px;
}
