.screamer {
	font-size: 1.25rem;
	font-size: var(--font-size-large);
	line-height: 1.25;
	line-height: var(--line-height-small);
	margin-top: 8.5rem;
	margin-top: var(--space-huge);
}

article > header:first-child .screamer {
	margin-bottom: 8.5rem;
	margin-bottom: var(--space-huge);
	margin-top: 0;
}

.screamer[data-tagline]::after {
	content: " — " attr(data-tagline);
	font-weight: normal;
}
