.showcase {
	--align-items: end;
	--display: grid;
	--grid-template-columns: repeat(
		auto-fill,
		minmax(calc(var(--width-column) / 5), 1fr)
	);

	align-items: var(--align-items);
	column-gap: var(--width-gap);
	display: var(--display);
	grid-template-columns: var(--grid-template-columns);
	line-height: 1;
	list-style-type: none;
	padding-left: 0;
	row-gap: var(--space-default);
}

.showcase.oneline {
	--grid-template-columns: 1fr 1fr 1fr;
}

.showcase > li {
	--display: list-item;
	--margin-bottom: 0;
	--margin-right: 0;
	--max-width: none;

	display: inline-block;
	display: var(--display);
	margin-bottom: 1.5rem;
	margin-bottom: var(--margin-bottom);
	margin-right: 1.25rem;
	margin-right: var(--margin-right);
	margin-top: 0;
	max-width: 20%;
	max-width: var(--max-width);
}

.showcase > li > a > img {
	--max-height: none;
	--vertical-align: text-bottom;
	--width: 100%;

	max-height: var(--max-height);
	vertical-align: var(--vertical-align);
	width: var(--width);
}
