.showcase {
	align-items: end;
	column-gap: var(--width-gap);
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(
			calc(var(--width-column) / 5),
			1fr
		)
	);
	line-height: 1;
	list-style-type: none;
	padding-left: 0;
	row-gap: var(--space-default);
}

.showcase.oneline {
	grid-template-columns: 1fr 1fr 1fr;
}

.showcase li img {
	max-height: none;
	vertical-align: text-bottom;
	width: 100%;
}
