.subnavigation > :first-child {
	font-size: var(--font-size-large);
	line-height: var(--line-height-small);
	margin-top: var(--space-huge);
}

article + .subnavigation p::before {
	content: "前の記事:";
	display: block;
	font-size: var(--font-size-small);
	font-weight: bold;
	line-height: var(--line-height-default);
}
