.thumbs {
	align-items: end;
	column-gap: var(--width-gap);
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(
			calc(var(--width-column) / 5),
			1fr
		)
	);
	line-height: 1;
	list-style-type: none;
	padding-left: 0;
	row-gap: var(--space-default);
}

.thumbs li {
	margin-bottom: 0;
	margin-right: 0;
	max-width: none;
}

.thumbs li img {
	max-height: none;
	vertical-align: text-bottom;
	width: 100%;
}
