<link rel="alternate" type="application/rss+xml" href="{{feed_url}}">
<link rel="author" href="/about/">
{{^notfound}}<link rel="canonical" href="{{canonical}}">{{/notfound}}
<link rel="license" href="{{license_url}}">

<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">
