<meta charset="UTF-8">
{{#weblog}}
  {{#weblog_child}}
    <?$permalink::is_permalink ne="1"><meta name="description" content="{{description}}"></?>
    <?$permalink::is_permalink eq="1"><meta name="description" content="$permalink::description"></?>
    <meta name="generator" content="blosxom v$version">
  {{/weblog_child}}

  {{^weblog_child}}<meta name="description" content="{{description}}">{{/weblog_child}}
{{/weblog}}

{{^weblog}}<meta name="description" content="{{description}}">{{/weblog}}
<meta name="viewport" content="width=device-width">
