body > header h1 {
  flex-grow: 1;
  font-size: inherit;
  height: ($ratio-text-small * $line-height-large * 1rem);
  line-height: inherit;
  margin-bottom: 0;
  text-transform: uppercase;

  @media (min-width: $breakpoint-huge) {
    flex-grow: 0;
    margin-left: (- ($width-supplement + $width-gap));
    margin-right: $width-gap;
    width: $width-supplement;
  }
}

body > header h1 svg {
  height: 100%;
}
