body > header h1 {
  flex-grow: 1;
  font-size: inherit;
  height: 100%;
  line-height: inherit;
  margin-bottom: $margin-small;
  margin-top: 0;
  text-transform: uppercase;

  @media (min-width: $breakpoint-huge) {
    margin-left: (- ($width-supplement + $width-gap));
    margin-right: $width-gap;
  }
}

body > header h1 svg {
  height: 100%;
}
