// Navigation
body > header nav {
  height: 100%;
}

body > header nav ul {
  display: flex;
  font-size: inherit;
  height: 100%;
  line-height: inherit;
  margin-bottom: 0;
  padding-left: 0;
}

body > header nav ul li {
  display: block;
  height: 100%;
  margin-left: $padding-large;
}

body > header nav mark {
  background-color: transparent;
  border-bottom: $width-border solid;
}

body > header nav svg {
  height: (1 / $ratio-text-header / $line-height-header * 100%);
}
