// Navigation
body > header nav {
  height: calc(var(--ratio-text-small) * var(--line-height-large) * 1rem);

  @media (min-width: 91.226em) {
    flex-grow: 1;
    width: 100%;
  }
}

body > header nav ul {
  display: flex;
  font-size: inherit;
  height: 100%;
  line-height: inherit;
  margin-bottom: 0;
  padding-left: 0;
}

body > header nav ul li {
  display: block;
  height: 100%;
  margin-right: var(--padding);

  @media (min-width: 56.739em) {
    margin-right: var(--padding-large);
  }
}

body > header nav ul li:last-child {
  margin-right: 0;

  @media (min-width: 91.226em) {
    flex-grow: 1;
    text-align: right;
  }
}

body > header nav mark {
  background-color: transparent;
  border-bottom: var(--width-border) solid var(--color-fg-light);
}

body > header nav svg {
  height: calc(1 / var(--ratio-text-small) / var(--line-height-large) * 100%);
}
