// Navigation
body > header nav {
  height: ($ratio-text-small * $line-height-large * 1rem);

  @media (min-width: $breakpoint-huge) {
    flex-grow: 1;
    width: 100%;
  }
}

body > header nav ul {
  display: flex;
  font-size: inherit;
  height: 100%;
  line-height: inherit;
  margin-bottom: 0;
  padding-left: 0;
}

body > header nav ul li {
  display: block;
  height: 100%;
  margin-right: $padding-large;
}

body > header nav ul li:last-child {
  margin-right: 0;

  @media (min-width: $breakpoint-huge) {
    flex-grow: 1;
    text-align: right;
  }
}

body > header nav mark {
  background-color: transparent;
  border-bottom: $width-border solid $color-fg-light;
}

body > header nav svg {
  height: (1 / $ratio-text-small / $line-height-large * 100%);
}
