// Site Navigation
body > header nav ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

body > header nav li {
  display: block;
  height: 100%;
  margin-left: $width-gap-small;

  @media (min-width: $breakpoint-content) {
    margin-left: $width-gap;
  }
}

body > header nav mark {
  border-bottom: $width-border solid $color-accent;
  background-color: transparent;
}
