// Tagline
body > header p {
  font-size: ($ratio-text-huge * 1rem);
  font-weight: lighter;
  line-height: $line-height-small;
  margin-bottom: 0;
  margin-top: $margin-large;
  width: 100%;

  @media (min-width: $breakpoint-large) {
    margin-top: $margin-huge;
  }

  @media (min-width: $breakpoint-huge) {
    margin-top: $margin-gargantuan;
  }
}
