.logo {
	--margin-bottom: calc(
		(var(--line-height-default) - 1) * var(--font-size-default) -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2
	);

	font-weight: bold;
	margin-right: auto;
	margin-bottom: 0.132rem;
	margin-bottom: var(--margin-bottom);
	margin-top: 0;
	padding-right: var(--space-small);
	text-transform: uppercase;
}
