.logo {
  --display: block;

  color: inherit;
  display: var(--display);
  font-size: 2rem;
  font-size: var(--font-size-huge);
  font-weight: bold;
  line-height: 1;
  margin-left: var(--margin-left-main);
  text-decoration: none;
  text-transform: uppercase;
}
