.logo {
  font-size: 2rem;
  font-size: var(--font-size-huge);
  font-weight: bold;
  line-height: 1.25;
  line-height: var(--line-height-small);
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
}
