.navigation {
  font-size: 0.75rem;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

@media (min-width: 65em) {
  .navigation {
    --display: flex;

    display: var(--display);
  }
}
