/* Navigation */
body > header nav {
  display: var(--box-header-navigation);
  font-size: var(--font-size-small);
  height: var(--height-header-navigation);
  line-height: var(--line-height-large);
}
