.navigation {
  --display: flex;

  display: var(--display);
  font-size: 0.75rem;
  font-size: var(--font-size-small);
}

.navigation mark {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
}
