.pages {
  --display: flex;
  --flex-grow: 1;
  --margin-top: var(--space-tiny);

  display: var(--display);
  flex-grow: var(--flex-grow);
  margin-left: auto;
  margin-top: 0.5rem;
  margin-top: var(--margin-top);
  max-width: var(--width-main);
  padding-left: 0;
}

@media (min-width: 65em) {
  .pages {
    --margin-top: 0;
  }
}

.pages li {
  --display: block;

  display: inline;
  display: var(--display);
  margin-right: 1rem;
  margin-right: var(--space-small);
}

.pages li:last-child {
  --margin-left: auto;

  margin-left: var(--margin-left);
  margin-right: 0;
}

.pages li:last-child a {
  text-decoration: none;
}

.pages li mark {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
}
