.pages {
	--display: flex;
	--flex-wrap: wrap;
	--margin-top: 0;

	display: var(--display);
	flex-grow: var(--flex-grow);
	flex-wrap: var(--flex-wrap);
	list-style-type: none;
	margin-top: 0.618rem;
	margin-top: var(--margin-top);
	max-width: var(--width-main);
	padding-left: 0;
}

@media (min-width: 54em) {
	.pages {
		--flex-grow: 1;
	}
}

.pages li {
	--display: block;

	display: inline-block;
	display: var(--display);
	margin-right: 0.618rem;
	margin-right: var(--space-tiny);
}

.pages li mark {
	background-color: transparent;
	color: inherit;
	font-weight: bold;
}
