body > header nav ul {
  --font-size: var(--font-size-small);
  --line-height: 1;
  --margin-top: var(--margin-outermost);
  --width: 100%;

  display: flex;
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-left: auto;
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-top);
  padding-left: 0;
  width: var(--width);
}

@media (min-width: 657px) {
  body > header nav ul {
    --font-size: 1rem;
    --line-height: var(--line-height-large);
    --margin-top: 0;
    --width: auto;
  }
}

@media (min-width: 1208px) {
  body > header nav ul {
    --width: var(--width-main-and-sub-minor);
  }
}

body > header nav ul li {
  display: block;
  margin-right: var(--width-horizontal-list-gutter);
}

body > header nav ul li:last-child {
  flex-grow: 1;
  margin-right: 0;
  text-align: right;
}

body > header nav ul li mark {
  background-color: transparent;
  border-bottom: var(--border-width) solid;
}
