body > header p:first-of-type {
  margin-top: var(--margin-gargantuan);
}

@media (min-width: 1271px) {
  body > header p {
    margin-right: var(--modifier-main-right);
    width: var(--width-main-and-sub-minor);
  }
}
