.tagline {
	font-size: 1.25rem;
	font-size: var(--font-size-large);
	line-height: 1.25;
	line-height: var(--line-height-small);
	margin-top: 8.5rem;
	margin-top: var(--space-huge);
	max-width: 36.75rem;
	max-width: var(--width-column-main);
}

.tagline[title]::after {
	content: "—" attr(title);
	font-weight: normal;
}
