body > header h1 {
  font-size: var(--font-size-large);
  font-weight: normal;
  margin-right: var(--margin-right-main);
  margin-top: var(--margin-gargantuan);
  text-indent: -0.05em;
  width: var(--width-main-and-sub-minor);
}
