@media (min-width: 67em) {
  .hang {
    margin-right: calc(var(--width-gap) + var(--width-gap));
    position: absolute;
    right: 100%;
    width: var(--width-supplement);
    z-index: 1;
  }

  .hang img {
    width: 100%;
  }

  h1.hang {
    margin-top: 0;
  }
}

@media (min-width: 67em) {
  section > h1.hang:first-child + * {
    margin-top: var(--margin-gargantuan);
  }
}

aside.hang {
  color: var(--color-fg-semilight);
  font-size: calc(var(--ratio-text-small) * 1rem);
  line-height: var(--line-height-small);
}
