/*! main.css | http://hail2u.mit-license.org/2011 */
:root {
  --font-stack-sans-serif: "Noto Sans JP", sans-serif;
  --font-stack-monospace: "Menlo", "Consolas", monospace;
  --color-fg: hsl(0, 0%, 20%);
  --color-bg: hsl(0, 0%, 100%);
  --color-accent: hsl(220, 100%, 40%);
  --color-accent-achromatic: hsl(0, 0%, 40%);
  --base-primary: 1;
  --base-secondary: 1.25;
  --ratio: 1.7;
  --ratio-text: var(--base-primary);
  --ratio-text-large: var(--base-secondary);
  --ratio-text-small: calc(var(--ratio-text-large) / var(--ratio));
  --ratio-text-huge: calc(var(--ratio-text) * var(--ratio));
  --line-height: calc(var(--base-primary) * var(--ratio));
  --line-height-small: var(--base-secondary);
  --line-height-large: calc(var(--line-height-small) * var(--ratio));
  --margin: calc(var(--base-primary) * var(--ratio) * 1rem);
  --margin-small: calc(var(--margin) / var(--ratio) / var(--ratio));
  --margin-large: calc(var(--margin) * var(--ratio));
  --margin-huge: calc(var(--margin-large) * var(--ratio));
  --margin-gargantuan: calc(var(--margin-huge) * var(--ratio));
  --width-border: calc(
    var(--base-primary) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio) * 1rem
  );
  --width-border-small: calc(var(--width-border) / var(--ratio));
  --width-gap: calc(var(--base-secondary) * 1rem);
  --width-gap-small: calc(var(--width-gap) / var(--ratio));
  --width-gap-large: calc(var(--width-gap) * var(--ratio));
  --width-sub-minor: calc(
    var(--width-gap) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --width-sub-major: calc(var(--width-sub-minor) * var(--ratio));
  --width-main: calc(var(--width-sub-major) * var(--ratio) * var(--ratio));
  --width-sub-minor-outer: calc(
    var(--width-gap) + var(--width-sub-minor) + var(--width-gap)
  );
  --width-sub-major-outer: calc(
    var(--width-gap) + var(--width-sub-major) + var(--width-gap)
  );
  --width-main-outer: calc(
    var(--width-gap) + var(--width-main) + var(--width-gap)
  );
  --width-whole-outer: calc(
    var(--width-sub-major-outer) + var(--width-main-outer) +
      var(--width-sub-minor-outer)
  );
  --width-whole: calc(
    var(--width-whole-outer) - var(--width-gap) - var(--width-gap)
  );
  --font-size-small: calc(var(--ratio-text-small) * 1rem);
  --width-gutter: calc(var(--width-gap) + var(--width-gap));
  --modifier-main-right: 0;
  --width-main-and-sub-minor: 100%;
  --mode-table: inline-block;
  --no-grow-on-large: 1;
  --margin-common-sub-major-right: 0;
  --width-common-sub-major: auto;
  --num-thumbs-columns: 3;
  --margin-outermost: var(--margin);
  --padding-main-left: var(--width-gap);
  --padding-main-right: var(--padding-main-left);
  --height-header-navigation: calc(
    var(--font-size-small) * var(--line-height-large)
  );
  --modifier-main-left: 0;
  --grow-on-large: 0;
  --width-horizontal-list-gutter: var(--width-gap-small);
  --mode-books-4th-book: none;
  --mode-books-5th-book: none;
  --width-content-hang: 30%;
}

:root.js-dark-mode {
  --color-fg: hsl(0, 0%, 100%);
  --color-bg: hsl(0, 0%, 20%);
  --color-accent: hsl(220, 100%, 68%);
  --color-accent-achromatic: hsl(0, 0%, 68%);
}

@media (min-width: 685px) {
  :root {
    --margin-outermost: var(--margin-large);
    --mode-books-4th-book: list-item;
    --num-thumbs-columns: 4;
    --width-horizontal-list-gutter: var(--width-gap);
  }
}

@media (min-width: 1271px) {
  :root {
    --grow-on-large: 1;
    --margin-common-sub-major-right: var(--width-gutter);
    --margin-outermost: var(--margin-huge);
    --mode-books-5th-book: list-item;
    --modifier-main-left: calc(
      0px - (var(--width-sub-major) + var(--width-gutter))
    );
    --modifier-main-right: calc(
      0px - (var(--width-gutter) + var(--width-sub-minor))
    );
    --no-grow-on-large: 0;
    --num-thumbs-columns: 5;
    --padding-main-left: calc(var(--width-sub-major-outer) + var(--width-gap));
    --padding-main-right: calc(var(--width-sub-minor-outer) + var(--width-gap));
    --width-common-sub-major: var(--width-sub-major);
    --width-content-hang: var(--width-sub-minor);
    --width-main-and-sub-minor: calc(
      var(--width-main) + var(--width-gutter) + var(--width-sub-minor)
    );
  }
}

@media not screen {
  :root {
    --mode-table: table;
  }
}

html {
  font-family: var(--font-stack-sans-serif);
  font-size: calc((100vw - 320px) / 200 + 1rem);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  line-height: var(--line-height);
  margin: 0;
}

h1 {
  line-height: var(--line-height-small);
  margin-bottom: 0;
  margin-top: var(--margin);
}

dl,
p {
  margin-bottom: 0;
  margin-top: var(--margin);
}

hr {
  border-width: 0;
  color: var(--color-accent-achromatic);
  margin-bottom: 0;
  margin-top: var(--margin);
}

hr::before {
  content: "* * *";
}

pre {
  font-family: var(--font-stack-monospace);
  line-height: var(--line-height-small);
  margin-bottom: 0;
  margin-right: var(--modifier-main-right);
  margin-top: var(--margin);
  overflow: auto;
  white-space: pre-wrap;
}

blockquote {
  margin: 0;
  padding-left: var(--width-gap-large);
}

ol,
ul {
  margin-bottom: 0;
  margin-top: var(--margin);
  padding-left: var(--width-gap-large);
}

dl dl,
main > article > footer p,
main > section > footer p,
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
}

dt {
  margin-top: var(--margin-small);
}

dd {
  margin-left: 0;
  margin-top: var(--margin-small);
  padding-left: var(--width-gap-large);
}

figure {
  margin: var(--margin) var(--modifier-main-right) 0 0;
}

figcaption {
  font-size: var(--font-size-small);
  margin-top: var(--margin-small);
}

blockquote + figcaption {
  text-align: right;
}

a {
  color: var(--color-accent);
}

a:visited {
  color: var(--color-accent-achromatic);
}

em {
  font-style: normal;
  font-weight: 700;
}

strong {
  text-decoration: underline;
}

cite {
  font-style: normal;
}

code,
kbd,
samp {
  font-family: var(--font-stack-monospace);
}

ins {
  text-decoration: none;
}

del {
  display: none;
}

img,
video {
  border-width: 0;
  box-sizing: border-box;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

figure img,
figure video {
  vertical-align: bottom;
}

svg:not(:root) {
  fill: currentcolor;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

table {
  border-spacing: 0;
  border-top: var(--width-border-small) solid var(--color-accent-achromatic);
  display: var(--mode-table);
  margin-right: var(--modifier-main-right);
  margin-top: var(--margin);
  max-width: var(--width-main-and-sub-minor);
  overflow-x: auto;
  table-layout: fixed;
  vertical-align: bottom;
}

td,
th {
  border-bottom: var(--width-border-small) solid var(--color-accent-achromatic);
  padding: var(--width-gap-small);
  vertical-align: top;
  white-space: nowrap;
}

th {
  text-align: inherit;
}

thead th {
  border-bottom-width: var(--width-border);
}

body > footer address,
body > header h1 {
  flex-grow: var(--no-grow-on-large);
  margin-left: var(--modifier-main-left);
  margin-right: var(--margin-common-sub-major-right);
  width: var(--width-common-sub-major);
}

main > section > h1 + ul,
main > section > ol:only-child {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin-right: var(--modifier-main-right);
  padding-left: 0;
}

main > section > h1 + ul li,
main > section > ol:only-child li {
  list-style-type: none;
  margin-top: auto;
  width: calc(
    (
        100% -
          (
            var(--width-horizontal-list-gutter) *
              (var(--num-thumbs-columns) - 1)
          )
      ) / var(--num-thumbs-columns)
  );
}

main > section > h1 + ul li img,
main > section > ol:only-child li img {
  vertical-align: text-bottom;
}

body > header {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-outermost);
  max-width: var(--width-main);
  padding-left: var(--padding-main-left);
  padding-right: var(--padding-main-right);
}

body > header h1 {
  font-size: inherit;
  height: var(--height-header-navigation);
  line-height: inherit;
  margin-top: 0;
}

body > header h1 svg {
  color: var(--color-fg);
  height: 100%;
  vertical-align: text-bottom;
  width: auto;
}

body > header nav {
  flex-grow: var(--grow-on-large);
  font-size: var(--font-size-small);
  height: var(--height-header-navigation);
  line-height: var(--line-height-large);
}

body > header nav ul {
  display: flex;
  margin-right: var(--modifier-main-right);
  margin-top: 0;
  padding-left: 0;
}

body > header nav ul li {
  display: block;
  margin-right: var(--width-horizontal-list-gutter);
}

body > header nav ul li:last-child {
  flex-grow: var(--grow-on-large);
  margin-right: 0;
  text-align: right;
}

body > header nav ul li a {
  color: inherit;
  text-decoration: none;
}

body > header nav ul li mark {
  background-color: transparent;
  color: inherit;
}

body > header nav ul li mark a {
  border-bottom: var(--width-border) solid;
}

body > header p:first-of-type {
  margin-right: var(--modifier-main-right);
  margin-top: var(--margin-gargantuan);
  width: var(--width-main-and-sub-minor);
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-main);
  padding-left: var(--padding-main-left);
  padding-right: var(--padding-main-right);
}

main > article > footer,
main > section > footer {
  font-size: var(--font-size-small);
  margin-top: calc(0px - (var(--ratio-text-small) * var(--line-height) * 1rem));
  position: absolute;
}

main > article > h1,
main > section > h1 {
  font-size: calc(var(--ratio-text-huge) * 1rem);
  margin-right: var(--modifier-main-right);
  margin-top: var(--margin-gargantuan);
}

main > article * h1,
main > section * h1 {
  font-size: calc(var(--ratio-text-large) * 1rem);
  margin-top: var(--margin-huge);
}

main > section > h1 + ul li:nth-child(n + 4) {
  display: none;
}

main > section > h1 + ul li:nth-child(4) {
  display: var(--mode-books-4th-book);
}

main > section > h1 + ul li:nth-child(5) {
  display: var(--mode-books-5th-book);
}

main > section > ol:only-child {
  flex-wrap: wrap;
  margin-top: var(--margin-gargantuan);
}

main > section > ol:only-child li {
  margin-bottom: var(--width-horizontal-list-gutter);
}

main > section > h1 + ol {
  margin-right: var(--modifier-main-right);
  padding-left: 0;
}

main > section > h1 + ol li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: var(--margin);
}

main > section > h1 + ol li time {
  display: block;
  font-size: var(--font-size-small);
  line-height: calc(
    var(--ratio-text) * var(--line-height) / var(--ratio-text-small)
  );
  margin-left: var(--width-horizontal-list-gutter);
  order: 1;
  white-space: nowrap;
}

main > section > h1 + ol li a {
  display: block;
  max-width: var(--width-main);
}

main > article > h1 + aside {
  float: right;
  margin-left: var(--width-gap);
  margin-top: calc((var(--line-height) - 1) / 2 * 1rem);
  max-width: var(--width-content-hang);
}

main > article > h1 + aside figure img {
  width: 100%;
}

main > nav p {
  margin-top: var(--margin-gargantuan);
}

main > nav p a::before {
  content: "» ";
}

main > nav ul {
  margin-top: var(--margin-gargantuan);
  padding-left: 0;
}

main > nav ul li {
  display: inline;
  white-space: nowrap;
}

main > nav ul li::after {
  color: var(--color-accent-achromatic);
  content: " /";
  font-weight: 700;
}

main > nav ul li:last-child::after {
  content: "";
}

body > footer {
  display: flex;
  font-size: var(--font-size-small);
  margin: var(--margin-gargantuan) auto var(--margin-outermost);
  max-width: var(--width-main);
  padding-left: var(--padding-main-left);
  padding-right: var(--padding-main-right);
}

body > footer ul {
  display: flex;
  flex-grow: var(--grow-on-large);
  margin-right: var(--modifier-main-right);
  margin-top: 0;
  padding-left: 0;
}

body > footer ul li {
  display: block;
  margin-left: var(--width-horizontal-list-gutter);
}

body > footer ul li:first-child {
  flex-grow: var(--grow-on-large);
  margin-left: 0;
}

body > footer address {
  font-style: normal;
  order: -1;
}
