<!DOCTYPE html>
<html lang="ja-JP" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{> metas}}

    <title itemprop="name">{{site_title}}</title>

    {{> links}}
    {{> structured-data}}
    {{> styles}}
    {{> scripts-head}}
    {{> google-adsense}}
    {{> google-analytics}}
  </head>

  <body>
    {{> global-header}}

    <main role="main">
      <section id="recent-articles" class="topic post-list">
        {{#articles}}
          {{#first}}
            <a href="{{link}}">
              <h1>{{{title}}}</h1>

              <footer>
                <p>Posted on <time datetime="{{html5PubDate}}">{{strPubDate}}</time> under <span class="tag">{{category}}</span></p>
              </footer>

              {{#hasImage}}<figure>{{{image}}}</figure>{{/hasImage}}

              <p>{{{description}}}</p>
            </a>
          {{/first}}

          <hr>

          <ol>
            {{#item}}
              <li><time datetime="{{html5PubDate}}">{{strPubDate}}</time>
                <a href="{{link}}">{{{title}}}</a></li>
            {{/item}}
          </ol>

          <nav class="seemore">
            <p><a href="/blog/">More articles</a></p>
          </nav>
        {{/articles}}
      </section>

      {{> google-adsense-ad-main}}

      <section id="recent-updates" class="post-list">
        <h1>お知らせ</h1>

        {{#updates}}
          <ol>

          {{#item}}
            <li><time datetime="{{html5PubDate}}">{{strPubDate}}</time>
              <a href="{{link}}">{{{title}}}</a></li>
          {{/item}}

          </ol>
        {{/updates}}
      </section>

      <section id="follow-me">
        <h1>フォロー</h1>

        <ul class="social-links">
          <li><a href="https://twitter.com/hail2unet"><img src="../../images/icon/twitter.min.svg" alt="Twitter"></a></li>
          <li><a href="https://www.facebook.com/hail2u.net"><img src="../../images/icon/facebook.min.svg" alt="Facebook"></a></li>
          <li><a href="http://u2liah.tumblr.com/"><img src="../../images/icon/tumblr.min.svg" alt="Tumblr"></a></li>
          <li><a rel="alternate" type="application/rss+xml" href="/feed"><img src="../../images/icon/feed.min.svg" alt="Feed"></a></li>
        </ul>
      </section>
    </main>

    {{> google-cse}}
    {{> global-footer}}
    {{> scripts}}
  </body>
</html>
