<!DOCTYPE html>
<html lang="ja-JP" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{> metas}}

    <title itemprop="name">{{short_title}} - {{site_title}}</title>

    {{> links}}
    {{> structured-data}}
    {{> styles}}
    {{> scripts-head}}
    {{> google-adsense}}
    {{> google-analytics}}
  </head>

  <body>
    {{> global-header}}

    <main role="main">
      {{#articles}}
        {{#isFirstInYear}}
          <section id="on-{{year}}" class="post-list">
            <h1>{{year}}</h1>

            <ol>
        {{/isFirstInYear}}

        <li><time datetime="{{html5PubDate}}">{{strPubDate}}</time>
          <a href="{{link}}">{{{title}}}</a></li>

        {{#isLastInYear}}
            </ol>
          </section>
        {{/isLastInYear}}

        {{#isLastInLatestYear}}
          {{> google-adsense-ad-main}}
        {{/isLastInLatestYear}}
      {{/articles}}
    </main>

    {{> global-footer}}
    {{> scripts}}
  </body>
</html>
