// Byline
.byline {
  position: relative;

  @media (min-width: $breakpoint-content) {
    flex-grow: 1;
    margin-bottom: 0;
    order: -1;
  }

  @media (min-width: $breakpoint-full) {
    flex-grow: 0;
    margin-left: (- ($width-supplement + $width-gap));
    margin-right: $width-gap;
    width: $width-supplement;
  }
}

.byline a {
  font-weight: 700;
}
