// Byline
.byline {
  @extend %positioning-root;

  color: $color-dark-light;
  flex-grow: 1;
  margin-top: $margin;

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gap));
  }
}
