// Byline
.byline {
  @extend %decorative-border;

  color: $color-dark-light;
  padding-top: $padding-top-byline;

  @media (min-width: $breakpoint-full) {
    margin-left: (- ($width-supplement + $width-gap-large));
  }
}
