// Footlinks
body > footer p {
  color: $color-fg-light;
  margin-bottom: $margin-small;

  @media (min-width: $breakpoint-content) {
    margin-bottom: 0;
    margin-right: ($width-gap + $width-site-search-query-content);
  }
}
