// Footlinks
[role="contentinfo"] p:first-child {
  color: $color-fg-light;
  margin-bottom: $margin-minimal;

  @media (min-width: $breakpoint-content) {
    margin-bottom: 0;
    margin-right: ($width-gap + $width-site-search-query-content);
  }
}
