// Footlinks
.footlinks {
  color: $color-fg-light;
  margin-bottom: $margin-minimal;

  @media (min-width: $breakpoint-content) {
    margin-right: ($width-gap + $width-site-search-query-content);
  }
}
