<?xml version="1.0" encoding="{{encoding}}"?>
<rss version="2.0"
  xml:lang="{{lang}}"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:creativeCommons="http://backend.userland.com/creativeCommonsRssModule">
  <channel>
    <description>{{description}}</description>
    <language>{{lang}}</language>
    <lastBuildDate>{{lastBuildDate}}</lastBuildDate>
    <link>{{scheme}}//{{domain}}{{canonical}}</link>
    <managingEditor>{{email}} ({{fullname}})</managingEditor>
    <title>{{^home}}{{short_title}} - {{/home}}{{site_title}}</title>
    <atom:link href="{{scheme}}//{{domain}}{{canonical}}feed" rel="self"/>
    <creativeCommons:license>{{license_url}}</creativeCommons:license>

    {{#items}}
      <item>
        {{#description}}<description><![CDATA[{{description}}]]></description>{{/description}}
        <guid isPermaLink="true">{{link}}</guid>
        <link>{{link}}</link>
        <pubDate>{{strDowName}}, {{date}} {{strMonthName}} {{strYear}} {{strHour}}:{{strMinute}}:{{strSecond}} +0900</pubDate>
        {{#title}}<title><![CDATA[{{title}}]]></title>{{/title}}
        {{#body}}<content:encoded><![CDATA[{{{body}}}]]></content:encoded>{{/body}}
      </item>
    {{/items}}

  </channel>
</rss>
