<?xml version="1.0" encoding="{{encoding}}"?>
<rss version="2.0"
	xml:lang="{{lang}}">
	<channel>
		<link>{{scheme}}://{{domain}}{{canonical}}</link>
		<title>{{siteTitle}}</title>

		{{#items}}
			<item>
				<link>{{link}}</link>
				<pubDate>{{strDowName}}, {{date}} {{strMonthName}} {{strYear}} {{strHour}}:{{strMinute}}:{{strSecond}} +0900</pubDate>
				<title><![CDATA[{{ifttt}}]]></title>
			</item>
		{{/items}}
	</channel>
</rss>
