<?xml version="1.0" encoding="{{encoding}}"?>
<rss version="2.0"
	xml:lang="{{lang}}">
	<channel>
		<description>Feed for IFTTT</description>
		<link>{{scheme}}://{{domain}}{{canonical}}</link>
		<title>{{siteTitle}}</title>

		{{#items}}
			<item>
				<link>{{link}}</link>
				<pubDate>{{pubDate}}</pubDate>
				<title><![CDATA[{{ifttt}}]]></title>
			</item>
		{{/items}}
	</channel>
</rss>
