{{> header}}

<section id="blog">
	<h2>雑多な記録</h2>

	<ol class="posts">
		{{#articles}}
			<li>
				<p class="metaline"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>
				<p><a href="{{link}}">{{title}}</a></p>
			</li>
		{{/articles}}
	</ol>
</section>

<section id="links">
	<h2>気になったウェブペ&#x2060;ー&#x2060;ジ</h2>

	<ol class="posts">
		{{#links}}
			<li>
				<p class="metaline"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>
				<p><a href="{{url}}">{{title}}</a></p>
			</li>
		{{/links}}
	</ol>
</section>

<section id="status">
	{{#statuses}}
		<h2>{{text}}</h2>

		<p class="metaline"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日 {{hour}}時{{minute}}分</time></p>
	{{/statuses}}
</section>


<section id="photos">
	<h2>日々の写真</h2>

	<ol class="showcase">
		{{#photos}}
			<li><a href="{{link}}"><img height="{{height}}" src="{{link}}" title="{{title}}" width="{{width}}"></a></li>
		{{/photos}}
	</ol>
</section>

<section id="documents">
	<h2>選りすぐりの特集</h2>

	<ol class="posts">
		{{#documents}}
			<li>
				<p class="metaline"><time datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{year}}年{{month}}月{{date}}日</time></p>
				<p><a href="{{link}}">{{title}}</a></p>
			</li>
		{{/documents}}
	</ol>
</section>

<section id="books">
	<h2>読み終えた本</h2>

	<ol class="showcase">
		{{#books}}
			<li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img height="{{height}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg" title="{{title}}" width="{{width}}"></a></li>
		{{/books}}
	</ol>
</section>

<section id="about">
	<h2>このウェブサイトにつ&#x2060;い&#x2060;て</h2>

	<p>{{siteTitle}}は、{{description}}</p>

	<p>このウェブサイトおよび、ウェブサイト内のコンテンツについて、報告や問い合わせ、クレーム等、何か連絡をしたいことがある場合は、<a href="mailto:{{email}}">メール</a>で連絡してください。<a href="https://twitter.com/{{twitterUsername}}">Twitter</a>や<a href="https://github.com/{{githubUsername}}/{{domain}}/issues">GitHub</a>でも連絡できますが、見落とされるかもしれません。</p>

	<section id="subscribe">
		<h3>購読</h3>

		<p>このウェブサイトの更新情報は、ページごとにフィード（RSS）で配信しています。購読には好みのフィード・リーダー（RSSリーダー）を利用してください。</p>

		<ul>
			<li><a href="/feed" rel="alternate" type="application/rss+xml">ウェブサイト全体のフィード</a></li>
			<li><a href="/documents/feed" rel="alternate" type="application/rss+xml">特集のフィード</a></li>
			<li><a href="/blog/feed" rel="alternate" type="application/rss+xml">雑記のフィード</a></li>
			<li><a href="/statuses/feed" rel="alternate" type="application/rss+xml">近況のフィード</a></li>
			<li><a href="/photos/feed" rel="alternate" type="application/rss+xml">写真のフィード</a></li>
			<li><a href="/bookshelf/feed" rel="alternate" type="application/rss+xml">書棚のフィード</a></li>
			<li><a href="/links/feed" rel="alternate" type="application/rss+xml">参照のフィード</a></li>
		</ul>

		<p>ウェブサイト全体のフィードには、特集から参照まで、すべての更新情報が含まれます。更新頻度がかなり高いので、注意してください。</p>

		<p>これらの更新情報は、<a href="https://twitter.com/{{twitterUsername}}">Twitter</a>でも配信されています。何かしらの理由でウェブサイトへアクセスできないような場合も、こちらで配信されるはずです。</p>
	</section>

	<section id="style-guide">
		<h3>スタイル・ガイド</h3>

		<p>このウェブサイトのHTMLや、CSS、JavaScriptについては、ほぼすべてが<a href="/style-guide/">スタイル・ガイド</a>で確認できます。また、<a href="https://github.com/hail2u/hail2u.net">このウェブサイトの完全なソース・コード</a>も公開しています。</p>
	</section>

	<section id="license">
		<h3>ライセンス</h3>

		<p>このウェブサイト内の全ての文書とファイル（画像やスタイルシートを含みます）は、<a href="{{licenseURL}}" rel="license">Creative Commons — Attribution</a>の元で公開されています。ただし、それぞれのファイル自体に別のライセンス情報が明記または添付されている場合、そちらが優先されます。</p>
	</section>
</section>

{{> footer}}
