<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <h1 class="hang">最近書いた記事</h1>

        <ol class="posts" role="directory">
          {{#items}}
            <li>
              <time class="js-reldate" datetime="{{html5PubDate}}">{{year}}/{{strPubDate}}</time>
              <a href="{{link}}">{{title}}</a>
            </li>
          {{/items}}
        </ol>
      </section>
    </main>

    {{> footer}}
  </body>
</html>
