<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <h1>最近の記事</h1>

        <ol role="directory">
          {{#items}}
            <li>
              <time class="js-reldate" datetime="{{strYear}}-{{strMonth}}-{{strDate}}T{{strHour}}:{{strMinute}}:{{strSecond}}+09:00">{{strYear}}/{{strMonth}}/{{strDate}}</time>
              <a href="{{link}}">{{title}}</a>
            </li>
          {{/items}}
        </ol>
      </section>

      <section id="license">
        <h1>ライセンス</h1>

        <p>このウェブサイト内の全ての文書とファイル（画像やスタイルシートを含みます）は、そのファイル自体に別のライセンス情報が明記または添付されていない限り<a href="{{license_url}}" rel="license">Creative Commons — Attribution</a>の元で公開されています。</p>
      </section>

      <section id="subscribe">
        <h1>購読</h1>

        <p>このウェブサイトの更新情報は、<a href="{{feed_url}}" rel="alternate" type="application/rss+xml">RSSフィード</a>で配信しています。このフィードにはウェブサイト全体の更新情報だけでなく、ウェブログの記事も含まれます。</li>
        </ul>
      </section>

      <section id="contact">
        <h1>問い合わせ</h1>

        <p>このウェブサイト内のコンテンツについて報告や問い合わせ・クレーム等がある場合は、<a href="mailto:{{email}}">メール</a>で連絡してください。</p>
      </section>
    </main>

    {{> footer}}
  </body>
</html>
