<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <Description>Googleを使って、{{siteTitle}}内を検索できます。</Description>
  <Image height="16" type="image/x-icon" width="16">{{scheme}}://{{domain}}/favicon.ico</Image>
  <InputEncoding>{{encoding}}</InputEncoding>
  <Url type="text/html" template="https://www.google.com/search?q=site:{{domain}}+{searchTerms}"/>
  <ShortName>{{siteTitle}}</ShortName>
</OpenSearchDescription>
