<?xml version="1.0" encoding="{{encoding}}"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{scheme}}//{{domain}}/</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/about/</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/blog/</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/projects/</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/style-guide/</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/216colors.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/about-rss.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/adding-meaning-to-your-http-error-pages.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/ala-getting-started-with-sass.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/ala-whitespace.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/atom02spec.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/bulletproof-at-font-face-syntax.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/bulletproof-icon-fonts.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/cairs.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/css-postprocessor-era.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/css2bsi.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/css2pt.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/cutting-down-on-vendor-prefixes.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/democratic-design.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/diveintohtml5-semantics.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/entities.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/favicon-cheat-sheet-ja.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/git-cheat-sheets-jp.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/html-best-practices.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/html-img-alt.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/httpstatus.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/learn-you-a-flexbox-for-great-good.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/markup.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/opjsdom.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/opml_spec.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/ps_lightning.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/ps_sketchpbyp.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/rdfa-lite-20120607.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/rss-tutorial.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/rss20notes.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/sass-and-sassy-css.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/sass-guide-ja.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/sass-tutorial.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/sortable-pokemon-list.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/style-repository.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/think-of-the-beginners.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/translation-is-easy-really.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/version-control-for-designers.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/web-typography-best-practices.html</loc>
  </url>
  <url>
    <loc>{{scheme}}//{{domain}}/documents/what-should-you-say-when-your-app-goes-down.html</loc>
  </url>

  {{#items}}
    <url>
      <loc>{{scheme}}//{{domain}}{{link}}</loc>
    </url>
  {{/items}}

</urlset>
<!-- Vim: set filetype=xml.mustache: -->
