<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://hail2u.net/</loc>
  </url>
  <url>
    <loc>https://hail2u.net/about/</loc>
  </url>
  <url>
    <loc>https://hail2u.net/blog/</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/</loc>
  </url>
  <url>
    <loc>https://hail2u.net/projects/</loc>
  </url>
  <url>
    <loc>https://hail2u.net/style-guide/</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/216colors.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/about-rss.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/adding-meaning-to-your-http-error-pages.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/ala-getting-started-with-sass.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/ala-whitespace.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/atom02spec.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/bulletproof-at-font-face-syntax.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/bulletproof-icon-fonts.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/cairs.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/css-postprocessor-era.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/css2bsi.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/css2pt.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/cutting-down-on-vendor-prefixes.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/democratic-design.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/diveintohtml5-semantics.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/entities.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/favicon-cheat-sheet-ja.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/git-cheat-sheets-jp.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/html-img-alt.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/httpstatus.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/learn-you-a-flexbox-for-great-good.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/markup.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/opjsdom.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/opml_spec.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/ps_lightning.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/ps_sketchpbyp.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/rdfa-lite-20120607.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/rss-tutorial.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/rss20notes.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/sass-and-sassy-css.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/sass-guide-ja.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/sass-tutorial.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/sortable-pokemon-list.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/style-repository.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/think-of-the-beginners.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/translation-is-easy-really.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/version-control-for-designers.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/web-typography-best-practices.html</loc>
  </url>
  <url>
    <loc>https://hail2u.net/documents/what-should-you-say-when-your-app-goes-down.html</loc>
  </url>

  {{#items}}
    <url>
      <loc>{{scheme}}//{{domain}}{{link}}</loc>
    </url>
  {{/items}}

</urlset>
