<!DOCTYPE html>
<html lang="ja-JP" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{> meta}}

    <title itemprop="name">{{short_title}} - {{site_title}}</title>

    {{> link}}

    {{> descriptive-metadata}}

    {{> style}}

    {{> script}}
  </head>

  <body>
    {{> global-header}}

    <main class="main" role="main">
      <section role="search">
        <h1 class="first-heading">このウェブサイト全体から検索する</h1>

        <footer class="section-footer">
          <p>Keep Calm and Search on</p>
        </footer>

        <!-- Google Custom Search Engine -->
        <form class="searchbox" action="http://www.google.com/cse">
          <input name="cx" type="hidden" value="partner-pub-8712792805045949:3747342316">
          <input name="ie" type="hidden" value="UTF-8">
          <input name="q" size="32" type="search">
          <input name="sa" type="submit" value="Search">
        </form>
      </section>

      {{> google-adsense__ad-main}}

      <section id="popular-pages">
        <h1>人気のあるページ</h1>

        <p>JavaScriptを有効にしている環境の場合、ここに<a href="http://b.hatena.ne.jp/">はてなブックマーク</a>で人気のあるこのウェブサイトのページのトップ10が表示されます。</p>
      </section>
    </main>

    {{> global-footer}}
  </body>
</html>
