/*!
 * natural.css
 *
 * LICENSE: http://hail2u.mit-license.org/2011
 */
body {
  background-color: #fcfcfc;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 1.125em;
  line-height: 1.75;
  margin: 1.125em;
  max-width: 45em; }
  @media (min-width: 31.5em) {
    body {
      margin: 2.25em; } }
  @media (min-width: 58.5em) {
    body {
      margin-top: 4.5em; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.25em 0 0; }

h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
  padding-top: 1.125em; }

p {
  margin: 2.25em 0 0; }

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0; }

hr {
  border-bottom: 3px double #b0b0b0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 0;
  margin: 2.25em auto 0;
  width: 50%; }

pre {
  background-color: #f4f4f4;
  font-family: Menlo, Consolas, monospace;
  font-size: 0.98438em;
  line-height: 1.25;
  margin: 2.25em 0 0;
  overflow-wrap: break-word;
  padding: 1.125em;
  word-wrap: break-word; }

blockquote {
  margin: 2.25em 0 0 2.25em; }

blockquote + figcaption {
  margin-left: 2.25em; }

ol,
ul {
  margin: 2.25em 0 0;
  padding-left: 2.8125em; }

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0; }

dl {
  margin: 2.25em 0 0; }

dl dl {
  margin: 0; }

dd {
  margin-left: 2.8125em; }

a {
  color: #01e; }

em {
  font-style: normal;
  font-weight: bold; }

strong {
  color: #c33;
  font-weight: bold; }

q::before {
  content: "\201C\0020"; }

q::after {
  content: "\0020\201D"; }

abbr {
  border-bottom: 1px dotted #333;
  cursor: help; }

code,
var,
samp {
  font-family: Menlo, Consolas, monospace; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%; }

table {
  margin: 2.25em 0 0; }

th {
  background-color: #d6d6d6;
  border: 1px solid #898989;
  color: #333;
  display: block;
  font-weight: bold;
  max-width: 100%;
  overflow-x: auto;
  padding: 0.5625em;
  table-layout: fixed;
  text-align: left;
  white-space: nowrap; }

td {
  background-color: #f4f4f4;
  border: 1px solid #898989;
  color: #333;
  padding: 0.5625em;
  white-space: nowrap; }

.note {
  border-left: 3px double #c33;
  padding-left: 1.125em; }

.image {
  line-height: 1;
  margin: 2.25em 0 0;
  max-width: 100%;
  zoom: 1; }

.image img::after {
  clear: both;
  content: "";
  display: block; }

.seealso {
  font-size: 1.17em;
  font-weight: bold; }

.seealso a {
  font-weight: normal; }

@media (min-width: 31.5em) {
  body {
    margin: 1.125em; } }

@media (min-width: 57.25em) {
  body {
    padding-left: 10em; }
  .banner {
    margin-left: -11.125em;
    margin-right: -1.125em;
    max-width: none; } }

@media print {
  * {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }
  body {
    background-color: inherit;
    font-family: Georgia, serif; }
  .note,
  hr,
  ins,
  strong {
    border-color: currentColor; }
  pre,
  code,
  kbd,
  samp,
  var {
    font-family: "Courier New", monospace; }
  pre {
    border: 0;
    padding: 0; }
  blockquote {
    font-style: italic; }
  mark {
    background: 0 0; } }
