:root {
  /* Font: System UI */
  --font-stack-system-ui: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Yu Gothic UI", sans-serif;

  /* Font: Monospace */
  --font-stack-monospace: "Menlo", "Consolas", monospace;

  /* Color: Foreground */
  --color-fg: hsl(0, 0%, 11%);

  /* Color: Background */
  --color-bg: hsl(0, 0%, 99%);

  /* Color: Variation */
  --color-fg-semilight: hsl(0, 0%, 33%);
  --color-fg-light: hsl(0, 0%, 77%);
  --color-bg-dark: hsl(0, 0%, 88%);

  /* Color: Special */
  --color-fg-a: hsl(207, 99%, 42%);
  --color-fg-a-visited: hsl(291, 87%, 42%);

  /* Ratio: Basic */
  --ratio: 1.7;

  /* Ratio: Text */
  --ratio-text: 1;
  --ratio-text-huge: 1.7; /* calc(var(--ratio-text) * var(--ratio)); */
  --ratio-text-large: 1.35; /* calc((var(--ratio-text) + var(--ratio-text-huge)) / 2) */
  --ratio-text-small: 0.794; /* calc(var(--ratio-text-large) / var(--ratio)) */

  /* Ratio: Line Height */
  --line-height: 1.7; /* var(--ratio); */
  --line-height-large: 2.124; /* calc(var(--line-height) * 1.25); */
  --line-height-small: 1.36; /* calc(var(--line-height) * 0.8); */

  /* Size: Margin */
  --margin: 1.7rem; /* calc(var(--ratio) * 1rem); */
  --margin-small: 0.588rem; /* calc(var(--margin) / var(--ratio) / var(--ratio)); */
  --margin-large: 2.89rem; /* calc(var(--margin) * var(--ratio)); */
  --margin-huge: 4.913rem; /* calc(var(--margin-large) * var(--ratio)); */
  --margin-gargantuan: 8.352rem; /* calc(var(--margin-huge) * var(--ratio)); */

  /* Size: Border */
  --width-border: 0.12rem; /* calc(var(--margin-small) / var(--ratio) / var(--ratio) / var(--ratio)); */
  --width-border-small: 0.07rem; /* calc(var(--width-border) / var(--ratio)); */

  /* Size: Padding */
  --padding: 0.588rem; /* var(--margin-small); */
  --padding-large: 1rem; /* calc(var(--padding) * var(--ratio)); */

  /* Size: Main Component */
  --width-large: 32rem;
  --width-gap: 1.326rem; /* calc(var(--width-large) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)); */
  --width-gap-small: 0.78rem; /* calc(var(--width-gap) / var(--ratio)); */
  --width-large-outer: 33.56rem; /* calc(var(--width-gap-small) + var(--width-large) + var(--width-gap-small)); */
  --width-supplement-outer: 19.741rem; /* calc(var(--width-gap-small) + var(--width-supplement) + var(--width-gap-small)); */
  --width-supplement: 18.181rem; /* calc(var(--width-supplement-outer) - var(--width-gap-small) - var(--width-gap-small)); */
  --width-huge: 51.507rem; /* calc(var(--width-supplement) + var(--width-gap) + var(--width-large)); */
  --width-huge-outer: 53.067rem; /* calc(var(--width-gap-small) + var(--width-huge) + var(--width-gap-small)); */
  --width-blank: 6.513rem; /* calc(var(--width-large) / var(--ratio) / var(--ratio) / var(--ratio)); */

  /* Size: GUI */
  --width-scrollbar: 2rem;
}
