[itemprop="articleBody"] > aside:first-child {
	--margin-top: calc(var(--space-interline) / 2);
	--max-width: calc(1 / var(--ratio-4) * 100%);

	float: right;
	margin-left: 0.618rem;
	margin-left: var(--space-tiny);
	margin-top: 0.309rem;
	margin-top: var(--margin-top);
	max-width: 38%;
	max-width: var(--max-width);
}

[itemprop="articleBody"] > aside:first-child figure {
	margin-top: 0;
}

[itemprop="articleBody"] > aside:first-child figure img {
	background-color: white;
	padding: 0.618rem;
	padding: var(--space-tiny);
	width: 100%;
}
