.dateline {
  --margin-top: calc(0rem - (var(--margin-default) + var(--font-size-small) * var(--line-height-default)));

  font-size: var(--font-size-small);
  margin-left: var(--margin-left);
  margin-top: var(--margin-top);
  position: absolute;
  text-align: right;
  width: var(--width);
}

@media (min-width: 1208px) {
  .dateline {
    --margin-left: calc((var(--width-main) + var(--width-gutter)));
    --margin-top: calc((var(--font-size-gargantuan) * var(--line-height-small) - var(--font-size-small) * var(--line-height-default)) / 2 - var(--margin-default));
    --width: var(--width-sub-minor);
  }
}
