.dateline {
	color: hsl(0, 0%, 30%);
	color: var(--color-foreground-low-contrast);
	font-size: 0.786rem;
	font-size: var(--font-size-small);
	line-height: 1.272;
	line-height: var(--line-height-small);
}

article .dateline {
	margin-top: 8.717rem;
	margin-top: var(--space-huge);
}

.headline + .dateline {
	margin-top: 0.618rem;
	margin-top: var(--space-tiny);
}
