body > main article > p:first-of-type {
  font-size: calc(var(--ratio-text-large) * 1rem);
}

body > main article > p:first-of-type::after {
  color: var(--color-fg-far);
  content: "● ● ●";
  display: block;
  font-size: calc(var(--ratio-text-small) * 1rem);
  font-weight: bolder;
  line-height: 1;
  margin-top: var(--margin);
  text-align: center;
}
