@media (min-width: 1271px) {
  h1 + aside {
    position: absolute;
    margin-left: calc(
      0px - (var(--width-sub-major) + var(--width-gap) + var(--width-gap))
    );
    width: var(--width-sub-major);
    z-index: 1;
  }

  h1 + aside figure {
    margin-top: calc(
      var(--margin-small) + ((var(--line-height) - 1) / 2) * 1rem
    );
  }

  h1 + aside figure img {
    width: 100%;
  }

  h1 + aside + p {
    margin-top: var(--margin-small);
  }
}
