.hang {
  float: right;
  margin-left: 0.5rem;
  margin-left: var(--space-tiny);
  margin-top: 0.25rem;
  margin-top: var(--space-half-sentence);
  max-width: 40%;
}

.hang figure {
  margin-top: 0;
}

.hang figure img {
  background-color: hsl(0, 0%, 100%);
  padding: var(--space-tiny);
  width: 100%;
}
