.headline {
  font-size: 1.7rem;
  font-size: var(--font-size-huge);
  margin-top: 8.2rem;
  margin-top: var(--space-huge);
}

article .headline {
  margin-bottom: 8.2rem;
  margin-bottom: var(--space-huge);
  margin-top: 0;
  max-width: 30.3rem;
  max-width: var(--width-main);
}
