.headline {
  font-size: 1.75rem;
  font-size: var(--font-size-huge);
  margin-top: 8rem;
  margin-top: var(--margin-gargantuan);
}

.headline + p {
  margin-top: 0.5rem;
  margin-top: var(--margin-tiny);
}
