.headline {
  font-size: 2.25rem;
  font-size: var(--font-size-gargantuan);
  margin-top: 8rem;
  margin-top: var(--margin-gargantuan);
}

.headline + p {
  margin-top: 0.5rem;
  margin-top: var(--margin-tiny);
}
