body > main > section > h1,
body > main > article > h1 {
  font-size: calc(var(--ratio-text-huge) * 1rem);
  margin-top: var(--margin-gargantuan);
}

@media (min-width: 1280px) {
  body > main > section > h1,
  body > main > article > h1 {
    margin-right: calc(
      0px - (var(--width-gap) + var(--width-gap) + var(--width-sub-minor))
    );
  }
}
