body > main > section > h1 + figure,
body > main > article > h1 + figure {
  clear: both;
}

body > main > section > h1 + figure img,
body > main > section > h1 + figure video,
body > main > section > h1 + figure canvas,
body > main > article > h1 + figure img,
body > main > article > h1 + figure video,
body > main > article > h1 + figure canvas {
  width: 100%;
}

@media (min-width: 80em) {
  body > main > section > h1 + figure,
  body > main > article > h1 + figure {
    margin-left: calc(
      0px - (var(--width-gap) + var(--width-sub) + var(--width-gap))
    );
  }
}
