main > section > h2 + figure,
main > article > h2 + figure {
  margin-left: var(--margin-main-left);
  margin-right: var(--margin-main-right);
}

main > section > h2 + figure img,
main > section > h2 + figure video,
main > section > h2 + figure canvas,
main > article > h2 + figure img,
main > article > h2 + figure video,
main > article > h2 + figure canvas {
  width: 100%;
}
