.hero {
	margin-left: calc(0px - var(--width-gap));
	margin-right: calc(0px - var(--width-gap));
}

@media (min-width: 54em) {
	.hero {
		margin-left: calc(0px - (var(--width-gap) + var(--width-sub) + var(--width-gap) + var(--width-gap)));
	}
}

[itemprop="articleBody"] .hero {
	position: relative;
	top: -7.099rem;
	top: calc(var(--space-default) - var(--space-huge));
}
