.metaline {
	font-size: 0.786rem;
	font-size: var(--font-size-small);
	line-height: 1.272;
	line-height: var(--line-height-small);
}

.metaline:nth-child(n + 2) {
	margin-top: 0;
}

article .metaline {
	margin-top: 8.717rem;
	margin-top: var(--space-huge);
}
