main > section > h2 + ol {
  margin-right: var(--margin-right-main);
  padding-left: 0;
}

main > section > h2 + ol li {
  display: var(--box-content-posts-item);
  justify-content: space-between;
  list-style-type: none;
  margin-top: var(--margin);
}

main > section > h2 + ol li time {
  display: block;
  font-size: var(--font-size-small);
  line-height: var(--line-height-content-posts-item-time);
  margin-left: var(--margin-left-content-posts-item-time);
  order: 1;
  white-space: nowrap;
}

main > section > h2 + ol li img {
  margin-top: var(--height-half-leading);
  max-height: var(--height-content-posts-item-img);
  max-width: var(--height-content-posts-item-img);
  vertical-align: text-bottom;
}
