.posts {
  list-style-type: none;
  padding-left: 0;
}

.posts li {
  margin-top: 1.5em;
  margin-top: var(--margin-default);
}

.posts li time {
  color: var(--color-foreground-low-contrast);
  display: block;
  font-size: 0.75rem;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.posts li img {
  margin-top: 0.25rem;
  margin-top: var(--margin-sentence-spacing-half);
  max-height: 13rem;
  max-height: var(--height-8-lines);
  vertical-align: text-bottom;
}
