main > section > h2 + ol {
  margin-right: var(--margin-right-main);
  padding-left: 0;
}

main > section > h2 + ol li {
  --display: list-item;

  display: var(--display);
  justify-content: space-between;
  list-style-type: none;
  margin-top: var(--margin);
}

main > section > h2 + ol li time {
  --margin-left: 0;

  display: block;
  font-size: var(--font-size-small);
  line-height: var(--line-height);
  margin-left: var(--margin-left);
  order: 1;
  white-space: nowrap;
}

main > section > h2 + ol li img {
  --height: calc(1rem * var(--line-height) * 8);

  margin-top: var(--height-half-leading);
  max-height: var(--height);
  max-width: var(--height);
  vertical-align: text-bottom;
}

@media (min-width: 657px) {
  main > section > h2 + ol li {
    --display: flex;
  }

  main > section > h2 + ol li time {
    --line-height: calc(var(--ratio-text) * var(--line-height) / var(--ratio-text-small));
    --margin-left: var(--width-horizontal-list-gutter);
  }
}
