.searchbox {
	--display: flex;

	display: var(--display);
}

.searchbox input[type="search"] {
	--flex-grow: 1;
	--min-width: 0;
	--width: auto;

	flex-grow: var(--flex-grow);
	margin-right: var(--space-small);
	min-width: var(--min-width);
	width: 60%;
	width: var(--width);
}

.searchbox input[type="submit"] {
	--width: auto;

	width: 30%;
	width: var(--width);
}
