.searchbox {
	--display: flex;

	display: var(--display);
}

.searchbox input[type="search"] {
	--flex-grow: 1;
	--min-width: 0;

	flex-grow: var(--flex-grow);
	margin-right: var(--space-small);
	min-width: var(--min-width);
}

.searchbox input[type="submit"] {
	white-space: nowrap;
}
