.subheading {
  font-size: 1.3rem;
  font-size: var(--font-size-large);
  margin-top: 3.8rem;
  margin-top: var(--space-large);
}

.subheading + p {
  margin-top: 0.59rem;
  margin-top: var(--space-tiny);
}
