.subnavigation > :first-child {
	font-size: 1.25rem;
	font-size: var(--font-size-large);
	line-height: 1.25;
	line-height: var(--line-height-small);
	margin-top: 8.5rem;
	margin-top: var(--space-huge);
}

article + .subnavigation p::before {
	--margin-bottom: calc(
		var(--space-interline) -
		(var(--line-height-default) - 1) * var(--font-size-small) / 2 -
		(var(--line-height-small) - 1) * var(--font-size-large) / 2
	);

	content: "前の記事:";
	display: block;
	font-size: 0.75rem;
	font-size: var(--font-size-small);
	font-weight: bold;
	line-height: var(--line-height-default);
	margin-bottom: var(--margin-bottom);
}
