main > nav p,
main > nav ul {
  margin-top: var(--margin-gargantuan);
}

main > nav p a::before {
  content: "» ";
}

main > nav ul li {
  display: inline;
  white-space: nowrap;
}

main > nav ul li::after {
  color: var(--color-accent-achromatic);
  content: " /";
  font-weight: bold;
}

main > nav ul li:last-child::after {
  content: "";
}
