.thumbs {
  --align-items: end;
  --display: grid;
  --flexible-length: 1fr;
  --repeat-count: 3;

  align-items: var(--align-items);
  display: var(--display);
  grid-gap: var(--width-horizontal-list-gutter);
  grid-template-columns: repeat(var(--repeat-count), var(--flexible-length));
  line-height: 1;
  list-style-type: none;
  margin-right: var(--margin-right-main);
  padding-left: 0;
}

@media (min-width: 44em) {
  .thumbs {
    --repeat-count: 4;
  }
}

@media (min-width: 83em) {
  .thumbs {
    --repeat-count: 6;
  }
}

.thumbs li {
  --display: list-item;

  display: inline-block;
  display: var(--display);
  margin-bottom: 0.5rem;
  margin-bottom: var(--revert-margin);
  margin-right: 0.25rem;
  margin-right: var(--revert-margin);
  max-width: 30%;
  max-width: var(--revert-max-width);
}

.thumbs.oneline li:nth-child(n + 4) {
  --display: none;

  display: none;
  display: var(--display);
}

@media (min-width: 44em) {
  .thumbs.oneline li:nth-child(4) {
    --display: list-item;
  }
}

@media (min-width: 83em) {
  .thumbs.oneline li:nth-child(5) {
    --display: list-item;
  }
}

@media (min-width: 83em) {
  .thumbs.oneline li:nth-child(6) {
    --display: list-item;
  }
}

.thumbs li img {
  max-height: var(--revert-max-height);
  vertical-align: text-bottom;
}
