<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xml:lang="{{lang}}"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:creativeCommons="http://backend.userland.com/creativeCommonsRssModule">
  <channel>
    <copyright>Copyright © 1998–, {{name}}</copyright>
    <description>ウェブ制作やウェブ標準の話題が中心ですが、それに限らず備忘録や日々の記録までを含めることで、10年以上続けることができたウェブログです。Blosxomを使って作られています。</description>
    <language>{{lang}}</language>
    <lastBuildDate>{{lastBuildDate}}</lastBuildDate>
    <link>{{scheme}}//{{domain}}/blog/</link>
    <managingEditor>{{email}} ({{name}})</managingEditor>
    <title>ウェブログ - {{site_title}}</title>
    <atom:link href="{{scheme}}//{{domain}}/blog/feed" rel="self"/>
    <atom:link href="https://pubsubhubbub.appspot.com/" rel="hub"/>
    <creativeCommons:license>{{license_url}}</creativeCommons:license>
    {{#items}}
      <item>
        <description>{{description}}</description>
        <guid isPermaLink="true">{{scheme}}//{{domain}}{{guid}}</guid>
        <link>{{scheme}}://{{domain}}{{link}}</link>
        <pubDate>{{pubDate}}</pubDate>
        <title><![CDATA[{{{title}}}]]></title>
        <content:encoded><![CDATA[{{{body}}}]]></content:encoded>
      </item>
    {{/items}}
  </channel>
</rss>
