<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xml:lang="ja"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:creativeCommons="http://backend.userland.com/creativeCommonsRssModule">
  <channel>
    <copyright>Copyright © 1998–, Kyo Nagashima</copyright>
    <description>ウェブ制作やウェブ標準の話題が中心ですが、それに限らず備忘録や日々の記録までを含めることで、10年以上続けることができたウェブログです。Blosxomを使って作られています。</description>
    <language>ja</language>
    <lastBuildDate>{{lastBuildDate}}</lastBuildDate>
    <link>https://hail2u.net/blog/</link>
    <managingEditor>hail2u@gmail.com (Kyo Nagashima)</managingEditor>
    <title>ウェブログ - Hail2u</title>
    <atom:link href="https://hail2u.net/blog/feed" rel="self"/>
    <atom:link href="https://pubsubhubbub.appspot.com/" rel="hub"/>
    <creativeCommons:license>https://creativecommons.org/licenses/by/4.0/</creativeCommons:license>
    {{#items}}
      <item>
        <description>{{description}}</description>
        <guid isPermaLink="true">https://hail2u.net{{guid}}</guid>
        <link>https://hail2u.net{{link}}</link>
        <pubDate>{{pubDate}}</pubDate>
        <title><![CDATA[{{{title}}}]]></title>
        <content:encoded><![CDATA[{{{body}}}]]></content:encoded>
      </item>
    {{/items}}
  </channel>
</rss>
