{{> header}}

<section>
	<h2 class="headline">最新24冊</h2>

	<ol class="thumbs">
		{{#books}}
			<li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img alt="{{title}}" height="{{height}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg" width="{{width}}"></a></li>
		{{/books}}
	</ol>
</section>

<nav class="subnavigation">
	<p class="js-append-next-fallback"><a href="{{canonical}}log.html">すべての本を表示</a></p>

	<template class="js-append-next">
		<p><button>残りの本を表示</button></p>
	</template>
</nav>

{{#otherBooks}}
	{{#isFirstInMonth}}
		<template class="js-append-next">
			<section id="on-{{strYear}}-{{strMonth}}">
				<h2 class="headline"><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

				<ol class="thumbs">
	{{/isFirstInMonth}}

	<li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img alt="{{title}}" height="{{height}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg" width="{{width}}"></a></li>

	{{#isLastInMonth}}
				</ol>

				{{^isOldest}}
					<p><button>残りの本を更に表示</button></p>
				{{/isOldest}}
			</section>
		</template>
	{{/isLastInMonth}}
{{/otherBooks}}

<script async defer src="/js/append-next.{{version}}.js"></script>

{{> footer}}
