{{> header}}

<section>
  <h2 class="headline">最新36冊</h2>

  <ol class="thumbs">
    {{#books}}
      <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img alt="{{title}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg"></a></li>
    {{/books}}
  </ol>
</section>

<nav class="subnavigation">
  <p class="js-append-others-link"><a href="{{canonical}}log.html">すべての本を表示</a></p>

  <template class="js-append-others-button">
    <p><button>残り{{numOtherBooks}}冊の本を表示</button></p>
  </template>
</nav>

<template class="js-append-others-others">
  {{#otherBooks}}
    {{#isFirstInMonth}}
      <section id="on-{{strYear}}-{{strMonth}}">
        <h2 class="headline"><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h2>

        <ol class="thumbs">
    {{/isFirstInMonth}}

    <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img alt="{{title}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg"></a></li>

    {{#isLastInMonth}}
        </ol>
      </section>
    {{/isLastInMonth}}
  {{/otherBooks}}
</template>

<script async defer src="/js/append-others.{{version}}.min.js"></script>

{{> footer}}
