<!DOCTYPE html>
<html lang="{{lang}}">
	{{> head}}

	<body>
		{{> page-header}}

		<ol class="showcase">
			{{#books}}
				<li>{{{body}}}</li>
			{{/books}}
		</ol>

		{{> page-footer}}
	</body>
</html>
