<!DOCTYPE html>
<html lang="{{lang}}">
  {{> head}}

  <body>
    {{> header}}

    <main>
      <section>
        <h1>全書籍</h1>

        <ul>
          {{#books}}
            <li><a href="https://www.amazon.co.jp/exec/obidos/ASIN/{{asin}}/hail2unet-22"><img alt="{{title}}" src="https://images-fe.ssl-images-amazon.com/images/P/{{asin}}.jpg"></a></li>
          {{/books}}
        </ul>
      </section>
    </main>

    {{> footer}}
  </body>
</html>
