<!DOCTYPE html>
<html lang="{{lang}}" itemscope itemtype="http://schema.org/{{schemaType}}">
	{{> head}}

	<body>
		{{> page-header}}

		<main id="main" class="page-content">
			<section>
				<h1>{{title}}</h1>

				{{#books}}
					{{#isFirstInMonth}}
						<section>
							<h1><time datetime="{{strYear}}-{{strMonth}}">{{year}}年{{month}}月</time></h1>

							<ol class="posts">
					{{/isFirstInMonth}}

								<li><a href="{{link}}">{{title}}</a></li>

					{{#isLastInMonth}}
							</ol>
						</section>
					{{/isLastInMonth}}
				{{/books}}
			</section>
		</main>

		{{> page-footer}}
	</body>
</html>
